[2017-11-17 17:06] urbanphes opened #13095 "Add tooltip on Builder actions"
### Context
Regarding this ticekt:
https://github.com/CartoDB/design/issues/1050#issuecomment-342891295

[2017-11-20 09:21] rubenmoya commented on #13074
I'm guessing in the case of buttons this applies to every style right? `primary`, `error`, `alert`, etc

[2017-11-20 09:41] amartinj commented on #13088
It could make sense to extract classes and use them as dependencies. Such as PersonalData, AccountInfo, PaymentInfo...

[2017-11-20 11:40] arianaescobar commented on #13008
Ideally, they should all count as "Use of advanced mode"... for the sake of this metric system.

[2017-11-20 11:57] rubenmoya commented on #13008
In that case, should we rename the ones we already have to `Use of advanced mode`, or send 2 events for the same action with different names?

[2017-11-20 12:11] urbanphes commented on #13074
Question solved @rubenmoya

[2017-11-20 12:16] msaenzde11 commented on #13008
IMHO it'd be better creating two separated events, as although for the goal of this project they will both mean the same, ther're actually different behaviors.

The other option would be creating an "Used Advanced Mode" Event, and added a field like `mode` which could be CartoCSS, SQL, Popup Legend... but I acutally like 1st approach more, as this would mean sharing fields that in specific cases w

[2017-11-20 13:30] javitonino opened #13097 "Cannot export a password protected map from protected view"
### Context
If you try to export a `.carto` from the public view of a protected map, you won't be able to do so. There is no user-facing error, it just freezes in the export dialog.

### Steps to Reproduce
1. Create a password protected map with "Editor" (builder is not affected because it doesn't have public pages)
2. Go to the public page
3. Click the export map button

### Current Result
Stuck

[2017-11-20 13:34] javitonino opened #13098 "Like button shown in public visualization even when not logged in"
Visiting any public visualization page while not logged in, the like button is displayed, even it doesn't work if clicked.

Maybe we should hide the button, or display a login prompt.

[2017-11-20 14:21] xavijam commented on #13015
In production, close it whenever you consider mates.

[2017-11-20 17:09] ramiroaznar commented on #13015
Vamos!

[2017-11-20 17:09] #13015 closed

[2017-11-21 08:45] ramiroaznar commented on #13098
Ey @javitonino should we work on this and #13097 in the RT? I know you are working on a new public page...

[2017-11-21 09:12] matallo commented on #13046
I discussed this issue with design and they are already aware of the new states for the layers in the layers list. Feel free to ping them directly to ask for those new styles @rjimenezda

/cc @urbanphes @piensaenpixel

[2017-11-21 09:47] rjimenezda commented on #13046
I already did the asynchronous loading, so I'm open to implementing a new style / add a transition or whatever for the layer component 🤗

[2017-11-21 10:13] javitonino commented on #13098
If we want to address these two, they need to be changed in both places: the old pages and the new ones.

Not sure what is the best approach to do this, if to split the changes to the old part (RT) and the new part (Charlie) or do it all together. @elenatorro and/or @nobuti may have a better idea.

[2017-11-21 10:15] elenatorro commented on #13098
I would do it separately, we can add this fix in the branch we are currently working on once it is fixed in the old one. 👍

[2017-11-21 10:17] elenatorro commented on #13098
I am not sure this is a bug, I thought the like button redirects you to the login page if you are not registered (I tested it here: https://team.carto.com/u/matallo/viz/ae2c6e74-ecce-11e4-a952-0e49835281d6/public_map)

[2017-11-21 10:57] arianaescobar commented on #13008
Whatever @msaenzde11 thinks is best :)

[2017-11-21 11:27] arianaescobar commented on #13046
In case you'd like to track our work for that: https://github.com/CartoDB/design/issues/1074

[2017-11-21 13:25] arianaescobar opened #13104 "Disable Datasets tab in the Add datasets modal when the account doesn't have any"
### Context

Design ticket: https://github.com/CartoDB/design/issues/1045

### Expected result

- [x] Change `Datasets` to `Your Datasets`
- [x] Disable that tab when the account doesn't have any datasets
- [x] Add tooltip to indicate why it is disabled

![mockup](https://user-images.githubusercontent.com/16247628/33074717-7f5681e2-cec7-11e7-9f24-422f8ffe3107.png)

Note: still waiting for final co

[2017-11-21 13:32] arianaescobar commented on #13104
Final tooltip's copy: "There are no datasets connected to your account"

![mockup](https://user-images.githubusercontent.com/16247628/33075110-bf254a8c-cec8-11e7-8a55-fc9b61a1857b.png)

[2017-11-21 14:12] juanignaciosl opened #13105 "Importer not working for imports with content in body"
STR

1. Install [cartodb Chrome extension](https://chrome.google.com/webstore/detail/cartodb/jnldbjiacbadknjdlajdlccmebnlcdlm).
2. Try importing a table ([example](https://www.geolounge.com/fortune-1000-companies-list-2016/)).

You get this error:

[code]

[2017-11-21 15:35] nobuti commented on #13098
This has been fixed in https://github.com/CartoDB/cartodb/pull/12928 for static pages. Once it is tested, I guess we could port the same solution.

[2017-11-21 15:59] alizcano opened #13107 "Sales Navigator - Salesforce: possibility to sync?"
Hey Yash!

As discussed, I was wondering if it's possible to sync SN with SF. I have a list of saved leads in my Sales navigator and can't find the way to export them to SF (or to a list/ excel and then to SF).
I have tried but couldn't make it.

Could you please have a look?

Many thanks!

[2017-11-21 16:27] #13107 closed

[2017-11-22 10:29] arianaescobar commented on #9439
Done here: https://github.com/CartoDB/cartodb/issues/10116

[2017-11-22 10:29] #9439 closed

[2017-11-22 10:37] arianaescobar opened #13110 "Center bounding box automatically when new datasets are added"
One of the main issues we've found with the usability tests is that our users expected the bounding box to center on the geometries when they add new layers to their maps. And it makes sense. Is this something feasible enough?

[2017-11-22 10:42] arianaescobar opened #13111 "Change URL of our marker's icon inside Datasets"
Right now, in the datasets screen, when you click on the marker's icon, it takes you to your public profile instead of your dashboard (like the tooltip says it will do and should do).

![screen shot 2017-11-22 at 11 38 09](https://user-images.githubusercontent.com/16247628/33123269-06fae5d6-cf7a-11e7-8194-528ba803b728.png)

We should change that so it points correctly to the user's dashboard inste

[2017-11-22 10:48] rubenmoya commented on #13111
I'll take this one, seems like I messed up the url when migrating the view 😅

[2017-11-22 10:50] arianaescobar commented on #11325
FYI, this is getting tackled here: https://github.com/CartoDB/design/issues/1071

[2017-11-22 10:51] arianaescobar commented on #13111
Thank you! :)

[2017-11-22 10:56] matallo commented on #11325
I can't believe it `*___*`

[2017-11-22 10:57] matallo commented on #13110
It should be feasible, or at least that's how the "Center map" button works inside a layer

/cc @ivanmalagon

[2017-11-22 10:59] arianaescobar commented on #9427
pinging @CartoDB/design for visibility

[2017-11-22 11:44] rjimenezda commented on #13046
@urbanphes

There's a case that's not covered on the mocks. What happens if the user deletes the geocoding analysis? I see two options:

A) After it’s deleted, the user is immediately presented with an unsaved georeference analysis. This is what happens when the user clicks on the layer now.

B) There’s an intermediate step in which we tell the user: Hey, you have to georeference the layer, with a

[2017-11-22 12:11] rubenmoya commented on #13008
I changed it to `Used advanced mode`, it sends a type depending on the editor used (`sql|cartocss|popup|legend`).

You can check the rest of the events in the PR :)

[2017-11-22 12:33] elenatorro opened #13113 "Google Plus Linked Account"
### Context

We are currently using an `iframe` to unlink the user's Google account from CARTO. In the FE/BE Split, we can not use iframe and there is no way to unlink a user's Google account directly, so the best option in my opinion is to redirect the user to this [link](https://myaccount.google.com/permissions?pli=1) so she can unlink the account from there.

However, we do no have any value th

[2017-11-22 12:38] juanignaciosl commented on #13113
I’d go for `/me?check_google_login_enabled=true`: it doesn’t harm `/me` performance and it's an API-centric solution.

If it's blocking, as we're currently swamped, I'd suggest to unblock this by _not_ adding the button (it's not mandatory), move on, and add the button once `/me` supports the check.

[2017-11-22 12:58] msaenzde11 commented on #13008
For the scope of this project I think it's nice! I don't know if you @arianaescobar or any other miss any field on this events that could be nice to have added so we deeper analyze users behaviour. For instance I thought that having `vis_id` (dataset/map id where it is applied) would be nice (eg: in case we wanted to get more knowledge on # of maps where cartocss is applied or something like that)

[2017-11-22 14:44] arianaescobar commented on #13008
Yes, I guess `vis_id` would be great to have. I just don't want to overcomplicate it.

[2017-11-22 14:46] rubenmoya commented on #13008
By default every event has `user_id` and `visualization_id`

[2017-11-22 14:56] arianaescobar commented on #13008
awesome :)

[2017-11-22 15:04] msaenzde11 commented on #13008
Yep, I am very stupid lately... Thanks @rubenmoya. Last annoying thing: In order to be consistent with [other events in Segment](https://docs.google.com/a/cartodb.com/document/d/1AOdfVMbuXmmS1zhbDq8SxgiewyEGDU0evX1pf3JwQ8Q/edit?usp=sharing) could we rename `visualization_id` to `vis_id` and `Download layer` to `Downloaded layer`?

Maybe it's very stupid change but would keep same format as current

[2017-11-22 15:11] rubenmoya commented on #13008
To be honest I don't know, since it's the backend the one who send the events, let's ask @CartoDB/backend

[2017-11-22 15:14] piensaenpixel opened #13115 "Navigate with arrow back browser"
In the usability tests,  we found out that most of the users use the back arrow from the browser and it takes them to the dashboard. However, we think it'd be useful to take them to their previous screen if they've navigated in builder.

Talking with @matallo we thought that we need:

- [ ] Add URL to the layer view
- [ ] Navigate with arrow back browser
- [ ] Also it could be great if it works wi

[2017-11-22 15:32] urbanphes commented on #13046
@rjimenezda In that case, I think we go with the **option A**. Our premise here is that the layer will be geocoded and the best way to gain this is with the _option A_.

[2017-11-22 15:44] juanignaciosl commented on #13008
Backend has always sent `vis_id`, I think that @msaenzde11 comment was about renaming the attribute from frontend.

[2017-11-22 15:54] rubenmoya commented on #13008
Ohhh, I see what happened here, it's just a misunderstanding. The events I wrote in the PR is the information we send to the backend, in frontend we send `visualization_id`, but when the event is sent to (in this case) segment there is a "transformation", you can check what the final keys will be here:

https://github.com/CartoDB/cartodb/blob/f5cc9dc61efc70faa4dbcd3a433e54f7ca66aff1/lib/carto/trac

[2017-11-22 15:58] msaenzde11 commented on #13008
I see! Awesome, thanks a lot and sorry for driving you crazy :sweat_smile:

[2017-11-22 15:59] arianaescobar opened #13116 "Preloaded maps in new accounts"
As part of the improvements in our onboarding process, we're adding [two awesome maps](https://github.com/CartoDB/design/issues/757) to every new account to showcase the capabilities of Builder from the get-go.

We're still working on the maps but I wanted to open this ticket over here to give you all visibility that this is coming. Maybe we could even start the implementation and then just wait u

[2017-11-22 16:29] matallo commented on #13116
yes yes yes!

[2017-11-22 17:36] rjimenezda commented on #13046
Here they are in motion, I like A because there are less steps and is consistent, but it might be a bit weird for the user?

This is option A):
![directly](https://user-images.githubusercontent.com/446970/33141582-e67b541e-cfb3-11e7-97d4-c0eab3cc03be.gif)

This is option B):
![intermideate](https://user-images.githubusercontent.com/446970/33141600-f106cb7a-cfb3-11e7-834d-f0143e8858fe.gif)
(please

[2017-11-23 12:53] #12740 closed

[2017-11-23 13:45] #12022 closed

[2017-11-23 15:16] amartinj commented on #12022
Fixed!

[2017-11-23 15:43] nobuti commented on #13016
Done in #12928.

[2017-11-23 15:43] #13016 closed

[2017-11-23 17:53] ramiroaznar commented on #13116
:100:

[2017-11-23 20:12] blobon commented on #10732
Sorry, saleiva, but in the CARTOS gallery, there is a sample with well custom items in the widget: https://carto.com/gallery/urban-reviewer/ How did they do???

[2017-11-24 08:48] juanignaciosl opened #13121 "Add auth tokens to /me endpoint"
_TBD_

As `/me` is safe, we could always add them. Would that work, @elenatorro ?

[2017-11-24 10:28] urbanphes opened #13122 "Change "Add" buttons design (Add Layer, Add Analysis, Add Widget)"
### Context
Design ticket: https://github.com/CartoDB/design/issues/1071
Invision project: https://invis.io/XJEKMDODE

[2017-11-24 11:18] juanignaciosl opened #13123 "Explicit error on password protected visualization requests"
Currently, requesting a password protected visualization (`http://juanignaciosl.localhost.lan:3000/api/v1/viz/79c04ef8-52ca-4a58-a026-52f2ae44891d`) returns this:

[code]

So, there's no way to know, with a user without explicit permission, whether a visualization is password protected or not.

Proposal: return a cause code explaining this:

[code]

[2017-11-24 12:14] matallo commented on #13095
I've just pushed to ded10 the new tooltips.

@urbanphes @csobier While I work on covering the code with specs, I'd be very grateful if you could double-check and update the document in the design issue, there are some pending discussions regarding the literals

thanks!

[2017-11-24 12:17] matallo commented on #13095
also, you can see the literals in the linked PR https://github.com/CartoDB/cartodb/pull/13102, feel free to edit them yourselves! I will go though the spreadsheet nevertheless

[2017-11-24 15:22] rjimenezda commented on #13046
I've uploaded this to ded15

[2017-11-24 15:26] urbanphes commented on #13046
I'm sorry for not answering before. This was talking between @rjimenezda and me, at last, we are going with the B Option, it's more natural.

[2017-11-24 15:42] piensaenpixel opened #13127 "Improve Builder's wayfinding"
**Context**
Related - https://github.com/CartoDB/design/issues/1036/

**Invision**
https://invis.io/XZEMLONQV

[2017-11-24 16:03] arianaescobar commented on #12999
As of today:

**Previous version:** From 20k users, 17% of interaction.
**Current version:** From 10k users, 13% of interaction.

[2017-11-26 18:00] csobier commented on #13095
@matallo, looks good. The [spreadsheet](https://docs.google.com/spreadsheets/d/13055ajt2PYPUsnCdOYCmFHKzFFcg0Zxz6Xfk4xqmD5k/edit#gid=0) should be up-to-date now so you can cross-check. Thanks and let me know if I missed anything.

[2017-11-27 09:49] rubenmoya commented on #13111
In production! 🚀

[2017-11-27 09:49] #13111 closed

[2017-11-27 09:52] arianaescobar commented on #13111
Thanks @rubenmoya!

[2017-11-27 10:16] elenatorro commented on #13121
Yes, I think so. I will add them then to the api in the affected PR (https://github.com/CartoDB/cartodb/pull/13043), and then will ask someone from backend to review it :) thank you very much!

[2017-11-27 10:36] juanignaciosl commented on #13121
Assigned to you, then!

[2017-11-27 10:44] rubenmoya commented on #13074
Deployed to `ded10`, I'd love if you could give us some feedback @CartoDB/design ❤️

[2017-11-27 11:02] josecruz commented on #13074
Superb @rubenmoya!

Two quick things:

1. I think we forgot to add the active state to the forms 😅 . Hover is blue and active is black (`#2E3C43`)
![image](https://user-images.githubusercontent.com/596509/33263469-468f2574-d36a-11e7-9bf2-708cfd149927.png)

2. Related to the forms, something weird happens with the line when you select one of the inputs:
 - When I click on the first input and hover

[2017-11-27 11:36] rubenmoya commented on #13104
I've added the disable state, and when the modal opens, the "datasets" tab still selected, and the it redirects to the data library one, which is pretty weird since you start with a disabled tab selected.

What should we do in this case? Directly load the data library one or show the connect dataset one?

[2017-11-27 11:41] arianaescobar commented on #13104
If you don't have any dataset uploaded to your account, we should always open that modal in the "Data Library" tab. Once you have at least one, we should open it in the "Your Datasets" tab.

[2017-11-27 11:53] matallo commented on #13074
back to dev!

[2017-11-27 11:59] juanignaciosl opened #13129 "Delete all external sources within one transaction"
Currently, there's one transaction per external source deletion, which is very slow:

[code]

STR: delete a user and check the logs.

[2017-11-27 12:00] elenatorro opened #13130 "Fix static pages generator"
We need to generate static pages for the FE/BE Split automatically. Currently, the tasks to build these files are in the wrong Grunt task, that is the reason why they were not deployed successfully.

Related with:
- https://github.com/CartoDB/cartodb-platform/issues/3685

[2017-11-27 13:09] ethervoid commented on #13123
### Acceptance

- [x] Check with a link only visualization
![captura de pantalla 2017-11-27 14 07 24](https://user-images.githubusercontent.com/741240/33268125-507512b2-d37c-11e7-8522-35c94e9fbfbc.png)

- [x] Change to password protected and check if the new error appears
![captura de pantalla 2017-11-27 14 03 23](https://user-images.githubusercontent.com/741240/33268147-673d942e-d37c-11e7-81e4-7b

[2017-11-27 13:41] ethervoid commented on #13123
### Acceptance

- [x] Change to private and check what info is returned. Now the cause is nil, maybe it could be something that says it's a private visualization but is ok.

[2017-11-27 14:29] #13123 closed

[2017-11-27 14:34] elenatorro commented on #13121
Hmm I have been thinking that maybe, as this modification has been done in `admin/visualizations_controller`, we should return it only when we request a visualization in `api/visualizations_controller`. I don not know why would we need it when we get the user's info. What do you think @juanignaciosl ?

[2017-11-27 14:41] juanignaciosl commented on #13121
Oh, when I did a quick look at this I just saw [the ones requested at user level](https://github.com/CartoDB/cartodb/blob/4415b533a9fad5835fa7e6c11b5d4611ff06daf4/app/controllers/admin/visualizations_controller.rb#L153), but it looks like you meant [the visualization level ones](https://github.com/CartoDB/cartodb/blob/4415b533a9fad5835fa7e6c11b5d4611ff06daf4/app/controllers/admin/visualizations_co

[2017-11-27 15:49] arianaescobar opened #13132 "Nothing else should be interactive when a dropdown is open"
Right now, when you have a dropdown open, you can click anywhere else outside that dropdown to close it. Which is a very common behavior.

But if you happen to click on top of an interactive element, besides closing the dropdown, that element gets activated. And that is veeery confusing and annoying.

Could we disable any other interaction when a dropdown is open?

[2017-11-27 15:57] arianaescobar opened #13133 "Fix drag-n-drop feature in the layers list"
Right now this feature is working a bit jumpy. From our usability tests we've seen that everyone has had problems trying to reorder when layers move to their original position when dropped in a place where they should have switched with others.

Take a look at the recordings:
https://drive.google.com/open?id=0B7qZP_jDgjOrVUNWWlR1VWx4a0U

Also, almost always, once they successfully reorder, the cli

[2017-11-27 16:00] arianaescobar opened #13134 "Make all the widgets cards clickable in the Add widgets modal"
Just like the Analysis cards in the Add analysis modal.

Plus, add the card outline to the default style.

<img width="1106" alt="screen shot 2017-11-27 at 16 58 16" src="https://user-images.githubusercontent.com/16247628/33275912-454f1974-d394-11e7-8025-bb0fc40daffb.png">
<img width="1049" alt="screen shot 2017-11-27 at 16 58 26" src="https://user-images.githubusercontent.com/16247628/33275913-45

[2017-11-27 16:21] rubenmoya commented on #13104
So, I've been working on this and I've found a few things:

- We can't open directly the data library tab because we have to check first if users have datasets, which is made in the datasets tab, if there are no datasets and they have data library active (could not be available) we redirect them to it, otherwise we show a "no datasets" message. So we will show the datasets tab active with the load

[2017-11-27 17:18] arianaescobar commented on #13104
Let's do something, let's always send them to the Connect tab.

Regarding the naming, yeah, it should always say "Your datasets", no matter how many they have. And yes, let's make the change in both places.

[2017-11-27 17:24] arianaescobar opened #13137 "Super long values are breaking the boundaries of the widgets cards in the Add widgets modal"
![screen shot 2017-11-21 at 12 20 02](https://user-images.githubusercontent.com/16247628/33279803-2ee91e6c-d3a0-11e7-89f1-325f88aff832.png)

Let's just add an ellipsis to prevent it :)

[2017-11-27 17:40] josecruz commented on #13074
Greeeat guys! Above things are fixed but found another one:

1- When you `hover` an `active` input it turns back to `hover`. It should keep as `active`
2- When I click on a dropdown input, there's no `active` state until I close it
![501](https://user-images.githubusercontent.com/596509/33280337-ff8bdd88-d3a1-11e7-83ba-446b6ea180fb.gif)

[2017-11-27 18:47] ztephm commented on #13089
S/B 14966014 should be notified if this is fixed please.

[2017-11-27 19:37] #12905 closed

[2017-11-28 08:30] rubenmoya commented on #13074
That's probably because we lose focus of the input when focusing on the "search" one in the dropdown

[2017-11-28 08:32] rubenmoya commented on #13104
If I send them to the "Data Library" tab, I won't know if they have datasets already or not because that request is made when the users enter the "Dataset tab", so I won't know when to disable it

[2017-11-28 08:52] juanignaciosl opened #13138 "Rollbar cleanup"
## Context

Rollbar is too noisy. We should remove or reduce the error level of many traces so when we get an error we know that it must be tackled, and almost the same for warnings.

Let's list traces that can be downgraded (we probably want to keep them to ease support and debugging).

### Legit errors from an unsupported user action that should be "debug".

#### Invalid cartodb_id

https://roll

[2017-11-28 09:14] juanignaciosl opened #13139 "Wrong behaviour of collision_strategy=overwrite with table import"
### Context

Discovered testing #13131. cc @andy-esch for awareness

### Steps to Reproduce

1. Import a table with Import API from a query. Example:
`curl -v -d 'api_key=ee4ca7e802c427a3193ac6ed9e91a43074f08f8d&collision_strategy=overwrite&sql=select * from guess_latitude_longitude limit 2&table_name=import_api_test' "https://j-rui0.carto-staging.com/api/v1/imports/"`

2. Repeat again.

### Curre

[2017-11-28 09:25] arianaescobar commented on #13104
No, I meant the Connect tab, not the Data Library one.

Also, can't we make that request async so we can figure out if they have datasets or not there without having to go to that tab?

[2017-11-28 11:22] nobuti commented on #12779
Blocked until #12867 is merged.

[2017-11-28 11:38] rubenmoya commented on #13104
We moved the request to fetch the datasets to the dashboard view, so the behavior now is:

- Fetch the datasets when loading the dashboard
- Open the modal
  - If user has datasets
     - Render list
  - If user doesn't have datasets
     - If user has data library render data library
     - If user doesn't have data library and can create datasets render connect dataset
     - Render "no datasets

[2017-11-28 11:40] arianaescobar commented on #13104
Faaaantastic :)

[2017-11-28 13:43] #13089 closed

[2017-11-28 14:03] andy-esch commented on #13137
How about converting to scientific notation instead?
`2.0212957 x 10^13`

That way we don't lose a sense of the magnitude of the number. If we add ellipses we don't know how long it goes on for.

[2017-11-28 14:07] matallo commented on #13137
love it, and gave me scientific calculator vibes 🤓

[2017-11-28 14:08] arianaescobar commented on #13137
What worries me about that is that _the regular folk_ might not understand something like that... although you could also argue that _the regular folk_ will probably never work with those magnitudes.

[2017-11-28 14:12] andy-esch commented on #13137
How about adding a tooltip that shows the full number too?

[2017-11-28 14:14] arianaescobar commented on #13137
Yes! I rather do that with the ellipsis.

[2017-11-28 14:31] alonsogarciapablo opened #13142 "Column selector might be confusing when columns have been filtered out"
In https://github.com/CartoDB/cartodb/issues/7873 we removed date columns from the column list component that allow users to style a layer by a column. The result is:

![image](https://user-images.githubusercontent.com/390398/33324196-35d28920-d44f-11e7-8c67-48a85fa25fcf.png)

When no results are found the component displays a message such as `No column results found with 'postedtime'`. The proble

[2017-11-28 14:36] #7873 closed

[2017-11-28 15:16] gfiorav commented on #13089
@ztephm , could you notify S/B 14966014? I don't have support bee access anymore. Thanks!

[2017-11-28 15:30] ztephm commented on #13089
done, thanks for fixing!

[2017-11-29 08:07] juanignaciosl commented on #13113
@elenatorro I'm trying to prioritize issues. Did you move on not adding the disconnect button? I'd like to know whether we must do a proper fix for this or if it can be postponed.

[2017-11-29 08:14] juanignaciosl commented on #12986
@xavijam @elenatorro as this is a nice global picture of the project, maybe this could be closed and merged into the F/B Split epic. What do you think?

[2017-11-29 08:29] juanignaciosl commented on #12885
@alonsogarciapablo @Jesus89 we're reviewing priorities. It should be fixed, shouldn't it?

[2017-11-29 09:12] Jesus89 commented on #12885
Yes :smile:, thanks!

If this is fixed it will unblock this ticket: https://github.com/CartoDB/cartodb.js/issues/1791

[2017-11-29 09:16] xavijam commented on #12986
Please, leave it until we explain the other "meta" issue to @alissarose. Thanks and sorry!

[2017-11-29 09:47] alonsogarciapablo commented on #12885
:+1:

[2017-11-29 11:32] #12867 closed

[2017-11-29 12:35] rjimenezda commented on #13046
Acceptance on ded12:

I've left a map prepared with 3 layers there, on user ruben-ded12:
- An empty layer
- A Layer that needs geocoding
- A regular layer (airbnb listings)

Things to look out for:

- The empty layer and the layer that needs geocoding should show the new 'loading' state for a bit.
- When clicking on the layer that needs geocoding, only the analysis tab is enabled, already showing

[2017-11-29 12:36] rjimenezda commented on #13046
@urbanphes or someone from design, can you give it a try?

[2017-11-29 12:56] rjimenezda commented on #13046
While writing the above I noticed that I forgot to disable the add analysis button, so the user can change the analysis. I'll fix that at some point today, but I would appreciate if anyone can give it a look, since I have to switch back to this issue 💋

[2017-11-29 13:36] juanignaciosl opened #13145 "NoMethodError: undefined method `has_feature_flag?' for nil:NilClass at visualizations controller"
[CartoDB] production - New Error: NoMethodError: undefined method `has_feature_flag?' for nil:NilClass. [trace](https://rollbar.com/carto/CartoDB/items/25257/).

[2017-11-29 14:28] #13074 closed

[2017-11-29 15:36] #13076 closed

[2017-11-29 15:36] urbanphes commented on #13046
Hi @rjimenezda, I've tested the following steps:

- [x] The empty layer and the layer that needs geocoding should show the new 'loading' state for a bit.
- [x] When clicking on the layer that needs geocoding, only the analysis tab is enabled, already showing a geocoding analysis that can't be canceled.
- [x] After applying this analyisis (for instance, geocode with coordinates, use cartodb_id for

[2017-11-29 15:50] rjimenezda commented on #13046
Truth be told, I didn't even read that copy, it's the same that we used to show on the other tabs. While it's techincally true, user could manually add geometry, I think it doesn't make any sense to show that there. I'll remove the 'add data' 👍  and also fix the bug that I mentioned before

[2017-11-29 15:59] piensaenpixel commented on #13046
What do you think something like? "There's no geometry in your data, please georeference it"

[2017-11-29 16:17] rjimenezda commented on #13046
@piensaenpixel @urbanphes What should I do with the add analysis button, on the horizontal list. It shouldn't do anything. Do we prefer removing it or adding a disabled state?

[2017-11-29 16:30] piensaenpixel commented on #13046
We are changing it, so the easiest thing for you

https://github.com/CartoDB/design/issues/1071

[2017-11-29 17:22] ramiroaznar commented on #12417
Now there is a `column "field name" does not exist. Both in BUILDER and embed.

![image](https://user-images.githubusercontent.com/5215798/33389129-2a38ddc4-d532-11e7-9b7d-1efd5a0c6d50.png)

Closing this issue. Please @AbelVM feel free if this is happening again.

[2017-11-29 17:25] AbelVM commented on #12417
That's a side effect, so the issue is not fixed at all, IMHO

[2017-11-29 17:38] ramiroaznar commented on #12417
The widget is not disappearing anymore and gives you a message error. So this is another different issue. AFAI understand you are suggesting that widgets adapt to changes in the column names. Don't know how that is a good decision (you can change more than the name, add new fields... when changing the SQL...), anyway let's keep it open then.

[2017-11-29 17:38] ivanmalagon commented on #12417
I've followed the STR with the current version in production and the widget does not dissapear from Builder, so you can delete it or change its configuration.

Does this change the expected result or the scope of this issue?

[2017-11-29 17:40] ramiroaznar commented on #12361
Duplicated https://github.com/CartoDB/support/issues/727

[2017-11-29 17:40] #12361 closed

[2017-11-30 07:15] urbanphes commented on #13046
I don't know if the new add buttons (the ticket sharing https://github.com/CartoDB/design/issues/1071) will release this ticket. These are the examples:

**Current button:**

<img width="327" alt="captura de pantalla 2017-11-30 a las 8 12 29" src="https://user-images.githubusercontent.com/14546701/33418513-837e1cd6-d5a6-11e7-90d8-a3648a761481.png">

**New button:**

<img width="343" alt="captura d

[2017-11-30 08:57] rjimenezda commented on #13046
I think this'll release before, hopefully today 🤔

Since it was going to be changed at some point & @piensaenpixel gave me the choice, I removed the button completely. It's simpler than adding a new state to the button, because of how the code is

[2017-11-30 09:16] ramiroaznar commented on #13045
Related https://github.com/CartoDB/cartodb/issues/949

[2017-11-30 09:17] ramiroaznar commented on #7718
@gfiorav @juanignaciosl is this issue still happening?

[2017-11-30 09:20] juanignaciosl commented on #7718
This ~"issue"~ is still happening, because Import API is not related at all with ghost tables. It's not a matter of performance, it's just that we shouldn't do it. Import API links imported tables, and shouldn't worry about other existing tables.

We could consider a programmatic way to trigger ghost tables, but importing any dataset shouldn't have this effect.

[2017-11-30 09:20] #7718 closed

[2017-11-30 09:25] ramiroaznar commented on #7721
This is already fixed.

[2017-11-30 09:25] #7721 closed

[2017-11-30 09:29] ramiroaznar commented on #7526
Ey @nobuti can you elaborate more? Are you talking about category widgets? Is this still happening?

[2017-11-30 09:31] ramiroaznar commented on #12463
This is already fixed!

[2017-11-30 09:31] #12463 closed

[2017-11-30 09:32] ramiroaznar commented on #12204
Ey @ethervoid we fixed this with https://github.com/CartoDB/cartodb/pull/13136 right?

[2017-11-30 09:36] jaakla opened #13148 "Updated positron and dark-matter style URLs"
With basemap Nov-17 update (https://github.com/CartoDB/lbs-services/issues/11) @makella has updated positron and dark-matter styles. Now just like with voyager before there is additional "labels under" version for both styles, which has lighter texts, meant to be used as data background. This is exactly Builder case. To deploy it Builder UI should have changed style IDs in the tile URL templates a

[2017-11-30 09:39] ethervoid commented on #12204
Nope, could be related but they're different issues

[2017-11-30 09:42] rubenmoya commented on #13095
Deployed to `ded12`

cc @CartoDB/design

[2017-11-30 10:49] elenatorro opened #13150 "fix organization templates"
Organization templates are overwritten during the build.
Related to https://github.com/CartoDB/support/issues/1166

[code]

to

[code]

here https://github.com/CartoDB/cartodb/blob/master/lib/build/tasks/jst.js#L49

[2017-11-30 12:02] #13150 closed

[2017-11-30 12:04] nobuti commented on #7526
It's a minor issue, from the ux point of view, it's confusing that clicking in one item doesn't close the dropdown. I feel that always the user clicks on an item, the dropdown should close.

[2017-11-30 12:04] ramiroaznar commented on #11550
Duplicated https://github.com/CartoDB/cartodb/issues/12098 (closing this because the other has more detail)

[2017-11-30 12:04] #11550 closed

[2017-11-30 12:07] ramiroaznar commented on #7526
![custom-select](https://user-images.githubusercontent.com/5215798/33430038-5cb201f2-d5cf-11e7-9b50-176eaed94098.gif)

[2017-11-30 13:16] #7990 closed

[2017-11-30 13:28] ramiroaznar commented on #8211
@juanignaciosl can we close this?

[2017-11-30 13:31] #8652 closed

[2017-11-30 13:41] ramiroaznar commented on #9431
This should be "fixed" with https://github.com/CartoDB/support/issues/1071

[2017-11-30 13:45] ramiroaznar commented on #9421
We decided to get rid of data column from the style by value options here https://github.com/CartoDB/cartodb/issues/7873

[2017-11-30 13:45] #9421 closed

[2017-11-30 13:47] ramiroaznar commented on #9552
@piensaenpixel this is going to take care thanks to the onboarding fixes, right?

[2017-11-30 13:54] ramiroaznar commented on #9488
+1 cc @stevelewis99

We should make "Create new dataset from query..." to stand out, it would be great to move this option as the "Create map" showed here https://github.com/CartoDB/cartodb/issues/8981

@CartoDB/design are you asking users about the dataset UI?

[2017-11-30 13:58] ramiroaznar commented on #9581
Tested. This is fixed.

[2017-11-30 13:58] #9581 closed

[2017-11-30 14:11] ramiroaznar commented on #9552
Close in favor of https://github.com/CartoDB/cartodb/issues/9734

[2017-11-30 14:11] #9552 closed

[2017-11-30 14:58] #13129 closed

[2017-11-30 14:58] #13145 closed

[2017-11-30 16:54] piensaenpixel opened #13157 "Add hover state to nav tabs"
Sorry we forgot to add this thing to the 'Hover thing'

Related - https://github.com/CartoDB/design/issues/538

Thanks guys.

[2017-11-30 17:00] rjimenezda commented on #13046
@urbanphes On ded12 one more time, with the button gone in that particular case

[2017-11-30 19:21] makella commented on #13148
@jaakla it looks like from what is loading in Builder right now, that the new tiles for `labels_under` is reading from `all`. Is this because the cache hasn't been cleared?

For example, I'm seeing this for the labels under

In the preview app:
![screen shot 2017-11-30 at 12 19 48 pm](https://user-images.githubusercontent.com/1566273/33450425-fc5d6036-d5c8-11e7-8656-97cbf9605f51.png)

In Builder:

[2017-11-30 19:36] jaakla commented on #13148
Builder live configuration has to be changed to new URL for this. Cache clearing does is not enough here.

[2017-11-30 19:36] makella commented on #13148
@noguerol BIG DEAL! can we get this taken care of ASAP?

[2017-12-01 07:06] jaakla opened #13159 "Enable HTTP/2 via CDN"
According to https://www.fastly.com/blog/http2-now-general-availability change in DNS would enable HTTP/2 for client->cdn traffic, and can improve map performance (in terms of faster loading of tiles) "for free", due to connection multiplexing. As workaround carto uses classic domain sharding, so the performance improvement is not that big, but still maybe ~500ms could be won.

For example basemap

[2017-12-01 08:33] nobuti commented on #13130
Deploy blocked until all static pages for phase 1 and 2 are merged.

[2017-12-01 08:41] urbanphes commented on #9488
@ramiroaznar But is not the same.
On the Table View, the main action is "Create a Map" independently if there is or not a query applied. The final step after watching the data is create a map. But inside Builder, and more specifically when you are on an Advance Mode (SQL) there are another actions possibles and "Create a Map" it would take you out of the flow in which you are.

[2017-12-01 08:46] ramiroaznar commented on #9488
I am only talking about the DATASET VIEW (outside BUILDER). As you said, the main action is Create a map, but IMHO (and from my BUILDER user experience), after applying a query, if not the main action, creating a dataset is the second option...

[2017-12-01 08:59] piensaenpixel commented on #9488
we are not asking about it, @ramiroaznar.

But @ramiroaznar we have that option in the drop-down, you mean this one right?

![image](https://user-images.githubusercontent.com/1214201/33475320-44da76ea-d67e-11e7-9155-d2958294fdd2.png)

[2017-12-01 09:10] ramiroaznar commented on #9488
Yes, as mentioned in person, I think it is quite hidden.

[2017-12-01 09:13] piensaenpixel commented on #9488
ok, we'll take a look :) thanks a lot.

[2017-12-01 10:54] juanignaciosl commented on #8211
I certainly think that selecting datasets on map export might be useful, but it's certainly not a priority, so let's close this. It will eventually come back if it's actually useful.

[2017-12-01 10:54] #8211 closed

[2017-12-01 11:49] #13008 closed

[2017-12-01 14:08] piensaenpixel commented on #13046
I'm not sure if this is related to, but... in ded12 I only can geocode it with lat and long.

![image](https://user-images.githubusercontent.com/1214201/33486208-7acb85b6-d6a9-11e7-8ea9-5972759f769b.png)

[2017-12-01 14:31] piensaenpixel commented on #13095
Hey guys love it :)
The only thing is that in some cases tooltip doesn't appear

![image](https://user-images.githubusercontent.com/1214201/33487157-a0868190-d6ac-11e7-8f9b-11176cb62fef.png)

[2017-12-01 14:41] makella commented on #13148
THANK YOUUUUUUU!!!!

[2017-12-01 14:47] ramiroaznar commented on #13148
@alonsogarciapablo can you help @makella and @jaakla to check what the new basemap styles are not rendering as expected?

[2017-12-01 14:50] piensaenpixel commented on #13095
Only one very small thing, if you think we can do it know ok, if not we can do it later:

- [] To be consistent, could we put latitude and longitude in the same order?
![image](https://user-images.githubusercontent.com/1214201/33487711-6ea030d4-d6ae-11e7-8d70-62df247856d1.png)

[2017-12-01 14:52] alonsogarciapablo commented on #13148
Sure! I will take a look later.

[2017-12-01 15:05] piensaenpixel opened #13162 "Dynamic category legend."
Hi guys is there any possibility of the category legends to be dynamic??

Related - https://github.com/CartoDB/design/issues/1092

[2017-12-01 15:11] piensaenpixel commented on #13046
Only one very small thing, if you think we can do it know ok, if not we can do it later:

- [] To be consistent, could we put latitude and longitude in the same order?
![image](https://user-images.githubusercontent.com/1214201/33487711-6ea030d4-d6ae-11e7-8d70-62df247856d1.png)

[2017-12-01 15:12] rjimenezda commented on #13046
Label or controls?

[2017-12-01 15:18] piensaenpixel opened #13163 "Bounding box, reduce the margin from 16px to 8px"
To win space in small screens we are going to start reducing some spaces, this is the most basic thing.

Context  - https://github.com/CartoDB/design/issues/525

[2017-12-01 15:19] piensaenpixel commented on #13046
y prefer the select (type)

[2017-12-01 15:20] piensaenpixel commented on #13046
The rest is ok!

[2017-12-01 15:22] makella commented on #13148
@alonsogarciapablo ok, so i went through and here are the places that we need to update the URLs

**Positron (labels below)**
https://github.com/CartoDB/cartodb-platform/blob/develop/cookbooks/cartodb_app/attributes/basemaps.rb#L43
- change to
`https://cartodb-basemaps-{s}.global.ssl.fastly.net/rastertiles/light_labels_under/{z}/{x}/{y}.png`

**Dark matter (labels below)**
https://github.com/Carto

[2017-12-01 15:35] alonsogarciapablo commented on #13148
Also, we have to take into account that all the layers that we have in the DB are still pointing to previous URLs... Question: why didn't we change the existing URLs?

[2017-12-01 15:38] makella commented on #13148
@jaakla can you comment?

[2017-12-01 16:33] Algunenano opened #13164 "[Time-Series] Deprecate avg, max and min per bucket"
### Context
After optimising time-series queries (https://github.com/CartoDB/Windshaft-cartodb/issues/797) I've reached a point where calculating max, min and avg values per bin takes around 30% of the time.

After checking with @ivanmalagon and @rochoa it seems that these values aren't used in the client so it doesn't make sense to keep calculating them for nothing. Be careful, I'm not talking ab

[2017-12-01 17:01] jaakla commented on #13148
So solution after discussions:
a) I will redirect dark_all and light_all to dark_labels_below and light_labels_below in CDN. This is how it was originally meant to be really, but accidentally _labels_below was published as separate style name. Quick technical fix is to do it in CDN/Fastly, but I need to test it carefully on Monday before touching live configs.
b) this will be transparent to end-us

[2017-12-01 17:01] #13148 closed

[2017-12-01 17:54] matallo commented on #13095
I updated the paddings of the components to make the tooltips appear in the whole target, redeployed in `ded15` and after some test it doesn't seems to break

this involved CartoAssets, too

[2017-12-02 09:17] piensaenpixel commented on #13095
thanks mata

[2017-12-04 09:16] #13031 closed

[2017-12-04 10:59] elenatorro opened #13166 "fix Mapcards in Public Map"
### Context
(only static pages)

Mapcards are not being loaded correctly, we have to load them after the mapcard containers are rendered.

![captura de pantalla 2017-12-04 a las 11 58 56](https://user-images.githubusercontent.com/3824953/33549391-9207663a-d8ea-11e7-8d16-4517c6e2026e.png)

[2017-12-04 12:28] matallo commented on #13104
also, made one slight improvement (see PR discussion) **if "Data library" is not enabled it won't appear either on new map or new layer**

this wasn't consistent before, and it would appear even if it was disabled showing an empty tab

[2017-12-04 13:55] ramiroaznar commented on #13163
There is a ticket in RT dashboard (waiting to enter the TODO column) about this same issue: https://github.com/CartoDB/cartodb/issues/11102

[2017-12-04 13:56] ramiroaznar commented on #13162
There is a ticket in RT dashboard (waiting to enter the TODO column) about this same issue: #11102

[2017-12-04 14:15] #13166 closed

[2017-12-04 16:29] matallo opened #13169 "dashboard: create map dialog should refresh after removing layers"
### Context
while in the dashboard if you work with datasets and reopen the create map dialog it's not updated

### Steps to Reproduce

1. go to dahsboard
1. click on create map
1. datasets should appear in datasets tab
1. close dialog
1. go to datasets with header dropdown
1. remove all datasets and confirm
1. go back to maps with header dropdown
1. click on create map

### Current Result
the non

[2017-12-04 16:44] juanignaciosl opened #13170 "Create API Key endpoint"
- [x] Store at PostgreSQL metadata.
- [x] Create role at PG level.
- [x] Dump to Redis.

[2017-12-04 16:48] juanignaciosl opened #13171 "Delete API Key endpoint"
- [x] Remove from Redis.
- [x] Drop role at PG level.
- [x] Delete from at PostgreSQL metadata.

[2017-12-04 16:49] juanignaciosl opened #13172 "Master API key on user creation"
Create the following keys on user creation:
- [ ] Master key.
- ~Public key~ -> see #13471

... and remove them on user deletion -> see #13470

In addition, make sure that you can't delete any of them with the DELETE endpoint.

[2017-12-04 16:52] juanignaciosl opened #13173 "Auth API on migration for existing users"
Rake accepting email list that create all needed keys (see #13172).

[2017-12-04 16:57] juanignaciosl opened #13174 "Internal release for Auth API"
This release should provide enough functionality for usage with carto.js.

- Internal communication.

[2017-12-04 17:01] piensaenpixel opened #13175 "Dashboard alert"
@juanignaciosl to give information about our basemap's changes we'd need to add an alert in the dashboard and link it to https://carto.com/blog/inside/positron-dark-matter-new-look/

![image](https://user-images.githubusercontent.com/1214201/33565274-f8b41388-d91c-11e7-8a96-596e58638ccd.png)

cc @makella, @namessanti

[2017-12-04 17:02] juanignaciosl opened #13176 "Auth API release for carto.js"
- Fully functional Auth API.

[2017-12-04 17:02] juanignaciosl opened #13177 "Auth API UI Release"
This is the project at InVision: https://projects.invisionapp.com/share/P2DZ1FWUE#/screens/258570871

[2017-12-04 17:04] juanignaciosl opened #13178 "Auth API documentation"
Things to review:

- URLs (by key name and also /api/v3 prefix, subdomain/username stuff)
- Permissions names (`["update", "select", "trigger", "references", "truncate", "delete", "insert"]`). Might want to fix some on rails side
  - Master key permissions leak existence of analysis caches
- Token lengths
- `type` is not honoured in creation

[2017-12-04 17:11] juanignaciosl opened #13179 "Display default API info"
API and UI for displaying public Auth token and master.

API might be done already, as a consequence of the table_permissions_from_database thingy.

[2017-12-04 17:21] juanignaciosl commented on #13175
@piensaenpixel is there a hard deadline for this?

[2017-12-04 17:33] makella commented on #13175
@juanignaciosl we updated the basemaps on Friday and released a small blog post about the updates about an hour ago.

I'd say as soon as we can especially for those who don't read our blog.

If it isn't today, we shouldn't have the word "today" in the notification.

[2017-12-05 08:55] piensaenpixel opened #13181 "Geocode issue"
After releasing the new geocode flow and following users feedback we found an issue about having the data's tab deactivated
How difficult is activate only that tab?

cc @matallo @rjimenezda

[2017-12-05 09:29] Algunenano opened #13182 "[Time Series] Invalid start and end use in some aggregations"
### Context
No results shown in the time series histogram in some aggregations even though there is data.

### Steps to Reproduce
1. Load data (rename from txt to csv): [dospuntos.copy.txt](https://github.com/CartoDB/cartodb/files/1530453/dospuntos.copy.txt)
2. Create map.
3. Create a time-series over `fecha` and select bucket `months`.
4. **Go back to the dashboard**. If you don't do this it'll w

[2017-12-05 09:49] #13157 closed

[2017-12-05 09:49] #13046 closed

[2017-12-05 10:49] #13104 closed

[2017-12-05 10:51] ramiroaznar commented on #13182
I was not able to replicate this issue on my end.

[2017-12-05 14:00] Algunenano commented on #13182
Uhmm, I don't know why I'm unable to reproduce it too, but I did get it several times before...

Anyhow, I'm keeping this open since start and end could be removed without impact.

[2017-12-05 14:06] ramiroaznar commented on #13182
Can I move it then to the RT dashboard (instead of the 5x one) in order to fix it?

[2017-12-05 14:10] Algunenano commented on #13182
I think so. Just a heads up, it appeared while testing https://github.com/CartoDB/Windshaft-cartodb/pull/804 which is not deployed yet but it shouldn't impact this specific ticket at all.

[2017-12-05 17:48] elenatorro opened #13188 "Change Grunt tasks to generate static pages"
### Context
We are currently building static pages with the production flag when running `grunt dev` and `grunt build`. We have to change this, so it does not change `public/static/**/index.html` files if we are developing something that is not related with the FE/BE Split, we will have a separated task for that (now called `npm-start-static`). The only problem this approach could have is that, if

[2017-12-05 17:51] matallo commented on #13188
thanks! 🤗

[2017-12-05 18:09] juanignaciosl commented on #13175
There's no mechanism for this kind of message, and hardcoding it for several days is not something that we should do. We've had several really important communications, such as API Key removal that we haven't announced on the dashboard. If we do this, we should change our users communications. I would totally agree on doing it, but I wouldn't hurry up with this.

In addition, that message can't be

[2017-12-05 18:11] matallo commented on #13175
I was going to jump in to say the same, we already have a notifications mechanism for these kind of announcements! 🙌

[2017-12-05 18:12] makella commented on #13175
@juanignaciosl thanks for clarifying this! Learning new things every day :)

The original idea was for the notification bell.

If that is something that we can do that avoids the issues you mention, that would be great.

[2017-12-05 18:20] piensaenpixel commented on #13175
We can use the top bell, if you agree on that, but... it's something that nobody really read it.

[2017-12-05 18:23] makella commented on #13175
@piensaenpixel point taken. when santiago and devon had explained, they mentioned the notification bell and I thought what you have above shows when you click it (apparently not!)

anyway, we are 3 days into the release so whatever you guys think is most efficient.

thanks and i'll let you all decide!

[2017-12-05 18:34] piensaenpixel commented on #13175
Ok, so if the easiest thing is the bell one, go ahead :)

[2017-12-05 20:16] jaakla commented on #13148
Note that issue - need to change URLs was a really a noise and miscommunication. The root issue was that the the main styles were taken from wrong style - from main style project, not from "_labels_below" variations, as detailed in https://github.com/CartoDB/mobile-tileserver-mbtiles/issues/27

[2017-12-07 12:44] arianaescobar commented on #11143
I couldn't find this error in the document that Britt created.

![screen shot 2017-12-07 at 13 40 00](https://user-images.githubusercontent.com/16247628/33715923-8f4f64ee-db54-11e7-9e06-ebe1243da20c.png)

It happened when the user tried to make a SUM operation with a string column.

Are there more errors like that one that we haven't reviewed and rewrite?

[2017-12-07 13:00] arianaescobar opened #13191 "Attribution button is missing its hover state"
All the other buttons here have it, only the attribution one (?) doesn't.

![screen shot 2017-12-07 at 13 58 48](https://user-images.githubusercontent.com/16247628/33716551-ec3ffae0-db56-11e7-8246-9f3493f5de2c.png)

[2017-12-07 13:13] arianaescobar opened #13192 "Don't show the publish modal when the user clicks on the privacy button"
The dropdown to change the map privacy should appear directly below the tag instead of opening up a modal and having to click on that tag again.

![screen shot 2017-12-07 at 14 11 26](https://user-images.githubusercontent.com/16247628/33716999-8d4ccf34-db58-11e7-9302-6e526efaf0f1.png)

![screen shot 2017-12-07 at 14 11 34](https://user-images.githubusercontent.com/16247628/33716998-8d253a28-db58-1

[2017-12-07 13:17] arianaescobar opened #13193 "Prevent widget tooltips of getting cut"
Quite often the tooltips from the Autostyle and More options icon in the widgets get cut by the widget on top.

![screen shot 2017-12-07 at 14 15 15](https://user-images.githubusercontent.com/16247628/33717210-5b39b876-db59-11e7-8222-772dae0e68ed.png)

[2017-12-07 13:19] arianaescobar opened #13194 "Unify tooltip style"
Widgets have a tooltip style...

![screen shot 2017-12-07 at 14 15 59](https://user-images.githubusercontent.com/16247628/33717238-75915940-db59-11e7-8d36-66a83d64d855.png)

...that is different than the others:

![screen shot 2017-12-07 at 14 16 07](https://user-images.githubusercontent.com/16247628/33717244-7eab31e0-db59-11e7-9806-497835f8738d.png)

They should all look like the last one.

[2017-12-07 16:12] andy-esch opened #13195 "Geometry editing button could use some information about what it is"
### Context
It'd be really useful to let users know what the geometry editing button is for. Right now, it just says that it's not available, but users may not know what 'it' is.

<img width="261" alt="screen shot 2017-12-07 at 11 08 08" src="https://user-images.githubusercontent.com/1041056/33725077-221291ea-db3f-11e7-8736-a2aa9f1f0a16.png">

### Steps to Reproduce
Create a map, apply a custom qu

[2017-12-07 17:08] andy-esch opened #13196 "csv table export not available for polygon datasets"
### Context
I'm not able to export datasets as CSVs if the table is made of polygons.

<img width="657" alt="screen shot 2017-12-07 at 12 04 30" src="https://user-images.githubusercontent.com/1041056/33727688-cfe6444a-db46-11e7-94e6-1f96b369d384.png">

### Steps to Reproduce

1. Open a table that's only polygons
2. Click 'export' in the dataset page
<img width="261" alt="screen shot 2017-12-07 at

[2017-12-11 11:14] arianaescobar opened #13197 "Unify disabled input style"
In the settings of the Category widgets, we have two different styles for disabled inputs. The correct style is the one used for Prefix and Suffix. We should update the one used for the Custom colors input.

![screen shot 2017-12-11 at 11 57 18](https://user-images.githubusercontent.com/16247628/33828411-4b0ad834-de6c-11e7-889d-b350f392f6d3.png)

[2017-12-11 13:53] rubenmoya opened #13198 "Changing basemap doesn't change the description"
### Context
When changing the basemap in Builder, the description is not updated.

![basemap_description](https://user-images.githubusercontent.com/905225/33834346-f46a6244-de82-11e7-8add-7cd9a358b4f5.gif)

### Steps to Reproduce
*Please break down here below all the needed steps to reproduce the issue*

1. Click on the basemap layer
2. Change the basemap to a new one

### Current Result
The descr

[2017-12-11 15:09] rubenmoya opened #13200 "Wrong padding in widgets list"
### Context
It seems like the left padding is too big in the widget list

### Steps to Reproduce
1. Visit the widget list

### Current Result
![screen shot 2017-12-11 at 16 07 41](https://user-images.githubusercontent.com/905225/33837727-9814ac56-de8d-11e7-82b5-b67bc94664d0.png)

### Expected result
It has the same padding as the other sides

### Additional info
Seems to be related to `.BlockList-

[2017-12-11 17:05] ramiroaznar commented on #12996
Closing in favor of https://github.com/CartoDB/cartodb/issues/13200

[2017-12-11 17:05] #12996 closed

[2017-12-11 17:14] ramiroaznar commented on #13196
Duplicated:
https://github.com/CartoDB/support/issues/1106
https://github.com/CartoDB/support/issues/1052
https://github.com/CartoDB/support/issues/1023

Explanation about why we remove the `.csv` option [here](https://github.com/CartoDB/cartodb/issues/9855). Also, when customer opened the csv in Excel some of the geometry values were cut off.

IMO we could roll back because we made [a proper fix

[2017-12-12 10:28] matallo commented on #13127
do we have an inventory of modals where the new wayfinding should be applied? with the current modals setup we end up with some modals as you can see below

![pageshot of refugio lizara bisaurin refugio lizara tracks carto 2017-12-02-1125 34](https://user-images.githubusercontent.com/36676/33879624-55e6846a-df2f-11e7-9426-0c89a1013d13.png)

in the meantime I'm doing a workaround to keep the close

[2017-12-12 10:53] rubenmoya commented on #13127
Does this issue also includes changing the color for the layers to this ones https://github.com/CartoDB/design/issues/1036#issuecomment-346604367?

@arianaescobar

[2017-12-12 11:01] arianaescobar commented on #13127
@matallo It should be applied in every modal, the thing is that we have different styles of modals, being that one you added a legacy one. That change should be applied to all the new ones that have the header left-aligned (until we update the old ones, which hopefully won't take long because having different ways of closing a modal could potentially be very confusing).

@rubenmoya Yes, that's par

[2017-12-12 11:04] matallo commented on #13127
@arianaescobar as much as I don't like it, we'll do it phased as currently despite having several modals styles they all share the same code

in any case, I'm applying the breadcrumbs to the new modals 👍

[2017-12-12 11:30] arianaescobar opened #13206 "Markdown formatting is not rendering ok in the embeds"
### Context

In the "Edit metadata" modal we claim we support Markdown for the map description.

<img width="773" alt="screen shot 2017-12-12 at 12 04 09" src="https://user-images.githubusercontent.com/16247628/33881278-9e7cd0da-df34-11e7-853b-1cb830ad6c01.png">

But right now the rendering of that Markdown is not working too well.

### Steps to Reproduce

1. You can use the .carto shared below to

[2017-12-12 11:32] arianaescobar commented on #13127
Oki! Let me know if you have any other doubt.

[2017-12-12 11:42] ramiroaznar commented on #13095
I found a bug when going from the layer list panel to the layer options. The Edit analysis tooltip is not removed:

![image](https://user-images.githubusercontent.com/5215798/33882835-cf50764e-df39-11e7-8d4b-c0ab7f1e44f7.png)

Let me know if you need me to create a ticket.

[2017-12-12 11:54] arianaescobar commented on #13095
We've also run across that bug in our latest usability tests. I do think we should open one @ramiroaznar.

[2017-12-12 13:57] matallo commented on #13127
I'm leaving the close button in the modals below, too

![pageshot of untitled map carto 2017-12-02-1336 44](https://user-images.githubusercontent.com/36676/33888200-a7f4a9a4-df4c-11e7-95af-ab1cfe9d6dd7.png)

[2017-12-12 15:07] rubenmoya commented on #13127
Uploaded to `ruis` in staging, at the end we've decided not to split it, so all the changes should be there. The acceptance steps are in https://github.com/CartoDB/cartodb/pull/13185, I've been checking and I can't see anything weird, but could you take a look @CartoDB/design? If you need a user for staging tell me!

[2017-12-12 15:57] matallo opened #13210 "editor => builder warning modals are not appearing anymore"
### Context
when a map created with Editor is opened in Builder we used to show a warning modal because some attributes such as annotations are not compatible with Builder maps

this warning is not appearing anymore, causing destructive actions to the maps

### Steps to Reproduce

1. create a map with an Editor user
2. add annotation
3. in the console enable builder to that user
4. open the new ma

[2017-12-12 16:02] ramiroaznar commented on #13210
Is this the expected behavior? Aren't we showing those messages anymore? @juanignaciosl @CartoDB/design

[2017-12-12 16:32] juanignaciosl commented on #13210
I performed those steps and I got the warning:

![captura de pantalla 2017-12-12 a las 17 30 30](https://user-images.githubusercontent.com/932968/33896145-617133a6-df62-11e7-95f8-3f79cb8b6d92.png)

If you want to take a look, it's https://juanignaciosl10.carto-staging.com/builder/276e23f9-6ddb-4a12-85d0-25b7e58ac356 visualization. @matallo , maybe you can compare that one with yours.

[2017-12-12 16:34] matallo commented on #13210
I confirmed this with @ramiro :thinking:

On Dec 12, 2017 5:32 PM, "Juan Ignacio Sánchez Lara" <
notifications@github.com> wrote:

[2017-12-12 16:57] rubenmoya commented on #13122
There is one case we didn't think about, in the widgets tab, when there is a widget we show a placeholder with a blue button, we've changed it to this:

![screen shot 2017-12-12 at 17 56 08](https://user-images.githubusercontent.com/905225/33897463-d353ddd6-df65-11e7-8883-896a68030210.png)

What do you think @CartoDB/design?

[2017-12-12 17:47] rubenmoya commented on #13122
In the analyses tab right now we have a loading state, with this changes, what do we do in that case? @CartoDB/design

[2017-12-12 17:53] matallo commented on #13122
actually we also have errors, check every different state for the analyses list

[2017-12-13 10:40] ramiroaznar commented on #11059
Fixed here https://github.com/CartoDB/cartodb/issues/7873

[2017-12-13 10:40] #11059 closed

[2017-12-13 10:57] rubenmoya commented on #13127
ping @CartoDB/design

[2017-12-13 11:08] arianaescobar commented on #13122
Zero case:

![screen shot 2017-12-13 at 11 37 23](https://user-images.githubusercontent.com/16247628/33935993-35c85170-dffe-11e7-99c1-e44b46ee1d3c.png)

Copy: Analysis allow you to build reproducible workflows for analyzing and explaining your data.

[2017-12-13 11:29] arianaescobar commented on #13122
List states:

![screen shot 2017-12-13 at 12 24 27](https://user-images.githubusercontent.com/16247628/33936825-336f7cac-e001-11e7-9dc2-55ebff84e3d1.png)

Hover
Selected
Normal
Error
Loading

[2017-12-13 13:20] arianaescobar commented on #13127
I'm on it!

[2017-12-13 13:23] rubenmoya commented on #13122
In the analysis view, the dropdown in the redesign is showing the `nodeId` and the `layerName`:

![screen shot 2017-12-13 at 14 19 33](https://user-images.githubusercontent.com/905225/33940883-05859726-e011-11e7-821d-cd10aa2d1be4.png)

but currently we're also showing the `nodeTitle` in this case `AOI`, what should we do in the new design?

![screen shot 2017-12-13 at 14 22 43](https://user-images

[2017-12-13 13:40] rubenmoya commented on #13122
Also, in the widgets tab:

![screen shot 2017-12-13 at 14 38 42](https://user-images.githubusercontent.com/905225/33941563-5bc1ecaa-e013-11e7-83ac-c1b74ebf8239.png)

we're always showing "source" and the layer name, no matter if the source it's an analysis or the dataset itself.

Another thing is the button, it's in the top of the list, but when the new widget is added it appears at the bottom of

[2017-12-13 14:07] arianaescobar commented on #13122
To the nodes styling questions, this is how they should always look:

- Node is always darker
- Node is either Source or the Analysis name (simplified)
- An analysis node is always "XX + Flash icon + Analysis name + Layer name"
- A source node is always "XX + "Source" + Dataset name"

![analysis options](https://user-images.githubusercontent.com/16247628/33942602-bcc8112a-e016-11e7-86e7-bfc00e241a

[2017-12-13 14:08] rubenmoya commented on #13122
Yes, thank you!

[2017-12-13 15:44] juanignaciosl commented on #13175
@piensaenpixel @makella sorry, I have bad news. First of all, sorry for not saying anything in 8 days. We're swamped with urgent stuff. After talking to @matallo about the way to add bell notifications, it's not as simple as it should be (a single row insert). Currently there's no straightforward way to add a simple notification, and I guess that it's too late for this.

In addition, we've recentl

[2017-12-13 15:44] #13175 closed

[2017-12-13 16:00] makella commented on #13175
@juanignaciosl thanks for the note! i was going to close this today also

yes, next time we will plan better...

[2017-12-13 16:33] ethervoid opened #13217 "When you see icons full collection the button is out of the screen"
### Context
*Please explain here below what you were doing when the issue happened*

When you try to style a point and change the default point for an icon you find that the save button is almost out of reach

### Steps to Reproduce
*Please break down here below all the needed steps to reproduce the issue*

1. Create an empty map
2. Add a point
3. Style it and try to put a custom icon
4. Click on

[2017-12-13 16:53] matallo commented on #13181
reopening this issue to discuss how to properly address this, that I'm aware of:

- revert previous behaviour with current `.canBeGeoreferenced` implementation, which is more accurate than before (and also has loading states)

anything that I'm missing @piensaenpixel ?

[2017-12-13 16:55] ramiroaznar commented on #10017
The initial issue is solved.

[2017-12-13 16:55] #10017 closed

[2017-12-13 17:20] piensaenpixel commented on #13210
Uhmm yes, this modal should appear.

[2017-12-13 17:21] juanignaciosl commented on #13210
@ramiroaznar ok, we all agree that this should appear, and it looks like it actually appears, at least in some cases. Response team duty?

[2017-12-13 17:35] makella commented on #10017
really?? SUPER EXCITING

[2017-12-13 17:36] piensaenpixel commented on #13181
yes it's ok.

[2017-12-13 17:46] ramiroaznar commented on #13210
Yes! Let's investigate which cases the modal is not showing and fix them!

[2017-12-13 19:20] gfiorav opened #13218 "Tests are susceptible to app_config.yml params outside test environment"
## Context

Some of our unit tests rely on 'session_domain' and `subdomainless_urls` configs to be on the default values. It would be better if we included said default value overrides in the test environment, so tests will work regardless of what the prod installation uses.

[2017-12-14 09:00] urbanphes commented on #13095
I reopened this ticket because we have forgotten some parts:
- Label check.
- Widget configurator.

This is the document:
https://docs.google.com/a/cartodb.com/spreadsheets/d/13055ajt2PYPUsnCdOYCmFHKzFFcg0Zxz6Xfk4xqmD5k/edit?usp=sharing

[2017-12-14 09:01] rubenmoya commented on #13206
Related to https://github.com/CartoDB/cartodb/issues/12126

[2017-12-14 09:06] rubenmoya opened #13219 "More tooltips on builder actions"
### Context
We forgot to add a few tooltips in https://github.com/CartoDB/cartodb/issues/13095, let's add them here.

Tooltips missing:
- Label check.
- Widget configurator.

### Additional info
https://docs.google.com/spreadsheets/d/13055ajt2PYPUsnCdOYCmFHKzFFcg0Zxz6Xfk4xqmD5k/edit#gid=2100067782

[2017-12-14 09:07] rubenmoya commented on #13095
I opened a new one so it's easier to keep track of it, you can check it in #13219

Thank you @urbanphes!

[2017-12-14 09:07] #13095 closed

[2017-12-14 11:36] rubenmoya commented on #13127
In production! 🚀

[2017-12-14 11:36] #13127 closed

[2017-12-14 11:58] #12779 closed

[2017-12-14 12:01] jesusbotella opened #13222 "New Analysis modal footer is misplaced"
### Context

Tried to add a new analysis from the Layer view

### Steps to Reproduce

1. Go to any of your created maps
2. Click on a layer
3. Go to Analysis pane
4. Try to add a new analysis

### Current Result

The whole footer of this modal is misplaced

![screen shot 2017-12-14 at 12 56 25](https://user-images.githubusercontent.com/4319728/33991381-b15612ca-e0ce-11e7-834d-790a524dd8ee.png)

##

[2017-12-14 12:04] matallo commented on #13222
well spotted!

On Thu, Dec 14, 2017 at 1:01 PM, Jesús Botella <notifications@github.com>
wrote:

--
*Carlos Matallín*
Frontend Engineer

*CARTO <https://carto.com/> - Turn Location Data Into Business Outcomes*

[2017-12-14 12:10] jesusbotella commented on #13196
Shipped 🚀

[2017-12-14 12:10] #13196 closed

[2017-12-14 13:51] ramiroaznar commented on #13196
:boom:

[2017-12-14 13:52] andy-esch commented on #13196
Thank you!!

[2017-12-14 15:44] makella commented on #12615
I want to comment that I've noticed this in several cases as well and have narrowed down what is going on.

Basically, TurboCARTO is writing the numeric values as strings, which is breaking the CartoCSS.

For example,

I have 4 walktime polygons with values of 5,10,15,20 minutes
![screen shot 2017-12-14 at 8 38 02 am](https://user-images.githubusercontent.com/1566273/34000325-349dedee-e0aa-11e7-9f

[2017-12-14 15:49] ivanmalagon opened #13227 "Review Carto guides"
### Context

As @jesusbotella was doing all the guides at CARTO Learn, he found several issues. This ticket is to enumerate those issues to check if they are really a bug or just a change in the functionality.

https://carto.com/learn/guides/analysis/detect-outliers-and-clusters
The autostyle drop icons were not showing up.

https://carto.com/learn/guides/styling/applying-text-labels-to-your-data

[2017-12-14 15:59] ramiroaznar commented on #12615
Ey Mamata, after reading your comment I realize there are several open tickets related to the same issue. The same conclusion was achieved [in one of my tickets](https://github.com/CartoDB/support/issues/611). Let's promote mine and close this one (and also [this other](https://github.com/CartoDB/support/issues/993)). Fixing this will close [this issue](https://github.com/CartoDB/support/issues/92

[2017-12-14 15:59] #12615 closed

[2017-12-14 16:09] makella commented on #12615
@ramiroaznar great!

[2017-12-14 17:35] rubenmoya commented on #13122
Why did we change the blue color to the last one? 😞  I loved it 💔

[2017-12-14 17:40] arianaescobar commented on #13122
I loved it too, but it's too similar to our Builder blue and people might confuse them and think that it is interactive :(

[2017-12-14 21:11] andy-esch opened #13229 "feature request: reverse sorting for datasets dashboard"
Sorting datasets in Builder dashboards only works in one direction (biggest, most recent, etc. on top). E.g., If I want the smallest datasets (maybe empty datasets I want to delete), I'd have to page through till the end of the pages. It'd be pretty nice to be able to sort the other direction. I could see having a little arrow that's right next to the sort icon buttons that tells how it's being so

[2017-12-15 07:43] ramiroaznar commented on #13227
cc @csobier

[2017-12-15 07:45] ramiroaznar commented on #13222
@matallo please check if this fix also solves https://github.com/CartoDB/cartodb/issues/13217 ?

[2017-12-15 08:09] elenatorro opened #13231 "Like Buttons in FE/BE Split"
### Context

Fix Like buttons in Public and Embed Maps.

[2017-12-15 08:40] matallo commented on #13222
indeed, waiting for acceptance

[2017-12-15 09:18] matallo commented on #13181
🚀

[2017-12-15 09:18] #13181 closed

[2017-12-15 10:54] rubenmoya opened #13233 "Change layer colors"
### Context
We want to update the layer colors in Builder.

Design issue: https://github.com/CartoDB/design/issues/1036#issuecomment-346604367

This was already done in https://github.com/CartoDB/cartodb/pull/13185/commits/97e3433cc7ab714623fa278cb9b5f20afa457e0b, but we had to revert it because we are persisting the color so we ended up with to different colors in the layer list/analysis, more in

[2017-12-15 10:59] matallo commented on #13233
LGTM, we're already persisting the layer letter, and the color is deterministic 👍

[2017-12-15 11:05] rubenmoya commented on #13222
In production! 🚀

[2017-12-15 11:05] #13222 closed

[2017-12-15 11:19] jesusbotella commented on #13200
Already deployed to production! 🎉

[2017-12-15 11:19] #13200 closed

[2017-12-15 11:33] rubenmoya opened #13235 "Tooltip not removed when editing an analysis"
### Context

![tooltip](https://user-images.githubusercontent.com/905225/34040458-101e5202-e194-11e7-9900-10ae7ff7f37b.gif)

### Steps to Reproduce
1. Place the mouse on top of an analysis
2. Click on it

### Current Result
The tooltip stays there floating in the air

### Expected result
The tooltip is removed

[2017-12-15 11:35] jesusbotella commented on #13235
I saw this behaviour when adding a new geometry too.

It happens when adding a new line, or a new polygon. But it doesn't fail when adding a new point, surprisingly.

[2017-12-15 11:39] rubenmoya commented on #13235
Thank you! Let's fix it in this PR too :)

[2017-12-15 11:54] ramiroaznar commented on #13200
cc @piensaenpixel

[2017-12-15 12:32] csobier commented on #13227
There is a huge backlog of all the new UI changes and the live guides. I'm waiting for onboarding project to end, as I have to update every single guide (the content, all images, all gifs- in addition to all our internal Wikis). (We're also restructuring the Learn code behind the scenes so I am blocked from making any updates at the moment as well).

I'm moving this to the Learn repo and will add

[2017-12-15 12:33] #13227 closed

[2017-12-15 12:33] csobier commented on #13227
Issue moved to [CartoDB/learn #501](https://github.com/CartoDB/learn/issues/501) via [**ZenHub**](https://www.zenhub.com/)

[2017-12-18 09:15] ivanmalagon commented on #13182
Fixed in https://github.com/CartoDB/Windshaft-cartodb/issues/776

We were requesting the total data range for histograms using `start` and `end` because of them being affected by filters. After the linked PR, the total range is requested with no `start` and `end`.

[2017-12-18 09:15] #13182 closed

[2017-12-18 09:16] #13070 closed

[2017-12-18 09:17] ivanmalagon commented on #13070
Bug mentioned above in https://github.com/CartoDB/cartodb/issues/13070#issuecomment-344228542 fixed with the closing of [Windshaft #792](https://github.com/CartoDB/Windshaft-cartodb/issues/792)

[2017-12-18 09:19] ivanmalagon commented on #13059
All things related to histograms closed due to [Windshaft #7760 ](https://github.com/CartoDB/Windshaft-cartodb/issues/776)

Pending work with category totals and double map instantiation. Opening their own tickets.

[2017-12-18 09:19] #13059 closed

[2017-12-18 09:47] jesusbotella commented on #13049
Deployed to the production environment! 👏

[2017-12-18 09:47] #13049 closed

[2017-12-18 09:54] gonzalosr opened #13240 "Sync dataset options box doesn't show when adding dataset from a map"
### Context

Smoke test cobaya-ing

### Steps to Reproduce
1. Enter a map
1. Push `ADD` button to add a new dataset.
2. Select `CONNECT DATASET` tab
3. paste a legit dataset URL (like `https://javi.cartodb.com:443/api/v2/sql?q=select%20*%20from%20javi.paradas_metro_madrid&format=geojson`)
4. Hit `submit`

### Current Result
It doesn't show the dataset sync options

![submit_from map](https://user-

[2017-12-18 09:55] arianaescobar commented on #13049
Great! Thank you :)

[2017-12-18 10:31] ivanmalagon opened #13241 "Refactor how we fetch category totals"
### Context

This issue comes from https://github.com/CartoDB/cartodb/issues/13059

Now, we can retrieve widget data with no filters affecting them. This has been implemented in histograms but we need to apply it to category widgets as well.

More info in the ticket referred above.

If possible, study also the endpoint used to search categories. As expressed here https://github.com/CartoDB/Windsha

[2017-12-18 10:33] ivanmalagon opened #13242 "Avoid double instantiation of the map"
### Context

When Builder instantiate a map, it first send the map config with no filter param to fetch the total data ranges. Then, it instantiates the map again providing the filter param.

Now, Maps API provides a way to query dataviews with no filters affecting them so we can avoid this double configuration.

Histograms are already using them.

As soon as https://github.com/CartoDB/cartodb/iss

[2017-12-18 12:34] juanignaciosl commented on #13231
How come this is in Done but open?

[2017-12-18 12:44] ramiroaznar commented on #9002
Ey @CartoDB/design if I push this to RT, are the assets ready to add the other category ramps to BUILDER?

[2017-12-18 12:53] piensaenpixel commented on #9002
nop, push it :)

[2017-12-18 13:16] rubenmoya commented on #13235
Working like a charm! ✨  To deploy!

[2017-12-18 13:44] matallo commented on #13233
production 🚀

[2017-12-18 13:44] #13233 closed

[2017-12-18 14:15] arianaescobar commented on #13219
Hey guys, regarding this one: there are a bunch of tooltips' messages left to be defined. We still don't have them ready for the Widget options and we're also adding a bunch of them in every Analysis option. So, we could add the ones we already have (not that many) or wait until we have them all an add them then. Your call!

[2017-12-18 14:29] rubenmoya commented on #13235
In production 🚀

[2017-12-18 14:29] #13235 closed

[2017-12-18 14:36] arianaescobar opened #13244 "Make widgets appear on top"
Right now when new widgets are added they appear at the bottom (both in the Widgets List and the widget itself). We want them to appear on top always, so they have the same behavior as Layers and so that the user can always see their new widget when added (even if they already have a bunch of them).

[2017-12-19 09:51] elenatorro opened #13247 "Use Nginx to serve static pages"
### Context
In order to continue with the FE/BE Split, we need to make a proof of concept of how to serve static pages through Nginx. The purpose is to test this approach locally and then talk with infrastructure to see how can we integrate it in the project.

Related Issues
* https://github.com/CartoDB/cartodb-platform/issues/3798
* https://github.com/CartoDB/cartodb/issues/12666

Related PRs
* h

[2017-12-19 09:56] matallo commented on #13247
🙌

[2017-12-19 10:14] #13113 closed

[2017-12-19 10:15] #13079 closed

[2017-12-19 13:42] arianaescobar opened #13251 "Don't show dropdowns when there is only one option available"
### Context

Across Builder, we continually show dropdowns even when there's only one option available in said input. We have to stop showing dropdowns in those scenarios.

![unnecessary-dropdowns](https://user-images.githubusercontent.com/16247628/34162770-218ef570-e4d5-11e7-83af-ff5af0241981.gif)

### Current Result

A few examples:

<img width="712" alt="screen shot 2017-12-19 at 14 36 00" src=

[2017-12-19 13:44] arianaescobar commented on #13229
Hey @andy-esch, this should be a ticket in the Design repository so we can come up with the visual solution for it.

As a rule of thumb, request new Builder features there :)

[2017-12-19 13:56] arianaescobar commented on #12441
This is getting developed in another ticket :)

[2017-12-19 13:56] #12441 closed

[2017-12-19 13:57] arianaescobar commented on #11865
This has been fixed already.

[2017-12-19 13:57] #11865 closed

[2017-12-19 13:59] #10818 closed

[2017-12-19 14:04] arianaescobar commented on #7846
Yeah

[2017-12-19 14:04] #7846 closed

[2017-12-19 14:14] arianaescobar commented on #11412
Fixed!

[2017-12-19 14:14] #11412 closed

[2017-12-19 14:55] arianaescobar opened #13253 "In the Add Widgets modal, the last node should be the default one"
Right now, if you add a widget from the DATA tab of a layer, they always use the last node of said layer. But, if you do it from the Add Widget modal, the node selected by default is normally a Source one. It should always be the last node.

[2017-12-19 14:57] nobuti opened #13254 "[F/B Split] Builder view"
Turn Builder view into a static view.

[2017-12-19 15:02] matallo commented on #13254
woop

[2017-12-19 15:04] arianaescobar opened #13256 "Remove card's hover state when hovering the dataset/node inside"
### Context

If you hover over the dataset of a card, only that element should have a hover state. Right now both that element and the card show the hover state and is misleading.

### Current Result

![confusing-hover](https://user-images.githubusercontent.com/16247628/34162862-78f81b34-e4d5-11e7-881d-68cd25dd003e.gif)

![confusing-hover-2](https://user-images.githubusercontent.com/16247628/34162

[2017-12-19 15:28] csobier commented on #11406
@matallo, this one is auto-generated by a script so I can't edit the front-end text. Can you fix the parsing?

https://github.com/CartoDB/cartodb/search?utf8=%E2%9C%93&q=requiredInputGeometries&type=

[2017-12-19 15:36] andy-esch commented on #13229
👍 Moved to CartoDB/design#1142

[2017-12-19 15:36] #13229 closed

[2017-12-19 15:38] arianaescobar commented on #13229
Thanks @andy-esch :)

[2017-12-19 16:18] Algunenano commented on #12522
As part of https://github.com/CartoDB/support/issues/1192 I've removed the png and jpg/jpeg files from the Dropbox import. After seeing this issue I wonder where is the assets imports taking place? Could it have been broken by my changes (no longer showing images)?

cc/ @juanignaciosl

[2017-12-19 16:30] Algunenano opened #13259 "Dropbox: Use a Chooser/Picker instead of showing all files"
### Context
What we currently do to select a Dropbox file for synchronisation is to read all files from the user account and list the ones with the proper extension for the user to choose which one she wants.
The problem comes when the user has thousands of valid files. Not only listing files might timeout (2 minutes max) but the UI showing thousands of files is far from usable. See https://github

[2017-12-19 16:57] juanignaciosl commented on #12522
Damn...

I CR'd your fix, which was nice, and checked that we don't support uploading assets, neither for avatars, nor organization icons or Builder... but I overlooked Editor :( Editor allows uploading assets from Dropbox. We should fix that :(

[2017-12-19 16:57] juanignaciosl commented on #12522
cc @ramiroaznar to move this to RT.

The current issue is "allow image (only) for asset loading at Editor".

[2017-12-19 17:02] juanignaciosl opened #13260 "NoMethodError: undefined method `has_feature_flag?' for nil:NilClass at show_protected_embed_map"
I don't know how to reproduce it, but you should be able to do it from the trace:

https://rollbar.com/carto/CartoDB/items/25261/?item_page=0&item_count=100&#instances

Anyway, a quick fix would be adding nil-safety to [the failing check](https://github.com/CartoDB/cartodb/blob/431f5113d0a3c137dddfbedecb64074bcad5185b/app/controllers/admin/visualizations_controller.rb#L413):

@viewed_user.has_feat

[2017-12-19 21:18] #12980 closed

[2017-12-19 21:18] #12957 closed

[2017-12-19 21:19] #12958 closed

[2017-12-19 21:19] #12711 closed

[2017-12-19 21:19] #12821 closed

[2017-12-19 21:19] gfiorav commented on #12493
Abandoned approach

[2017-12-19 21:19] #12493 closed

[2017-12-19 21:19] #12708 closed

[2017-12-19 21:20] #11454 closed

[2017-12-19 21:21] #10961 closed

[2017-12-19 21:21] #10766 closed

[2017-12-19 21:21] #10583 closed

[2017-12-19 21:22] #8330 closed

[2017-12-20 09:37] Algunenano commented on #12522
This is currently worked as expected, at least in local and staging machines.

Dropbox imported works using `cartodb/lib/assets/javascripts/cartodb/common/dialogs/map/image_picker/dropbox_view.js` which limits the filetypes to `acceptFileTypes:  ['png','svg','jpeg','jpg'],`. BTW, this Chooser it's what I proposed for Builder in #13259.

@juanignaciosl or @ramiroaznar  Can you confirm it's working

[2017-12-20 09:40] Algunenano commented on #13259
It appears editor is already using the Chooser at some points, for example to pick up images:
![image](https://user-images.githubusercontent.com/664253/34200614-05d9b2dc-e572-11e7-9b80-5afa7c035896.png)

IMO this is not only way faster but also more easy to navigate once you have a lot of files in your Dropbox account.

[2017-12-20 09:42] juanignaciosl commented on #12522
Oh, you're right! This should be closed, then.

[2017-12-20 09:42] #12522 closed

[2017-12-20 09:48] elenatorro opened #13261 "Hubspot Form not working on static Public Map page"
### Context
Hubspot newsletter form subscription is not shown in Public Map
![captura de pantalla 2017-12-20 a las 10 47 31](https://user-images.githubusercontent.com/3824953/34200940-3915a61e-e573-11e7-92d8-a4e33be774da.png)

### Steps to Reproduce
1. Have / create a map with Editor
2. Activate `static_public_map` feature flag for this user
3. Go to the `/public_map` page.

### Expected behaviour

[2017-12-20 10:01] arianaescobar opened #13262 "Remaining details for the Geocode analysis"
- [ ] Don't show layer onboarding messages if the user has come from the layer list for a layer that needs geocoding. [More info here](https://github.com/CartoDB/design/issues/1032#issuecomment-349951542).
- [ ] Finish updating terminology. Take a look at [this spreadsheet](https://docs.google.com/spreadsheets/d/1bskvfxssy7DfX_DvpWqQJN09cKg8OIqjfmatgUxHyno/edit#gid=1301810365) to see every piece o

[2017-12-20 10:10] ramiroaznar commented on #12522
:boom:

[2017-12-20 11:32] jesusbotella commented on #13132
@arianaescobar By disabling any other interaction you mean that clicking anywhere else in the page (except the dropdown itself) should close the dropdown?

[2017-12-20 11:43] arianaescobar commented on #13132
Yes, and that already happens. The thing is, that if you happen to click on an interactive element, that click will, in fact, close the dropdown but also activate that element. We want to prevent that last part from happening.

[2017-12-20 11:45] jesusbotella commented on #13132
Ok, I just wanted to be sure about the behaviour I need to fix!

Thank you :)

[2017-12-20 11:46] arianaescobar commented on #13132
Of course! Thanks for asking :)

[2017-12-20 15:35] #13188 closed

[2017-12-20 17:15] ethervoid opened #13266 "AR connection timeout is not working"
### Context
*Please explain here below what you were doing when the issue happened*

If you try to connect to unreachable database it will be locked for some time until it gives timeout but we don't have a defined timeout for that kind of connection

### Steps to Reproduce
*Please break down here below all the needed steps to reproduce the issue*

1. Open a rails console
2. `u = Carto::User.find_b

[2017-12-20 17:45] piensaenpixel opened #13267 "Pagination icons are missing symbols on firefox or chrome"
Related - https://github.com/CartoDB/design/issues/1147

cc @ramiroaznar

[2017-12-20 17:52] ramiroaznar commented on #13267
Good catch! It looks like all small assets are missing. :-(

[2017-12-21 10:22] arianaescobar commented on #13116
Issue update!

## To-Do

- [ ] **Preload two maps to every new Builder account**

We have our first map: [Development.around.Union.Station.zip](https://github.com/CartoDB/cartodb/files/1578759/Development.around.Union.Station.zip) | @makella will have the second one ready soon!

- [ ] **Update the initial onboarding tour** to reflect these preloaded maps

We'll share the changes as soon as we have

[2017-12-21 10:32] juanignaciosl commented on #13116
End of January, if we're lucky U_U

cc @jorgesancha

[2017-12-21 10:38] juanignaciosl opened #13268 "undefined method `can_change_email?' for nil:NilClass at update me"
[trace](https://rollbar.com/carto/CartoDB/items/25453/?item_page=0&item_count=100&#instances).

[2017-12-21 11:53] rubenmoya commented on #11406
No more `unknown` geometries! To deploy! :shipit:

![screen shot 2017-12-21 at 12 52 54](https://user-images.githubusercontent.com/905225/34254781-feb4ad72-e64d-11e7-839c-83ef90bb9340.png)

[2017-12-21 14:02] matallo commented on #13110
in production 🚀

[2017-12-21 14:03] #13110 closed

[2017-12-21 15:23] rubenmoya commented on #13244
In production! 🚀

[2017-12-21 15:23] #13244 closed

[2017-12-21 17:10] jesusbotella opened #13271 "Component consolidation between Builder and DeepInsights"
As we are thinking about [merging Builder and DeepInsights](https://github.com/orgs/CartoDB/teams/frontend/discussions/1) into the same codebase, there is some room for improvements here related to components, like component consolidation.

We have detected two main differences between components in Builder and DI:

- Tipsy Tooltips (https://github.com/CartoDB/cartodb/issues/13194)
- Dropdown Over

[2017-12-21 17:16] bb-acarrera opened #13272 "datasources_factory_spec opens and parses the configuration file"
### Context
The unit test suite for datasources_factory (https://github.com/CartoDB/cartodb/blob/master/services/datasources/spec/acceptance/datasources_factory_spec.rb) has it's own logic to open and parse the app_config.yml file.  Having this separate cause a couple potential issues:
1) It does not honor the RAILS_ENV variable to use the correct configurations
2) Adds extra maintenance

This sho

[2017-12-21 17:50] matallo commented on #13271
awesome! thanks @jesusbotella

[2017-12-22 09:16] elenatorro opened #13277 "Redirect to login if the user is not logged in static pages"
Static pages where the user has to be logged in must handle redirection to the login page, otherwise static pages will fail when serving them through Nginx.

[2017-12-22 11:06] rubenmoya commented on #13122
In production! 🚀

[2017-12-22 11:06] #13122 closed

[2017-12-22 12:16] elenatorro commented on #13261
Fixed, closing it.

<img width="672" alt="captura de pantalla 2017-12-22 a las 13 14 32" src="https://user-images.githubusercontent.com/3824953/34297754-4dda2874-e71a-11e7-83d4-48c492a930c9.png">

[2017-12-22 12:16] #13261 closed

[2017-12-22 14:07] arianaescobar opened #13278 "Tiny fix for the new analysis list UI"
- [x] The "Edit Analysis" tooltip shouldn't appear over the selected analysis.
- [x] The "Edit Analysis" tooltip shouldn't appear over an unapplied analysis.

![image](https://user-images.githubusercontent.com/16247628/34300757-d215bd60-e729-11e7-8071-23622f9b79db.png)

[2017-12-22 15:09] csobier opened #13279 "Renamed dataset column does not appear on the Analysis tab"
Since the Geocode analysis workflow change, when renaming a column from a selected layer Data View, the renamed columns do not appear. @urbanphes

I am forced to refresh the browser or go back to the LAYERS list; which means I have to select the layer again.

### Context
When geocoding a map layer, rename a column name from the Data View before applying the analysis.

![image](https://user-images.

[2017-12-22 15:47] csobier opened #13281 "Analysis results not appearing"
@urbanphes, ever since the Geocode workflow change, the Analysis results screen is not appearing after running the the Geocode analysis? I'm noticing this for all Geocode TYPES selected.

FYI: The Analysis results _still appear_ correctly after other analysis (not Geocode) are run. However, there is some weirdness where I won't see the analysis results if I re-run an analysis?

Can you define the

[2017-12-22 17:47] Jesus89 opened #13284 "Merge Deep Insights with Builder :boom:"
More info [here](https://github.com/orgs/CartoDB/teams/frontend/discussions/1)
---
DO NOT CREATE NEW PRS IN DI UNTIL THIS TICKET IS CLOSED
---

[2017-12-23 18:36] piensaenpixel opened #13285 "Only one type of widget is available"
With this .carto file

[Elecciones Cataluñas 21D (on 2017-12-23 at 18.33.21).carto.zip](https://github.com/CartoDB/cartodb/files/1584363/Elecciones.Catalunas.21D.on.2017-12-23.at.18.33.21.carto.zip)

 if i try to add a widget there is only one time-series available
![image](https://user-images.githubusercontent.com/1214201/34321863-6e74c860-e818-11e7-9c36-99328b98b304.png)

[2017-12-23 18:42] piensaenpixel opened #13286 "Georeference state is not available"
I have this map (https://team.carto.com/u/piensaenpixel/builder/73a9819a-17d8-451c-8dd7-7a45809c01ad/embed)  with a non-georeference layer (imported from a .carto) and the non-georeference state is not available

![image](https://user-images.githubusercontent.com/1214201/34321887-2a89f6ba-e819-11e7-8e52-3d33d764f31b.png)

.carto --->  [Elecciones Cataluñas 21D (on 2017-12-23 at 18.33.21).carto.zi

[2017-12-26 12:40] juanignaciosl opened #13288 "Improve API Key API"
In order to release soon, we're going to concede some technical debt to #13199.

# Validation simplification

- fail if there's 'config'.
- fail if inheritsFromDefault (or any other attribute) is sent.

Two first issues should be easily handled by ActiveRecord validation, thanks to json schema validator. The current issue is that `Carto::TablePermissions` and `Carto::ApiKeyGrants` currently make s

[2017-12-26 14:07] juanignaciosl opened #13291 "Address API Key creation limitations"
- ~`create` grant~ Not needed for the first release.
- [x] `"apis"` side is always created; is that correct?

[code]

[2017-12-26 15:13] matallo commented on #11406
in production! 🚀

[2017-12-26 15:13] #11406 closed

[2017-12-26 15:13] matallo commented on #13134
in production! 🚀

[2017-12-26 15:14] #13134 closed

[2017-12-26 15:17] Jesus89 commented on #13284
Closed by: https://github.com/CartoDB/cartodb/pull/13287

[2017-12-26 16:00] Jesus89 commented on #13284
In production! :rocket:

[2017-12-26 16:00] #13284 closed

[2017-12-27 12:40] piensaenpixel opened #13297 "Header in export as image is broken"
we need to add the 'Breadcumb'

![image](https://user-images.githubusercontent.com/1214201/34381836-59e4f5b4-eb0b-11e7-823f-f0ea18d49470.png)

cc @matallo

[2017-12-27 13:30] rubenmoya opened #13298 "Using back arrow after adding an analysis does nothing"
### Context
When clicking back after selecting a new analysis nothing happens since the last step was a modal.

### Steps to Reproduce
1. Visit a layer
2. Click on analyses tab and click on the "Add new analysis button"
3. Select any analysis in the modal and click continue
4. Hit the browser back button without adding the new analysis

### Current Result
Nothing happens

### Expected result
I'm n

[2017-12-27 15:22] rubenmoya commented on #13297
Should it be `← Back / Export as image` with another title or `← Back` with "Export as image" as a title?

[2017-12-27 16:44] matallo commented on #13298
While I understand the user who expects to close the modal via a back button click, I wouldn't support this, and I have yet to see an example of this in other UIs: Twitter, Slack, ... these all close the modal and go back to the previous page.

[2017-12-27 18:54] andy-esch opened #13300 "hover box shows unexpected cutting-off behavior in firefox & Mac"
### Context

I have hovers enabled for a polygon layer with all fields selected:
![hover_behavior](https://user-images.githubusercontent.com/1041056/34390260-a2c0aa02-eb0c-11e7-897d-9f05f22b13ce.gif)

The hover box that shows the data shows strange / distracting clipping behavior when the mouse pointer is moved around (see GIF above). If you stop moving the pointer and wait a second or two, the fu

[2017-12-27 20:16] andy-esch opened #13301 "Alignment of 'back to dashboard' carto logo not aligned with other options in toolbar"
### Context
The alignment of 'back to dashboard' carto logo not aligned with other options in toolbar:
<img width="140" alt="screen shot 2017-12-27 at 15 01 13" src="https://user-images.githubusercontent.com/1041056/34392197-a3b2c434-eb18-11e7-90b9-94bf18665e54.png">

### Steps to Reproduce

1. Open a map and look at the toolbar on the left

### Current Result

CARTO back to dashboard logo is alig

[2017-12-28 08:14] rubenmoya opened #13303 "Extra padding in widgets in small viewports"
### Context
Widgets are showing an extra padding in small viewports:

![screen shot 2017-12-28 at 09 10 59](https://user-images.githubusercontent.com/905225/34404652-3915d692-ebaf-11e7-8ed4-7dc71aab1c40.png)

### Steps to Reproduce
*Please break down here below all the needed steps to reproduce the issue*

1. Visit a map with widgets
2. Reduce the screen size so breakpoints are activated
3. Check

[2017-12-28 08:53] rubenmoya commented on #13132
In production! 🚀

[2017-12-28 08:53] #13132 closed

[2017-12-28 09:31] rubenmoya commented on #13262
We're not using this button styles anymore, and the placeholder is showing the old analyses workflow, what should we do with this? @CartoDB/design

![screen shot 2017-12-28 at 10 30 23](https://user-images.githubusercontent.com/905225/34406591-310c9818-ebba-11e7-8097-c2a3ba7e5509.png)

[2017-12-28 09:44] jesusbotella commented on #13301
Deploying!

[2017-12-28 10:12] matallo commented on #13281
ahoy @csobier ! from now on @alonsogarciapablo will take care of this discussions, so as much background info on the topic you could provide it will be highly appreciated 🙏

[2017-12-28 10:30] matallo commented on #13301
in production! 🚀

[2017-12-28 10:30] #13301 closed

[2017-12-28 10:52] matallo commented on #13297
In order to keep consistency I'd have it in the breadcrumb with the title being the layer, as in the edit feature (see attached)

![screen shot 2017-12-28 at 11 51 45](https://user-images.githubusercontent.com/36676/34408662-92fef196-ebc5-11e7-8e73-472d9dbdfbfa.png)

[2017-12-28 10:56] rubenmoya commented on #13297
But in this case, you are not exporting a layer but the map itself, maybe
show the map name?

On Thu, Dec 28, 2017 at 11:52 AM Carlos Matallín <notifications@github.com>
wrote:

[2017-12-28 10:57] matallo commented on #13297
@piensaenpixel please throw some light! 😄

[2017-12-28 11:31] alonsogarciapablo opened #13304 "Column actions not working on dataset view"
### Context
Playing around with Builder.

### Steps to Reproduce

1. Open any of the datasets in your account.
2. Open the contextual menu for any of the columns by clicking on the icon with three dots.
3. Click on any of the actions.

### Current Result
Clicking on any of the actions doesn't have the desired effect. The menu is closed and that's it.

![column-actions](https://user-images.githubus

[2017-12-28 11:39] jesusbotella commented on #13304
It should be related to https://github.com/CartoDB/cartodb/issues/13132

Let me see what happens and fix it.

[2017-12-28 11:41] alonsogarciapablo commented on #13304
I added this to the Response Team kanban and hopefully @IagoLast can take care of it. @jesusbotella you can probably give him some more context! Thanks!

[2017-12-28 11:46] piensaenpixel commented on #13297
I think it should be something like this

![image](https://user-images.githubusercontent.com/1214201/34409918-27d717ce-ebcd-11e7-9fdd-73ef63578cb9.png)

does it sounds ok?

[2017-12-28 11:50] rubenmoya commented on #13297
Looks good to me :)

[2017-12-28 11:52] alonsogarciapablo commented on #13304
cc: @CartoDB/support

[2017-12-28 11:55] jesusbotella commented on #13304
It does happen with contextual menus within table cells as well.

I am talking with @IagoLast to fix it as soon as possible.

[2017-12-28 12:07] juanignaciosl opened #13305 ""query is required" error dragging out analysis"
### Steps to Reproduce

1. Create a new map importing [guess_latitude_longitude.csv.zip](https://github.com/CartoDB/cartodb/files/1591155/guess_latitude_longitude.csv.zip) (although I think that any other dataset would work).
2. Add a centroid analysis (default parameters).
3. Then, drag the analysis out of the layer (in order to create another layer).

### Current Result

The left layer gets stuc

[2017-12-28 12:10] #13170 closed

[2017-12-28 12:10] #13171 closed

[2017-12-28 12:13] rubenmoya commented on #13305
Seems to be related to the changes made in: https://github.com/CartoDB/cartodb/issues/13110

[2017-12-28 12:51] ramiroaznar commented on #13305
cc @jsanz

This was reported some days ago here: https://github.com/CartoDB/support/issues/1231 This bugazo needs to be fixed.

[2017-12-28 13:40] juanignaciosl commented on #13268
Can't reproduce and can't come up with a way to make `current_viewer` nil, given a valid session.

[2017-12-28 13:40] #13268 closed

[2017-12-28 14:20] urbanphes opened #13308 "The add analysis button is wrong aligned"
### Context
On the zero case and when there is an analysis, the add new analysis button is not aligned on the same position.

### Steps to Reproduce
![artboard](https://user-images.githubusercontent.com/14546701/34413248-7772cea8-ebe2-11e7-9cba-7a6659a1a4d1.png)

### Current Result
There are some pixels of difference. Isn't in the same place.

### Expected result
The button should be in the same p

[2017-12-28 14:42] andy-esch commented on #13301
Speed demons! Nice work :)

[2017-12-28 15:33] piensaenpixel opened #13311 "Disable following analysis steps"
To avoid confusion when the analysis is sequential we are going to disable the next step until the previous one is filled.

cc @alonsogarciapablo @inigomedina @matallo

Related -https://github.com/CartoDB/design/issues/1113
Invision - https://invis.io/HFF50XBE7

[2017-12-28 16:04] rubenmoya commented on #13278
In production! 🚀

[2017-12-28 16:04] #13278 closed

[2017-12-28 16:26] alonsogarciapablo commented on #13281
I guess we're referring to this overlay with info about the result of the analysis:

![screen shot 2017-12-28 at 15 20 39](https://user-images.githubusercontent.com/390398/34413296-bd1829e4-ebe2-11e7-9ddc-e5c903aecc79.png)

I'm missing some context here but I talked to @matallo and he explained to me that right now that overlay is only displayed the first time a given analysis finishes.

[2017-12-28 16:39] IagoLast commented on #13304
Fixed in [4.10.156](https://github.com/CartoDB/cartodb/commit/f841c76ea482849f0615e7ad0277e19900b848f0)

[2017-12-28 16:39] #13304 closed

[2017-12-28 16:41] juanignaciosl opened #13312 "uninitialized constant Carto::Db::Connection"
Trace: [1](https://rollbar.com/carto/CartoDB/items/25491/occurrences/35221294549/).

[2017-12-28 17:25] jesusbotella commented on #13297
In production! 🚀

[2017-12-28 17:25] #13297 closed

[2017-12-28 17:52] jesusbotella commented on #13194
I am unifying tooltip style between Builder and DI, as DI has been merged with the builder, and I am facing an issue that needs some help from @CartoDB/design.

When showing `More options` tooltip in the first widget of the row, it has overflowed and is misaligned as in this screenshot:
![screen shot 2017-12-28 at 18 36 08](https://user-images.githubusercontent.com/4319728/34418485-abc332ee-ebfe-1

[2017-12-28 18:01] juanignaciosl opened #13317 "Data view shows empty colums"
### Steps to Reproduce

1. Create a new map importing [guess_country_reduced.csv.zip](https://github.com/CartoDB/cartodb/files/1591784/guess_country_reduced.csv.zip) (although I think that any other one will do the same).
2. Go to the layer.
3. Enable data view.

### Current Result

An (almost) empty table is shown, data is missing:

![captura de pantalla 2017-12-28 a las 18 59 04](https://user-im

[2017-12-28 23:18] rubenmoya commented on #13317
Related to https://github.com/CartoDB/support/issues/1210, there is already a PR open https://github.com/CartoDB/cartodb/pull/13289

[2017-12-29 08:06] #13312 closed

[2017-12-29 08:29] rubenmoya commented on #13133
I've been moving a few layers around and none of that things happens to me, are there any specifics steps to reproduce it?

[2017-12-29 08:51] piensaenpixel commented on #13194
hey @jesusbotella it could be great if we have a smart tooltip and it appears depending if it has enough space or if it doesn't, we can align it to the left side

[2017-12-29 08:51] IagoLast commented on #13317
Fixed in https://github.com/CartoDB/cartodb/pull/13289

[2017-12-29 08:51] #13317 closed

[2017-12-29 08:58] urbanphes commented on #13194
+1 to @piensaenpixel comment.

But if we couldn't be done it, I would make the tooltips come out from the right to left, as a @jesusbotella  show as the last option.

[2017-12-29 09:16] matallo commented on #13194
we're already doing so for dropdowns, take your time and research how to properly do this with the tooltips @jesusbotella something like `gravity: auto`?

[2017-12-29 11:37] matallo commented on #13115
in production! 🚀

[2017-12-29 13:50] matallo commented on #13262
in production! 🚀

[2017-12-29 13:50] #13262 closed

[2017-12-29 17:03] #13115 closed

[2018-01-02 08:24] jesusbotella commented on #13194
Yes, it is a good idea!

[2018-01-02 09:24] ramiroaznar commented on #13300
I was not able to replicate the issue in Firefox 57.0.3. Could you share the .carto? @andy-esch

[2018-01-02 09:51] ramiroaznar commented on #13279
AFAIK this is an expected behavior (not desired). In order to show the renamed field on the UI, you need to force to refresh... @alonsogarciapablo

[2018-01-02 09:58] ramiroaznar commented on #13286
![image](https://user-images.githubusercontent.com/5215798/34480247-8e5e217c-efab-11e7-8160-b8c8079cd524.png)

I was not able to replicate the issue. I found a issue (bug?), I was able to import the .carto but without the `resultados_elecciones`. I will open the issue.

[2018-01-02 09:59] ramiroaznar commented on #13286
Update. The second time you go to BUILDER main menu, the behavior reported is showed:

![image](https://user-images.githubusercontent.com/5215798/34480332-0cf214a8-efac-11e7-8373-871fc84dc93f.png)

[2018-01-02 10:39] ramiroaznar commented on #13267
Fixed!

[2018-01-02 10:39] #13267 closed

[2018-01-02 10:45] arianaescobar commented on #13133
Not really...

I can't reproduce the drag-n-dropping issues right now either, but I do keep getting into the moved layer when reordering layers. That doesn't happen to you?

[2018-01-02 10:45] ramiroaznar commented on #13285
We need STR because it looks like the issue is related to the layer nodes. I was not able to replicate the issue replicating your map from the ground up:

![image](https://user-images.githubusercontent.com/5215798/34481424-5f904922-efb2-11e7-8a50-37e16be529a3.png)

![image](https://user-images.githubusercontent.com/5215798/34481432-6c8bef6e-efb2-11e7-8c36-495df3ad3e5d.png)

Do notice that the laye

[2018-01-02 12:20] amartinj commented on #13291
For now we are not going to focus on `create` grants

[2018-01-02 14:07] amartinj opened #13321 "Regenerate API Key Token"
POST request
A standard POST http request with the API key to be regenerated, including a master API key.

POST (/u/username)/api/v3/api_keys/<<apiKeyId>>/token/regenerate
Authorization: Basic base64(<<userName>>:<<masterApiKeyToken>>)
Process

Auth API will check the http header Authorization API key exists and is of type master.
Gets the API key to be regenerated
Creates a new Token an assigns i

[2018-01-02 14:25] andy-esch commented on #13300
Here you go @ramiroaznar (zipped .carto file)
[life_expectancy map (on 2018-01-02 at 14.23.58).carto.zip](https://github.com/CartoDB/cartodb/files/1597771/life_expectancy.map.on.2018-01-02.at.14.23.58.carto.zip)

[2018-01-02 14:40] csobier opened #13322 "Map View and Data View behavior is buggy"
@alonsogarciapablo , when switching between the Map View and Data View in Builder, the behavior is inconsistent. I tried with a random sample of maps and it is happening for all.

Note that this is recent behavior (it did not happen a week ago, the last time I used Builder before the holidays).

![dataview_issues](https://user-images.githubusercontent.com/13319925/34487077-b2da61f6-efa0-11e7-99ba-

[2018-01-02 14:40] ramiroaznar commented on #13300
Again, I was not able to replicate the issue in Firefox 57.0.3. (Ubuntu 16.04). Tested in BUILDER and embed:

![hover](https://user-images.githubusercontent.com/5215798/34487129-3cd9619a-efd3-11e7-9e4b-cb0ef309bd61.gif)

Could any of @CartoDB/support with Mac test it please?

[2018-01-02 14:43] ramiroaznar commented on #13322
I think this should go to RT.

[2018-01-02 14:51] oriolbx commented on #13300
The error seems to be happening on Firefox 57.0.1 (64-bit) and version 57.0.3 (64-bit) in Mac, but not in Chrome Version 63.0.3239.108 (Official Build) (64-bit) browser though.

[2018-01-02 14:52] ramiroaznar commented on #13300
Thanks, @oriolbx! Let's move it to RT queue then.

[2018-01-02 16:06] csobier opened #13325 "Can't click ANALYSIS tab after applying Gecode analysis"
@alonsogarciapablo , more weirdness with new analysis workflow for Geocoding.

- Apply the GEOCODE analysis.
  The STYLE tab automatically appears.

- Click the ANALYSIS tab. You cannot. You must refresh the browser or click any other tab before selecting the ANALYSIS tab.

_Note- seems to be related to the Gecoding workflow only. When testing other analysis, I remained on the ANALYSIS tab after t

[2018-01-02 16:24] ramiroaznar commented on #13325
:-( Another one! Good catch!

[2018-01-02 16:46] juanignaciosl opened #13326 "Edit default API key"
_Review "API Key edition" section at the document, paste it here and add details as needed before beginning development._

[2018-01-02 16:47] juanignaciosl opened #13327 "GET API keys"
_Review "Get an API Key" and "Get API Keys by user" sections at the document, paste it here and add details as needed before beginning development._

For pagination, follow [HAL specification](https://github.com/mikekelly/hal_specification) and [IANA link relations](https://www.iana.org/assignments/link-relations/link-relations.xhtml).

[2018-01-03 08:45] jesusbotella commented on #13194
Just one quick question, I am testing the tooltip autoposition but I do not know what to do in this case.

In the second widget of the row, the tooltip could be positioned on top of the three dots shape but only if it is moved to the left. Would it be acceptable? Or is it better to position the tooltip in the center of the arrow?

Here I attach you the example:
<img width="288" alt="screen shot 20

[2018-01-03 09:37] arianaescobar commented on #13194
I would say 👍🏼 to the first option but let's wait for a confirmation from @urbanphes since I believe he was the one who originally designed them.

[2018-01-03 10:12] IagoLast commented on #9002
@ramiroaznar  do we have a ramp list?

[2018-01-03 10:19] ramiroaznar commented on #9002
Yes, you can find a wiki [here](https://github.com/CartoDB/research/wiki/Qualitative-Palettes). But I suppose, there will be another one in [cartocolors repo](https://github.com/CartoDB/CartoColor). [Here](https://github.com/CartoDB/CartoColor/blob/master/cartocolor.js), for instance.

[2018-01-03 10:19] ramiroaznar commented on #9002
adding @arianaescobar to the loop in case you need a hand from design

[2018-01-03 13:26] juanignaciosl opened #13329 "Add support for API key at header"
Currently, `api_key` must be provided as a parameter.

Now, a header should be also supported:

`Authorization: Basic base64(<<userName>>:<<masterApiKeyToken>>)`

cc @amartinj @enekid @dgaubert

[2018-01-03 14:50] rubenmoya commented on #13133
No it doesn't :(

[2018-01-04 14:06] #13321 closed

[2018-01-04 15:10] ramiroaznar commented on #9002
Hey @matallo can any of Bravo team give a hand to @IagoLast?

[2018-01-04 15:16] jesusbotella commented on #13305
In production!

[2018-01-04 15:16] #13305 closed

[2018-01-04 15:17] amartinj commented on #13288
I would say that That's something the database handles correctly. When accessing the api, an error would the thrown because the queried database won't exist

[2018-01-04 15:22] amartinj commented on #13288
returning errors when the request payload includes unnecessary fields complicates the design too much and it doesn't add value since what really matters is the response of what does the api key looks like. We will only validate `grants` structure

[2018-01-04 15:43] andy-esch opened #13332 "Long widget title obscures menu"
### Context
If you have a widget with a long title, the edit menu is obscured by the title. See second widget in this list:

<img width="330" alt="screen shot 2018-01-04 at 10 43 57" src="https://user-images.githubusercontent.com/1041056/34571336-3479c03e-f13c-11e7-8655-243521954798.png">

### Steps to Reproduce

1. Create a widget with a long title
2. Observe that the edit menu is obscured

### C

[2018-01-04 16:02] juanignaciosl opened #13333 "Delete API Key entries when tables get deleted"
An API Key contains references to tables. When a table is deleted, we should clean that. Otherwise, we must take that case into account whenever that metadata is used.

- [ ] ~Delete API key entries when tables get deleted.~
- [ ] ~Ensure that API key deletion is clean. If you run~ `spec/requests/carto/api/api_keys_controller_spec.rb`, you see this message ([context](https://github.com/CartoDB/car

[2018-01-04 16:03] juanignaciosl commented on #13288
Yes, but we'd be storing a API key with grants that points to a table that doesn't exist. That's an inconsistency. If we don't do anything, for example, the UI might try to display them. Not urgent, but I've just opened an issue about that: #13333.

Ferpect tradeoff!

This can be closed then, can't it?

[2018-01-04 16:23] amartinj commented on #13288
yes!

[2018-01-04 16:26] #13288 closed

[2018-01-04 18:04] matallo commented on #13256
in production! 🚀

[2018-01-04 18:04] #13256 closed

[2018-01-04 18:05] matallo commented on #13308
in production! 🚀

[2018-01-04 18:05] #13308 closed

[2018-01-04 20:05] elenatorro opened #13336 "Enable CORS for allowed hosts in app_config.yml"
For the FE/BE Split, it would be possible to have the backend API and the client application in different hosts. I am not sure about this issue, but I would like to discuss it.

[2018-01-05 10:44] urbanphes commented on #13308
Bravo !! 👏

[2018-01-05 11:01] urbanphes commented on #13194
@jesusbotella Oks for the 1st option, also for the tooltips I would never use 2 lines, It's more difficult to read.

For all of us, **_Is this only affected by the tooltips place it at the border?_**
At the beginning, these tooltips (top & bottom) was designed with the indicator in the middle ...

<img width="291" alt="captura de pantalla 2018-01-05 a las 11 58 23" src="https://user-images.githubu

[2018-01-05 11:13] urbanphes opened #13337 "Line subnavigation 2px instead of 1px"
### Context
The bottom line on the subnav looks like with 2px height instead of 1px as the top bar nav.

### Steps to Reproduce
![line_subnav](https://user-images.githubusercontent.com/14546701/34606944-983c46d4-f211-11e7-8460-6fe04f0b45af.gif)

### Current Result
2px height

### Expected result
1px height

### Browser and version
<img width="396" alt="captura de pantalla 2018-01-05 a las 12 12 34

[2018-01-05 11:24] urbanphes opened #13338 "The start of the steps should be started at the same point"
### Context
When passing from the Pop-up to Legend tab It seems the start of the steps is not placed it at the same point. It shows like a little jump.

### Steps to Reproduce
![little_jump](https://user-images.githubusercontent.com/14546701/34607286-3a15f5f8-f213-11e7-9fba-8c2e1ec84a65.gif)

### Current Result
Now both forms start at different points

### Expected result
Both forms should start a

[2018-01-05 11:27] jesusbotella commented on #13194
@urbanphes 👍.
The number of lines in the tooltip depends on the width of the text.
If it takes more than ~200px, it will break in two lines. I think we can change that if we want.
But the image I posted above with two lines tooltip was to show you what would happen in that case but it wasn't an actual tooltip, so it won't happen in any case.

I want to make clear that this is not the default behav

[2018-01-05 11:43] urbanphes commented on #13194
Thanks for the info @jesusbotella

Regarding the tooltip width, we can modify this to 260px.

Yes, I would like to test it.

[2018-01-05 13:38] urbanphes opened #13340 "The color line of the indicator on subnav should change"
### Context
The color line of the indicator should change from soft grey to dark grey.
The new color is `#2D3C43`

### Steps to Reproduce

#### Current
<img width="396" alt="captura de pantalla 2018-01-05 a las 14 30 40" src="https://user-images.githubusercontent.com/14546701/34611361-7a7adaf2-f225-11e7-9ff0-84ebb9612df8.png">

#### New color
![captura de pantalla 2018-01-05 a las 14 30 27](https:

[2018-01-05 14:01] jesusbotella opened #13341 "Allow hover on map elements beneath CDB-OverlayContainer"
### Context
When a map is embedded into a third-party web page, user cannot hover on map elements beneath map buttons overlay layer.

![screen shot 2018-01-05 at 14 49 56](https://user-images.githubusercontent.com/4319728/34612055-6064055a-f228-11e7-9cda-9a07cb0d8226.png)

### Steps to Reproduce
1. Go to an embedded map in any webpage
2. Try to hover an element positioned below the map buttons con

[2018-01-05 14:02] jesusbotella commented on #13341
We should apply `pointer-events: none;` to CDB-OverlayContainer and fix it.

[2018-01-05 16:41] arianaescobar opened #13342 "When editing a widget, disable the rest and focus on active one"
In an effort to make obvious which is the widget you're editing, we are disabling the rest.

![widgets - category 01](https://user-images.githubusercontent.com/16247628/34618617-9798bd74-f23f-11e7-8ece-fcc603ac0d02.png)

Also, if there are many widgets on the map, and the user accesses the widget options of one that is out of sight, the widgets pane should scroll to show said widget.

Design issue

[2018-01-05 16:51] IagoLast commented on #9002
Fist working version:

[![https://gyazo.com/272e055f9ca23eafe1a2d4d4cb1f218b](https://i.gyazo.com/272e055f9ca23eafe1a2d4d4cb1f218b.gif)](https://gyazo.com/272e055f9ca23eafe1a2d4d4cb1f218b)

[2018-01-05 17:02] ramiroaznar commented on #9002
@makella please tell us which color ramp is the new default one.

[2018-01-05 17:09] ramiroaznar commented on #9002
Got the defaults!

@IagoLast please can you change the defaults:
* For numbers: `PurpOr` [BONUS]
* For categories: `Vivid`

As explained in this issue https://github.com/CartoDB/cartodb/issues/8857

@arianaescobar can you confirm that `PurpOr` color ramp for gradient/choropleth maps still works for Voyager?

[2018-01-05 17:23] arianaescobar commented on #9002
It does :)

[2018-01-05 17:28] arianaescobar commented on #9002
Oops, I might have spoken too soon. The lightest color of that ramp is quite similar to Voyager's land color so the contrast is not ideal. Could we put this one on hold until @makella returns so she can review it first?

By the way, we are also applying this change to lines and polygons, right?

[2018-01-08 08:49] ramiroaznar commented on #9002
The defaults can wait until Mamata is back (today). :-)

[2018-01-08 11:46] matallo opened #13345 "start moving common objects to factories in specs"
### Context

there are common objects such `configModel`, or `layerDefinitionModel` that are being defined again and again in the suites, we should aim to move these to factories

also, check we're just passing `requiredOpts` parameters and anything more in these factories, and for every suite; I'd do this with a helper, similarly to `.haveNoLeaks()`

finally create a tests coverage tool in order

[2018-01-08 11:57] juanignaciosl opened #13346 "Add API keys to user migrator exporter"
User export/import should support API keys migration.

File: `user_metadata_export_service.rb`. Make sure that it's exported, imported, and the proper redis keys are created. Touching DB permissions is not necessary (they will get exported/imported with pg_dump).

[2018-01-08 12:22] urbanphes opened #13347 "Improve onboarding for when user adds an empty layer"
### Context

Refer to this ticket
https://github.com/CartoDB/design/issues/612#event-1411414944

[2018-01-08 12:47] alonsogarciapablo commented on #13279
Correct. I don't think we've implemented something for this to work as @csobier describes. It probably happens in other / most? of column selectors in Builder.

[2018-01-08 15:17] jesusbotella commented on #13345
I have just finished the list of things that needs to be improved, or things that are missing in the tests due to [Improve geocoding & routing](https://github.com/CartoDB/cartodb/pull/13324) PR changes.

ApplyButtonView · Whole spec is missing
TabPaneCollection
	- [ ] Missing _getSelectedOrDefault()_ tests
	- [ ] Missing _getDefault()_ tests
	- [ ] Missing _isDisabledTab()_ tests
TabPaneItemView

[2018-01-08 15:19] matallo commented on #13345
BOOM, let's go mates

[2018-01-08 15:26] jesusbotella commented on #13345
I am going to put my name next to the category of tests that I am going to tackle so we don't do the same thing twice.

[2018-01-08 15:53] #7904 closed

[2018-01-08 15:54] ramiroaznar commented on #7744
Closing this because we do not have MailChimp connector anymore.

[2018-01-08 15:54] #7744 closed

[2018-01-08 16:00] ramiroaznar commented on #8099
Sorry, but [we decided to remove the date columns from style by value options](https://github.com/CartoDB/cartodb/issues/7873).

[2018-01-08 16:00] #8099 closed

[2018-01-08 16:06] bb-acarrera opened #13348 "Twitter date depends upon system timezone to be set to UTC"
### Context
This issue appears if the system time is in another timezone such as US Eastern (-0500 UTC) and running the twitter_spec.

### Steps to Reproduce
*Please break down here below all the needed steps to reproduce the issue*

1. Set your system time to be in US Easter (-0500
UTC)
2. RAILS_ENV=test bundle exec rspec ./services/datasources/spec/unit/twitter_spec.rb
  -> Unit test does not pa

[2018-01-08 16:06] ramiroaznar commented on #8296
Fixed!

[2018-01-08 16:06] #8296 closed

[2018-01-08 16:18] #9431 closed

[2018-01-08 16:43] ramiroaznar commented on #10155
This has been fixed.

[2018-01-08 16:43] #10155 closed

[2018-01-08 16:47] ramiroaznar commented on #10358
Fixed.

[2018-01-08 16:47] #10358 closed

[2018-01-08 16:53] ramiroaznar commented on #10592
Fixed.

[2018-01-08 16:53] #10592 closed

[2018-01-08 16:56] ramiroaznar commented on #10717
Fixed.

[2018-01-08 16:56] #10717 closed

[2018-01-08 16:57] ramiroaznar commented on #10674
Closing in favor of https://github.com/CartoDB/cartodb/issues/12098

[2018-01-08 16:57] #10674 closed

[2018-01-08 17:13] ramiroaznar commented on #11973
No activity so closing. I recommend using this Google Group next time: https://groups.google.com/forum/#!forum/cartodb

[2018-01-08 17:13] #11973 closed

[2018-01-08 17:17] ramiroaznar commented on #11728
This was fixed here https://github.com/CartoDB/cartodb/issues/13015

[2018-01-08 17:17] #11728 closed

[2018-01-08 17:56] #13348 closed

[2018-01-08 18:13] dgaubert opened #13350 "User mover error: raster/overlays + raster data"
This guide describes how to resolve a migration that fails because of #12391 and #12741 at the very same time.

1. Export user database:

   - `$ RAILS_ENV=production bundle exec rake cartodb:user_migrator:export:organization[<usename|org_name>,false]`

3. Modify the generated `import_for_<export_uuid>.json` file to point to the right destination database host:

   -  Replace template placeholder

[2018-01-08 19:19] matallo commented on #13345
updated **InfoWindowBaseView** with

- added `_initViews()`
- removed `_setContent()`

we should doublecheck the rest :/

[2018-01-09 08:46] rubenmoya commented on #13345
I'm not sure why, but the `should have no leaks` test is failing because of the `ScrollView.render` spy, removing it fixes the test and doesn't break any other tests, why were we mocking it?

[2018-01-09 09:14] #13291 closed

[2018-01-09 09:50] #13327 closed

[2018-01-09 10:15] matallo commented on #13345
fixed yesterday ^

[2018-01-09 10:24] inigomedina commented on #13177
@ivanmalagon this part of the project could be started in parallel to the current backend development. Could there anybody from the carto.js or the frontend team available to push this?

[2018-01-09 10:26] matallo opened #13351 "Unify dropdowns"
### Context

Similarly to DeepInsights tooltips consolidation in https://github.com/CartoDB/cartodb/issues/13194 we should consolidate different dropdowns we have in the application.

Find attached three different occurrences of this component, using different views for each one

![screen shot 2018-01-09 at 10 41 42](https://user-images.githubusercontent.com/36676/34716323-cf39f430-f52f-11e7-899f-

[2018-01-09 10:27] ramiroaznar commented on #13350
Related to https://github.com/CartoDB/cartodb/issues/12391 ?

[2018-01-09 10:27] matallo commented on #13271
updated the issue with the proper dropdowns reference and closing this to keep track of each separately

[2018-01-09 10:27] #13271 closed

[2018-01-09 10:28] ramiroaznar commented on #12660
Closing this because I do not see the line in Chrome. Feel free to open if you are still experiencing this issue.

[2018-01-09 10:28] #12660 closed

[2018-01-09 10:28] dgaubert commented on #13350
And #12741

It's dual combo issue.

[2018-01-09 10:30] ramiroaznar commented on #13350
Ah ok, thanks, I did not read the first line...

[2018-01-09 10:30] dgaubert commented on #13350
I mean, it's fixed. We can close it.

this issue it's more a guide to fix it than a regular issue

[2018-01-09 10:51] javitonino opened #13352 "Unnecessary shared_entities check when force deleting a user"
https://github.com/CartoDB/cartodb/blob/master/app/models/user.rb#L426

That check could be inverted to avoid doing the `shared_entities` check (expensive) in the force deletion check.

[2018-01-09 10:53] javitonino opened #13353 "Slow shared_entities check"
The `User.has_shared_entities?` check is very slow, since it implies a sequential scan of the permissions table.

Ideas:
1. Remove the check, and replace it for something that checks the `SharedEntities` model instead of the `Permissions` model. It's better optimized.
2. Index `permissions.owner_id`
3. Clean the permissions table.

[2018-01-09 10:56] javitonino commented on #13352
cc @ramiroaznar: this is a follow-up of a RT issue, so we don't get a repeat.

[2018-01-09 11:00] ramiroaznar commented on #13352
Roger that!

[2018-01-09 11:22] ramiroaznar commented on #12031
I was not able to replicate the issue. Is still happening @matallo ?

[2018-01-09 11:26] nobuti commented on #12031
As far as I can remember, this issue was fixed by @rjimenezda, I think we can close it.

[2018-01-09 11:28] #12031 closed

[2018-01-09 11:29] ramiroaznar commented on #11325
Closing this!

[2018-01-09 11:29] #11325 closed

[2018-01-09 11:30] ramiroaznar commented on #11323
I think this is fixed.

[2018-01-09 11:30] #11323 closed

[2018-01-09 11:37] ramiroaznar commented on #11307
Fixed!

[2018-01-09 11:37] #11307 closed

[2018-01-09 11:40] ramiroaznar commented on #11279
This is not happening anymore.

![image](https://user-images.githubusercontent.com/5215798/34719243-4a3b945e-f53a-11e7-98c0-f1ec4bc946f5.png)

[2018-01-09 11:40] #11279 closed

[2018-01-09 11:49] ramiroaznar commented on #11158
Fixed!

[2018-01-09 11:49] #11158 closed

[2018-01-09 11:49] ramiroaznar commented on #11159
Fixed!

[2018-01-09 11:49] #11159 closed

[2018-01-09 11:55] ramiroaznar commented on #11080
Fixed.

[2018-01-09 11:55] #11080 closed

[2018-01-09 11:58] ramiroaznar commented on #10924
This is already implemented.

[2018-01-09 11:58] #10924 closed

[2018-01-09 11:58] ramiroaznar commented on #10900
cc @alonsogarciapablo

[2018-01-09 12:00] ramiroaznar commented on #10828
Fixed. @ernesmb please reopen it if needed.

[2018-01-09 12:00] #10828 closed

[2018-01-09 12:10] ethervoid opened #13354 "Add credits popup for namedplaces analysis"
Name places analysis is using Mapzen provider by default and we have a fallback to internal geocoder in case Mapzen fails. The problem is that we are consuming users credits without saying or consulting the user so we should provide the same credits popup we have for other analysis like isolines or street geocoding.

When this change was made we didn't charge for the use of Mapzen services but now

[2018-01-09 12:18] rubenmoya opened #13355 "Inconsistent style in infoboxes"
### Context
We're using two different styles for the infoboxes in advanced mode:

![screen shot 2018-01-09 at 10 56 29](https://user-images.githubusercontent.com/905225/34720443-066bfffc-f53f-11e7-8661-f83a48f82010.png)

![screen shot 2018-01-09 at 10 56 47](https://user-images.githubusercontent.com/905225/34720444-068620b2-f53f-11e7-80ce-cc07be72f1d9.png)

### Current result
Some infoboxes are us

[2018-01-09 12:40] alonsogarciapablo commented on #10900
While we could add alt texts to some of the images in the UI, it would be really hard to add alt texts to map images... On the other hand, I don't think accessibility is one of our goals. Closing for now!

[2018-01-09 12:40] #10900 closed

[2018-01-09 13:31] ramiroaznar commented on #10774
Because the time series widget edition options have changed, it is not happening anymore.

[2018-01-09 13:45] #10774 closed

[2018-01-09 13:48] #10734 closed

[2018-01-09 13:52] ramiroaznar commented on #10721
Fixed!

[2018-01-09 13:52] #10721 closed

[2018-01-09 13:52] ramiroaznar commented on #10716
Fixed!

[2018-01-09 13:52] #10716 closed

[2018-01-09 13:58] ramiroaznar commented on #10698
After the changes implemented in this analysis UI, this is not happening anymore.

[2018-01-09 13:58] #10698 closed

[2018-01-09 14:00] ramiroaznar commented on #10667
I was not able to replicate the issue. Closing, we will open it again if this behavior is spotted again.

[2018-01-09 14:00] #10667 closed

[2018-01-09 14:07] ramiroaznar commented on #10484
Fixed here https://github.com/CartoDB/cartodb/issues/12775

[2018-01-09 14:07] #10484 closed

[2018-01-09 14:14] ramiroaznar commented on #10455
This cannot be replicated because of the changes of the Enrich with DO analysis UI.

[2018-01-09 14:14] #10455 closed

[2018-01-09 14:15] ramiroaznar commented on #10460
I think we can close this one, right @alonsogarciapablo?

[2018-01-09 14:15] ramiroaznar commented on #10417
Already implemented! :vamos:

[2018-01-09 14:15] #10417 closed

[2018-01-09 15:15] arianaescobar commented on #10699
It shouldn't be available for line datasets either.

[2018-01-09 15:19] elenatorro commented on #12098
I have made a fix in the tooltip component and added some tests. I have only seen this bug in the "Join columns from 2nd layer" filter.

<img width="1232" alt="captura de pantalla 2018-01-09 a las 16 18 51" src="https://user-images.githubusercontent.com/3824953/34727967-cfd966c2-f558-11e7-9d1e-84cdb793567e.png">

[2018-01-09 15:50] javitonino commented on #12391
I wrote https://github.com/CartoDB/cartodb-management/issues/5080 as a more generic ticket for user mover problems, since it turns our many of them are related.

[2018-01-09 16:04] urbanphes opened #13358 "Revamp lasso tool"
### Context
Refer to this ticket
https://github.com/CartoDB/design/issues/968

[2018-01-09 16:12] jesusbotella commented on #13194
In production! 👏

[2018-01-09 16:12] #13194 closed

[2018-01-09 17:10] rubenmoya opened #13360 "Tabs not being enabled/disabled when updating an analysis"
### Context
With the new geocoding/routing when updating an analysis the tabs are not being re-rendered to reflect the last state.

### Steps to Reproduce
1. Add a map with points
2. Add a subsample analysis with 0%

### Current Result
The tabs still enabled and are disabled when you click in one of them.

### Expected result
The tabs are disabled automatically

[2018-01-09 17:21] urbanphes opened #13361 "On Analysis modal the cards disabled are wrong"
### Context
The cards we show disabled are wrong:
- The color of the card
- The opacity of text and images
- The state: we allow hover state

### Steps to Reproduce
Try to add any analysis and see how it show the cards disabled

### Current Result
<img width="977" alt="captura de pantalla 2018-01-09 a las 18 09 17" src="https://user-images.githubusercontent.com/14546701/34733337-441ae97a-f568-11e7

[2018-01-09 20:45] #10460 closed

[2018-01-10 07:42] inigomedina commented on #13088
It is time to rethink this question. We are starting with the first steps for Limits v2, covering mainly rate limits. On the one hand, it does not make sense overloading `users` table. On the other hand, thinking on limits with a broader view drives us to find a good solution in terms of data design, in the line you both suggest.

I add @oleurud to the debate, so he can explain here the specific n

[2018-01-10 08:28] juanignaciosl commented on #13277
@elenatorro This has been in Charlie's triage for a while. Shouldn't this go to TODO?

[2018-01-10 08:29] juanignaciosl commented on #12666
@elenatorro should this be kept in Charlie's triage?

[2018-01-10 09:32] rjimenezda commented on #13345
I have an idea, it might be too magical to consider, but after all, this would only affects our specs, not the product.

Ideally, on a spec, I want to do this:

[code]

at most

[code]

So in order to have this, WhateverView, and all the views in the code, should expose their requiredProps somehow. These props should be written on the camelCase version of the module. So:

userModel => user-model.j

[2018-01-10 09:38] elenatorro commented on #12666
You are right @juanignaciosl, we should remove this, as it is said in this comment: https://github.com/CartoDB/cartodb-platform/issues/3798#issuecomment-356237847

[2018-01-10 09:38] #12666 closed

[2018-01-10 10:15] matallo commented on #13345
[code]

and generate the CLASS_MAP hash

[2018-01-10 10:15] matallo commented on #13345
[code]

and generate the CLASS_MAP hash

[2018-01-10 11:10] ramiroaznar commented on #13325
Fixed!

[2018-01-10 11:10] #13325 closed

[2018-01-10 11:10] ramiroaznar commented on #13322
Fixed! Vamos!

[2018-01-10 11:10] #13322 closed

[2018-01-10 11:10] matallo commented on #13322
in production! 🚀

[2018-01-10 11:11] matallo commented on #12728
in production! 🚀

[2018-01-10 11:11] #12728 closed

[2018-01-10 11:11] matallo commented on #13337
in production! 🚀

[2018-01-10 11:11] #13337 closed

[2018-01-10 11:11] matallo commented on #13340
in production! 🚀

[2018-01-10 11:11] #13340 closed

[2018-01-10 11:21] arianaescobar commented on #13347
duplicated https://github.com/CartoDB/cartodb/issues/11876

[2018-01-10 11:21] #13347 closed

[2018-01-10 11:51] #12098 closed

[2018-01-10 11:52] ramiroaznar commented on #12098
^^ @arianaescobar :tada:

[2018-01-10 11:54] arianaescobar commented on #12098
Yay!!

[2018-01-10 12:08] ramiroaznar commented on #12721
This is already fixed.

[2018-01-10 12:08] #12721 closed

[2018-01-10 12:18] ramiroaznar commented on #13354
I suppose we have already a default message for that? @CartoDB/support

[2018-01-10 12:19] ramiroaznar commented on #13354
Please @elenatorro take this one next.

[2018-01-10 12:48] rjimenezda commented on #13345
`new Klass({})` might be a model that needs some other model to work, though. And now that I think about it, probably some cases require that the - for instance -  config model is the same provided to several models, not a random one for each.

A more explicit and way less magical approach could be:

[code]

[2018-01-10 13:15] ethervoid commented on #13354
AFAIK and I've created a `Cities geocoding` analysis right now we're not showing anything

[2018-01-10 13:30] ramiroaznar commented on #13354
Sorry I mentioned support instead of @CartoDB/design. I suppose we need to add this message as we are currently doing with the `address` geocoding:

![image](https://user-images.githubusercontent.com/5215798/34775254-c4a1ba7e-f612-11e7-8552-1e881849f481.png)

[2018-01-10 13:46] #12500 closed

[2018-01-10 14:45] #12145 closed

[2018-01-10 14:50] #13352 closed

[2018-01-10 15:51] elenatorro commented on #11341
To add this feature, I think it would be needed to update `carto-zera` in order to support double click events. I would like to discuss this change with @ivanmalagon @IagoLast and @rjimenezda before continuing with this issue :)

[2018-01-10 15:54] #8661 closed

[2018-01-10 16:03] IagoLast commented on #11341
LGTM but I think we need to discuss the new events.

We have 2 new cases:

- double-click inside a feature
- double-click outside a feature

Since we wanted to keep the old wax api you have 2 kinds of events: `on` and `off`.

`on` event is fired when the user clicks or moves the mouse inside a feature while `off` is fired when the user clicks or moves the mouse outside a feature.

To distinguish b

[2018-01-10 16:12] csobier commented on #13281
@alonsogarciapablo, OK, thanks. I understand that analysis results only appear once per map now but this issue is specific to the analysis results not appearing AT ALL when running a GEOCODE analysis (for all geocode types).

I've tried for several different maps using all the geocode types, it never appears. Can you confirm?
(I trying to see the results at least once for ensuring the terminology

[2018-01-10 16:13] ramiroaznar commented on #13354
### STR

1. Create a map with a dataset with city names as columns
2. Add Geocoding analysis
3. Select `Cities`
4. Set parameters

### Current result

* There is not green popup warning the user.

### Expected result

* Sames as [here](https://github.com/CartoDB/cartodb/issues/13354#issuecomment-356602432).

[2018-01-10 16:34] javitonino commented on #12535
Nothing to do with specific naming. This is just syncs failing because the file has been deleted from the source since importing. You can see in Rollbar how each error is repeated 10 times (max retries) before giving up.

So, nothing to worry about, move along :)

[2018-01-10 16:34] #12535 closed

[2018-01-10 17:52] alonsogarciapablo commented on #13281
From what I can see, it looks like we only display the results of each analysis the first time the user runs the analysis (for every map). This means that if you already ran a GEOCODE analysis with that user, you won't see the analysis results again.

This is stored in the browser's Local Storage so you might see the results in other computers (and perhaps browser sessions?):

<img width="876" alt

[2018-01-10 17:54] csobier commented on #13281
Oh, so only once, ever. Hmmm, ok.  I will work with that behavior then. Thanks for clarifying.

[2018-01-10 17:58] alonsogarciapablo commented on #13281
This is how it works but I wasn't part of this project so I'm not sure if this is the expected behaviour.
@piensaenpixel can you clarify if this is how this should work (I'm not sure who designed this)? Thanks!

[2018-01-11 08:38] #13329 closed

[2018-01-11 09:07] urbanphes commented on #13354
Of course, if we're charging credits any analysis, we must inform our users about this.
We have this kind of infobox (screenshot @ramiroaznar) for that purpose.

[2018-01-11 10:06] inigomedina commented on #10134
Close now as it doesn't make sense anymore.

[2018-01-11 10:07] inigomedina commented on #10041
Closing now as it doesn't make sense anymore.

[2018-01-11 10:07] #10041 closed

[2018-01-11 10:08] inigomedina commented on #9790
@jsanz does this issue still make sense? Can we close it now?

[2018-01-11 10:12] #8531 closed

[2018-01-11 10:12] #8358 closed

[2018-01-11 10:13] #7837 closed

[2018-01-11 10:32] inigomedina commented on #8157
Hey @juanignaciosl, is this issue ready to be closed?

[2018-01-11 10:33] inigomedina commented on #9090
Hey @matallo, is this issue ready to be closed?

[2018-01-11 10:35] javitonino commented on #10343
The problem here is that the query is only exporting the lines/polygons, but it's missing the points that compose them. You can use the recursion operators for that. For example, in @oriolbx example:

```http://overpass-api.de/api/interpreter?data=way(50.745,7.17,50.75,7.18);out;```

Selects `ways` in a bounding box and outputs them, but not the points. To fix that, you can use:

```http://overpas

[2018-01-11 10:35] #10343 closed

[2018-01-11 10:37] inigomedina commented on #9786
Hey, @jgoizueta, is this issue ready to be closed?

[2018-01-11 10:38] inigomedina commented on #10367
Hey @juanignaciosl, does this issue still make sense?

[2018-01-11 10:49] inigomedina commented on #9932
I'm closing this issue because it has been inactive for a long time. This probably means that it is not reproducible or it has been fixed in a newer version. If it's an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue.

Thank you!

[2018-01-11 10:49] #9932 closed

[2018-01-11 10:49] inigomedina commented on #10848
I'm closing this issue because it has been inactive for a long time. This probably means that it is not reproducible or it has been fixed in a newer version. If it's an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue.

Thank you!

[2018-01-11 10:49] #10848 closed

[2018-01-11 10:50] inigomedina commented on #10658
Hey @alonsogarciapablo, is this issue ready to be closed?

[2018-01-11 10:50] inigomedina commented on #10429
I'm closing this issue because it has been inactive for a long time. This probably means that it is not reproducible or it has been fixed in a newer version. If it's an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue.

Thank you!

[2018-01-11 10:50] #10429 closed

[2018-01-11 10:51] inigomedina commented on #10030
I'm closing this issue because it has been inactive for a long time. This probably means that it is not reproducible or it has been fixed in a newer version. If it's an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue.

Thank you!

[2018-01-11 10:51] #10030 closed

[2018-01-11 10:52] inigomedina commented on #9973
Hey @matallo, does this issue still make sense?

[2018-01-11 10:53] inigomedina commented on #9567
I'm closing this issue because it has been inactive for a long time. This probably means that it is not reproducible or it has been fixed in a newer version. If it's an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue.

Thank you!

[2018-01-11 10:53] #9567 closed

[2018-01-11 10:53] inigomedina commented on #9134
I'm closing this issue because it has been inactive for a long time. This probably means that it is not reproducible or it has been fixed in a newer version. If it's an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue.

Thank you!

[2018-01-11 10:53] #9134 closed

[2018-01-11 10:54] inigomedina commented on #8059
I'm closing this issue because it has been inactive for a long time. This probably means that it is not reproducible or it has been fixed in a newer version. If it's an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue.

Thank you!

[2018-01-11 10:54] #8059 closed

[2018-01-11 10:55] inigomedina commented on #8018
I'm closing this issue because it has been inactive for a long time. This probably means that it is not reproducible or it has been fixed in a newer version. If it's an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue.

Thank you!

[2018-01-11 10:55] #8018 closed

[2018-01-11 10:55] inigomedina commented on #9690
Hey @rochoa, does this issue still make sense?

[2018-01-11 10:56] inigomedina commented on #9995
Hey @matallo, does this issue still make sense?

[2018-01-11 10:57] inigomedina commented on #10055
I'm closing this issue because it has been inactive for a long time. This probably means that it is not reproducible or it has been fixed in a newer version. If it's an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue.

Thank you!

[2018-01-11 10:57] #10055 closed

[2018-01-11 10:58] inigomedina commented on #10105
Hey @matallo, could this issue still make sense?

[2018-01-11 10:59] inigomedina commented on #10622
Hey @asimcox, does this issue still make sense?

[2018-01-11 11:00] inigomedina commented on #10625
Hey @rafatower, does this issue still make sense?

[2018-01-11 11:34] juanignaciosl commented on #10367
Well... it still happens and it might be a problem (we don't support having two torque layers in a map). But it's Editor. If we're fixing Editor bugs, we should fix it. Otherwise, we can ignore it. Anyway, after one year and a half, it's obviously not a priority.

[2018-01-11 11:37] juanignaciosl commented on #8157
I can't reproduce.

[2018-01-11 11:37] #8157 closed

[2018-01-11 11:42] #10313 closed

[2018-01-11 11:47] rafatower commented on #10625
I could reproduce it again (the image seems cached in the browser), so for some people it makes sense, yes.

[2018-01-11 11:51] oleurud commented on #13088
I need to think/define some things before talking about this. I am working on it

[2018-01-11 11:56] javitonino commented on #12391
It seems we are trying to move forward with a proper fix in postgis, so parking this for now.

[2018-01-11 12:09] #10658 closed

[2018-01-11 14:19] matallo commented on #10105
it does, not a priority tho

[2018-01-11 14:22] matallo commented on #9090
I don't think this has been fixed yet

[2018-01-11 14:26] javitonino commented on #10814
As discussed in the comments, we solved the original issue by fixing the `.gpkg` import/export process so it is lossless.

This makes sense as it is (behaviour depends on content-guessing flag) and no user has complained. I withdraw my complaint, I think we can close this.

[2018-01-11 14:26] #10814 closed

[2018-01-11 14:38] oleurud commented on #13088
We are talking about 20 and 60 new values only for rate limiting

[2018-01-11 14:47] ivanmalagon opened #13370 "Make widgets appear on top v2"
### Context
We changed the visualization order of widgets as requested in https://github.com/CartoDB/cartodb/issues/13244

More context here: https://github.com/CartoDB/support/issues/1262.

The problem is that we broke all the existing dashboards and there were multiple customer complaining about it -> https://github.com/CartoDB/support/issues/1262#issuecomment-356950503 so we had to rollback.

W

[2018-01-11 15:45] bb-acarrera opened #13371 "Billing unit tests fail if system time is set to timezone prior to UTC"
### Context
The billing unit tests (geocoding, here, data observatory, mapzen) in ./spec/models/user_spec.rb (or more specifically ./spec/models/user_shared_examples.rb) fail if the system time of the machine is set to a timezone prior to UTC such as NY EST (UTC - 0500).  This is appears to be because the billing logic assumes that timezones are in UTC, but does not enforce it.

This can be solved

[2018-01-12 09:03] javitonino opened #13378 "Master backend tests broken"
[code]

Likely related with https://github.com/CartoDB/cartodb/pull/13365

[2018-01-12 09:04] elenatorro commented on #13354
Deployed in production 🚀

[2018-01-12 09:04] #13354 closed

[2018-01-12 09:05] ethervoid commented on #13354
👏 ❤️

[2018-01-12 09:19] ivanmalagon opened #13379 "Icon marker misalignment"
### Steps to Reproduce
Style a map using a marker icon.

### Current Result
The icon preview is misaligned.

![image](https://user-images.githubusercontent.com/1078228/34867772-a9359a38-f781-11e7-8dee-d8833a1e142b.png)

[2018-01-12 09:39] matallo commented on #9995
just checked and it does

[2018-01-12 09:51] ivanmalagon opened #13381 "Time series tooltips don't show the right info"
![tooltips bug](https://user-images.githubusercontent.com/1078228/34869204-7191ca0c-f786-11e7-8bc3-8cfa74e38a6a.gif)

Support ticket: https://github.com/CartoDB/support/issues/1269

### Steps to Reproduce
1. Create a map from a dataset that has a date column
2. Create a time-series widget
3. Hover on time-series buckets.

### Current Result
All buckets show the same tooltip text.

### Expected res

[2018-01-12 10:20] rjimenezda commented on #13311
@CartoDB/design

Some analyses have multiple steps, but a second step does not depend at all on what you input on the first one.

For instance:

Centroid
![image](https://user-images.githubusercontent.com/446970/34868238-61ec4508-f783-11e7-97be-847a4c5bc07b.png)

Group points into polygons
![screen shot 2018-01-12 at 10 35 58](https://user-images.githubusercontent.com/446970/34868525-67d2740a-f784

[2018-01-12 10:21] alrocar commented on #12139
Cannot reproduce

[2018-01-12 10:21] #12139 closed

[2018-01-12 10:40] arianaescobar commented on #13311
Yes! We shouldn't disable those steps in those cases.

Regarding the last one (and also: the "Create areas of influence" and "Detect outliers and clusters" analyses), our idea is to merge both steps so it's only one. If you could do that with this ticket, awesome, if not, we'll open a new ticket for it :)

[2018-01-12 11:16] alonsogarciapablo commented on #13370
@matallo I moved this to To Do because it's something that we implemented before that we had to rollback due to some issues (more context in https://github.com/CartoDB/support/issues/1262).

[2018-01-12 11:21] amartinj opened #13383 "Remove ids from API responses"
In order to avoid internal implementation details and to make the API id independent we should remove internal Ids from being exposed.

GETting an API Key should be done by using the name.

A unique index (user_id, name) should be added to the table definition

[2018-01-12 11:34] rjimenezda commented on #13311
Like this?

![image](https://user-images.githubusercontent.com/446970/34872911-28bac6aa-f793-11e7-8190-dcd719d9ea30.png)

No problem, it's easy enough 👍

[2018-01-12 12:02] arianaescobar commented on #13311
yaaaaaaasssssssss 💖

[2018-01-12 12:11] amartinj commented on #13333
We have changed the approach. Instead of keeping metadata for the permissions of the role, we'll query the database instead, so this is automatically fixed.

[2018-01-12 14:11] arianaescobar opened #13384 "Analyses names and descriptions update"
⚠️ ⚠️ ⚠️  **THIS SHOULD BE DEPLOYED TOGETHER WITH https://github.com/CartoDB/learn/issues/520** ⚠️ ⚠️ ⚠️

--

We are improving our analyses names and descriptions in an attempt to make them easier to understand and use.

In [this document](https://docs.google.com/spreadsheets/d/1evEdrFyJEefx2-NOHU2_kDcNkKNM0_dbvJ-l9BAg2Go/edit#gid=0), you can find all the new names, descriptions, and UI copy chang

[2018-01-12 15:37] #12305 closed

[2018-01-12 17:09] gfiorav opened #13386 "Table dependencies map cards broken on Editor"
### Steps to Reproduce

0. Be on editor
1. Create a map from a private dataset
2. Go to dashboard and attempt to delete the dataset

### Current Result

The map card for the created map is broken

![screen shot 2018-01-12 at 18 07 15](https://user-images.githubusercontent.com/4222826/34886568-abeb288c-f7c3-11e7-998d-947928ae2d6f.png)

### Expected result

The map card for the created map shows up

[2018-01-12 17:19] gfiorav commented on #13386
cc/ @ramiroaznar

[2018-01-12 17:20] gfiorav commented on #13371
Essentially this means that our billing system for geocodings won't work in other timezones. Not a priority, but certainly worth considering.

cc/ @ramiroaznar

[2018-01-12 18:10] makella commented on #9002
hello all this is so great and a big step forward :)

before I go into the default selections, I am wondering if it is a global default for all geometries (points,lines,polys) or if we have the option to modify the default color scheme based on geometry type.

the old issues that are referenced here (with default selections) are specific to geometry/map types.

let me know that and then i'll provi

[2018-01-12 21:37] ramiroaznar commented on #13381
Fixed here https://github.com/CartoDB/cartodb/pull/13385

[2018-01-12 21:37] #13381 closed

[2018-01-12 21:38] ramiroaznar commented on #13379
Closing in favor of https://github.com/CartoDB/support/issues/1207

[2018-01-12 21:38] #13379 closed

[2018-01-15 08:24] elenatorro opened #13387 "Hover popups do not disappear after mouse leaves"
### Context
Hover popups in Builder are still visible when the mouse leaves the marker.

### Steps to Reproduce

1. Open any map with data.
2. Hover a marker -> a popup should appear.
3. Move the mouse to a different part of the map without any marker.
4. The popup does not disappear.

### Current Result
![more_popup_hover](https://user-images.githubusercontent.com/3824953/34933038-adda18a6-f9d5-1

[2018-01-15 08:47] ramiroaznar commented on #9002
hi @makella! :-) :heart:

We can use this issue to implement the right default ramps by geometry. So please can you tell us the default cartocolors schemes for this cases?

### Quantitative ramps:
a. Points
b. Lines
c. Polygons

### Qualitative ramps:
a. Points
b. Lines
c. Polygons

?

Looping @alonsogarciapablo

[2018-01-15 08:56] javitonino commented on #13353
Stealing this for RT, since it's blocking other RT issues. cc @ramiroaznar

[2018-01-15 08:59] ramiroaznar commented on #13353
No prob, go ahead!

[2018-01-15 09:12] #13378 closed

[2018-01-15 09:32] ramiroaznar commented on #13386
Hey @gfiorav when you said _the map card is broken_ you mean the thumbnail is not showing anything right?

[2018-01-15 09:42] ramiroaznar commented on #13386
It looks like it is happening on all cards from the maps dashboard:

![image](https://user-images.githubusercontent.com/5215798/34936147-87b7afa2-f9e0-11e7-8bb9-a46276f9b6d8.png)

Error in the console: `Failed to load resource: the server responded with a status of 404 (Not Found)`

[code]

[2018-01-15 09:43] ramiroaznar commented on #13386
Please take this one first. @enekid

[2018-01-15 09:48] ramiroaznar commented on #13387
This is a vector related bug and AFAIK we do not have a proper solution for solving this. cc @dv343 if the user complains we can move him/her to raster.

[2018-01-15 09:57] dv343 commented on #13387
We are dropping support for Tangram. Therefore, it doesn't make sense to waste time fixing it, we should move everyone with problems to raster, since we are going to move everyone to raster soon anyway.

Since @elenatorro reported it and the client didn't and since it seems that it is a problem with all vector maps we probably can ignore this.

[2018-01-15 09:57] #13387 closed

[2018-01-15 10:07] arianaescobar commented on #10718
ping @alonsogarciapablo

This is a forgotten great idea, maybe the RT could help us with it at some point.

[2018-01-15 10:17] arianaescobar commented on #11623
Closing this ticket since the invision prototype is outdated and we're starting to track this project [from here](https://github.com/CartoDB/cartodb-management/issues/5082)

[2018-01-15 10:17] #11623 closed

[2018-01-15 10:27] arianaescobar commented on #13332
Looks like this might have been fixed outside of this ticket:

![screen shot 2018-01-15 at 11 19 04](https://user-images.githubusercontent.com/16247628/34937711-15a2fc72-f9e6-11e7-9f68-aca85661d48f.png)

But if I could add a few related things:

- [ ] In the widgets, there's not enough margin between the title and the right actions. There should be 16px of separation.

![screen shot 2018-01-15 at

[2018-01-15 10:39] javitonino opened #13390 "States controller while not logged in"
https://rollbar.com/carto/CartoDB/items/23718/occurrences/35947388269/

This error triggers if `current_viewer` is null.

[2018-01-15 11:07] msaenzde11 opened #13391 "Enrich `Downloaded layer` event"
@ivanmalagon noticed while correcting a bug that a new event [`Downloaded layer`](https://github.com/CartoDB/cartodb/pull/13051/files#diff-db6a5ce184e169acb566f05d9002cffe) that we're sending to Segment only contemplates de case of _exporting data_ from the principal view of Builder, while this can also be done from the layer view and the dataset view.

In that case, would it be possible adding th

[2018-01-15 11:50] oleurud commented on #13088
We are going to use 63 new values per user and this values must be accessible from Redis. I am not sure if this is the place to explain them, but I am going to do it.

These new values are for add a rate limit for each API 'endpoint' (really it is not a simple endpoint, but from now, it is enough). For each 'endpoint', we will need to save 3 for all but one, which we will need 6 values. And ideall

[2018-01-15 11:50] #13277 closed

[2018-01-15 11:55] javitonino commented on #13386
Oki, so this is a tricky one. Basically, the auth tokens are not being sent in that request, so it fails. Fixing it is a bit convoluted:
- Add `auth_tokens` to the table presenter (backend) and check security implications.
- Read `auth_tokens` in frontend and somehow pass them to the URL generator (not trivial, as the parameters are written to DOM instead of using normal function calls).

As a not

[2018-01-15 13:25] juanignaciosl commented on #13088
Let's meet or discuss in a feature doc to understand what's actually needed and what's the best approach for this, please.

[2018-01-15 13:34] gfiorav commented on #13386
Just to leave the note here, we recently fixed a similar issue (mapcards for org private maps in dashboard).

Links:

https://github.com/CartoDB/cartodb/pull/13119
https://github.com/CartoDB/cartodb.js/pull/1928

[2018-01-15 14:16] matallo opened #13393 "render embed maps inside tab panes for mobile"
### Context

as part of the embed mobile project we should start by rendering the embed map inside a tabpane for mobile viewports

link to the invision in the project issue

[2018-01-15 14:21] jsanz commented on #9790
It's ok to close, not a big deal.

[2018-01-15 14:21] #9790 closed

[2018-01-15 14:25] amartinj commented on #13383
This issue will be split into 3 PR that will be merged in the following order:
 1. Rake to rename Api Keys with duplicate name
 1. Migration
 1. Rest of the code

[2018-01-15 14:38] gfiorav commented on #13386
Bloomberg guys found a workaround, in case it's helpful: https://github.com/cartodb-org/cartodb/pull/272/files

[2018-01-15 14:40] ramiroaznar commented on #10134
This is still happening:

![image](https://user-images.githubusercontent.com/5215798/34947393-410c5614-fa0a-11e7-929a-3997b3637bf9.png)

Users should not be allowed to chose category fields from the `OPERATION` input or chose `Category` from the STYLE BY VALUE option.

[2018-01-15 14:41] ramiroaznar commented on #13386
^^ @javitonino @elenatorro

[2018-01-15 14:42] javitonino commented on #13386
Yeah, that's the fix I went for at first, but I went further and refactor it, extracting all that code to a presenter. I don't want to keep maintaining those serialize methods :)

[2018-01-15 14:48] elenatorro commented on #13386
We have already been talking about this. These changes must also be applied to the static pages we developed for the FE/BE split.

[2018-01-15 15:07] matallo commented on #13391
for sure it is feasible

[2018-01-15 16:04] msaenzde11 commented on #13391
When taking this issue, please note that fields have to be manually added in the Backend part (https://github.com/CartoDB/cartodb-central/issues/1997).

LMK with any hesitation and for help I can provide!! Thanks :)

[2018-01-15 16:34] matallo opened #13398 "click on privacy link on datasets view does nothing"
### Context

when in datasets view of the dashboard, if you click the dats
asets link (PUBLIC, PRIVATE, ...) it should appear the privacy dialog, instead it does nothing

### Steps to Reproduce

1. go to dashboard
2. click on datasets in the header dropdown
3. click on shared datasets in the navbar
4. click on the privacy link of the dataset

### Current Result

no action

### Expected result

pri

[2018-01-15 16:52] rochoa commented on #9690
It does. My bet is that this should be fixed when we merge https://github.com/CartoDB/cartodb/pull/13147.

[2018-01-16 08:09] #13353 closed

[2018-01-16 09:09] arianaescobar opened #13402 "A few errors in the DO Analysis UI"
- [ ] We shouldn't be showing this. Is this because of where the geometry is situated?

![dropdown](https://user-images.githubusercontent.com/16247628/34979862-eb30bb42-faa2-11e7-8578-38cdc2c5e599.gif)

<img width="669" alt="screen shot 2018-01-11 at 11 00 10" src="https://user-images.githubusercontent.com/16247628/34979967-35a9ff30-faa3-11e7-82a2-a09ff5405b5a.png">

- [ ] When there are measureme

[2018-01-16 09:10] elenatorro commented on #13386
I have just checked it and @javitonino's changes are already applied to the frontend files and they work also in the static dashboard, so, it is done 🎉

![delete_dataset](https://user-images.githubusercontent.com/3824953/34980601-556150ec-faa5-11e7-8fbe-1d07e6369eb8.gif)

[2018-01-16 09:14] arianaescobar opened #13403 "Persistent form's focus state"
![focus-state](https://user-images.githubusercontent.com/16247628/34980772-cd2105fa-faa5-11e7-9406-0a28ae27527b.gif)

The focus state (black outline) should only be visible _on focus_. Right now that state is not going away in some cases.

[2018-01-16 09:17] ramiroaznar commented on #13402
@antoniocarlon can you answer Ari's questions before pushing this to the RT kanban?

[2018-01-16 09:18] ramiroaznar commented on #13386
@elenatorro let me know where can I give you the acceptance! :-)

[2018-01-16 09:21] arianaescobar opened #13404 "Disable input's interactivity signifiers when there are no options available"
In the `Join columns from 2nd layer` analysis I'm seeing this:

![join](https://user-images.githubusercontent.com/16247628/34981090-be450846-faa6-11e7-9785-ebc43051a507.gif)

If there are no options available for the "Geometry from" input (or any other input for that matter), said input shouldn't appear active with all its interactivity signifiers (hover state, focus state, cursor change...).

[2018-01-16 09:36] matallo commented on #13398
actually this is the expected behaviour for shared datasets, but we should add the tooltips to change privacy/you are not allowed to change privacy as in the dataset view

[2018-01-16 09:49] ramiroaznar commented on #12286
@javitonino can we close this?

[2018-01-16 09:50] alonsogarciapablo commented on #10718
Thanks @arianaescobar! We're in the process of reviewing and categorising all existing issues.

[2018-01-16 09:51] javitonino commented on #12286
I don't think so, I have not worked on it yet.

[2018-01-16 10:05] antoniocarlon commented on #13402
We are using the geometries' extent to get the available numerators. For example:

https://xxx.carto.com/api/v2/sql?q=SELECT%20numer_id%2C%20numer_name%2C%20numer_description%2C%20numer_type%2C%20numer_aggregate%2C%20numer_tags%20FROM%20_OBS_GetNumerators((SELECT%20ST_SetSRID(ST_Extent(the_geom)%2C%204326)%20FROM%20(SELECT%20*%20FROM%20<my_table>)%20q)%2C%20section_tags%20%3D%3E%20%27%7Bsection%2F

[2018-01-16 10:15] arianaescobar commented on #13402
@antoniocarlon I didn't understand that sorry.

[2018-01-16 10:19] ramiroaznar commented on #13402
@arianaescobar The answer is yes. I asked Antonio to let us know how BUILDER gets the numerators (measures) in order to understand if this is a backend issue or not. And it does. So to avoid showing those countries, we need to use the SQL API with `OBS_GetAvailableBoundaries` for example.

@javitonino should fix this 1st part, and @elenatorro will take care of the frontend part.

[2018-01-16 10:21] arianaescobar commented on #13402
Perfect. Thanks!

[2018-01-16 10:43] javitonino commented on #13402
I would say this is a frontend task. The only thing a bit more backend would be to adjust the query, but the query itself is run from JS code (so frontend). And the rest of stuff (cosmetic) is pure frontend.

I can help the frontender with the query if necessary (but I think it's easy enough). Basically, we have to pass the bounding box to the `OBS_GetAvailableNumerators` function as Antonio menti

[2018-01-16 11:22] rubenmoya opened #13405 "Last item in bubble legends is wrong"
### Context
I realized the last item in the bubble legends is not aligned:
![screen shot 2018-01-16 at 12 14 16 1](https://user-images.githubusercontent.com/905225/34986181-e53a65c6-fab6-11e7-8d28-3ab29d47cbf4.png)

If you check, it doesn't have the `k`, like the other values. While trying to align it to see what was going on I realized the last value is overlapping another value:

![screen shot 2

[2018-01-16 11:34] arianaescobar opened #13407 "Similar notifications should be stacked"
For example, when adding widgets in batch, the "Adding widget.." and "Widget successfully added" notifications should be just one saying the same but in plural, for example.

![widgets](https://user-images.githubusercontent.com/16247628/34986779-2335b14e-fab9-11e7-8516-ad14c8251762.gif)

[2018-01-16 11:39] arianaescobar opened #13408 "When adding widgets in batch, don't access any widget options automatically"
Right now when you add a widget, we take you directly to that widget options. The same happens when you add multiple widgets at the same time, but we can only show one widget's options for obvious reasons.

In this scenario, the ideal behavior would be to **not** access any and stay in the WIdgets list so the user can see all the added widgets both in that list and in the pane to the right of the

[2018-01-16 11:45] #11832 closed

[2018-01-16 11:53] jesusbotella opened #13409 "Clicking anywhere else but the title on the Widget card do not go to edit widget"
### Context
Clicking anywhere else but the title on the Widget card do not go to edit widget view.

### Steps to Reproduce

1. Go to any created map
2. Click on the Widget tab
3. Try to click on the `Source` label placed on the widget card

### Current Result
It does nothing

![widgetcardclick](https://user-images.githubusercontent.com/4319728/34987661-3a1c569e-fabc-11e7-83a6-10294591f02d.gif)

##

[2018-01-16 12:19] ramiroaznar commented on #10699
@arianaescobar Don't you think it would be better to apply this analysis to the (target) points layer instead of the (template) polygons layer? For me, as @jsanz [exposed here](https://github.com/CartoDB/solutions/issues/974), it is very unnatural.

[2018-01-16 12:28] ramiroaznar commented on #13409
@arianaescobar this is expected, right? In doing so you can drag and order your widgets...

[2018-01-16 12:50] arianaescobar commented on #13409
Everything should be clickable, the drag and drop doesn't compete with that.

It would similar to what we did for the layers items:
![be4f94ac-e2e0-11e6-801b-cdfcf616f821](https://user-images.githubusercontent.com/16247628/34989790-23f0ad4a-fac4-11e7-84c7-5b026136d4af.png)

[2018-01-16 12:52] arianaescobar commented on #10699
That sounds more natural to me too, definitely. Although I don't know if there are other constraints to explain why it was originally implemented like this...

[2018-01-16 13:00] #13386 closed

[2018-01-16 14:47] matallo commented on #13342
in production! 🚀

[2018-01-16 15:07] #13333 closed

[2018-01-16 16:21] andy-esch opened #13411 "copyright shows up as HTML tag in static image exports"
### Context

When a static image is exported from Builder, the attribution includes the HTML `&copy;` instead of &copy;.

![untitled map 8](https://user-images.githubusercontent.com/1041056/34999109-e17cc18e-faae-11e7-89d6-616d2ef2f17d.png)

### Steps to Reproduce

1. Export an image from a map using the 'Export image...' option in the map dropdown:
<img width="471" alt="screen shot 2018-01-16 at

[2018-01-16 20:14] piensaenpixel commented on #13281
Uhmm as far as i know the message should appear every time that it finishes

[2018-01-17 08:52] alonsogarciapablo commented on #13281
@matallo it this something that Bravo implemented? could you please confirm if [this](https://github.com/CartoDB/cartodb/issues/13281#issuecomment-356682249) is a feature or a bug 🙏 ? Thanks!

[2018-01-17 08:53] rjimenezda commented on #13384
Question, on the mock:

![image](https://user-images.githubusercontent.com/446970/35033708-ea7f9f14-fb6b-11e7-8ee1-b644c3fb0d3d.png)

On builder, MORE INFO is breaking into two lines, as well as the second string:

![image](https://user-images.githubusercontent.com/446970/35033784-362d6c8e-fb6c-11e7-875d-4c32821b229e.png)

Would you like it better this way?

![image](https://user-images.githubuser

[2018-01-17 09:03] ramiroaznar commented on #10611
Also requested by SB/14613350

[2018-01-17 09:17] rubenmoya commented on #13281
Sorry to jump in!

I'm pretty sure this is related to https://github.com/CartoDB/cartodb/issues/13003, this is the PR related to that issue: https://github.com/CartoDB/cartodb/issues/13003

[2018-01-17 09:43] matallo commented on #13281
It appears, just the first time though, as per the changes in the issue @rubenmoya shared

so, if we want it ALWAYS to appear a new issue would have to be created (and prioritized via Response Team, or squad)

[2018-01-17 09:58] arianaescobar commented on #13384
Good catch. That's because we need to relocate the "More info" link: https://github.com/CartoDB/design/issues/1169

Let me work on that this morning and I'll let you know! (You guys are working so fast!!!)

[2018-01-17 10:00] piensaenpixel commented on #13281
But ari's ticket is related to the on-boarding not to the analysis feedback they are different things.

[2018-01-17 10:01] rjimenezda commented on #13384
👍

[2018-01-17 10:11] #12286 closed

[2018-01-17 10:18] alonsogarciapablo commented on #13281
I think we should revert this change then (#13039). The analysis results screen is important because it includes info about new columns, etc.

@ramiroaznar could prioritise this in the RT 🙏 ?

I'll open another issue to re-implement this (only for the onboarding modal) and add it to the Bravo kanban.

[2018-01-17 10:20] matallo commented on #13281
@piensaenpixel Well, they aren't different things actually, they share the same component, thus they behave the same

thanks @alonsogarciapablo !

[2018-01-17 10:21] ramiroaznar commented on #13281
Roger that!

[2018-01-17 10:25] alonsogarciapablo opened #13415 "Show Onboarding Tours once and remove "Do not show me this again" checkbox"
** **To be done after https://github.com/CartoDB/cartodb/issues/13281 is merged.** **

The goal of this issue is to re-do #13003.

It was already done in #13039 but it also applied to analysis result screen, which should always be displayed. After this change is reverted (https://github.com/CartoDB/cartodb/issues/13281), let's re-implement this (only considering onboarding tour screens).

- [ ] Sh

[2018-01-17 10:28] alonsogarciapablo commented on #13281
Here's the new issue to re-implement this: https://github.com/CartoDB/cartodb/issues/13415. Vamos!

[2018-01-17 10:59] piensaenpixel commented on #13281
but i don't think we shouldn't revert it, why don't open an issue for fixing it?

[2018-01-17 12:01] alonsogarciapablo commented on #13281
We should revert it first (this should be easy so RT team can take care of it) so that it doesn't impact users and then Bravo can re-implement it properly (this might take a bit more time).

[2018-01-17 12:13] piensaenpixel commented on #13281
We are going to work two times, but disagree and commit :)

[2018-01-17 12:49] arianaescobar commented on #13384
Done @rjimenezda! https://invis.io/DMFDJ9GXRCY#/273927554_Analysis_-_1

[2018-01-17 13:34] rjimenezda commented on #13384
🆒  thanks!

[2018-01-17 13:45] matallo commented on #13192
in production! 🚀

[2018-01-17 13:45] #13192 closed

[2018-01-17 14:06] ramiroaznar commented on #11341
We are going to implement this again. cc @alonsogarciapablo @csobier

[2018-01-18 08:59] rubenmoya opened #13418 "Publish modal not working in /settings view"
### Context
When clicking on "publish" in the /settings view the modal appears broken
![publish modal](https://user-images.githubusercontent.com/905225/35089042-03db0dfc-fc36-11e7-84a2-70c6ff2aa61a.gif)

### Steps to Reproduce
1. Click on the settings icon
2. Click on the publish button

### Current Result
The modal appears broken, with this error in the console:
![screen shot 2018-01-18 at 09 57

[2018-01-18 09:03] rubenmoya commented on #13393
We have a couple of questions regarding this issue.

Right now, in Builder you have some configuration to show the toolbar and the legends:

![screen shot 2018-01-18 at 10 02 13](https://user-images.githubusercontent.com/905225/35089270-b1555cd0-fc36-11e7-9be6-8db6785ed785.png)

What should we do in the mobile view with the legends? Show the tab disabled? Hide both tabs? And what about the toolbar

[2018-01-18 09:17] piensaenpixel commented on #13393
Talked in person
- If the user doesn't select the toolbar, we don't show the title (they are related)
- If the user hides the legends, we don't show the tabs and the map is full size.

[2018-01-18 09:36] ramiroaznar commented on #13418
Good catch!

[2018-01-18 09:46] meerestier opened #13419 "Allow editing in filtered mode"
### Context
Allow editing in filtered mode

### Steps to Reproduce
*Please break down here below all the needed steps to reproduce the issue*

1. Query a dataset
2. Click on a point layer
3. Edit not available

### Current Result
Not editable

### Expected result
Editable

### Browser and version
Any

### .carto file
NA

### Additional info
NA

[2018-01-18 10:15] ramiroaznar commented on #12904
This is not happening anymore.

[2018-01-18 10:15] #12904 closed

[2018-01-18 10:17] ramiroaznar commented on #12917
This is fixed as well.

[2018-01-18 10:17] #12917 closed

[2018-01-18 10:37] ramiroaznar commented on #13418
Reported by SB/15632887

[2018-01-18 11:33] ramiroaznar commented on #13419
Hi @meerestier thanks for your suggestion. I am afraid that this feature request is not going to be applied. The Edition mode in CARTO only works when there is no SQL query or analysis added to the layer. If you want to edit the filtered data, you can create a new dataset from query or export the layer analysis node.

[2018-01-18 16:03] ramiroaznar commented on #13407
![image 030](https://user-images.githubusercontent.com/5215798/35107504-6b4b28e2-fc71-11e7-87a7-cd14d2a94dd2.png)

I am getting lots of notifications just adding one layer...

[2018-01-18 16:16] jesusbotella commented on #11876
Moved this from `In Progress` to `Deploy` because we are going to release the improvement without the context switcher thing that will be addressed in another issue. Go [here](https://github.com/CartoDB/cartodb/pull/13377) for more context.

[2018-01-18 16:24] javitonino opened #13422 "Analysis modal issues (Firefox)"
For reference, this is chrome (I guess this is the desired display):
![screenshot_20180118_171854](https://user-images.githubusercontent.com/7569673/35108447-e3ed96ca-fc73-11e7-9ded-e1abfa52f04b.png)

And this is firefox:
![screenshot_20180118_171914](https://user-images.githubusercontent.com/7569673/35108456-e9d57f12-fc73-11e7-8dbd-33d590533834.png)

Notice:
- [x] There is no "back" button at the

[2018-01-19 08:28] elenatorro opened #13423 "Can not edit a geometry after creating it"
### Context

When you create a new geometry, for example a new polygon, and you save it, there is no option to edit it unless you reload the page.

### Steps to Reproduce

1. Add a new empty map.
2. Go to the table layer that has been created.
3. Click on "Add polygon" (bottom right button)
4. Create a new polygon.
5. Save it.
6. Click on the polygon to try to edit it.

### Current Result

When cl

[2018-01-19 08:30] elenatorro commented on #11341
About this issue:

1. The fix in https://github.com/CartoDB/cartodb.js/pull/2017 adds the feature of deleting an anchor when the geometry is in *edit* mode, not when it is being created.

2. When closing this issue, I will open another one to support deleting anchors when creating a geometry.

3. However, there is a bug (https://github.com/CartoDB/cartodb/issues/13423) when creating a geometry: it

[2018-01-19 09:05] ramiroaznar commented on #11341
Works for me.

[2018-01-19 09:30] alonsogarciapablo commented on #11341
👍

[2018-01-19 12:17] antoniocarlon opened #13425 "Add Mapbox client keys"
Pretty much the same as https://github.com/CartoDB/cartodb/issues/12296 but for the Mapbox Access token

[2018-01-19 13:35] #11341 closed

[2018-01-19 13:42] ramiroaznar commented on #11341
:boom:

[2018-01-19 13:52] xavijam commented on #11341
BOOM!

[2018-01-19 14:37] juanignaciosl opened #13428 "If renaming a column fails, the error is not shown"
1. Open a dataset.
2. Rename any column to `created_at`.

As that's not a valid name, the request fails: `"That column name is reserved, please choose a different one"`. Nevertheless, no error is shown to the user.

cc @ivanmalagon @ramiroaznar

[2018-01-19 14:44] juanignaciosl opened #13429 ""relation juanignaciosl.raster_columns does not exist" error creating an API key"
[code]

That returned this error:

[code]

cc @amartinj

[2018-01-19 14:45] piensaenpixel opened #13430 "Separate size/color to size and color"
For improving the UX we'd like to separate the size and the color in the components

Related - https://github.com/CartoDB/design/issues/1082

[2018-01-19 14:49] #13418 closed

[2018-01-19 14:49] juanignaciosl commented on #13429
Yes. I think that `raster_columns` is always at `public` schema.

[2018-01-19 14:50] juanignaciosl commented on #13429
- [ ] Fix this (check that my "`raster_columns` is always at `public` schema"  assumption is true).
- [ ] Corollary: add tests for organization users and API keys.

[2018-01-19 14:59] arianaescobar commented on #13162
closing this then and leaving the original one #11102

[2018-01-19 14:59] #13162 closed

[2018-01-19 16:34] jesusbotella commented on #11876
It is needed to fix one behaviour when an analysis is applied, because `isEmpty` method does not return the correct value.

[2018-01-22 17:09] vmanohar1 opened #13433 "cartodb:db:load_functions : multi-threading option is buggy"
### Context
When attempting to parallel process [if you have many users, it can help!]

### Steps to Reproduce
Using 15 threads in this case (from cartodb directory) -
bundle exec rake cartodb:db:load_functions[localhost,0.18.5,15,0.25,1,180000]

### Current Result
Look into log/rake_db_maintenance_cartodb:db:load_functions_localhost.log --
I see some exceptions as -
[2018-01-22 09:52:38 -0500] FA

[2018-01-22 18:03] xavijam opened #13434 "When try to import from an URL, it doesn't work"
### Steps to reproduce.
- Create an empty map and go to the Builder.
- Click over "add a new layer".
- In the modal, go to "Connect dataset" section.
- Paste any valid URL in the input.
- Press your enter key.
- It doesn't do anything.

@ivanmalagon @matallo 💋

[2018-01-23 11:59] ramiroaznar commented on #13434
Hey @xavijam thanks for reporting this. :heart:

Are you trolling or is this for real? If the later, can you share the url you are trying to connect? I was not able to replicate it on my end.

[2018-01-23 12:00] xavijam commented on #13434
No trolling, it was real ;). Let me record a gif.

[2018-01-23 12:06] xavijam commented on #13434
![bug](https://user-images.githubusercontent.com/132146/35274905-345b6a2e-003e-11e8-80b5-b7de59b38ac7.gif)

The last step doesn't appear :S.

[2018-01-23 12:07] xavijam commented on #13434
And this is how it works from dashboard ;).

![how-it-works](https://user-images.githubusercontent.com/132146/35274944-5e403d6a-003e-11e8-94c3-c9080f4a8a04.gif)

[2018-01-23 12:38] ramiroaznar commented on #13434
@dv343 can you have a look? This looks like a big bug.

[2018-01-25 08:53] javitonino commented on #13429
It is true for the current usage we do of PostGIS. This is unlikely to change, since we would break a lot of existing use cases.

[2018-01-25 13:07] gfiorav commented on #13433
Hey @ramiroaznar , this issue is quite important for Bloomberg. Do you think we could get someone from Infrastructure to weigh in?

Thanks!

[2018-01-25 15:28] bb-acarrera opened #13435 "New Synchronization records can enter error state preventing future synchronizations"
### Context
A new synchronization will enter a bad state if the synchronization job either never processes or a bug leads to the importer to not set the synchronization record state to success or failure.  Future attempts to manually sync the file via the /sync_now endpoint always return a failure to enqueue the job.

### Steps to Reproduce

1. Upload a file to S3 and make the file inaccessible (i

[2018-01-25 16:03] gfiorav commented on #13435
@ramiroaznar, our Bloomberg friends found this and seems to affect our code too. Could someone from back end take a look?

Thanks!

[2018-01-26 10:48] matallo commented on #13434
reproduced, it seems to lack be an issue with the enter key, let me take a look myself

thanks @xavijam ! ❤️

[2018-01-26 12:07] rjimenezda commented on #13311
Shipped 🚢

[2018-01-26 12:07] #13311 closed

[2018-01-26 12:10] javitonino commented on #13336
I think this is a good candidate to be solved at the nginx level. I guess it follows the convention we have with the node APIs: if you put them in different domains you have to fix this at nginx level.

What would be nice to have, it's an example nginx configuration to make all of this work in the same domain.

[2018-01-26 12:34] ramiroaznar commented on #13045
User SB/15698789 is also having the same issue. I recommended him to use a workaround: intersect with second layer + world_borders.

[2018-01-26 14:43] #13425 closed

[2018-01-26 15:17] #13139 closed

[2018-01-26 16:59] allthesignals opened #13442 ""/viz" endpoint should allow for "sparse fieldsets" query parameter"
### Context
The `viz` endpoint provides a way to list all tables including associated `tags` and `description`s in a user seat's account (`api/v1/viz?type=table`). It also includes a number of query parameters like `type` and `exclude_shared` which are helpful for filtering those tables.

However, the resulting data includes almost 100 different properties, making it difficult to get a simple list

[2018-01-28 02:22] allthesignals commented on #13442
This is more-or-less possible here: https://github.com/CartoDB/cartodb/blob/master/app/controllers/carto/api/visualization_searcher.rb#L99-L110.

I think the "sparse fieldset" format would imply a more succinct way of including/excluding certain properties, like how a SQL select behaves.

[2018-01-28 21:01] clone1524524 opened #13443 "Cannot find rake-0.9.2.2 when installing Carto Editor"
### Context
I am working my way through the installation guide, published here:
http://cartodb.readthedocs.io/en/latest/install.html

I have successfully made it through the majority of this guide, but I cannot finish the steps for installing the Editor. All prior steps are successful, until I try to initialize the metadata database:
RAILS_ENV=development bundle exec rake db:create

The above comm

[2018-01-29 10:02] ramiroaznar commented on #9002
After talking with @makella these are the default color ramps:

### Quantitative ramps:
a. Points: `Burg`
b. Lines: `Magenta`
c. Polygons: `Purp`

### Qualitative ramps:
a. Points: `Prism`
b. Lines: `Prism`
c. Polygons: `Prism`

The logic behind these changes was:
* We needed to adapt the default ramps to the new default basemap (Voyager).
* They needed to work also on topo of Positron and Dark Ma

[2018-01-29 10:07] alonsogarciapablo commented on #13393
cc: @micagm -> perhaps you could test this in our staging environment once it's ready.

[2018-01-29 10:10] matallo opened #13444 "remove pluggable frontends"
this is not a Solutions requirement anymore so we can remove this already

pluggable frontends was a frontend setup in order to extend or theme Builder views

[2018-01-29 10:32] IagoLast commented on #9002
@dv343 @elenatorro ping me if you need help :)

[2018-01-29 13:10] ramiroaznar commented on #13260
Hey @juanignaciosl is this still an issue?

[2018-01-29 13:10] ramiroaznar commented on #12538
Hey @juanignaciosl is this still a pending issue?

[2018-01-29 13:55] matallo commented on #13444
now the specs are run for all, removed the affected option (some artefact remain, such as the name of the grunt task)

[2018-01-29 14:09] ramiroaznar commented on #11660
Do you think this is still valid? @arianaescobar

[2018-01-29 17:14] javitonino commented on #13429
After some talks, we are going to grant publicuser to all created API keys. That should get rid of this problem without us having to list all public functions/table, which is subject to error.

[2018-01-30 09:25] urbanphes opened #13447 "Tile render timeout is showing cartofante"
### Context
Refer to this ticket
https://github.com/CartoDB/design/issues/1179

cc/ @ramiroaznar

[2018-01-30 09:30] javitonino opened #13448 "Cannot view editor password protected maps"
### Steps to Reproduce
1. Create an **editor** map
2. Set password protection
3. In a private tab, go to the embed
4. Enter the password

### Current Result
The map doesn't load. https://rollbar.com/carto/CartoDB/items/25261/?item_page=0&item_count=100&#instances

e.g: https://javitonino.carto.com/viz/c5825ce7-4bb3-4015-84b0-b9ffb47af501/protected_embed_map? (password is 1234)

### Expected result

[2018-01-30 09:35] ramiroaznar commented on #13447
:cartofante:

[2018-01-30 10:16] arianaescobar commented on #11660
Yeah, but at the same time as this one: https://github.com/CartoDB/cartodb/issues/11903

[2018-01-30 10:35] ramiroaznar commented on #11660
If this is an onboarding issue, then let's summon @matallo @alonsogarciapablo

[2018-01-30 10:40] arianaescobar commented on #11660
It's a minor one. I'd say we have more pressing issues onboarding-wise.

[2018-01-30 12:06] jesusbotella commented on #13434
In production! @rubenmoya tested it and was OK :)

[2018-01-30 12:06] #13434 closed

[2018-01-30 12:07] matallo commented on #13434
BOOM

On Tue, Jan 30, 2018 at 1:06 PM, Jesús Botella <notifications@github.com>
wrote:

--
*Carlos Matallín*
UI developer

*CartoDB—Map Your World's Data*
Plaza de Callao 4, 2 28013 Madrid
T: +34911165823
W: www.cartodb.com

Live sessions to learn CartoDB <http://cartodb.com/webinars/>

[2018-01-30 12:51] alonsogarciapablo commented on #13393
I tried this in staging and it's working like a charm. Great job @rubenmoya!

I sent an email to some folks to notify them and see if they have something to say before we push the 🔴  button. Let's release this tomorrow unless we encounter any blocker.

[2018-01-30 13:34] arianaescobar opened #13451 "Remove options from empty layers' contextual menu"
Right now, when you add an empty layer and click on the contextual menu (three dots icon), we show some options that don't make sense that we should remove, like:

- [ ] Export data
- [ ] Center map on layer

![screen shot 2018-01-30 at 14 31 18](https://user-images.githubusercontent.com/16247628/35568812-7ac084e0-05ca-11e8-9357-2b1b14528cbc.png)

[2018-01-30 15:11] arianaescobar opened #13452 "Relocate the Delete option in the Edit {geometry} panes"
When you're adding a new geometry we show a "Cancel" option at the bottom to cancel the operation. So far so good.

![screen shot 2018-01-30 at 16 08 35](https://user-images.githubusercontent.com/16247628/35573599-db887e6a-05d7-11e8-8d76-b97fe05ae688.png)

The thing is, that once we add the geometry and the pane goes from "Add {geometry}" to "Edit {geometry}", we still show that "Cancel" at the bo

[2018-01-30 15:19] arianaescobar opened #13453 "Different input widths in the Edit {geometry} panes"
### Context

Right now, in the Edit {geometry} panes all the inputs have different widths

### Current Result

![screen shot 2018-01-30 at 16 00 09](https://user-images.githubusercontent.com/16247628/35574129-3fc129e4-05d9-11e8-9870-43812a2ecd52.png)

![screen shot 2018-01-30 at 16 17 19](https://user-images.githubusercontent.com/16247628/35574133-41737ee0-05d9-11e8-96d6-c437df56f189.png)

### Exp

[2018-01-30 15:37] arianaescobar opened #13455 "Column ordering feature in the Data view is a bit buggy"
![order](https://user-images.githubusercontent.com/16247628/35574829-25e99d7e-05db-11e8-9f65-c4f16965df94.gif)

- [ ] The arrow indicating which column is ordering the table only appears on the cartodb_id column
- [ ] The arrow always points upwards, even when ordering downwards
- [ ]  It briefly appears in a different column when you order the table by it, but it immediately disappears and goes b

[2018-01-30 15:45] arianaescobar opened #13456 "Pagination in the Data view shows a hover state when there are no more pages"
![hover](https://user-images.githubusercontent.com/16247628/35575512-d8d45bc6-05dc-11e8-9b27-05915a7fb117.gif)

Makes me wonder if we should even show a paginator in this case.

[2018-01-30 16:16] arianaescobar opened #13457 "Cursor inconsistencies"
There are some inconsistencies in the cursors we display in certain parts of Builder.

![cursor](https://user-images.githubusercontent.com/16247628/35576903-8012e7b0-05e0-11e8-9f01-41aa885e49bc.gif)

Different texts prompt the **default**, **pointer**, and **text** cursor style and it could be confusing.

As a general rule, we should show:

- **Pointer** ![screen shot 2018-01-30 at 17 12 07](https

[2018-01-30 16:19] jgoizueta commented on #9786
Sorry for the delay @inigomedina. I've finally checked this and I'm closing it since it's working well.

[2018-01-30 16:19] #9786 closed

[2018-01-30 18:45] alrocar commented on #12845
Hey mates, let's move this on :)

Going back to the original issue, the point was having our basemaps looking nice on retina screens.

So let's tackle this with the PR sent by @elenatorro, worse than having a perfect solution for retina screens, but much better than have nothing.

[2018-01-31 08:48] #13012 closed

[2018-01-31 09:16] jaakla opened #13458 "Set basemap URL to tiles.basemaps.cartocdn.com"
Change any basemap URLs in Builder configurations from *global.ssl.fastly.net to CDN-independent tiles.basemaps.cartocdn.com.

Required for CDN change (https://github.com/CartoDB/cartodb-management/issues/5093)

I would retire domain sharding (i.e. a-, b- etc subdomains), as most modern browsers will do HTTP/2 multiplexing anyway and sharding would just cost extra time due to DNS lookups.

Fixes a

[2018-01-31 09:48] matallo commented on #12845
agree! who is the owner of this (which team will it be assigned)?

[2018-01-31 09:55] alrocar commented on #12845
It's on Charlie's kanban.

@elenatorro are you available for taking a look? otherwise I can take it this week

Thanks! :)

[2018-01-31 09:59] elenatorro commented on #12845
I can take a look to this again this afternoon, but I would like to discuss it first with someone to see if there is something else we can change / add to the current PR.

[2018-01-31 10:02] jaakla commented on #13458
@matallo is this somehow technically linked to https://github.com/CartoDB/cartodb/issues/12845 ?

[2018-01-31 10:13] javitonino commented on #12845
Some question/comments I would like to see answered before going forward with this:
- Are we also considering changing the tiler to support retina tiles in static images? Or are we doing only the cartodb.js part?
- Regarding backend: we have to do a rake to update all existing layers (and mapcaps). Something similar to `update_nokia_layers` in `layers.rake`. It will take a long while to run.
- We

[2018-01-31 10:15] rubenmoya commented on #13393
Thank you @alonsogarciapablo! I was lucky to pair with @jesusbotella :D

[2018-01-31 10:41] rochoa opened #13461 "Remove Tangram's vector rendering support in Builder embeds"
This includes:
 - [x] Remove the feature flag logic from embeds to decide to use vector: https://github.com/CartoDB/cartodb/pull/13512.
 - [x] Remove the Tangram dependency: https://github.com/CartoDB/cartodb/pull/13493.
 - [x] Use a newer cartodb.js v4 version without support for Tangram vector rendering: https://github.com/CartoDB/cartodb/pull/13484.

Depends on https://github.com/CartoDB/cartod

[2018-01-31 10:42] alrocar commented on #13172
Some context [here](https://github.com/CartoDB/cartodb-management/issues/5040)

[Master API key](https://docs.google.com/document/d/1lMxxIhAd8r3QHu-DzDmjW0XzJDNBhQPC4vYpjc-xmug/edit#heading=h.v5ld2estmj0g)
[Default public API key](https://docs.google.com/document/d/1lMxxIhAd8r3QHu-DzDmjW0XzJDNBhQPC4vYpjc-xmug/edit#heading=h.gx80swbhbkw5)

[2018-01-31 10:56] jesusbotella commented on #13393
@piensaenpixel just told me that the couple of issues that he saw yesterday are solved, so 🎉.

I also removed Rubber Band effect when scrolling which was providing a poor UX in iOS.

[2018-01-31 11:15] matallo commented on #13444
in production! 🚀

[2018-01-31 11:15] #13444 closed

[2018-01-31 11:23] jaakla commented on #12845
Where are static images used by us? In maps listing in Builder? Or you mean static maps API? In any case I would keep this out of scope from here, it would be nice but it looks small win and a lot of extra effort. ps. it reminds me another feature idea #11943.

You can update URLs of existing maps? I would see it to be very useful for the [url base fix](https://github.com/CartoDB/cartodb/issues/13

[2018-01-31 11:30] rochoa commented on #7180
There has been no activity on this issue for more several months. We are closing it. If you think this still needs to be addressed please open a new issue.

[2018-01-31 11:30] #7180 closed

[2018-01-31 11:30] rochoa commented on #7329
There has been no activity on this issue for more several months. We are closing it. If you think this still needs to be addressed please open a new issue.

[2018-01-31 11:30] #7329 closed

[2018-01-31 11:32] rochoa commented on #8544
There has been no activity on this issue for several months. We are closing it. If you think this still needs to be addressed please open a new issue.

[2018-01-31 11:32] #8544 closed

[2018-01-31 11:33] #9613 closed

[2018-01-31 11:33] rochoa commented on #11562
There has been no activity on this issue for several months. We are closing it. If you think this still needs to be addressed please open a new issue.

[2018-01-31 11:33] #11562 closed

[2018-01-31 11:33] rochoa commented on #11943
There has been no activity on this issue for several months. We are closing it. If you think this still needs to be addressed please open a new issue.

[2018-01-31 11:33] #11943 closed

[2018-01-31 11:54] javitonino commented on #12845
Yes, somewhat painful but we have done it before (HERE changed their URL format).

[2018-01-31 12:07] jaakla commented on #13458
Suggested domain rewriting table for existing maps, note different domain for enterprise and free:

old | new
-- | --
cartobase-a.global.ssl.fastly.net | enterprise-a.basemaps.cartocdn.com
cartobase-1.global.ssl.fastly.net | enterprise-a.basemaps.cartocdn.com
cartobase-z.global.ssl.fastly.net | enterprise-a.basemaps.cartocdn.com
cartobase-b.global.ssl.fastly.net | enterprise-b.basemaps.cartocdn.co

[2018-01-31 12:09] davidmanzanares opened #13462 "Remove Vector feature flag"
Related to https://github.com/CartoDB/cartodb/issues/13461

We need to remove the feature flag that enables vector (tangram) rendering from the backend and from the DB. We won't support tangram anymore.

What do you think about this @javitonino ?

[2018-01-31 12:30] #12955 closed

[2018-01-31 12:55] javitonino commented on #13458
Uhm, we really don't have a good system to differentiate FREE and ENTERPRISE. I mean, we could do it at layer creation time with some small patches to the code, but we don't have a good way to keep it in sync if the user upgrades/churns.

Is the different domain per account-type a requirement? If so, we should sit and think about it some more.

[2018-01-31 13:04] javitonino commented on #13429
I ran into https://github.com/CartoDB/cartodb-postgresql/issues/321 while working on this. I tried to tweak the code a little to use the same functions ad the permission giving code does, but we have this fun little issue that's been there for years :/

[2018-01-31 13:42] javitonino commented on #13462
Uhm, IIRC, tangram is enabled by default, and the feature flag disables it. Has this changed?

In any case, before we remove the feature flag, cartodb.js should not reading the `vector` field from viz.json. Unless you tell me that we should hardcode that to a fixed value.

[2018-01-31 13:55] jaakla commented on #13458
No, we don't need this. Probably we don't have basemap enterprise URLs or requirements anywhere in existing carto maps configs, or in Builder. Enterprise users in Builder/Engine terms are technically just free map users from basemap service point of view, as they do not pay extra for basemaps. Even if they do, then currently they technically use free maps. If they really want, then they can add th

[2018-01-31 14:23] #13393 closed

[2018-01-31 14:23] matallo commented on #13393
in production! 🚀

[2018-01-31 14:34] #13383 closed

[2018-01-31 15:14] javitonino opened #13466 "Auth API permissions on shared organization tables"
Allow or not to grant access to tables not owned by the current user.

[2018-01-31 15:21] ethervoid commented on #13174
@dgaubert what is the state of this?

[2018-01-31 15:29] dv343 commented on #13462
Not again, I think

We are working on a cartodb.js PR to disable tangram, with that PR vector is disabled even if we request vector.

[2018-01-31 15:32] matallo commented on #12845
Just re-read the whole thread, the quick win is only support retina basemaps. Retina data layers is another big issue (that probably would better be addressed via vector maps)

As I envision it, this would need to be done in three different phases:

1. **support for retina basemaps in cartodb.js** which when not existing, i.e. current and new maps case, it just defaults to the current situation
2.

[2018-01-31 15:33] matallo commented on #13458
Indeed, as explained in https://github.com/CartoDB/cartodb/issues/12845#issuecomment-361968384 it is one of the steps to have full retina support in our raster basemaps (but not a blocker one)

[2018-01-31 15:39] javitonino commented on #12845
Sounds like a plan. We can take the opportunity with 2 and 3 to solve #13458 as well, to avoid having to do multiple passes updating all layers.

[2018-01-31 15:49] alexsroth opened #13467 "Suggested UI/UX improvements in Builder"
### For Dashboards

When you select a map or a dataset from your dashboard, it can be confusing regarding where to click to enter the map/dataset vs bringing up the select menu. It is far too subtle that you have selected something, the only indication being a hairline blue line around the selection, and the menu that appears is easy to miss if you don't know where to look. Both these could benefi

[2018-01-31 16:00] javitonino commented on #13462
Shall we wait until that PR is merged before deleting the feature flag? I mean, if we go for a full removal, we are deleting even the `vector` field from vizjson, not sure if that could be problematic if we delete it before the frontend/cartodb.js is ready.

Basically, let us know if we should do this before/after cartodb.js changes to avoid breaking anything. I think this (FF removal) should be t

[2018-01-31 17:31] alonsogarciapablo commented on #13393
BRAVO, BRAVO! 👏 👏 👏

[2018-01-31 17:34] msaenzde11 commented on #13391
@matallo could you include this in you Kanban when possible please? Might not be that urgent, but would like it to be in your radar :)

Thanks!!

[2018-01-31 18:33] jesusbotella commented on #13393
VAMOS! 💪

[2018-01-31 22:35] asimcox commented on #10622
Hey! @inigomedina - sorry I haven't had time to personally retest this. If it's not reproducible based on the steps in my original ticket, I'd say that it's safe to close :)

[2018-02-01 08:26] jaakla commented on #12845
How it would work in Builder UI level? For built-in basemaps there is no UI - just internally instead of 1 URL there is definition of 2 patterns. But for custom basemaps I see 3 options:
a) ignore it, just do not support automatic DPI. User can hardcode @2x to the URL if needed, then the map is "always retina"
b) Support additional placeholder, e.g. {r} which will be replaced by '' or '@2x' depend

[2018-02-01 08:44] ramiroaznar commented on #13452
I should have added you to the loop on this ticket https://github.com/CartoDB/support/issues/1233 RT frontend issues are piling, but we will fix it!

[2018-02-01 09:17] elenatorro commented on #12845
Yesterday, @matallo and I worked on the solution you describe in option `c)`.

We did a PoC to test how it would work with custom basemaps and it works great. We will open a PR so we can discuss the soltuion, but this is basically what we've added:

cartodb backend
* add retina url and retina label url to `app_config.yml` (this was already changed )

[code]

* add retina url and retina label url i