[2015-02-18 11:24] rochoa commented on #2306
As @javierarce mentioned in #2297 this also happens in password protected visualizations.

[2015-02-18 11:24] saleiva opened #2311 "Conflict with buttons in the APi keys and the oAuth pages"
![screen shot 2015-02-18 at 12 23 42](https://cloud.githubusercontent.com/assets/132149/6246422/0b0aac5a-b769-11e4-97fb-a26f2cea9b48.png)

If you are a paid user there is a conflict when scanning the page visually between the generate again and the support button.

[2015-02-18 11:28] saleiva commented on #2311
+ visual hierarchy is a bit weird when rendering on the browser

[2015-02-18 11:30] saleiva commented on #2129
Uhm... that layout is broken! :)
It should get imported when clikcing on the name, not in the box. Anyway, I've an option with a button ready at create-modal-1.2.sketch

[2015-02-18 11:31] saleiva opened #2312 "When being in any configuration page remove the arrow from the breadcrump"
It's weird that you can navigate using that to places where you will not be able to do the same for going back.

[2015-02-18 11:32] iriberri commented on #2129
Yeah, I just logged into a random staging account with Data Library to get the "blue box" image. :-) If you've changed the import to need a click in the name, that's perfect then. I'll test all this in a couple of hours.

[2015-02-18 11:42] xavijam opened #2315 "Review responsive version within new public dashboard"
- [x] Don't apply responsiveness to private dashboard.
- [x] Public datasets
- [x] Public maps

[2015-02-18 11:43] #2287 closed

[2015-02-18 11:53] #2303 closed

[2015-02-18 11:59] rochoa commented on #2306
Relevant lines:
https://github.com/CartoDB/cartodb/blob/master/app/controllers/api/json/visualizations_controller.rb#L413-L415

[2015-02-18 12:01] Kartones opened #2316 "Compass gem version locked at Gemfile"
with latest master I coudln't run `grunt`/`grunt js`. After following @xavijam's advice and doing `gem install compass` it worked fine. Then checking the Gemfile...

[code]

This is the version installed by compass:
[code]

[2015-02-18 13:19] Kartones commented on #2306
Ok, it was done on purpose but can be easily changed:
[code]
I can easily change it to allow to pass always if authenticated

[2015-02-18 13:20] rochoa commented on #2306
I will go with that approach... but remember we may cache the viz.json

[2015-02-18 13:21] Kartones commented on #2306
in Varnish? no prob, I'll check that as IIRC on privacy change of a visualization we invalidate Varnish, else implement it.

[2015-02-18 13:24] rochoa commented on #2306
It's not only about privacy change. I mean:

Let's say the visualization is "private" and I'm the owner. I authenticate and request the viz.json and it gets cached in varnish. Now I open an incognito window and request the viz.json, varnish will attend the request because it's cached and won't check privacy in rails/backend.

[2015-02-18 13:26] Kartones commented on #2306
uh, ok, then private/password protected need to be NOT cached, right? (and invalidated upon privacy change).

Is the only safe & easy way I see... either what options do we have?

[2015-02-18 13:29] rochoa commented on #2306
The easier way is not caching private/password-protected viz.json

[2015-02-18 13:30] rochoa commented on #2306
Have in mind that it will troublesome in performance terms

[2015-02-18 13:33] azamorano opened #2318 "geocoder_test broken"
https://github.com/CartoDB/cartodb/blob/master/script/geocoder_test is broken at
https://github.com/CartoDB/cartodb/blob/master/script/geocoder_test#L23

Since CartoDB/cartodb@6ebb8bb

[2015-02-18 13:34] Kartones commented on #2306
Yep, but against that we can only cover with lower level caching... in the backend as you suggested.  /cc @rafatower

[2015-02-18 14:01] #1969 closed

[2015-02-18 14:15] #2318 closed

[2015-02-18 15:24] juanignaciosl commented on #2044
The kml won't import (or take ages) because it has more than 1k layers. We can't do much better, right @Kartones ?

[2015-02-18 16:02] andrewxhill opened #2320 "Using Image export on Torque maps gives an error"
![screen shot 2015-02-18 at 11 02 14 am](https://cloud.githubusercontent.com/assets/370259/6250707/ae309842-b75d-11e4-82b9-85a59e3c17fb.png)

related https://github.com/CartoDB/cartodb/pull/2199#issuecomment-74838769

[2015-02-18 16:07] javierarce commented on #2320
@andrewxhill: can you paste or send me the link to the vizjson, please?

[2015-02-18 16:11] rafatower commented on #2306
We can run the privacy checks in the controller and return the full viz.json cached. Invalidation should be orthogonal with respect to privacy checks (and other `before` checks).

Anyways the big performance penalty is on hitting the rails stack.

BTW, some fresh numbers: https://docs.google.com/a/cartodb.com/spreadsheets/d/1zAZFqrUN2hoNm9nmqmhHItvaUsrGxpHctpEZ3MqDpr8/edit?usp=sharing

(sampled ov

[2015-02-18 16:21] xavijam commented on #1914
Closing! -> https://github.com/CartoDB/cartodb/pull/2317

[2015-02-18 16:21] #1914 closed

[2015-02-18 16:23] xavijam commented on #2129
Button or name?

[2015-02-18 16:28] andrewxhill commented on #2320
http://team.cartodb.com/api/v2/viz/13062538-b129-11e4-a9f5-0e9d821ea90d/viz.json

[2015-02-18 16:50] javierarce commented on #2320
Ok, that's related with this ticket: https://github.com/CartoDB/cartodb.js/issues/354 and another bigger issue we are talking in the email.

[2015-02-18 16:53] andrewxhill commented on #2320
great thanks!

On Wed, Feb 18, 2015 at 11:50 AM, Javier Arce <notifications@github.com>
wrote:

--

andrewxhill <http://twitter.com/andrewxhill>
http://cartodb.com

[2015-02-18 16:56] Kartones commented on #2044
mmm  each layer gets converted to a table right? Ask @iriberri and @javisantana  but I'd say something between [25,100] layers, maybe [25,50]...

[2015-02-18 18:00] iriberri opened #2322 "Investigate ENOENT error, CartoCSS assets"
From SB/4548654

https://cartocdn.global.ssl.fastly.net/travelfindz/api/v1/map?stat_tag=API&lzma=3YCAiIDXkoCAgICAgIC9CAjntIUbMkyt4S6xq5e%2FtuZxRdm36Q9i%2Bh2dFl3Yj4PkbU4JSD14a4JTZxm6KJtzYEiv7YQtAwbkgxjAexaWxmJPY0ZMYjBvQ0H9FPupuVzd36r0xK9Wh3vTwNKTYhw365snxwR9uB%2BLJOEIhvixCKa0Ng3Bd7XZA1%2FipmR4E6HWH3XGDSn7FEBPZoKG56CW8mpRk%2FWTnu%2FMrE1cSe5ChAqWaLaKmyDhKS%2BaVznt%2FuF4VMzycd%2B3jgcvgWsmvDFf%2F7HUJga

[2015-02-18 18:29] rafatower opened #2324 "Cache vizjson in redis to avoid hitting DB"
In a simple vizjson without varnish, there are 43 queries hitting postgres. I reckon just 15 are enough with privacy checks and all that.

[2015-02-19 08:19] santisaez commented on #2205
Fixed by @zenitraM

[2015-02-19 08:19] #2205 closed

[2015-02-19 09:06] #2044 closed

[2015-02-19 10:14] juanignaciosl commented on #2263
Couldn't reproduce. Will wait until being able to reproduce it.

[2015-02-19 10:23] javisantana commented on #2108
(checking this, this ticket would need a csv file to test)

[2015-02-19 10:24] juanignaciosl commented on #2108
@javisantana it has one, take a look at the PR: https://github.com/CartoDB/cartodb/pull/2285/files

[2015-02-19 10:32] juanignaciosl commented on #2099
Couldn't reproduce, postponed.

[2015-02-19 10:35] carlostallon commented on #2311
![user config - api keys 4](https://cloud.githubusercontent.com/assets/1712650/6265157/42bad27a-b82b-11e4-84e0-ffde2067b17e.png)

[2015-02-19 10:37] #1825 closed

[2015-02-19 10:41] javisantana commented on #2108
@juanignaciosl haha, it has after the bug has been fixed :P

[2015-02-19 10:45] juanignaciosl commented on #2108
I also tested it without the fix, it's an actual regression test. I will do TDD from now on :trollface:

[2015-02-19 10:51] viddo commented on #2312
agree, but just to be clear, by "_remove the arrow_" you mean removing the dropdown menu too, right?

[2015-02-19 10:55] javisantana opened #2329 "importer API lacks of file format documentation"
An user importing a CSV can't know what columns should use for the geometry columns, what types we guess and so on.

In general:

- add information about all the formats we support with detailed information of what we do for each one, for example
  - KML: import as many tables as layers, we don't use the styles and we expect it in wgs84
  - shp: import as many tables a shp files, we need prj file

[2015-02-19 11:02] carlostallon opened #2330 "New dashboard UI fixes"
- [x] `.Header-settingsItemAvatar` => `.Header-settingsItem--avatar` (https://github.com/CartoDB/cartodb/commit/054efd4e8fe78f4682c2d639e29ae3138484f438)

---

- [x] Underline shouldn't appear  in tags (https://github.com/CartoDB/cartodb/commit/657386a43859ee7ff2465168f7f535eaa7fa55c1)

![image](https://cloud.githubusercontent.com/assets/1214201/6265805/768f321a-b832-11e4-9e6c-8123e5a44a0c.png)

-

[2015-02-19 11:05] carlostallon commented on #2330
- [ ] 20 px margin
![captura de pantalla 2015-02-19 12 03 55](https://cloud.githubusercontent.com/assets/1712650/6265514/92bb71f4-b82f-11e4-919c-50ce04950aed.png)

[2015-02-19 11:17] viddo commented on #2312
i.e. like this? ![screen shot 2015-02-19 at 12 16 26](https://cloud.githubusercontent.com/assets/978461/6265691/2f5f286a-b831-11e4-86bd-8f493b58fe31.png)

[2015-02-19 11:18] juanignaciosl commented on #2068
FYI: no new duplicated tables since this fix, so I'll do #2213 ASAP.

[2015-02-19 11:22] xavijam commented on #2312
It should appear as selected, more "whiter", with no underline.

[2015-02-19 11:31] Kartones commented on #2204
This ticket is only pending postgresql extension release to bump up rails code and push live.

[2015-02-19 11:33] saleiva commented on #2312
Yep
On Feb 19, 2015 11:51 AM, "Nicklas Gummesson" <notifications@github.com>
wrote:

[2015-02-19 11:34] saleiva commented on #2311
This means redesigning that module on every screen. In the ones like the
dashboard we should try this before applying..
On Feb 19, 2015 11:35 AM, "Carlos Tallón" <notifications@github.com> wrote:

[2015-02-19 11:47] javierarce opened #2333 "WMS proxy is returning a 200 response code for"
The WMS proxy is returning a `200` response code even if there was a problem with the URL.

For example, the backend returns a `200` for this error:

[code]

Related issue: https://github.com/CartoDB/cartodb/issues/2113

[2015-02-19 13:29] javierarce commented on #2333
Closing since a `200` code is needed to be able to capture the jsonp error response.

[2015-02-19 13:29] #2333 closed

[2015-02-19 13:30] #2312 closed

[2015-02-19 14:00] Kartones opened #2335 "Almost unreadable texts"
With Linux at least (and I could bet with Windows will be similar), light grey and light green texts are really really hard to read... not sure if because of the combo bright+small or just bright but...

![](http://www.comomonos.com/up/cant_read_02.png)

![](http://www.comomonos.com/up/cant_read_03.png)

/cc @saleiva Reassign if @carlostallon doesn't knows how to do CSS anymore :trollface:

[2015-02-19 14:06] carlostallon commented on #2335
I'm having troubles also in IE6 @kartones

[2015-02-19 14:10] Kartones commented on #2335
There I can help you: https://www.modern.ie/en-us

[2015-02-19 14:14] saleiva opened #2336 "Creating map with common data"
When creating a map with data from the data library it shouldn't be imported like it is right now. The user should follow the same flow than creating a map with his own data.

You select, data gets imported and visualization gets created. Also interaction should be the same.

[2015-02-19 14:17] iriberri opened #2337 "Allow changing privacy in dashboard by clicking on the actual status."
![image](https://cloud.githubusercontent.com/assets/1730320/6268102/56a1b064-b84a-11e4-850a-0c99826ce0b5.png)

and not just by selecting the dataset and clicking on "Change privacy" in the top toolbar.

[2015-02-19 14:21] viddo commented on #2337
duplicate of #2061, added datasets to the scope of the other issue, thx :)

[2015-02-19 14:21] #2337 closed

[2015-02-19 14:26] iriberri opened #2338 "Changing map privacy to password protected requires at least two clicks on "save settings""
The first time you click on "save settings" after setting a password no requests are done.

![image](https://cloud.githubusercontent.com/assets/1730320/6268239/9f57a1dc-b84b-11e4-84f8-be91b071bd09.png)

[2015-02-19 14:27] piensaenpixel opened #2339 "Change icon for carousel or back"
It's a bit a strange have the same icons for back and the carousel
![image](https://cloud.githubusercontent.com/assets/1214201/6268264/c3a7fda2-b84b-11e4-9cf6-51112c0ab766.png)

[2015-02-19 14:32] xavijam opened #2340 "Add loading state (and error if needed) when a dataset/map is changing its privacy"

[2015-02-19 14:35] iriberri opened #2341 "Deselect all doesn't work"
After using select all in the dashboard.

:-)

[2015-02-19 14:42] saleiva opened #2342 "Reordering list items by mapviews / whatever takes too long"

[2015-02-19 14:52] iriberri opened #2343 "Pagination in Data Library redirects to user datasets pages."

[2015-02-19 14:54] Kartones opened #2344 "Rails created two platform limits as INT instead of BIGINT"
just migrate to BIGINT:
[code]

[2015-02-19 14:58] iriberri opened #2345 "Show "deselect all" when there's more than one selection"
It just happens if you have selected all, but if you have two random selections in the table because you clicked without noticing, it would be awesome that "deselect all" appeared on the top bar.

[2015-02-19 14:58] xavijam opened #2346 "Import failed due to a 400 error"
Seems like I had my timeout set as 0.

[code]

[2015-02-19 15:03] javierarce opened #2348 "Use the center and zoom for the map previews instead of the bbox"

[2015-02-19 15:04] juanignaciosl opened #2349 "A zip containing a shp and a txt only imports txt"
If you add a .txt to the zip that contains shp files, only the txt is imported (at least, with a filename that is lexicographically before than the rest of the files).

@iriberri is this a known issue? It's strange I've spotted it.

[2015-02-19 15:05] iriberri opened #2350 "Connect dataset typo"
Only Dropbox option contains a trailing point on the description:

![image](https://cloud.githubusercontent.com/assets/1730320/6269035/1e07d5ba-b851-11e4-90b2-de92cc0c0d80.png)

The rest doesn't :-)

[2015-02-19 15:07] iriberri commented on #2349
There is (or was) a similar issue about importing a file which contained a KML and another file, and only one of them was imported, but I think this is unrelated and was provoked by another issue (I think it was the bikelanes kml).

[2015-02-19 15:09] juanignaciosl commented on #2349
Bikelanes kml issue is covered by #2044 indeed, although we're beginning to experiment with different approaches for layer-intensive files // @danicarrion .

[2015-02-19 15:11] saleiva opened #2352 "Empty dataset shouldn't be in the list of datasources"
there should be an option to create an empty map, what about adding to this submenu algined to the right?

![screen shot 2015-02-19 at 16 09 42](https://cloud.githubusercontent.com/assets/132149/6269171/cafdef48-b851-11e4-9152-bbeeab895834.png)

[2015-02-19 15:12] saleiva opened #2353 "In the connect dataset modal when creating a map scrollbar is shown but not needed"
![screen shot 2015-02-19 at 16 11 20](https://cloud.githubusercontent.com/assets/132149/6269209/044f1a60-b852-11e4-8749-16693d63c84e.png)

[2015-02-19 15:13] saleiva opened #2354 "Scrollbar get cut"
In the create map modal window

![screen shot 2015-02-19 at 16 12 29](https://cloud.githubusercontent.com/assets/132149/6269236/2c52d2ae-b852-11e4-9df9-2407419ca22f.png)

[2015-02-19 15:14] viddo commented on #2345
That sounds reasonable, fixed in referenced commit

[2015-02-19 15:16] saleiva opened #2355 "Breadcrumb on create map modal"
Clicking on the previous step should take the user the the previous state
![screen shot 2015-02-19 at 16 15 24](https://cloud.githubusercontent.com/assets/132149/6269309/9b15a16c-b852-11e4-9040-276115526419.png)

[2015-02-19 15:19] saleiva opened #2356 "Search on the create map modal doesn't work correctly"
I'm getting datasets that doesn't fit in the search term

![screen shot 2015-02-19 at 16 18 12](https://cloud.githubusercontent.com/assets/132149/6269356/f3ba306c-b852-11e4-8dd2-a57990eeb1de.png)

[2015-02-19 15:21] saleiva opened #2357 "Change order on the connect dataset modal menu"
Data library should be in the 2nd position

[2015-02-19 15:24] #2126 closed

[2015-02-19 15:24] #2341 closed

[2015-02-19 15:24] #2345 closed

[2015-02-19 15:27] xavijam opened #2358 "When user only is importing a dataset and it finishes, "background importer" should redirect to that dataset"

[2015-02-19 15:30] saleiva opened #2359 "CartoDB version on Google Cloud should have a slightly modified logo to express that."

[2015-02-19 15:32] xavijam opened #2360 "Decide if load Lato font from Google servers"
Need to have the font in CartoDB taking into account offline and onpremise options.

[2015-02-19 15:53] rafatower opened #2361 "Move cache invalidation logic out of visualizations controller"
Likes trigger an invalidation within the visualizations controller:

https://github.com/CartoDB/cartodb/blob/f72c1a2b35a8d70390cf31c0139ef17ad7680a23/app/controllers/api/json/visualizations_controller.rb#L334

https://github.com/CartoDB/cartodb/blob/f72c1a2b35a8d70390cf31c0139ef17ad7680a23/app/controllers/api/json/visualizations_controller.rb#L380

[2015-02-19 15:58] piensaenpixel opened #2362 "Share public map - password"

[2015-02-19 16:00] #1651 closed

[2015-02-19 16:01] #1176 closed

[2015-02-19 16:03] saleiva opened #2363 "Fixes on Share with your colleagues modal"
There is an horizontal scrollbar that is not being used.
The grey button shouldn't have white bkg.
"Share with your XX colleages" should be something like "Select your colleagues you want to give access in the list below"

![screen shot 2015-02-19 at 17 01 55](https://cloud.githubusercontent.com/assets/132149/6270290/17885e28-b859-11e4-8628-9f8f2363f4c4.png)

[2015-02-19 16:06] saleiva opened #2365 "When having a map/dataset shared with some users we should show it on the privacy modal"
It was designed, right?
Also when not having any user, we shouldn't show the small number as it looks the number of users with access to that item.

![screen shot 2015-02-19 at 17 04 35](https://cloud.githubusercontent.com/assets/132149/6270348/8ade9298-b859-11e4-895f-253675a04460.png)

[2015-02-19 16:07] saleiva commented on #2363
After thinking a bit more on this I think we should remove the "header with the arrow" and add the arrow on the modal header like it is on the create map modal for example.

[2015-02-19 16:09] #2051 closed

[2015-02-19 16:10] iriberri opened #2366 "support rar files"
cc @juanignaciosl @Kartones

Right now, we're showing:
![image](https://cloud.githubusercontent.com/assets/1730320/6270416/21e8b9ca-b85a-11e4-8344-869a03414c67.png)

[2015-02-19 16:10] #2277 closed

[2015-02-19 16:31] #2343 closed

[2015-02-19 16:48] #2344 closed

[2015-02-19 16:50] iriberri opened #2368 "Allow drag&drop from browser downloads"

[2015-02-19 16:55] iriberri opened #2369 "Cannot start import from ArcGIS Online"
I'm adding the URL (https://maps.brgov.com/gis/rest/services/Governmental_Units/Police_District/MapServer/0) but there's no option to accept, or confirm.

Pressing enter is just getting rid of the connect dataset modal.

[2015-02-19 16:56] xavijam commented on #2369
It should be fixed with https://github.com/CartoDB/cartodb/pull/2370

[2015-02-19 16:58] iriberri commented on #2369
Awesome :smiley_cat:

[2015-02-19 17:06] rafatower commented on #2306
related to https://github.com/CartoDB/cartodb/pull/2194

[2015-02-19 17:12] bolson7117 commented on #1969
I'm I missing something here, I see that its working but will the data on Mapbox come across as well to CartoDB. Forgive me I'm new to this ;-)

[2015-02-19 17:31] juanignaciosl commented on #2110
Postponed.

[2015-02-19 17:33] iriberri opened #2371 "Torque slider is not showing the time in a 2 days range visualisation."
http://team.cartodb.com/u/iriberri/viz/604da2f4-b85d-11e4-be51-0e9d821ea90d/embed_map

cc @javisantana  @fdansv

[2015-02-19 17:44] viddo commented on #2365
There is no screen for it, and it's not implemented ATM. Should it be the same as on delete items?
![screen shot 2015-02-19 at 18 43 56](https://cloud.githubusercontent.com/assets/978461/6272364/5739f1fe-b867-11e4-95f2-f84afa15868c.png)

[2015-02-19 17:47] viddo commented on #2365
Based on what we discussed in person (can't find and summary in the previous PRs), we concluded that privacy option do not affect other users. What we did design and implement was if read/write access was revoked but inline, like this:
![screen shot 2015-02-19 at 18 43 16](https://cloud.githubusercontent.com/assets/978461/6272405/9ac5a616-b867-11e4-8cb4-a4a15a4b04ed.png)
Has this changed?

[2015-02-19 17:48] xavijam opened #2372 "Fix and enable twitter imports in the new dashboard"

[2015-02-19 17:51] xavijam commented on #2356
We have to check this, because I haven't been able to reproduce it.

[2015-02-19 17:52] xavijam commented on #2369
Closing due to it is fixed thanks to https://github.com/CartoDB/cartodb/pull/2370.

[2015-02-19 17:52] #2369 closed

[2015-02-19 17:57] juanignaciosl commented on #2010
This is duplicated: #2035

Workaround until is fixed: quote the data that gets corrupted (*"*12345688900*"*) or import it with the api disabling type guessing.

[2015-02-19 17:57] #2010 closed

[2015-02-19 18:00] #2294 closed

[2015-02-19 21:11] saleiva commented on #2365
1. Yes we should use that design
2. No, that didn't change!

[2015-02-20 07:46] juanignaciosl opened #2373 "ERROR: column "udpated_at" does not exist"
https://rollbar.com/vizzuality/CartoDB/items/4698/

[code]

[2015-02-20 07:59] juanignaciosl opened #2375 "undefined method `organization' for nil:NilClass"
https://rollbar.com/vizzuality/CartoDB/items/4676/

[code]

[2015-02-20 08:50] juanignaciosl commented on #2373
Retest this, please.

[2015-02-20 09:02] viddo commented on #2373
retest this please

[2015-02-20 09:06] viddo opened #2377 "Grunt fails on clinker, cartodb.js not updated (due to make[1]: Entering directory"
Has happened since at least a few days back, these builds failed completely:
- http://clinker.cartodb.net/jenkins/job/CartoDB-PR-testing/1797/console
- http://clinker.cartodb.net/jenkins/job/CartoDB-PR-testing/1793/console
- http://clinker.cartodb.net/jenkins/job/CartoDB-PR-testing/1784/console
- http://clinker.cartodb.net/jenkins/job/CartoDB-PR-testing/1774/console
- http://clinker.cartodb.net/je

[2015-02-20 09:20] viddo commented on #2377
@CartoDB/frontend this has been going on for at least a few days and now seem to break builds randomly. Seems to be an issue with the cdb submodule and the grunt task. Anyone has any idea on what might have changed related to this?

[2015-02-20 09:24] viddo commented on #2365
Ok, so then the only thing to fix for this issue would be _when not having any user, we shouldn't show the small number as it looks the number of users with access to that item_, right?

[2015-02-20 09:40] iriberri opened #2378 "Add button to disconnect from GDrive/Dropbox/Other datasources"
@Kartones says that backend part is already done. :smile:

We're detecting a couple of cases where users revoke CartoDB access from GDrive but the accounts are still half-linked.

cc @saleiva

[2015-02-20 09:46] xavijam commented on #2239
This is already done ;).

[2015-02-20 09:46] #2239 closed

[2015-02-20 09:52] #2373 closed

[2015-02-20 10:07] viddo opened #2380 "Fix liked state on items on new public pages"
https://rollbar.com/vizzuality/CartoDB/items/4669/

ATM organization profiles throw an error, due to an argument is missing, which is a user object. However, this user param is only used to check if the user liked an item or not which is wrong to begin with, that needs to be based on current user which we don't have access to in the controller (since contents gets cached), so needs to be done clie

[2015-02-20 10:07] carlostallon commented on #2335
I'm updating the mockups removing the "light" fonts. It doesn't work well with font size > 13

[2015-02-20 10:09] saleiva commented on #2378
Totally, this should be in the part that @carlostallon is working on I guess.

[2015-02-20 10:09] saleiva commented on #2365
Yep

[2015-02-20 10:21] carlostallon commented on #2378
:+1:

[2015-02-20 10:31] saleiva opened #2381 "Small quota bar is missing on the Account pages"
for you to dispatch
![screen shot 2015-02-20 at 11 31 05](https://cloud.githubusercontent.com/assets/132149/6284749/fa135456-b8f3-11e4-9b5a-73c4169dfdb6.png)

[2015-02-20 10:32] xavijam commented on #2381
I talk about it with @carlostallon and it seemed not to be a final thing. Anyways, easy to get back.

[2015-02-20 10:33] saleiva commented on #2381
hey @carlostallon I loved that, why not?

[2015-02-20 11:09] juanignaciosl opened #2383 "Errors that should be warnings or debugs"
- Warnings:
- Debugs:
  - [CartoDB::CentralCommunicationFailure: Application server responded with http 422: {"errors":["Existing username."]}](https://rollbar.com/vizzuality/CartoDB/items/4700/occurrences/4235293238/).

cc @Kartones @rafatower

[2015-02-20 11:10] miguelarias opened #2384 "Error while exporting image with Torque heat maps visualisation"
There was an error exporting the image
TorqueRenderer: syntax error at or near ")"

[2015-02-20 11:11] carlostallon commented on #2381
I like it, and there are no plans to change it : ) so, ready to go IMO

[2015-02-20 11:13] fdansv commented on #2371
Passing this to Cartodb.js!

[2015-02-20 11:13] #2371 closed

[2015-02-20 11:20] saleiva commented on #2384
I think this is duplicated, @iriberri @fdansv can you confirm?

[2015-02-20 11:23] #1892 closed

[2015-02-20 11:30] piensaenpixel opened #2385 "Remove name of maps"
When you want lock some maps appear the name of the maps
![image](https://cloud.githubusercontent.com/assets/1214201/6285439/1fc0796a-b8fc-11e4-9f86-11225bef981d.png)

Unify like this one (delete some maps)
![image](https://cloud.githubusercontent.com/assets/1214201/6285434/0f1c9cec-b8fc-11e4-8d60-1ee47696a789.png)

[2015-02-20 11:31] Kartones commented on #2383
mm ok... no idea of where does it appears, but fine by me :)

[2015-02-20 11:37] iriberri commented on #2384
This is a known bug, Torque is not working yet with Static Maps API afaik.

cc @rochoa @javierarce

[2015-02-20 11:38] javierarce commented on #2384
Yep: https://github.com/CartoDB/cartodb/issues/2320

It's fixe here: https://github.com/CartoDB/cartodb.js/issues/354 and waiting for a PR review here: https://github.com/CartoDB/cartodb.js/pull/356

[2015-02-20 11:38] rochoa commented on #2384
Torque works but, as Javi said, the integration has a pending fix :+1:

[2015-02-20 11:39] rochoa commented on #2384
What I'm not sure is if heatmaps are gonna work because of the assets it uses not being available in node.

[2015-02-20 11:59] juanignaciosl opened #2389 "Allow user limits to be editable by remote api"
* max_import_file_size
* max_import_table_row_count
* max_concurrent_import_count

[2015-02-20 12:03] saleiva opened #2391 "Crop description to max 2 lines in the map cards"
![screen shot 2015-02-20 at 13 03 11](https://cloud.githubusercontent.com/assets/132149/6285831/de7d5e82-b900-11e4-909e-48bb75279ed3.png)

[2015-02-20 12:08] saleiva opened #2392 "Incorrect text on delete map modal"
![screen shot 2015-02-20 at 13 06 02](https://cloud.githubusercontent.com/assets/132149/6285870/5c35c044-b901-11e4-875a-bdb718fad9c3.png)

Maps cannot be exported, What about "Deleted maps cannot be recovered. Be sure before proceding"

[2015-02-20 12:09] viddo commented on #2392
:+1:

[2015-02-20 12:09] saleiva opened #2393 "Disable click on the dataset title on the create new map modal window"
Right now it takes you to the dataset view

[2015-02-20 12:15] piensaenpixel commented on #2391
Take a look this options
- http://jsfiddle.net/danield770/DpQ7e/30/
- http://codepen.io/martinwolf/pen/qlFdp

[2015-02-20 12:28] #2186 closed

[2015-02-20 13:11] #2380 closed

[2015-02-20 13:13] #789 closed

[2015-02-20 13:14] #2375 closed

[2015-02-20 13:17] Kartones opened #2394 "private viz.jsons 403 on production but not in dev"
Research so far:

- Local Thin server works fine. If there's a user session Rails and Warden work as expected and normal application-level authorization is performed and if correct private viz.json is served.
- Pre-production and Production servers use Unicorn. At both same issue happens. A 403 is returned as if there were no sessions.
  - [x] Both requests are done from https
  - [x] Correct no c

[2015-02-20 13:21] Kartones commented on #2306
Issue of not detecting cookie based sessions moved to https://github.com/CartoDB/cartodb/issues/2394

[2015-02-20 13:21] #2306 closed

[2015-02-20 13:21] saleiva opened #2395 "Prepare email for inviting people to use the new dashboard"
It should be something for the first users we activate the new dashboard.

cc / @vuxita @andrewxhill @brittanymicek

[2015-02-20 13:23] saleiva opened #2396 "Show cool random sentences on loading screens"
@javierarce I'd kill to use the list you prepare for slack

[2015-02-20 13:33] saleiva opened #2397 "Incorrect link on connect dataset modal"
![screen shot 2015-02-20 at 14 26 05](https://cloud.githubusercontent.com/assets/132149/6286866/75ed4862-b90c-11e4-85eb-c5110b4983ca.png)

It should link to http://docs.cartodb.com/cartodb-editor.html#supported-file-formats and open it in a new tab.

[2015-02-20 13:37] vuxita commented on #2395
hey!

Just a couple of questions:
- Can we see the features or design of the new dashboard?
- When will this be activated?

We'd need the list of users that will have it activated imported in Mailchimp.

Thanks!
Eva

[2015-02-20 13:38] saleiva opened #2398 "Add submit button near the URL input when connecting a dataset"
leave the enter thing, but add the button.
28px height, grey style.

[2015-02-20 13:41] javierarce opened #2399 "Use user URLs to get the map previews, not the team one"

[2015-02-20 13:44] saleiva commented on #2395
hey @vuxita what is your cartodb username? I'll activate it right now

[2015-02-20 13:48] iriberri opened #2400 "Available geometries is empty (sometimes) in postal codes georef"
**Geocoding by postal codes**

I've been doing a test with a table that contains a column with zipcodes and another column which includes the country in which they are located.

Sometimes, the response for `available geometries` is:

[code]

I've been trying to check why this happens. It's reproducible by creating a new table with a random number in "name", and "Ireland" as description.

![image](

[2015-02-20 13:55] vuxita commented on #2395
it's vuxita, thanks!

[2015-02-20 13:55] saleiva opened #2401 "Change "Torque HEAT" to "HEATMAP" in the wizards panel"

[2015-02-20 13:56] saleiva commented on #2395
Done, enjoy :_)

[2015-02-20 13:57] saleiva opened #2402 "Delete should be always in the last position on the actions menu"
![screen shot 2015-02-20 at 14 56 45](https://cloud.githubusercontent.com/assets/132149/6287293/bd783e4a-b910-11e4-9252-46e0e134852f.png)

[2015-02-20 14:06] #2393 closed

[2015-02-20 14:09] #2397 closed

[2015-02-20 14:11] xavijam commented on #2350
https://github.com/CartoDB/cartodb/commit/b9fc18efafff551366b28c8165d41fef8a567ff4

[2015-02-20 14:11] #2350 closed

[2015-02-20 14:12] xavijam commented on #2356
Closing since we haven't reproduced it again.

[2015-02-20 14:12] #2356 closed

[2015-02-20 14:51] xavijam commented on #2398
https://github.com/CartoDB/cartodb/commit/9c0a70439c589c4d890019dddebfa69df8709401

![screen shot 2015-02-20 at 15 50 14](https://cloud.githubusercontent.com/assets/132146/6288319/5466a718-b918-11e4-9384-0fd91c5e96d9.png)

[2015-02-20 14:51] #2398 closed

[2015-02-20 14:51] viddo opened #2403 "Adding infowindow to more than one layer do not delete the infowindow upon deactivate"
How to reproduce:

1. Create a table with two layers (select different wizards/colors on them to be able to separate them)
1. Enable hover infowindow on both layers
1. Disable infowindow on the lower layer
1. Open the visualization in a new window (e.g. through "Share" button in top-right corner)

**Expected:** should only see hover window on the enabled layer
**Actual:** the lower layer still has

[2015-02-20 14:52] xavijam commented on #2357
Datasets | Data library | Shared | Liked | Connect dataset?

[2015-02-20 15:01] saleiva commented on #2357
Datasets | Shared | Liked | Data library | Connect dataset

[2015-02-20 15:13] javierarce opened #2404 "Update cdb.js to 3.12.5"

[2015-02-20 15:25] santisaez opened #2406 ""see all formats" not working"
![see_all_formats](https://cloud.githubusercontent.com/assets/223956/6288821/e8d1e068-b91b-11e4-85dd-b80f7388156c.png)

It's a link to:

http://developers.cartodb.com/documentation/using-cartodb.html#formats_accepted

and then it's redirected to `docs.cartodb.com`:

[code]

Seems that `#formats_accepted` anchor has changed to [`#supported-file-formats`](http://docs.cartodb.com/cartodb-editor.html#

[2015-02-20 15:29] iriberri opened #2407 "Error changing privacy from private to with link."
We've had two issues here.

1. Changing privacy from API wasn't changing the privacy really.
  In this case, in the dashboard the table appeared as "with link", but once you entered in the table it was private. Also, the privacy selector in the dashboard was kind of bugged and didn't allow to change the privacy from there.

2. Changing privacy from dashboard wasn't changing the privacy really.

cc

[2015-02-20 15:48] saleiva opened #2408 "Add value weighted option for the heatmap wizard"

[2015-02-20 15:48] saleiva commented on #2406
Hey, closing this since is being fixed in the new dashboad. Thanks!

[2015-02-20 15:48] #2406 closed

[2015-02-20 16:33] #2404 closed

[2015-02-20 16:33] javierarce opened #2411 "Add the user auth_token in the viz.json of password protected visualizations"

[2015-02-20 16:34] #2053 closed

[2015-02-20 16:36] saleiva commented on #2311
bump!

[2015-02-20 16:37] saleiva commented on #2237
sure, we need to talk about this ASAP

[2015-02-20 16:37] #1606 closed

[2015-02-20 16:38] Kartones commented on #2411
In any place in special, or I can decide? (I haven't checked where would be more suitable, will do it later or on monday)

[2015-02-20 16:54] saleiva opened #2413 "Fix current pagination in new dashboard"
It should work in the same way that github does
![screen shot 2015-02-20 at 17 53 50](https://cloud.githubusercontent.com/assets/132149/6305172/7a030b54-b929-11e4-9ce7-257361b16ba2.png)

show [X-n,...,X-2,X-1,X,X+1,X+2,...,X+n]

[2015-02-20 16:58] viddo commented on #2413
The same way as in _exactly_ the same way?

[2015-02-20 17:01] saleiva commented on #2413
What do yo mean? :)

[2015-02-20 17:08] saleiva opened #2414 "Prepare splash screens for the new videos"
- [x] Icons and colors  (@tallon).
- [x] Short descriptions for videos (@auremoser or @andrewxhill ).
- ~~Display key points within the videos (like in attached 2 - @auremoser or @andrewxhill ).~~
- [x] What to do with the videos (@saleiva and @xavijam).
- [x] Review videos (titles, names, etc - @auremoser or @andrewxhill).

[2015-02-20 17:10] saleiva opened #2415 "Allow having a video "minimized""

[2015-02-20 17:10] #2274 closed

[2015-02-20 17:12] viddo commented on #2413
To have it clear what behaviour the pagination is expected to have. E.g. the Github pagination always displays the "Previous" button but with a disabled state:
![screen shot 2015-02-20 at 18 07 36](https://cloud.githubusercontent.com/assets/978461/6305443/91bba2e0-b92b-11e4-8345-4eb491c3a549.png)
![screen shot 2015-02-20 at 18 08 25](https://cloud.githubusercontent.com/assets/978461/6305444/91c071

[2015-02-20 17:19] Kartones commented on #2394
Awesome discovery after setting up a pre-production server to allow debugging and setting a `debugger` in the vizzjson2 controller action.
- If I let the execution continue inmediately, `request.session` is empty and everything fails with a 403.
- If I wait 20 seconds (with 15 still fails), after the first failed call does a second one that has session and everything and request works as expected.

[2015-02-20 17:36] #2402 closed

[2015-02-20 17:36] #2385 closed

[2015-02-20 17:36] #2392 closed

[2015-02-20 17:41] Kartones opened #2417 "Properly log Named Maps communication errors"
This error is not stored in the error log:
[code]

Add proper fields and retrieved template contents, and store it for easier debugging.

[2015-02-20 17:54] javierarce opened #2418 "Deleting a password protected visualization from the dashboard fails"
#### Steps to reproduce it

1. Create a visualization
2. Set its privacy to private with password
3. Go to the dashboard and delete it

#### Expected result

The vis should disappear.

#### Actual result

The vis is not removed from the dashboard and the backend returns the following error:

[code]

[2015-02-20 17:59] viddo commented on #2403
@CartoDB/frontend how would you prioritize this one? don't know the internals of the layers to be able to say if it's easy to fix or not either

[2015-02-20 18:08] saleiva commented on #2415
![screen shot 2015-02-20 at 19 08 13](https://cloud.githubusercontent.com/assets/132149/6306431/d9d52f3a-b933-11e4-8441-303c1695a71d.png)

[2015-02-20 18:19] saleiva commented on #2415
![screen shot 2015-02-20 at 19 19 17](https://cloud.githubusercontent.com/assets/132149/6306644/6237d70a-b935-11e4-82d7-5f2a6893715e.png)

Research how to keep going on a different page

[2015-02-20 18:47] saleiva opened #2419 "Improve casting to number operations in columns with $ or €"
Right now, all columns are null after converting a column with null rows and numbers with $ before.

[2015-02-20 18:51] saleiva commented on #2403
Uhm... this is important...

[2015-02-20 19:25] javisantana commented on #2403
this bug could be:

- frontend not sending correct data to backend
- backend not disabling tooltip in the infowindow when there are no fields
- cartodb.js adding infowindows and or tooltips when there are no fields

The second one is the right place to do this since I checked frontend is sending empty fields

(this has been like this since the beginning of tooltips)

[2015-02-20 19:37] saleiva opened #2420 "Infowindows should not show titles for cells with null values"
in hover is happening.
Go to a table, click on infowindow choose a column with null and not null values, and try!

[2015-02-21 11:44] iriberri commented on #990
up.

[2015-02-21 14:30] javisantana commented on #2322
a layergroup passing through the cdn?

[2015-02-21 14:32] rochoa commented on #2322
It is using `dynamic_cdn`:
[code]

[2015-02-23 07:47] juanignaciosl opened #2422 "invalid encoding name: unicode"
https://rollbar.com/vizzuality/CartoDB/items/4721/?item_page=0#traceback

[code]

[2015-02-23 08:36] juanignaciosl opened #2423 "Tables registered through api and ghost tables don't display rows"
Steps to reproduce:
1. Create table with the api.
2. Cartodbfy it (`select cdb_cartodbfytable`).
3. Make inserts with the api.
4. Open the dashboard.
5. Table & size appears, but row count is 0.

[2015-02-23 09:08] juanignaciosl commented on #2400
It seems just a matter of data. [Ireland has not national postal codes yet](http://en.wikipedia.org/wiki/Postal_addresses_in_the_Republic_of_Ireland#Introduction_of_a_national_system) ([news](http://www.rte.ie/news/2013/1008/479116-nationwide-postcode/)). This is [documented in data-services](https://github.com/CartoDB/data-services/tree/master/geocoder/postal-codes) (Ireland code, IE, is missing)

[2015-02-23 09:10] xavijam commented on #2357
Discussed and for the moment closing.

[2015-02-23 09:10] #2357 closed

[2015-02-23 09:19] viddo commented on #2403
So if it's important (and added to the scope of this sprint) then it would probably be a good idea to assign it to someone (that knows backend I guess, based on where the culprit is) so it don't fall between the cracks, but who?

[2015-02-23 09:21] javierarce commented on #2384
@miguelarias: could you share the URL of the map (or the vizjson URL) with us so we can confirm it was fixed, please?

[2015-02-23 09:27] javierarce commented on #2320
I didn't notice this was a torque_heat. @rochoa, @fdansv: you were working on a fix for this, right? Is there an issue for that already?

[2015-02-23 09:30] iriberri commented on #2400
But why there's no possibility to geocode the rest of the data, which contains valid countries?

[2015-02-23 09:34] juanignaciosl commented on #2400
I haven't checked the multicountry case, reopening.

[2015-02-23 09:39] rafatower commented on #1989
@saleiva I'm moving this to the next milestone. For this one I already have Perf Editor and Kepler.

[2015-02-23 09:44] rochoa commented on #2320
This will be sorted here: https://github.com/CartoDB/torque/issues/131

[2015-02-23 09:45] rochoa commented on #2320
Once we release https://github.com/CartoDB/Windshaft/issues/271 (today or tomorrow) at least it won't fail (although the heatmap won't be displayed).

[2015-02-23 09:47] santisaez opened #2424 "Fix "CartoDB is a product of Vizzuality" in the footer"
It will probably fixed with the new dashboard, but just in case I want to warn about this:

![cartodb_footer](https://cloud.githubusercontent.com/assets/223956/6325558/316049c6-bb49-11e4-8ca0-c66218655f71.png)

[code]

[2015-02-23 09:59] saleiva commented on #2424
Yep, it is fixed in the new dashboard. Should I close?

[2015-02-23 10:07] saleiva opened #2425 "File cannot be droped on the DATA file state for the connect dataset modal"

[2015-02-23 10:08] saleiva opened #2426 "Add autocomplete to the searchboxes with table names or map names"

[2015-02-23 10:08] saleiva opened #2427 "Misspelling - “There are not datasets. No datasets no fun” → Proposed text: “You haven’t liked any datesets yet"

[2015-02-23 10:09] saleiva opened #2428 "No ability to like datasets in the Data Library?"

[2015-02-23 10:10] saleiva opened #2429 "Low contrast in the lateral nav arrows."

[2015-02-23 10:10] saleiva opened #2430 "Change Privacy - Copy Edit: “protected” should be “protect”"

[2015-02-23 10:12] saleiva opened #2431 "Link to Locked maps / datasets should only appear if you have >0 locked XXX"

[2015-02-23 10:13] saleiva opened #2432 "Bigger Size → “Largest size” probably better grammatically"

[2015-02-23 10:14] saleiva opened #2433 "Copy-edit - remove the “to”: “We recommend you export your dataset before deleting.”"

[2015-02-23 10:14] saleiva commented on #2433
Also,  include a warning that won’t be able to retrieve the dataset after delete it - permanently deleted from CartoDB?

[2015-02-23 10:22] viddo commented on #2433
But last week we [changed the copy to _not_ say anything about exporting](https://github.com/CartoDB/cartodb/issues/2392) since it cannot be done yet. Does this change make sense?

[2015-02-23 10:23] saleiva commented on #2433
You can export datasets, not maps. This is for datasets.

[2015-02-23 10:31] viddo commented on #2433
Aha, I see, so there's a difference between datasets and maps, thanks for clarifying.  However, I don't think it makes sense to mention anything about exporting until that is implemented, [which was dropped/postponed in a earlier discussion](https://github.com/CartoDB/cartodb/issues/1660#issuecomment-69009655), we probably need to revisit this again before doing this change.

[2015-02-23 10:36] javierarce commented on #2384
I'm going to close this since it's duplicated here: https://github.com/CartoDB/cartodb/issues/2320

[2015-02-23 10:36] #2384 closed

[2015-02-23 10:43] javierarce commented on #2067
Closing this since we'll we working in https://github.com/CartoDB/cartodb/issues/2396.

@javisantana: you can keep trolling us there :heart:

[2015-02-23 10:43] #2067 closed

[2015-02-23 10:48] saleiva commented on #2433
Exporting datasets is already possible, not in batch, but yes one by one. Since it's a possible workaround and deleting is something very sensible from the user perspective I'd implement this change in the text now.

[2015-02-23 10:51] viddo commented on #1853
@xavijam Since a owning/parent view, who instantiates a dialog, is also the one that knows whether a dialog is persistent or not I think it's that view's responsibility to do the clean up if the view is not persistent (as is done in the [filters view](https://github.com/CartoDB/cartodb/blob/master/lib/assets/javascripts/cartodb/new_dashboard/filters_view.js#L211)).

From what I can see in the code

[2015-02-23 10:57] viddo commented on #2433
(Export dialog is not implemented for single items either yet](https://github.com/CartoDB/cartodb/issues/1658), due to the previously mentioned decision it was postponed. So in that case I propose that we should implement it and fix the copy together with those changes.

[2015-02-23 11:05] #2027 closed

[2015-02-23 11:05] #2365 closed

[2015-02-23 11:10] xavijam commented on #1853
Leave it as it is, don't worry.

[2015-02-23 11:10] #1853 closed

[2015-02-23 11:11] xavijam commented on #2428
Do you feel it is worth it? Only you will see those "stats", because i feel they won't be shared, won't they @juanignaciosl ?

[2015-02-23 11:14] iriberri opened #2434 "Error - Twitter: number of terms in search"
Creating a Twitter request with more search terms than the number allowed is raising:

[code]
Could not accept your search request: Too many positive clauses in rule - 31.  The maximum allowed is 30 (at position 1)
[code]

[2015-02-23 11:18] Kartones commented on #2417
Will get fixed at #2418

[2015-02-23 11:18] #2417 closed

[2015-02-23 12:01] javierarce commented on #2396
That's great, but we'll probably need to give attribution to some of the quotes.

[2015-02-23 12:25] saleiva commented on #2433
Even if not being to export tables from the dashboard, it's possible from the table view.

[2015-02-23 12:26] #2424 closed

[2015-02-23 12:59] juanignaciosl commented on #2400
Ok, we're [returning the type of the geocoding (point or polygon) only if all countries involved have the same type](https://github.com/CartoDB/cartodb/blob/master/app/controllers/api/json/geocodings_controller.rb#L103). Since Ireland has not, adding Ireland will de facto disable geocoding.

We could certainly do better:
a. Do an `or` instead of an `and`. Problem: this would mix geom types.
b. Ret

[2015-02-23 13:08] javierarce commented on #2396
Some tests:

![sentence01](https://cloud.githubusercontent.com/assets/4933/6328211/5b263c7c-bb65-11e4-9929-f1d2015f63e7.png)
![sentence02](https://cloud.githubusercontent.com/assets/4933/6328210/5b261f9e-bb65-11e4-9fd9-665495e926c0.png)
![sentences03](https://cloud.githubusercontent.com/assets/4933/6328212/5b27d578-bb65-11e4-8213-ef85efda141c.png)

The last one is too long, we should probably spli

[2015-02-23 13:29] iriberri commented on #2400
a) In my opinion, mixing geom types is not a good idea atm :-)
b) Nope, this will provoke that every geocoding process where USA, FRA, AUS or CAN were involved (these are the only countries with polygons) won't work correctly: all the other countries would be nulled.

Think that we have points for all the world (except some weird cases), but polygons just for some countries. It makes sense (to me)

[2015-02-23 13:32] juanignaciosl commented on #2400
Crossposting.

@iriberri proposes f) then (simpler that what I thought, since we have points stored). @rafatower , @xavijam do you agree?

[2015-02-23 13:37] rafatower commented on #2400
+1 to (f) polygon centers if it is not too complex.

[2015-02-23 13:39] juanignaciosl commented on #2428
Right now that search refers to private data as @xavijam says. If you think it's worthy we could do that feature by jumping to the external source, but it'd require remote querying from frontend or propagating changes when they change (which I think is much worse).

As an alternative, maybe it's more interesting displaying how many times it's been imported. We should increase a counter or somethin

[2015-02-23 13:42] iriberri commented on #2400
Polygons are not important here, I think. In the countries where we have polygons we also have the points, no centroids needed. :-)

[2015-02-23 14:27] viddo commented on #2431
Where? In the breadcrumb menu? In the (content) footer that's already the case, unless you hit some edge-case, and if so let me know how to reproduce it.

[2015-02-23 14:31] saleiva commented on #2431
I meant the breadcrumb menu, but let's keep it...

[2015-02-23 14:31] #2431 closed

[2015-02-23 14:32] saleiva commented on #2428
Ok, let's keep it like it is right now

[2015-02-23 14:32] #2428 closed

[2015-02-23 14:33] saleiva commented on #2396
YEah, and we should also always split the citations

[2015-02-23 14:36] juanignaciosl commented on #2400
Ok, 3 agree, so let's do that: countries without data will be ignored, and in case of mixing polygon and points, points will be loaded.

[2015-02-23 14:44] javisantana opened #2437 "use aggresive caching policy for dashboard previews"
in addiction to this: https://github.com/CartoDB/cartodb.js/issues/366

we should cache images in local store or something like that for some minutes.

Also maybe we should use a different caching policy for those images in the tiler, what about

http://....../whaever.png?ttl=600

so the tiler sets a cache-control for this?

cc @rochoa @javierarce

[2015-02-23 14:57] Kartones commented on #2394
Was a Varnish & cookie dropping issue

[2015-02-23 14:57] #2394 closed

[2015-02-23 15:08] xavijam commented on #2045
It doesn't make sense, people will be enabled or disabled from the superadmin

[2015-02-23 15:08] #2045 closed

[2015-02-23 15:14] saleiva opened #2440 "Liked maps / datasets must show all liked maps / datasets by the user"
His own ones, and others ones.

[2015-02-23 15:20] xavijam opened #2441 "Colors and contrasts in the new dashboard"
Some colors are almost not visible on an external screen (with normal calibration settings), in particular:
  - selected datasets/maps item/card
  - the grey background (e.g. applied in the footer)

Coming from ["New dashboard UI bugs"](https://github.com/CartoDB/cartodb/issues/2330).

cc @carlostallon @saleiva @piensaenpixel

[2015-02-23 15:23] #2305 closed

[2015-02-23 15:26] javierarce commented on #2396
Just the whole thing in two? Or you mean having the quote in one line and the author in another one?

[2015-02-23 15:29] Kartones opened #2443 "Add spec to code of PR #2438"
Add a spec for https://github.com/CartoDB/cartodb/pull/2438

[2015-02-23 15:30] saleiva commented on #2396
We should have the author always in a separeted line, right? No matter how long is the quote, which should be also splitted if being too long.

[2015-02-23 15:35] #2418 closed

[2015-02-23 15:35] vuxita opened #2446 "Explore and Learn tabs in the New dashboard"
Hey,

I have been exploring the new dashboard and was wondering if it may be worth it to have the Explore and Learn buttons to open in a new tab so the dashboard is still opened if you are just checking something or looking for some help.

cc @xavijam @saleiva

[2015-02-23 15:44] #2324 closed

[2015-02-23 15:49] iriberri commented on #2400
Yeah, actually, we're *only* returning polygons if all options allow polygons, which doesn't match with the changes in the code.

It's not that we give priority to points over polygons, is that for the multicountry case, we shouldn't block the points.

[code]

Imagine a dataset, with data for USA (points, polygons), France (points, polygons) and Spain (points).

The option "selected" would be poly

[2015-02-23 15:49] viddo commented on #2377
Actually this error (even if it stats "Aborted due to warnings" the task 'cdb' finishes and the rest of the build can still continue to work, e.g. see [latest working build on clinker](http://clinker.cartodb.net/jenkins/job/CartoDB-PR-testing/1834/console) (at this point in time). IMHO we should not have failing tasks in the build however, can someone that works regularly on cartodb.js confirm wha

[2015-02-23 15:51] javierarce commented on #2396
okey-dokey :)

[2015-02-23 15:52] #2411 closed

[2015-02-23 16:05] juanignaciosl commented on #2400
Either you're misunderstanding the code or the code is not doing what I want.

[code]

[2015-02-23 16:06] viddo opened #2447 "Build failing due to browserify on clinker"
[Last case on clinker failing](http://clinker.cartodb.net/jenkins/job/CartoDB-PR-testing/1840/console)
[code]

However, the file do exist and re-trigger a build seems to fix it on clinker. So far only @xavijam have been able to reproduce it locally, and fixed by re-installing npm packages (i.e. deleting node_modules dir and run `npm install`). Unfortunately he doesn't have a backup of that dir so

[2015-02-23 16:06] iriberri commented on #2400
Totally my fault. :+1:

[2015-02-23 16:08] viddo commented on #2447
My guess right now is that something got changed in some browserify-related package which we have installed locally but which is not installed on clinker. I'll try to update the browserify version we have set right now and see fi I can provoke this on a PR (we'll need to update sooner or later anyway so might as well do it now).

[2015-02-23 16:10] rafatower opened #2448 "Instrument code to be able to profile it in production"
- [x] Check https://github.com/ruby-prof/ruby-prof locally
- [x] Activate and deactivate dynamically
- [x] Check performance impact when deactivated
- [x] Identify quick-win: redis client
- [x] Add feature flag
- [x] Add parameters: mode, printer
- [x] Make sure the native gem extension can be built and deployed in prod
- [x] Deploy and test in staging - confirm redis client hypothesis
- [x] Deplo

[2015-02-23 16:37] #2400 closed

[2015-02-23 16:50] rochoa opened #2450 "Invalid template from density wizard"
## STR

1. create a new map with private table (points dataset)
1. add an info window from the editor
1. change to a density wizard
1. go to the public map

## Current result:

map instantiation fails with error
{"error":"Error: Attribute service cannot be activated on layer 0: using dynamic sql (mapnik tokens)"});

## Expected result

map instantiation works

## Extra information

From what I see

[2015-02-23 16:52] xavijam commented on #2450
Arggggg, infowindows in density wizards, god please!

[2015-02-23 17:07] iriberri opened #2451 "List of custom basemaps goes to infinity"
:smile:

By adding new WMS basemaps:

![image](https://cloud.githubusercontent.com/assets/1730320/6332608/dc5fa0e6-bb86-11e4-9e7b-1a09f9855bd9.png)

[2015-02-23 17:16] juanignaciosl opened #2452 "Disqus not loading"
Disqus is not loading in public map pages. Just go to [Spain earthquake](https://team.cartodb.com/u/marias/viz/30ee007e-bb7a-11e4-b90d-0e0c41326911/public_map) map, for example.

There's no JS error or bad request trace, just the error message after loading disqus icon:

"We were unable to load Disqus. If you are a moderator please see our troubleshooting guide."

[2015-02-23 17:21] #1787 closed

[2015-02-23 17:25] xavijam commented on #2353
https://github.com/CartoDB/cartodb/commit/93ed4da3070b7124f1e5e605242868a242be4cfe

[2015-02-23 17:25] #2353 closed

[2015-02-23 17:25] xavijam commented on #2354
https://github.com/CartoDB/cartodb/commit/93ed4da3070b7124f1e5e605242868a242be4cfe

[2015-02-23 17:25] #2354 closed

[2015-02-23 17:27] xavijam commented on #1750
Already done!

[2015-02-23 17:27] #1750 closed

[2015-02-23 17:30] xavijam opened #2453 "Blurry icons in the new dashboard"
![hola](https://cloud.githubusercontent.com/assets/1214201/6266159/504e6720-b836-11e4-9040-8857dce44089.png)
![](https://cloud.githubusercontent.com/assets/1214201/6266007/8cf1007c-b834-11e4-8250-1df4f9359d98.png)
![](https://cloud.githubusercontent.com/assets/1214201/6266828/859a95fe-b83e-11e4-9bae-ae7e0f99f07e.png)

[2015-02-23 17:33] #2275 closed

[2015-02-23 17:36] carlostallon opened #2454 "New Date Picker"
New UI with old UX

[2015-02-23 17:37] carlostallon opened #2455 "Upgrade your plan in user configuration"

[2015-02-23 18:00] iriberri opened #2456 "We're not taking into account parameters for WMS services"
For example, checking:

`http://sitel.jalisco.gob.mx/cgi-bin/ortoamg?FORMAT=image/png&mode=24bit`

Makes the request:

``
https://cartodb-wms.global.ssl.fastly.net/api/check?url=http%3A%2F%2Fsitel.jalisco.gob.mx%2Fcgi-bin%2Fortoamg%3Frequest%3DGetCapabilities%26service%3DWMS&type=wms&callback=jQuery172016956360405310988_1424712794207&_=1424713877272``

SB/4577060

[2015-02-23 18:05] rochoa commented on #2437
As we have already discussed I would not allow to set the TTL from the client side, it is again the same thing as we had with the cache buster.

I would test to implement if-modified-since or etag. I think if-modified-since makes more sense for this case as we already have an *etag* with the layergroupid.

[2015-02-23 18:10] saleiva opened #2457 "New empty datasets don't generate a new map"

[2015-02-23 18:19] saleiva commented on #2453
The one on the delete modal is blurry as well

[2015-02-23 18:54] xavijam commented on #2330
It should be done! :D :dancer: -> https://github.com/CartoDB/cartodb/pull/2444

[2015-02-23 18:54] #2330 closed

[2015-02-23 19:04] rochoa opened #2458 "Vis previews should go through the CDN"
Currently the static previews for visualisations in the dashboard are not using the CDN provided by the layergroup and going directly to the backend (Maps API/Tiler).

The map instantiation is returning something like:

[code]

And the requests for the static preview are going to:

`https://{user}.cartodb.com/api/v1/map/static/bbox/{layergroupid}/{bbox}/300/170.png`

But they should go to somethin

[2015-02-23 19:17] danicarrion opened #2459 "Add a parameter to force https in URL"
https://osm2.cartodb.com/api/v1/oembed?url=http://osm2.cartodb.com/viz/08aef918-94da-11e4-ad83-0e0c41326911/public_map currently returns an iframe with a http address

there should be a switch "force_https" (default: true) to change this behaviour, so:

https://osm2.cartodb.com/api/v1/oembed?url=http://osm2.cartodb.com/viz/08aef918-94da-11e4-ad83-0e0c41326911/public_map will return a https address

[2015-02-23 20:41] saleiva opened #2461 "Error importing geojson exported with CartoDB"
It says that I have two columns with the same header.

https://team.cartodb.com/u/saleiva/tables/marias.twitter_temblor_terremoto_earthquake/public/map?redirected=true

[2015-02-23 21:12] saleiva opened #2462 "Fix thumbnails zoom"
Make zoom +1 / +2 on actual ones.

[2015-02-23 21:24] javisantana commented on #2462
I'd use the zoom//center instead of the bbox for small thumbnails in order to avoid lower zoom levels

[2015-02-23 21:24] saleiva opened #2463 "Description is not "imported" when connecting a dataset from the data library"

[2015-02-23 21:25] xavijam commented on #2463
Reassigned to @juanignaciosl

[2015-02-23 21:31] javisantana commented on #2462
maybe adding a config to cdb.Image in order to not use bbox from the vizjson file? like

[code]

what do you think @javierarce

[2015-02-23 22:58] piensaenpixel commented on #1741
Finished in dropbox - public-map-dataset-2.0.sketch

[2015-02-23 22:58] #1741 closed

[2015-02-24 01:26] matallo commented on #2377
I was sable to reproduce while setting the vagrant dev enviroinment; after clone the repo `grunt` tasks won't work out of the box, you have to:

- git submodule init
- git submodule update

but it'll keep failing, then `cd lib/assets/javascripts/cdb` showed cartodb.js was not in develop, but in a detached sha

- `git checkout develop`
- `git pull`

back to cartodb and `grunt` showed grunt tasks we

[2015-02-24 08:44] #2447 closed

[2015-02-24 09:51] juanignaciosl commented on #2461
The error comes from ogr2ogr: it tries to generate a table with two `wkb_geometry` columns, one for text and other for geometry, and fails. It looks like the text one comes from the exported file, which has that column, empty for all rows. After speaking to @Kartones it looks like that column should've never existed in the Twitter import.

So, the workaround is removing that column from the table

[2015-02-24 10:01] #2249 closed

[2015-02-24 10:06] rafatower commented on #2461
Seems related to: https://github.com/CartoDB/cartodb/issues/2107

[2015-02-24 10:12] saleiva opened #2467 "Allow to specify max tweets import from the UI"

[2015-02-24 10:15] javierarce commented on #2462
Yeah, that was the approach I was thinking of.

BTW, @saleiva, this ticket is a duplicate of https://github.com/CartoDB/cartodb/issues/2348.

[2015-02-24 10:17] javierarce commented on #2348
Closing since this has been duplicated at https://github.com/CartoDB/cartodb/issues/2462 but is a discussion there.

[2015-02-24 10:17] #2348 closed

[2015-02-24 10:31] iriberri opened #2468 "Discussion: legends/overlays on static maps"
We've had a request in Support about including the legends in the exported image of a map.

Ideas? :smile: :tada:

cc @rochoa @javisantana

[2015-02-24 10:33] rafatower commented on #2448
When using rails and rack usually ruby-prof is started by rack:
[code]
so it might be hard to activate/deactivate it dinamically. Will need to investigate that as well.

[2015-02-24 10:39] xavijam opened #2469 "Remove url path and move the file to local for running properly mapinfo_spec"
Here -> https://github.com/CartoDB/cartodb/blame/master/services/importer/spec/acceptance/mapinfo_spec.rb

[2015-02-24 10:57] viddo commented on #2092
Reviewing this issue again, I'm not sure refactoring this to be rendered client-side would make things easier and more maintainable, on the contrary this would require jumping through a bunch of hoops just to render something static.

So, I'll leave it as it is, if we have trouble this in the future we can revisit this decision.

[2015-02-24 10:57] #2092 closed

[2015-02-24 10:58] Kartones commented on #2407
Dev install, repeating steps with an already existing private table:

### Current status
[code]
### Change
[code]

Tried the same in live with a test table, and works also as expected. I can change as many times as I want the privacy and both the viz json data is ok and from the editor (old Dashboard) I can see the correct privacy.

[2015-02-24 11:13] rochoa opened #2470 "Do not send visible=false layers for static previews"
[The Travels of Bike #17310](https://team.cartodb.com/u/timchung/viz/205862b2-1e55-11e4-a972-0e73339ffa50/public_map) map have several layers in [its vizjson](https://team.cartodb.com/api/v2/viz/205862b2-1e55-11e4-a972-0e73339ffa50/viz.json) but not all of them are visible in the visualisation.

When instantiating a map from the viz.json definition we don't have to send those layers that are not m

[2015-02-24 11:13] rochoa commented on #2470
cc @xavijam

[2015-02-24 11:15] xavijam opened #2471 "Send hubspot event when user visits new dashboard"
http://developers.hubspot.com/docs/methods/contacts/create_or_update

[2015-02-24 11:30] #2061 closed

[2015-02-24 11:30] #2430 closed

[2015-02-24 11:30] #2432 closed

[2015-02-24 12:42] juanignaciosl commented on #2107
After upgrading ogr2ogr2 from `2.0.0+svn.27830-precise1` to `2.0.0+svn.28335-precise1ubuntu1` some testing, the new version of ogr2ogr always creates `wkb_geometry` column, no matter you enable type guessing or not indeed, and I've seen no way to configure this. There's a param that looked promising, [`NONE_AS_UNKNOWN`](http://www.gdal.org/drv_pg.html), but it doesn't seem to do what we want.

So,

[2015-02-24 12:46] iriberri opened #2473 "Deleting a column (sometimes) breaks the table"
I imported [this](https://camlsd.cartodb.com/tables/workbook2/public/map) table to my account (shapefile).

What I did:
- Georeference by city names without using country
- Delete cartodb_georef_status column
- Georeference by city names by using "UK" as country
  - _Noticed there was a column with countries, decided to try it_
- Delete cartodb_geo column which was the previous cartodb_georef_stat

[2015-02-24 12:56] rafatower commented on #2448
Something that might be useful to activate and deactivate profiling dynamically: https://github.com/justinweiss/request_profiler

[2015-02-24 13:03] iriberri opened #2474 "Thousands of columns created when importing a XSLX"
Import ID: `562bd256-7cd1-477c-8589-482aa2c3b7e2`

Anonimized file: https://dl.dropboxusercontent.com/u/2879308/completions_20-29anon.xlsx

It contains a special formula on one of the columns, but removing the entire column doesn't solve the issue.

Low priority, just investigating.

cc @juanignaciosl

PS: User says that importing the table from the "Add a new layer" modal worked after a few times

[2015-02-24 13:41] Kartones commented on #2257
New import endpoint param `create_vis` (`boolean`, default `false`)

[2015-02-24 13:43] Kartones commented on #2257
Also, note to self: Update http://docs.cartodb.com/cartodb-platform/import-api.html#upload-file

[2015-02-24 13:45] Kartones commented on #2467
New import endpoint param `twitter_credits_limit` (integer, default null to ignore)

[2015-02-24 14:05] saleiva opened #2475 "Clicking outside any map card or dataset should deselect all selected items"

[2015-02-24 14:12] rafatower commented on #2448
Seems like the quick win is replacing the redis client by something more performant than a pure ruby implementation:

![image](https://cloud.githubusercontent.com/assets/1914276/6350820/4d382922-bc37-11e4-9905-664aacb9e67f.png)

https://github.com/redis/redis-rb#alternate-drivers
https://github.com/redis/hiredis

[2015-02-24 14:20] #2389 closed

[2015-02-24 14:29] rochoa commented on #2407
I think the key here is that you are missing the communication issue with the tiler. Although is not this very same scenario I gonna try to give you some details about a similar one:

# STR

1. create a new table
1. ensure privacy is set to true
1. create a visualisation with that table
1. turn off the tiler
1. change the privacy on the table to private

# Current result

The table privacy is chan

[2015-02-24 14:32] #2113 closed

[2015-02-24 14:33] rochoa commented on #2407
BTW change `4. turn off the tiler` with `4. there was a connectivity issue with the tiler in production` or `4. tiler was down in production` and you get the production scenario :-)

[2015-02-24 14:34] Kartones commented on #2407
Yes, that could be. I can research into revert in case of error (by trying to save the named map as early as possible), of course.

But worries me that we have so frequent communication failures, IIRC I already setup a retry system with multiple attempts.

[2015-02-24 14:42] rochoa commented on #2407
It's not a matter of retrying. If it keeps failing we should not allow to change the table privacy if we cannot guarantee the consistency, i.e., the layer model not matching the required table privacy. If after N retries it failed we should not change the table privacy.

I know it's not easy to do this kind of transactions/rollbacks giving the current models and frameworks but we need to, otherwis

[2015-02-24 14:43] Kartones commented on #2407
No no, of course it should rollback. What I mean is that even rolling back that's only a way to ensure Table consistency, but doesn't solves the communication problems themselves (which seem to happen more often than they should)

[2015-02-24 14:48] carlostallon commented on #2378
![user config - account 2](https://cloud.githubusercontent.com/assets/1712650/6351528/950e1dd8-bc3c-11e4-8894-e8722110301e.png)

[2015-02-24 14:52] rochoa commented on #2407
I know but ... CAP, pick two! In this case I go with CP because we cannot guarantee availability in our distributed system.

Obviously we have to improve on the communications problems between the different components but IMO we cannot guarantee it so we should keep the consistency by tolerating the partitions.

[2015-02-24 14:53] Kartones commented on #2378
Looks great, just take into account that currently we don't store emails of associated services. Only the token itself and a `service` text field with values like `mailchimp`.
I could add the field but it would require a few backend changes + some kind of fallback scenario for those users who already have external datasources connected.

An easier alternative is just having the Disconnect button.

[2015-02-24 14:55] saleiva commented on #2378
Yep, let's keep it with just the button for the time being.

[2015-02-24 14:59] cshirky opened #2476 "Reformat URL for importing public Dropbox, GDrive and Carto files"
Carto breaks on Dropbox and Google Drive URLs that could be trivially reformatted (part of a larger set of issues with difficulties in sharing data user-to-user.) It also fails to import public Carto tables.

**Steps to Reproduce for Dropbox**
1. Create a new table.
2. Select Dropbox as an upload method.
3. There is no option to paste a Dropbox link. (This is confusing for the user.)
4. Select Dat

[2015-02-24 15:11] carlostallon commented on #2378
![user config - account 2](https://cloud.githubusercontent.com/assets/1712650/6351931/bceef39c-bc3f-11e4-903a-426558503737.png)

The input field is optional, we pan put it just in plain text...

[2015-02-24 15:12] rafatower commented on #2107
I'd file a ticket into gdal project with some easy steps to reproduce (i.e: the smallest geojson file and command line to create the table, without all the cartodb code surounding it) and notify Even Rouault

cc/ @javisantana

[2015-02-24 15:16] viddo commented on #2338
I'll solve this in #2340

[2015-02-24 15:20] javierarce commented on #2462
*Before*:

![screen shot 2015-02-24 at 16 19 54](https://cloud.githubusercontent.com/assets/4933/6352176/08522af6-bc41-11e4-95aa-79d23ba8f1a5.png)

*After* (zoom +2):

![screen shot 2015-02-24 at 16 19 41](https://cloud.githubusercontent.com/assets/4933/6352177/085cb106-bc41-11e4-9315-5f7cb15dbc4e.png)

[2015-02-24 15:41] carlostallon commented on #2335
Please @xavijam @viddo @matallo is possible to remove all the light fonts in the new dashboard and replace to the regular ones? This font doesn't renders well in old OS like Windows when the typography is under 13px...

[2015-02-24 16:03] juanignaciosl commented on #2107
Update: it happens only using `-nlt PROMOTE_TO_MULTI` parameter. [Explanation](http://www.gdal.org/ogr2ogr.html):

I've [opened an issue at GDAL](http://trac.osgeo.org/gdal/ticket/5856).

Importing of one of our fixtures, `SHP1.zip`, fails without that parameter, it doesn't seem that we can freely remove it. What do you think about adding that "drop wkb_geometry column after ogr2ogr if it is empty

[2015-02-24 16:41] piensaenpixel commented on #2362
Hi take a look cc/ @saleiva @carlostallon
![password](https://cloud.githubusercontent.com/assets/1214201/6353909/4f496090-bc4c-11e4-9568-5f1edc090025.png)

[2015-02-24 16:41] javierarce commented on #2456
Wait, but this URL doesn't seem to work:

```http://sitel.jalisco.gob.mx/cgi-bin/ortoamg?request=GetCapabilities&service=WMS&type=wms&FORMAT=image/png&mode=24bit```

While this one does:

http://sitel.jalisco.gob.mx/cgi-bin/ortoamg?request=GetCapabilities&service=WMS&type=wms

[2015-02-24 16:56] carlostallon commented on #2311
Mixing things that we talked and worked before, two new versions for free and paid users using the same visual language, so now:
- much more clear and readable info than before
- Conflict with buttons avoided
- better integration with the general new UI
- Paid users get the Enterprise support module and free users the module with links to documentation.

![user config - api keys - free user](https

[2015-02-24 17:20] javierarce opened #2479 "Make the zoom level of the visualization available in the new public dashboard"
In order to avoid using the bounding box to generate the map previews (as requested in [this issue](https://github.com/CartoDB/cartodb/issues/2462), we need to have the zoom available to request a 	identifiable image.

My idea is to be able to have the zoom in the `vis` object of [new_public_maps.html.erb](https://github.com/CartoDB/cartodb/blob/master/app/views/admin/pages/new_public_maps.html.er

[2015-02-24 17:20] javierarce commented on #2462
I've just created a ticket to apply the same solution in the new public dashboard.

[2015-02-24 17:41] carlostallon commented on #2052
The basemap selector, the :hover shows a little UI indication about the zoom level of the basemap
![basemap selector](https://cloud.githubusercontent.com/assets/1712650/6355218/a5c0e4e0-bc54-11e4-921a-5608b4c60496.png)

[2015-02-24 17:44] rafatower commented on #2448
I had the `cannot load such file -- mkmf` in staging.

OTOH I'm creating a ticket for the redis client, cause in local I had a very significant performance boost (in the tables request from 870 to 500 ms). But we need to make sure keepalive is still there with the new client.

[2015-02-24 17:48] juanignaciosl commented on #2107
Already fixed in trunk, a new release of ogr2ogr binary should fix it.

[2015-02-24 17:54] rafatower opened #2480 "Change redis driver to hiredis"
- [ ] Deploy in staging and regression test with attention to performance
- [ ] Make sure we can deal with keepalive, otherwise fork and patch the gem

We're currently using a pure ruby redis client. Profiling in local suggested that it can be a bottleneck. In a request of the form `api/v1/viz/?tag_name=&q=&page=1&type=table&exclude_shared=false&per_page=20&tags=&locked=false&order=updated_at&o%5B

[2015-02-24 17:55] rochoa commented on #2407
Another **STR** for this:

1. Create a private table
1. Add some points
1. Create a visualization from it
1. Publish it
1. Make the table public
1. Try to see the embed map

## Current result

The visualisation tries to use the named maps api but the template that it tries to use was removed (most likely in step 5.) and it no longer exists it fails to render.

## Expected result

The visualisation

[2015-02-24 18:04] javisantana commented on #2479
I think you have it in vis.map.zoom, right

[2015-02-24 18:12] saleiva commented on #2462
Can we deploy so we try first in the private one?

[2015-02-24 18:13] saleiva commented on #2362
Is the button border grey??

[2015-02-24 18:20] juanignaciosl opened #2482 "invalid input syntax for integer when editing quota"
Edit existing organization user quota.

https://rollbar.com/vizzuality/CartoDB/items/4279/

[code]

cc @iriberri

[2015-02-24 18:22] iriberri commented on #2476
Hey, thanks for reporting!

Previously, Dropbox used to give you public links which were really a direct link for the file. Right now, the dl=0 version renders an HTML page with the download button. In this case, CartoDB is downloading and importing that HTML file, so the import fails.

The workaround of using dl=1 seems to be working initially, but when Dropbox detects a lot of downloads  from th

[2015-02-24 18:27] javierarce commented on #2462
Sure, let's do it tomorrow morning. We could use the actual zoom for the visualizations of the public dashboard and the tweaked one (zoom +2) for those in the private dashboard.

[2015-02-24 18:55] javisantana commented on #2407
@rafatower @Kartones I checked it in local installation and happens with the steps @rochoa described.
I also tested the revision before merging the vizjson caching (6bffdfc) and it works as expected.

[2015-02-24 18:57] viddo commented on #2479
Sounds OK to me. But since you mention that template, does this only apply to the public maps?

[2015-02-24 19:03] viddo commented on #2335
Is it only a matter of changing the font-weight to the default one? Or do you imply something more?

[2015-02-24 19:04] javierarce commented on #2479
@javisantana: I couldn't access that attribute there, but maybe is lack of knowledge of rails on my part (the error said that map is an Enumerable object, I think)

@viddo: in the private dashboard we can access that information directly from the model. For the thumbnails that appear when we remove a table, we'll need to do something similar as in the public dashboard.

[2015-02-25 09:05] rafatower commented on #2407
First I'm gonna fix tests in master and then Kartones will help me fix the caching part.

[2015-02-25 09:07] piensaenpixel commented on #2362
Yes sorry it was grey :(

![password](https://cloud.githubusercontent.com/assets/1214201/6367682/083aa01c-bcd6-11e4-95ec-525eabfb9dbb.png)

[2015-02-25 09:28] #2482 closed

[2015-02-25 09:32] viddo commented on #2363
I think that's reasonable, but if we remove that header where do we put the copy change you propose (_select your colleagues..._)? in the header subtitle?

[2015-02-25 09:34] #1993 closed

[2015-02-25 09:44] juanignaciosl opened #2489 "TypeError: nil can't be coerced into Fixnum"
It seems there're problems with some users where  db_size_in_bytes returns nil.

https://rollbar.com/vizzuality/CartoDB/items/2730/?person_page=0#traceback

Error:
[code]

Other:
https://rollbar.com/vizzuality/CartoDB/items/4760/

[code]

[2015-02-25 09:51] #449 closed

[2015-02-25 09:59] Kartones commented on #2257
Upon successfull import, when the import has finished it will return a new field:
[code]

So the frontend can properly redirect to it

[2015-02-25 10:19] #2338 closed

[2015-02-25 10:19] #2340 closed

[2015-02-25 10:24] saleiva commented on #2363
in the white header. Where it talks about open data and so on...

[2015-02-25 10:32] cshirky commented on #2476
"What we could do is to change the URLs for regular imports but force the users to use the Dropbox and Google Drive connectors for Sync tables."

That sounds right, thanks.

As for the Carto case, how can a user find the appropriate link? It doesn't show up as an option in Edit. Give that the only user-specific part of the SQL query string is the table name, which is also in the URL the users sees

[2015-02-25 11:07] Kartones commented on #2257
@xavijam [PR](https://github.com/CartoDB/cartodb/pull/2491) is on its way, so you'll have live the backend support in a few hours at most

[2015-02-25 11:09] #2193 closed

[2015-02-25 11:31] viddo commented on #2391
The current approach cuts the desc by length, but as can be seen in the screenshot it is not always reliable.. I propose to go with the CSS approach as @piensaenpixel proposes above (thx, was about to go search for them). Any arguments against, @xavijam ?

[2015-02-25 11:32] xavijam commented on #2391
test it in all possible browsers, that's it.

[2015-02-25 12:17] carlostallon commented on #2335
Yes, I think we can solve it only changing the font-weight across the CSS

[2015-02-25 12:24] javisantana opened #2495 "add compatible browsers to the documentation"
This would require to have a test suite running in different browsers in order to be sure everything works

[2015-02-25 12:24] javisantana commented on #2495
wrong repo

[2015-02-25 12:24] #2495 closed

[2015-02-25 12:25] javisantana commented on #2495
https://github.com/CartoDB/cartodb.js/issues/383

[2015-02-25 12:35] #2363 closed

[2015-02-25 12:59] xavijam commented on #2257
Taking care of it -> https://github.com/CartoDB/cartodb/commit/ac030eb09e6c130ceef1cfb3a63f7747bf73190a

[2015-02-25 13:36] rafatower commented on #2407
Just wondering what we're invalidating. I added some traces to the code and using the last scenario mentioned by rochoa I found that the keys being invalidated:

requesting the viz.json with the private table:
[code]

changing the privacy of the table to public:
[code]

and when requested again:
[code]

so when setting and requesting the vizjson it uses the `Visualization::Member#id 5779ab04-bce1-

[2015-02-25 13:47] Xatpy commented on #2191
The signup page link ('http://cartodb.com/signup') is in the following files:
- app/views/admin/shared/_new_public_header.erb
- app/views/admin/shared/_public_footer.html.erb
- app/views/admin/shared/_public_header.html.erb
- app/views/admin/visualizations/public/_public_map_footer.html.erb
- app/views/oauth/ (authorize.html || authorize_failure.html.erb || authorize_success.html.erb)
- app/views/

[2015-02-25 13:55] viddo commented on #2391
After also read [about line-clampin](http://css-tricks.com/line-clampin/) in general, I'm not sure about the CSS solution, it is not consistent across browsers and the "fallback" to display the ellipsis is positioned in the corner rather than together with the text (at best).

The quick fix is to shorten the truncation of the string to accodomate larger characters, so it always renders on two line

[2015-02-25 14:00] wboykinm commented on #449
:+1:

[2015-02-25 14:07] xavijam commented on #2372
https://github.com/CartoDB/cartodb/pull/2493

[2015-02-25 14:07] #2372 closed

[2015-02-25 15:25] rafatower commented on #2407
Doing a bit more debugging it seems like varnish was working ok just by chance:

when caching, it is using this header in the response:
[code]
see [visualizations_controller.rb#L195](https://github.com/CartoDB/cartodb/blob/9c8fa36aa54c03a7e19ffee4afc721e0b97775af/app/controllers/admin/visualizations_controller.rb#L195), [visualizations_controller.rb#L273](https://github.com/CartoDB/cartodb/blob/9c

[2015-02-25 15:29] iriberri opened #2500 "Google Signup: new accounts are created on login attempt"
https://github.com/CartoDB/cartodb-central/issues/446

[2015-02-25 15:44] Kartones opened #2501 "Fix TablePrivacyManager duplicated code"
Part of an ongoing cache-related cleaning spree. Remove some duplicated code from table privacy manager (and move one of the vizjson key methods of Vis member near the other).

[2015-02-25 15:45] iriberri commented on #2476
Those download links are calls to our SQL API: http://docs.cartodb.com/cartodb-platform/sql-api.html. I recommend you to check: `response formats` and `output filename` sections.

[2015-02-25 15:46] #2257 closed

[2015-02-25 16:14] Kartones commented on #2407
I've built a list of stuff that touches varnish (I think I haven't left anything):
[code]

[2015-02-25 16:18] iriberri opened #2503 "the_geom is empty but there are geometries in the map (after georeferencing)"
* Uploaded [this file](https://gist.github.com/iriberri/4bc0a861552770f6975c)
* Tried to georeference by admin regions: state column + usa column as country.
* Fails because the usa column contains empty spaces
* Run these two queries:
  * update sample_data_with_state_names_3 set usa = 'USA' WHERE usa ilike '%USA'
  * update sample_data_with_state_names_3 set usa = 'CANADA' WHERE usa ilike '%cana

[2015-02-25 16:44] iriberri commented on #2503
Magic.

[2015-02-25 16:44] #2503 closed

[2015-02-25 16:54] javierarce opened #2504 "Fix team URL to request private static maps"

[2015-02-25 17:15] #2501 closed

[2015-02-25 17:31] Kartones commented on #2204
@iriberri I'll push the pull request tomorrow live.

[2015-02-25 17:57] xavijam commented on #2450
In fact, any of the wizards that don't support interactivity won't work.

[2015-02-25 18:22] #2470 closed

[2015-02-25 18:44] viddo commented on #2335
Not sure I'll have time to do it, but I can reassign the issue for me for now, hopefully should get to it sometime next week.

[2015-02-25 19:14] javisantana opened #2511 "adding a torque layer to a visualization with a torque layer does not switch the incoming one"
it should switch the current layer to a normal layer instead of giving an error

[2015-02-25 21:36] javisantana commented on #2067
@javierarce you can enable my troll thing with "cached_dashboard" feature flag

[2015-02-26 09:38] xavijam opened #2512 "Bugs with new mamufas drag and drop import"
- [ ] In Chrome for linux, once you drop the file, it is imported several times (experienced by @kartones).

[2015-02-26 09:44] #2391 closed

[2015-02-26 09:44] #2427 closed

[2015-02-26 09:44] #2433 closed

[2015-02-26 09:45] iriberri commented on #2512
![out](https://cloud.githubusercontent.com/assets/1730320/6389464/62034e36-bda4-11e4-8183-f3f367f3ab5d.gif)

When there are finished imports in the list, adding a new file is duplicated and previous imports are taken into account too.

Result:
![image](https://cloud.githubusercontent.com/assets/1730320/6389486/86307e46-bda4-11e4-802e-f56db8c45bf9.png)

[2015-02-26 10:02] #2462 closed

[2015-02-26 10:03] #2456 closed

[2015-02-26 10:28] #2450 closed

[2015-02-26 10:36] rafatower commented on #2407
We've seen an issue with x-cache-channel not being set for public viz. Looking into it...

[2015-02-26 10:42] #2408 closed

[2015-02-26 10:55] saleiva opened #2514 "Design confirmation window for when renaming a table"

[2015-02-26 10:57] #2514 closed

[2015-02-26 11:00] cshirky commented on #2476
I'm not trying to solve <i>my</i> problem -- I wouldn't be posting to Issues for that. I'm trying to solve a problem for every novice user (of whom I currently have 300 at my institution.) The idea that a first-time user needs to understand SQL calls <i>to upload a public table</I> seems like overkill.

The general issue is one of UI confusion. The upload box won't take Google Drive URLs in the Go

[2015-02-26 11:07] saleiva opened #2515 "Design image/color selection for wizards"

[2015-02-26 11:07] saleiva commented on #2515
tricky one!

[2015-02-26 11:13] viddo commented on #2475
Dupe of #2026

[2015-02-26 11:13] #2475 closed

[2015-02-26 11:17] #2396 closed

[2015-02-26 11:33] xavijam commented on #2512
Trying some drag&drop libraries due to home-made solution is not so stable :(

[2015-02-26 12:21] Xatpy opened #2518 "Geocoding by Lon/Lat doesn't refresh the table automatically"
How to reproduce:
1. Create an empty table
2. Enter numbers in name and description column (string column).
3. Click on georeference.
4. Select By Lon/Lat Columns and select those columns.
5. Click on continue.

**Expected**: the_geom column is georeferenced.
**Actual**: No changes in the_geom column. *But*, if you go to the dashboard and then enter in the table again, you'll see that column (the_

[2015-02-26 13:06] rafatower commented on #2407
I made sure the rails backend is setting the X-Cache-Host header. I'll dig deeper to check if it is rui varnish config or what.

[2015-02-26 13:23] juanignaciosl opened #2519 "You can create an organization user without password"
You can create an organization user without password. Is this somehow useful (bug or feature :D), @iriberri ?

[2015-02-26 13:26] #2026 closed

[2015-02-26 13:30] rafatower commented on #2407
Seems like we're having negative caching with private views that reply non-logged users with 403 forbidden. Checking it...

[2015-02-26 13:32] javisantana opened #2522 "design batch queries workflow"
When an user executes a long running task (for example, update the whole table, casting a column) the query may take several minutes

The table should be able to work in that scenario, blocking some user actions and reporting to the user that the query is on progress, the same than geocoding and importing.

cc @saleiva @carlostallon @piensaenpixel

[2015-02-26 13:43] saleiva commented on #2522
Ok, we have an element that could be reused. Assigning to me

[2015-02-26 13:49] rafatower commented on #2407
Seems like an issue with varnish `hit-for-pass` config that's been in production for ages. @zenitraM can give more details on it.

The scenario:
1. Create a private visualization
2. Access the viz.json url without session cookie. The server replies with 403 forbidden
3. Change the visualization privacy to public. The server invalidates the caches (key not cached anyways but...)

Expected: from tha

[2015-02-26 14:08] iriberri commented on #2519
Wow... I'd say bug too :-)

If we're not generating a random password and sending it to the user via email or something, and then making the user change it in the first log in (very complex solution at the moment, I guess), creating a password should be mandatory.

This way we avoid subusers to go through the reset password process, which is kind of ugly for the onboarding of a new user.

[2015-02-26 14:20] javierarce opened #2523 "Remove api_key for the previews"
This is not longer needed anymore, since we are using sessions.

[2015-02-26 14:59] javisantana opened #2524 "remove uri check in oembed"
https://github.com/CartoDB/cartodb/blob/master/app/controllers/api/json/oembed_controller.rb#L28

since we need to use a single account as a proxy that check makes it fail

[2015-02-26 15:13] Kartones commented on #2467
@xavijam to have the code clear, lets have a `POST /api/imports/` new field `user_defined_limits` which inside has the `twitter_credits_limit`:
[code]

[2015-02-26 15:22] iriberri opened #2527 "Creating a visualization from a data file doesn't get the bounds in the initial map."
I'm using the new dashboard and when I import a table by using the Maps dashboard and the visualization is created directly, the map is not centered in the bounds of the dataset.

If the geometries are small, locating where your data is becomes very difficult :-)

[2015-02-26 16:16] #2459 closed

[2015-02-26 16:32] danicarrion commented on #2524
also, the uuid is not checked against the database anymore

[2015-02-26 17:06] xavijam commented on #2471
@viddo, I'll leave this one for you, you have recent experience with those services :dancer:

[2015-02-26 17:09] xavijam commented on #2129
@saleiva, where?

[2015-02-26 18:21] fdansv opened #2533 "Cmd+/ or ctrl+/ to comment out CartoCSS/SQL lines"
Don't know if this happens to many, but I find myself constantly pressing command + forward slash in order to comment out a line of CartoCSS in the editor. This is a super low priority detail, but since we have some neat keyboard shortcuts such as saving with Cmd+S, it'd be nice to have this as well.

@xavijam

[2015-02-26 18:23] javisantana commented on #2533
well, use a real editor while you code :tmcw:

[2015-02-26 19:59] #2524 closed

[2015-02-27 07:28] juanignaciosl opened #2534 "Linking deleted tables throws error with template maps"
https://rollbar.com/vizzuality/CartoDB/items/4761/

[code]

cc @javisantana

[2015-02-27 09:29] viddo commented on #1670
I cannot reproduce so I guess the issue must have been fixed after that point in time. @matallo if this still happens to you please open the issue again and give me some more details on where/how to reproduce, thx!

[2015-02-27 09:29] #1670 closed

[2015-02-27 09:30] #2413 closed

[2015-02-27 09:34] viddo commented on #2471
@saleiva what events/data points are really wanted here and in what format? also cc @vuxita, since she worked on this on the public website.

Btw, we already have mixpanel right now, is that going to be continued to be used in addition to Hubspot? Adding more external libs to the dashboard adds extra weight on the page, could we please talk and try to consolidate what statistics tools to use to av

[2015-02-27 09:47] saleiva commented on #2471
We need to update a property that (@vuxita, please correct me) is `dashboard_visited`or something like that

The idea is to start deprecating mixpanel as soon as we have the same info in hubspot.

[2015-02-27 09:53] #2368 closed

[2015-02-27 09:53] xavijam commented on #2425
https://github.com/CartoDB/cartodb/pull/2521

[2015-02-27 09:53] #2425 closed

[2015-02-27 09:53] xavijam commented on #2512
It should be fixed with https://github.com/CartoDB/cartodb/pull/2521

[2015-02-27 09:53] #2512 closed

[2015-02-27 09:57] iriberri opened #2536 "UPDATE tablename AS alias gives syntax error in the Editor"
![image](https://cloud.githubusercontent.com/assets/1730320/6410353/f517c13c-be6e-11e4-9001-4b82f700e4cc.png)

**GET https://vmg.cartodb.com/api/v2/sql?q=select%20*%20from%20(update%20untitled…)%20__wrapped%20limit%200&api_key=APIKEY 400 (Bad Request)**

https://vmg.cartodb.com/api/v2/sql?q=select%20*%20from%20(update%20untitled_table_9%20as%20o%20set%20name%20%3D%20%27pepe%27)%20__wrapped%20limit

[2015-02-27 10:02] juanignaciosl opened #2537 "Update common data metadata task"
Metadata will be updated by demand with the changes at #2661 . Remaining:
- [X] Delete remotes when they no longer exist.
- [X] Trigger update.
- [X] Front changes

Common data will be loaded/updated monthly, when a user enters his dashboard.

Maybe we should change the Data Library message to "Our elves are adding this data right now, please come back a little later and you'll enjoy their work" o

[2015-02-27 10:20] iriberri commented on #2456
I'm not able to add WMS now, it keeps in the following state:

![image](https://cloud.githubusercontent.com/assets/1730320/6410741/18be81a4-be72-11e4-9a0d-e571703f794f.png)

I'm trying with the WMS of this issue and also with others as: http://wms.geo.admin.ch/?service=WMS&request=GetCapabilities

The check request works but the add request returns:

[code]

![image](https://cloud.githubuserconten

[2015-02-27 10:31] viddo commented on #1780
agreed to postponed for now

[2015-02-27 10:39] saleiva opened #2538 "Allow importing a table with a cartodb URL"
So it's easier to import data that is on other CartoDB accounts.

assigned to @Kartones unless @juanignaciosl tell me that he wanna do it.

[2015-02-27 10:40] Kartones commented on #2538
I guess this means transforming the url to a SQL API call no? (like we do with common data, or at least did until recently)

[2015-02-27 10:41] saleiva commented on #2476
That idea about importing a cartodb table with the cartodb url is awesome. Just created a ticket for that (#2538)

About parsing the Dropbox and Gdrive urls... is hard to tell because it will only work until Dropbox or GDrive change the limit or the URL itself. Maybe another solution is to redirect to the Dropbox / Gdrive sync if we detect any type of url that comes from those services so we take

[2015-02-27 10:42] saleiva commented on #2538
Exactly.
Eeeeeasy, This would also mean some changes on the import modal I guess. I have to think a bit about how to integrate cc @xavijam

[2015-02-27 10:43] iriberri commented on #2538
Also, in the API CALL button of the public maps page we could add the link to the download via SQL API :-)

[2015-02-27 10:44] saleiva commented on #2538
@iriberri that's the same as exporting, right?

[2015-02-27 10:51] iriberri commented on #2538
Yeah, it uses the same URL, but I meant to write explicitly the query call to do in order to export the table in any format. This could be useful for people to use it directly in the import process (until we develop the feature of this issue) and also for users that may want to use it in scripts or something.

This is just really a personal request, I'm constantly checking the SQL API docs because

[2015-02-27 10:56] saleiva commented on #2538
Uhm... will think on how to integrate then!

[2015-02-27 11:10] iriberri commented on #2456
SB/4644228

[2015-02-27 11:18] vuxita commented on #2471
Hey,

Yes, that's right - when someone visits the dashboard we should create an event that updates the property we want.

The property hasn't been transferred from the initial import from Alberto as he didn't include all the properties. I have created this one so it can be used: dashboard_viewed

Info here:
http://developers.hubspot.com/docs/methods/contacts/update_property

[2015-02-27 11:26] juanignaciosl commented on #2500
Now in case of username collision account creation must be explicit through form submission. Users that have suffered this issue can just disconnect their Google accounts or delete their undesired CartoDB accounts at "account settings" menu option in order to fix their login problems.

[2015-02-27 11:26] #2500 closed

[2015-02-27 11:59] iriberri commented on #2500
Users informed in SB :-)

[2015-02-27 12:17] juanignaciosl opened #2539 "Delete organization users when you delete an organization"
Cycle deleting through all non-owner users and delete owner in the end.

cc @Kartones

[2015-02-27 14:09] iriberri opened #2541 "Georeferenciation is not available in a visualization"
This is something to be taken into account if we're moving to give more importance to maps than datasets in the New dashboard.

It's a bit ugly to click on GEO inside a visualization to geocode a dataset and have to go to the table because this cannot be done in a viz.

Don't know if there's any limitation for this, but as well as you can edit the dataset in a visualization, it could be great that

[2015-02-27 14:38] Kartones opened #2542 "Incorrect new dashboard urls generation"
It seems we're using `account_host` field from `app_config.yml` instead of `session_domain` to build the urls.

The account host field is only for the screens not belonging to CartoDB Editor (e.g. user options) but to Central. Session domain must be used as it represents the Editor's URL domain.

Branch is [issue-2542](https://github.com/CartoDB/cartodb/tree/issue-2542)

[2015-02-27 15:01] javierarce opened #2543 "Don't encode the type=wms param when submiting a WMS URL"

[2015-02-27 15:14] #2204 closed

[2015-02-27 15:32] #2467 closed

[2015-02-27 15:35] xavijam opened #2545 "Make users_controller works with new account and profile page"
In branch user-account please

- [x] Split organization and standard user controllers.
- [x] Send errors when account update fails
- [x] Make it work for standard and organization users
- [x] Send flash notifications when needed
- [ ] Add Google+ auth.

[2015-02-27 16:10] iriberri commented on #2250
One more time in support!

[2015-02-27 16:19] carlostallon commented on #2429
![captura de pantalla 2015-02-27 17 16 32](https://cloud.githubusercontent.com/assets/1712650/6416210/be9892e0-bea4-11e4-8ba8-ab85be0ab5dd.png)

[2015-02-27 16:19] #2453 closed

[2015-02-27 16:21] #2454 closed

[2015-02-27 16:21] carlostallon commented on #2454
Sent to frontend

[2015-02-27 16:33] javisantana opened #2546 "allow CORS in import API"
It would be nice to have CORS in the import API but we need to be really careful with the implementation in order to not open security holes.

If we just allow CORS adding http OPTIONS + headers a third party could import files if the user has the session open.

My proposal here is allow CORS _only_ if a valid api_key is provided (and in the future with oauth), like

curl -X OPTIONS -H "Cookie: va

[2015-02-27 16:34] juanignaciosl commented on #2546
Totally. It must have the same rules than SQL API, for example.

[2015-02-27 17:05] xavijam opened #2547 "Settings dropdown progress bar is not correct"
We are rounding used quota number, it is not correct.

![screen shot 2015-02-27 at 18 05 06](https://cloud.githubusercontent.com/assets/132146/6417065/36904dfa-beab-11e4-986a-768664136d74.png)

[2015-02-27 17:08] #2381 closed

[2015-02-27 17:09] xavijam commented on #2272
HTML, CSS and JS part is already done in https://github.com/CartoDB/cartodb/tree/user-account, now Ruby part is assigned to @kartones with https://github.com/CartoDB/cartodb/issues/2545.

[2015-02-27 17:09] xavijam commented on #2269
HTML, CSS and JS part is already done in https://github.com/CartoDB/cartodb/tree/user-account, now Ruby part is assigned to @kartones with https://github.com/CartoDB/cartodb/issues/2545.

[2015-02-27 17:09] #2269 closed

[2015-02-27 17:09] xavijam commented on #2268
HTML, CSS and JS part is already done in https://github.com/CartoDB/cartodb/tree/user-account, now Ruby part is assigned to @kartones with https://github.com/CartoDB/cartodb/issues/2545.

[2015-02-27 17:09] #2268 closed

[2015-02-27 17:10] Kartones commented on #2546
Fine, after the vizjson changes this changes can be attacked easier (or at least detect better possible problems), and I like the idea

[2015-02-27 17:12] rafatower commented on #2546
Fine by me, but what's the use case you're thinking about?

[2015-02-27 17:15] #2543 closed

[2015-02-27 17:27] javisantana commented on #2546
being able to import a table from a third party application using only javascript cc @sanderpick

[2015-02-27 18:39] amnesic opened #2549 "Export Image: wrong api.cartocdn.com URL in open-source edition"
1. Go to "Dashboard" => "Maps"
2. Export Image
3. Get message {"error":"Invalid or nonexistent map configuration token '4d6ce08dfd247d208d43133e4d03b0c8'"}

It's using the "api.cartocdn.com" (eg. "a.api.cartocdn.com/userdev/api/v1/" ) instead of the session_domain url.

tested with version :
cartodb.js 3.12.9
cartodbui v3.7.15

[2015-02-28 11:06] rochoa commented on #2546
Do we want to make this available to anybody? Or do we want to enable it for specific third party applications (like in a whitelist)?

[2015-02-28 14:08] zenitraM commented on #2549
This might be fixed with https://github.com/CartoDB/cartodb.js/pull/392

[2015-02-28 14:08] zenitraM commented on #2549
cc @javierarce

[2015-03-01 16:37] AlexWeyland opened #2550 "Installation fails at Windshaft"
Unfortunately, I have some installation errors on Ubuntu Server 12.04.5. Clean OS, followed the installation steps to a tee, but I'm getting the same error on multiple machines, including virtualized ones.

./scripts/check-node-canvas.sh: 3: ./scripts/check-node-canvas.sh: [[: not found

[...]

Package pangocairo was not found in the pkg-config search path.
Perhaps you should add the directory con

[2015-03-01 21:02] saleiva opened #2551 "If canceling an import in the upload progress don't say that there has been an error."
We could make this row dissapear just after clicking the cancel button.

[2015-03-01 21:07] saleiva commented on #2479
Is this already done? We fixed the original issue, right?

[2015-03-01 21:10] #1895 closed

[2015-03-01 21:11] saleiva opened #2552 "Design contextual help overlay"
Similar to the one for the shortcuts.
It's contextual help that should show content depending on the actual state of the UI

[2015-03-01 21:16] saleiva opened #2553 "Think on wizards for different maps not dependent of the geometry type"

[2015-03-01 21:24] saleiva opened #2554 "Extra elements showing up when importing"
I suspect it has something to do with the drop panel
![screen shot 2015-03-01 at 22 24 04](https://cloud.githubusercontent.com/assets/132149/6432899/bf8060de-c061-11e4-8904-49dd847ce875.p

[2015-03-01 21:29] saleiva commented on #1851
What is this?

[2015-03-01 21:33] saleiva opened #2555 "Description gets not refreshed when changed on the dataset view"
I have the cached-dashboard feature flag activated which I guess that has something to do with this.

[2015-03-01 22:22] javierarce commented on #2479
Not really. I mean, we are using the zoom level there too, but is the same as in the visualization, not the +2 zoom level that we are using in the private dashboard. So if we want to have the exact same look in both places, we'll need to make the zoom level available there.

[2015-03-01 23:21] amnesic commented on #2549
this patch fix the problem : c9973d2b4b01c44f5cd9ba4a517abc318f133e9a
but not the last one : 7800cff903eaabcfd24a478954d6a6bc547f990f
on my cartodb instance.

[2015-03-02 08:31] Kartones commented on #2479
Not yet, at least what Arce wants (making the zoom availabe). I'll try to tackle it today, if no more urgent tickets appear.

[2015-03-02 08:42] javierarce commented on #2549
Thanks for the help, @amnesic, I'll review the last patch.

[2015-03-02 08:52] matallo commented on #1670
working like a charm, too

[2015-03-02 09:22] Kartones commented on #2545
Issue https://github.com/CartoDB/cartodb/issues/2542 makes hard to fully test the new routes.

I'm going to build all routing, test GETs etc. but probably actions won't work until urls are fixed.

[2015-03-02 09:33] javisantana commented on #2555
probably is refreshed but after some time

[2015-03-02 10:15] iriberri opened #2558 "Suggestion: GeoPDF support?"
Request from support. :smile:  SB/4652879

cc @saleiva @javisantana

[2015-03-02 10:19] Kartones commented on #2545
Another issue: Password change is not working correctly because the field is not  being sent to the user model, but this raises an issue from my point of view.

Right now Central has user password management and CartoDB only receives a new one and stores, so for example has no validation methods (min. length and the like). By adding this stuff we're going to duplicate logic from Central into the E

[2015-03-02 10:25] javisantana commented on #2558
@iriberri could you complete this a little bit?

[2015-03-02 10:27] iriberri commented on #2558
to a map, define an area of interest, and output that map as a GeoPDF.
I know that Cartodb can output static maps, but I did not see anything
about GeoPDF output so contacting you here about it.

[2015-03-02 10:38] juanignaciosl commented on #2545
There's some logic and code duplication between them. Maybe we should invest in packaging that common code, but it's expensive (decoupling from libraries and so on).

I'm not ok with code duplication between CartoDB and Central, but I'm afraid we can't get rid of it right now.

[2015-03-02 11:04] xavijam commented on #2554
ARgasdfjñlajsdgjagladsj, yes, I know what is happening, thanks for the feedback.

[2015-03-02 11:04] xavijam commented on #1851
Twitter import result dialog.

[2015-03-02 11:05] xavijam commented on #2551
:+1:

[2015-03-02 11:22] javisantana commented on #2549
@amnesic what is your tiler configuration? specially the cdn related attributes

[2015-03-02 12:03] juanignaciosl opened #2562 "Inifinite metric key problem with graphite and ogr2ogr"
Somehow Graphite has received a metric report that generates a huge/infinite key:

[code]

[2015-03-02 13:46] xavijam commented on #2554
https://github.com/CartoDB/cartodb/commit/224c6043635a4b4942aa967b9c8446f56bc18f04

[2015-03-02 13:46] #2554 closed

[2015-03-02 14:30] amnesic commented on #2549
I'm using the development mode, so my configuration was base on this :
https://github.com/CartoDB/Windshaft-cartodb/blob/master/config/environments/development.js.example
were there is no mention of cdn_url attributes.
adding this one (pointing to my own instance) fix the problem. Tx.

[2015-03-02 14:40] #2335 closed

[2015-03-02 14:47] #2547 closed

[2015-03-02 14:58] #2355 closed

[2015-03-02 15:07] Kartones opened #2565 "compare_metadata.rb overlaps runs"
If `script/compare_metadata.rb` takes long to execute, multiple runs might happen on the same batch server.

Make the script smarter so upon run detects if already running, and if so exits inmediately.

/cc @zenitraM

[2015-03-02 15:34] #2480 closed

[2015-03-02 15:34] rafatower commented on #2448
https://github.com/Vizzuality/cartodb-management/wiki/Profiling-rails

[2015-03-02 15:34] #2448 closed

[2015-03-02 15:36] rafatower commented on #2407
Fixed both the legacy varnish issue and re-deployed with fix for redis caching of vizjson in https://github.com/CartoDB/cartodb/pull/2510

[2015-03-02 16:01] Kartones commented on #2545
- Profile photo uploads page is broken due to the wrong urls (issue #2542) `http://admin.localhost.lan:4000/uploads/development/kartones/assets/20150302170014test.png `

[2015-03-02 16:03] sanderpick commented on #2546
would be fine for the ["map-in-cartodb-button" app](https://github.com/Vizzuality/cartodb-management/wiki/Map-in-CartoDB-button) to have a whitelist - but may be nice to just have it open so others can build stuff with it too if it's not a security concern.

[2015-03-02 16:06] saleiva opened #2566 "Fix first element margin on the datasets view"
![screen shot 2015-03-02 at 17 06 09](https://cloud.githubusercontent.com/assets/132149/6444547/814f208c-c0fe-11e4-8cd1-45e13413e434.png)

[2015-03-02 16:08] rochoa opened #2567 "Static previews should not use CDN if not setup"
Static maps previews in the dashboard are trying to always use a CDN even if one is not returned in the layergroup response from the Maps API.

That ends in a redirection to cartodb.com/404

See #2458

[2015-03-02 16:10] saleiva opened #2568 "If you delete a dataset from the dataset view, you should get redirected to /datasets and not /maps"

[2015-03-02 16:13] xavijam commented on #2566
I don't get you. Margin top? If so, it has 20px as we talked.

[2015-03-02 16:20] rafatower commented on #2107
I just created a new version of ogr2ogr2 package, updated from gdal trunk following these instructions:
https://github.com/CartoDB/cartodb/wiki/How-to-build-gdal-and-ogr2ogr2

The new package is being built in launchpad: https://launchpad.net/~cartodb/+archive/ubuntu/gis-testing/+packages

After that, I'll install it in staging and we'll need to regression test imports related to `ogr2ogr2`:
- csv

[2015-03-02 16:26] javierarce commented on #2567
So, what is happening is that if no cdn_url is set, we use the default CDN config: https://github.com/CartoDB/cartodb.js/blob/develop/src/geo/layer_definition.js#L615

which is:

[code]

[2015-03-02 17:00] rafatower commented on #990
Just testing, this patch from Lorenzo fixes the issue: 26a3936b05f35e9dccd8111f3596a7069687d5cd but the right implementation is in the cartodb extension.

[2015-03-02 17:03] javisantana opened #2569 "sync tables break visualizations"
Given a multiuser account

if you have a visualization in which a layer has a SQL query that uses data from other account sync table when it's synced the visualizaion stops working (the query is reverted)

SB/4501439

[2015-03-02 17:06] javisantana commented on #990
you mean we need to release a new version of the extension? :D

[2015-03-02 17:09] rafatower commented on #990
we *should* release a new version of the extension, but it is not required :p

[2015-03-02 17:44] #1815 closed

[2015-03-02 17:46] rafatower commented on #1981
Will reopen if needed cause I don't know how to reproduce it :-O

[2015-03-02 17:46] #1981 closed

[2015-03-02 17:59] iriberri opened #2571 "Error deleting a table which depends on a visualization"
https://rollbar.com/vizzuality/CartoDB/items/4792/occurrences/4343176409/

Clicking on delete says that the table depends on a viz that will be deleted, when you go on you get "Ouch, there has been an error", and the table is not deleted.

[2015-03-02 18:19] viddo commented on #2471
FYI, reading up on the API documentation it has [quite strict limitations](http://developers.hubspot.com/apps/api_guidelines) (e.g. 10 requests/sec and only 10k calls per 24H...), so it's hardly viable to track this kind of stats. On their forums I found [this reply though](https://groups.google.com/forum/#!searchin/hubspot-api/increment/hubspot-api/5kehP19fuC0/aqWv14o2HpMJ):

http://developers.hu

[2015-03-02 21:38] piensaenpixel commented on #2362
Added in 01-Public-Maps/public-map-dataset-2.0.sketch

[2015-03-02 21:38] #2362 closed

[2015-03-02 21:45] andrewxhill opened #2572 "Markdown from descriptions not rendered correctly in dashboard view"
![screen shot 2015-03-02 at 4 44 06 pm](https://cloud.githubusercontent.com/assets/370259/6451289/87f9adba-c0fb-11e4-9433-5f1325f0fe81.png)

[2015-03-03 08:19] xavijam commented on #2572
@viddo please, could you take care of it?

[2015-03-03 08:29] Tom-Tom commented on #2550
Same problem and i have installed pango lib to fix the problem :
``` sudo apt-get install libpango1.0-dev ```
Best regards.

[2015-03-03 09:05] javisantana commented on #2567
we can not change the way maps work, when there is no cdn in the response the default one is used. The only way to not use CDN is set no_cdn flag.

The problem here is the tiler not properly configured

[2015-03-03 09:05] viddo commented on #2572
I'll see if I have time to fix it for this sprint, otherwise for next week

[2015-03-03 09:10] iriberri opened #2573 "Mobile preview doesn't show Searchbox in the Editor"
I'm working on this visualization:
http://team.cartodb.com/u/iriberri/viz/ba1d5a22-c0c3-11e4-a3a0-0e8dde98a187/embed_map?force_mobile=true

where the toolbar shows the searchbox:

![image](https://cloud.githubusercontent.com/assets/1730320/6459261/62126f6e-c18d-11e4-936a-b44ad1ca4ddc.png)

In the other hand, inside the Editor, although the searchbox is enabled, it doesn't appear:

![image](https:/

[2015-03-03 09:11] rochoa commented on #2567
Sorry, I forgot to mention this was happening in development environment
where you usually don't have a CDN.

Layergroups for tiles don't have the CDN config in the response but tiles
are not requested through the default CDN in development, that's why I
created the issue.

El martes, 3 de marzo de 2015, javi santana <notifications@github.com>
escribió:

--
Raul Ochoa
rochoa@cartodb.com

[2015-03-03 09:17] Kartones opened #2574 "Be able to select privacy for email if available for hire"
Right now, if you check the "available for hire" profile option, mailto:xxxx is always visible.

It would be good to have a combobox to select the privacy level of your email:
- Everyone
- Authenticated users (if you're logged in you see the user's email, else not)
- Nobody

/ cc @xavijam @saleiva

[2015-03-03 09:48] javisantana commented on #2567
we work like this since the beginning, maybe we should change the current behavior to not using cdn when the tiler does not say so

[2015-03-03 09:51] vuxita commented on #2471
Thanks for the info - would it also update any property/record to each contact then?
Let me know the name of the event when you've had the chance to test it.

Thanks!

[2015-03-03 10:04] juanignaciosl commented on #2569
It's a permissions problem:

1. Create sync table T with user A.
2. Give user B read permission on T.
3. Create visualization V with user B.
4. Sync table T.
5. Loading visualization V throws permission errors:

[code]

[2015-03-03 10:46] javierarce opened #2581 "Fix WMS spec"
[This WMS spec](https://github.com/CartoDB/cartodb/blob/master/lib/assets/test/spec/cartodb/table/basemap_wms_dialog.spec.js#L45) is failing randomly sometimes. We should fake a server instead of relying in a real call to the proxy or using a spy.

/cc @viddo @xavijam

[2015-03-03 11:01] AlexGorcea opened #2583 "External access to CartoDB?"
By default, CartoDB allows access only on localhost. Which is kind of a no-no if you don't have a GUI.

I've tried modifying app_config.yml to point to my domain name, but CartoDB is expecting the username in the URL? Am I interpreting this right?

It should be http://development.example.com:3000, but surely there must be another way?

[2015-03-03 11:15] AlexWeyland commented on #2550
Nice, worked.

[2015-03-03 11:15] #2550 closed

[2015-03-03 11:23] rafatower commented on #2107
New version has a regression:
[code]
It can be easily reproduced by importing this file: https://github.com/CartoDB/cartodb/blob/master/services/importer/spec/fixtures/in_cell_line_breaks.csv

[2015-03-03 11:24] viddo commented on #2581
Happened [here for example](http://clinker.cartodb.net/jenkins/job/CartoDB-PR-testing/2022/console) (as ref)

[2015-03-03 11:37] juanignaciosl commented on #2569
There's one working case that was making testing more confusing: import - trigger sync - give permission - create visualization . From now on, any sync that doesn't change data will keep viz working. Nevertheless, any other permutation of previous events work.

[2015-03-03 11:52] iriberri opened #2584 "Two torque layers can be created"
1. Import populated places table
2. Create a visualization
3. Assign heatmap (static) wizard
4. Add another layer (as an empty one)
5. In my case, I added some manual points as the table was empty.
6. Apply a Torque map. Below the wizard, you get the error "Sorry, but for the moment one Torque layer is allowed". **The Torque layer is there!**
7. Go to the heatmap layer, enable "animated".

Refresh

[2015-03-03 13:48] rafatower commented on #2107
It doesn't work in production. A trace from local setup:
[code]

[2015-03-03 14:08] javierarce commented on #2567
@javisantana: you mean not using the default `CDB_HOST` defined [here](https://github.com/CartoDB/cartodb.js/blob/develop/src/geo/layer_definition.js#L615)?

[2015-03-03 14:08] rafatower opened #2585 "Regression in csv import test"
- [x] Capture the `Encoding::UndefinedConversionError` and provide a meaningful error to the user rather than `99999`
- [x] Fix regression test
- [ ] Figure out difference between prod and clinker (I think it is ruby stdlib but not sure)
- [ ] Fix clinker environment to match production

See https://github.com/CartoDB/cartodb/issues/2107#issuecomment-76928412

Can be reproduced by importing https:

[2015-03-03 14:51] rafatower commented on #2107
Solved in `ogr2ogr22.0.0+svn.28596-precise1ubuntu2` and will be deployed to production in next chef pass.

[2015-03-03 14:51] #2107 closed

[2015-03-03 14:59] rafatower commented on #990
Fixed in cdb extension and waiting for deployment.

[2015-03-03 15:24] juanignaciosl opened #2586 "Changing a table from public to private delete visualizations that still have permission"
1. User A creates a private table and gives read permission to user B.
2. User B creates a visualization based on A.
3. User A switches table to public.
4. User A switches table to private without revoking user B permission.
5. User B visualization has been deleted in spite of having permission.

Making the table private should check for existing permissions.

cc @iriberri

[2015-03-03 15:41] javierarce commented on #2042
I'm not sure if I understand the problem here. We follow the same logic as with a regular header: basically, it has no effect over the positioning of the text overlays. So if you put a text overlay at the top left corner of a map, it will appear at the top left corner no matter what, just like with ta regular header.

[2015-03-03 15:44] javierarce commented on #2042
Right now we close the slides bar of Odyssey in the Editor whenever the user tries to add a new overlay, so this shouldn't be a problem, I think.

PS: I delete my previous comment because I thought you were talking about the header that appear in the maps.

[2015-03-03 16:05] #2358 closed

[2015-03-03 16:05] #2551 closed

[2015-03-03 16:33] Kartones commented on #1693
Must take into account changes that will be added at https://github.com/CartoDB/cartodb/pull/2588

[2015-03-03 16:40] LoganWinston opened #2589 "US Geocoding Options should include City / State / Country ... Current just offers City / Country"
In the US we have cities like Portland (city) Maine (state) and Portland (city) Oregon (state). The geocoder should include State as a parameter.
![screen shot 2015-03-03 at 11 37 46 am](https://cloud.githubusercontent.com/assets/6501319/6467051/c4aab544-c199-11e4-944b-e205335b5bd5.png)

[2015-03-03 16:43] LoganWinston commented on #2589
@saleiva

[2015-03-03 16:43] LoganWinston commented on #2589
@juanignaciosl

[2015-03-03 16:43] LoganWinston commented on #2589
@rafatower

[2015-03-03 16:51] juanignaciosl commented on #1720
Reopening because we closed this without integrating user pages.

cc @matallo @xavijam

[2015-03-03 16:58] iriberri commented on #2589
Basically, right now the SQL behind just searches for cities inside a country (by ISO2 code) and retrieves the one with more population.

[2015-03-03 17:00] iriberri commented on #2586
Is this related to the case of the table that cannot be deleted?

[2015-03-03 17:15] juanignaciosl commented on #2586
No idea. I don't think so, since this actually does "its complementary": it deletes a visualization that is legit.

[2015-03-03 17:19] iriberri commented on #2586
Ah ok, sorry! I was confused as I was reading about "table", "delete" and "permissions" :smile:

[2015-03-03 18:40] andrewxhill opened #2592 "Workflow issue: importing Zip file with multiple successful imports but directs to wrong one"
In the new dashboard

If you import a shapefile say, and it contains a .txt file. It may end up taking you to the resulting visualization from the .txt. However, I am now super confused as a new user, it is empty. I delete it and go back to my dashboard. In reality, in the tables view there is probably a successful shapefile waiting for me.

[2015-03-03 21:26] andrewxhill opened #2594 "Bubble map legends don't re-legend on Column change"
See here,

![norelegend](https://cloud.githubusercontent.com/assets/370259/6472639/f08cef38-c1c1-11e4-8858-772ed3e287cb.gif)

[2015-03-03 22:13] xavijam commented on #2592
good one @andrewxhill, I'll take of the frontend part. @kartones, what happens in the backend part? It shouldn't create a map right?

cc @saleiva

[2015-03-03 23:06] andrewxhill opened #2596 "OEmbed endpoint misses '/embed' on some requests"
Take a look here,

http://services.cartodb.com/oembed?url=https://team.cartodb.com/u/andrew/viz/fc508a2a-b058-11e4-a237-0e853d047bba/public_map

You'll see that on public_map based requests, we fail to put '/embed' at the end. So then, iframes look like this, where they contain the page header etc...

http://embed.ly/docs/explore/oembed?url=https%3A%2F%2Fteam.cartodb.com%2Fu%2Fandrew%2Fviz%2Ffc508

[2015-03-03 23:07] andrewxhill commented on #2596
Confirmed it happens on team and non-team accounts

http://services.cartodb.com/oembed?url=https://osm2.cartodb.com/viz/d7a8a500-c1cd-11e4-827b-0e018d66dc29/public_map

[2015-03-03 23:15] andrewxhill commented on #2596
Same thing here, http://services.cartodb.com/oembed?url=https://team.cartodb.com/u/andrew/viz/4058c242-bf94-11e4-a164-0e9d821ea90d/map

[2015-03-03 23:15] andrewxhill commented on #2596
The last one was so that we support even when people grab the link from their authenticated session

[2015-03-03 23:15] andrewxhill commented on #2596
cc @Kartones @javisantana

[2015-03-04 00:16] danicarrion opened #2598 "Protocol in provider_url in oembed is not displayed properly"

[2015-03-04 07:22] saleiva commented on #2594
Maybe related with https://github.com/CartoDB/cartodb/issues/1881

[2015-03-04 08:48] javisantana commented on #2583
Hi Alex, please, use stackoverflow (don't fortget to tag with CartoDB) or our mailing list to ask general questions.

In general you should use a reverse proxy server like nginx, apache in front of cartodb services to expose them

[2015-03-04 08:48] #2583 closed

[2015-03-04 08:49] javisantana opened #2600 "importer does not guess types with csv has lot of columns"
import this csv
[code]

you will see how some columns are not guessed as integers

[2015-03-04 09:05] javisantana commented on #2596
man, there are no quick fixs as you can see from this endpoint

[2015-03-04 09:09] #2545 closed

[2015-03-04 09:19] Kartones commented on #2592
Importer is generic, it probably imports both if we support plaintext files (and I think TXTs are supported just in case contain tabular data), and I'm pretty sure it returns a list of "tables imported", but then, which one to choose? (once imported, all of them are tables, even if one is empty)

I'd have to do some tests to confirm, but what solution do you want? skip txts inside shapefiles? remo

[2015-03-04 09:23] #2592 closed

[2015-03-04 09:45] #2596 closed

[2015-03-04 09:47] javisantana opened #2602 "add tests for oembed endpoint"
- ask to andrew about the requirements
- add tests to that endpoint

cc @andrewxhill @danicarrion

[2015-03-04 10:14] rafatower opened #2603 "The caching of geometry_types in rails is ineffective"
Typically a call to `Table#geometry_types` produces 3 queries to database even if the result is cached, which is pretty inefficient. E.g:
[code]

This is due to the call to `Table#schema`, which queries the table schema and always calls `calculate_the_geom_type` if there's a column `the_geom`.

[2015-03-04 10:21] rafatower commented on #2603
There's a contradiction in the `table.rb` regarding cardinality of geometry types (whether it can be singular or plural) which results in messy code: a public method `geometry_types` that supposedly can return more than one type, another public method `calculate_the_geom_type` that can only return one and stores it in a single-valued attribute and all the mess around it.

While we should keep `geo

[2015-03-04 10:23] Kartones commented on #2479
Now exposing on each `vis` item (a Hash, that's why you couldn't do vis.map.zoom) the zoom property:
[code]

Transferring to you the ticket so  you can play with it (or release if you want, as you see fit).

[2015-03-04 10:28] javisantana commented on #2567
no, not using CDN if cdn_url from windshaft is empty (null or '')

[2015-03-04 10:32] javisantana commented on #2603
``geometry_types`` should return an array so let's keep this with multigeometry for the moment

schema is not needed anymore in client side, I removed that requirement, so It can be removed

[2015-03-04 10:37] javisantana commented on #2567
oh, yes, NOT using CDB_HOST

[2015-03-04 10:38] rafatower commented on #2603
Ok, I will make `geometry_types` return an array of max one element.

[2015-03-04 10:40] javisantana commented on #2603
but at some point it could return more than one element, right?

[2015-03-04 10:42] rafatower commented on #2603
Right now, yes, there might be more than one: when there's more than one geometry type in the first 10 rows. Does it make sense for client code?

[2015-03-04 10:50] javisantana commented on #2603
yes but we do not use it  :D

[2015-03-04 10:59] matallo opened #2604 "user: profile, return 404 if new_dashboard == false"
if the user tries to access new profile url https://jacathon-huracan.cartodb.com/profile but `new_dashboard`feature flag is false, we should return 404 instead of 500

[2015-03-04 11:15] Kartones commented on #2256
New path `/maps` shows your public profile's maps page, as now the index path `/` performs redirects according to specified settings above, so current menu link doesn't works:
![](http://comomonos.com/up/link_looping.png)

@viddo, @xavijam pointed me to you to change it, could you do it in this branch whenever possible? Afterwards I'll release the branch myself.

[2015-03-04 11:19] viddo commented on #2256
Since I'm changing how the URLs are created #2542 I would prefer to either do this fix there, or fix it after that is done, to avoid double work. ETA today (unless I run into unexpected trouble).

[2015-03-04 11:21] Kartones commented on #2256
Fine by me, then I'll PR this and push after lunch. is not such a big thing and if your ETA is today or tomorrow...

[2015-03-04 11:22] viddo commented on #2256
Agree, I'll adhere to the new URL in my branch and it will get fixed promptly. :+1:

[2015-03-04 11:25] javisantana commented on #2534
cc @rochoa can it be that the user changed the api key?

[2015-03-04 11:29] juanignaciosl commented on #2571
The problem is that visualization has not user_id

There're 139 visualizations before 21/05/2014 without user_id ([that field was added in that date](https://github.com/CartoDB/cartodb/commit/ac463d8a9b08503cacaaa2d0bc68c365d58bae1d)):

[code]

I'd like to fix the data by setting its user_id, but getting it from the map would only fix 46:
[code]

@Kartones , I'm in a dead end, is there a way to kn

[2015-03-04 11:31] Kartones commented on #2571
uff, I run a Rake, those must be really broken ones.

If the map_id has no user_id can you ever see the vis or map? :O

I think not, but give me two mins to check how else could we grab it.

[2015-03-04 11:34] Kartones commented on #2571
Ok, `user_tables` has both `map_id` and `user_id`, so there you could extract the `user_id` and populate the remaining ones.

Sorry, I should have fixed this when I added the `user_id` field to a vis, dunno why I didn't...

[2015-03-04 11:38] rochoa commented on #2534
Does that user exist? I mean, the error is happening in a queue server and the user seems to no longer exist so probably it's trying to manipulate named maps after the user being removed from metadata database.

cc'ing @zenitraM as he was doing some changes in the users relocator, just to check this is not related.

[2015-03-04 11:44] juanignaciosl commented on #2534
FYI the user still exists in Central.

[2015-03-04 11:46] carlostallon commented on #2515
![wizard elements](https://cloud.githubusercontent.com/assets/1712650/6482995/565c4d0e-c26c-11e4-815f-ad1cc2e07ba6.png)

[2015-03-04 11:46] #2471 closed

[2015-03-04 11:47] #2572 closed

[2015-03-04 11:56] carlostallon commented on #2455
![user config - upgrade your plan](https://cloud.githubusercontent.com/assets/1712650/6483150/ed8b2da2-c26d-11e4-9522-7a96833ac015.png)

[2015-03-04 11:57] carlostallon commented on #2429
Bump!
#BBB IMO

[2015-03-04 11:57] juanignaciosl commented on #2571
Ok:

[code]

Gives 72 results, but only 39 of them are not in the previous 46 ones. Pretty old data!

[2015-03-04 12:00] carlostallon commented on #2359
![gme header](https://cloud.githubusercontent.com/assets/1712650/6483183/5cccf376-c26e-11e4-8811-bee0ee7afdb1.png)

[2015-03-04 12:00] carlostallon commented on #2311
Bump!

[2015-03-04 12:15] juanignaciosl opened #2608 "Task for propagating common data to everybody"
cc @javisantana

[2015-03-04 12:46] juanignaciosl commented on #2571
Update status: still looking, because user is not among the data that would be fixed, and I won't do anything that does not solve the problem. Stay tuned.

[2015-03-04 13:18] #2256 closed

[2015-03-04 13:35] saleiva commented on #2359
ossom.

[2015-03-04 13:36] saleiva commented on #2359
Assigning to @javisantana so we implement this

cc/ @jatorre

[2015-03-04 13:36] saleiva commented on #2429
cool!

[2015-03-04 13:37] saleiva commented on #2515
Great, we should do a session tomorrow for unify this with the actual controls.
this looks great!

[2015-03-04 13:38] saleiva commented on #2311
I liked so much the other version (the one that you posted first)

[2015-03-04 14:07] javierarce opened #2609 "Update cdb.js to 3.12.11"
This will fix: https://github.com/CartoDB/cartodb/issues/2567

[2015-03-04 14:20] pramsey opened #2610 "Importer should support File Geodatabase"
File Geodatabase (fgbd) is now a very common format in the professional GIS world: folks building geodata will likely have these files lying around their desks. OGR supports reading file geodatabase as of 1.11 using the "OpenFileGeodatabase" driver. FGDB files can contain multiple tables, so one FGDB import might create multiple tables in CartoDB.

FGDB can also contain non-spatial tables that rel

[2015-03-04 14:25] #2523 closed

[2015-03-04 14:33] Kartones opened #2613 "Improve map.recalculate_bounds! speed"
By @javisantana :

[code]

[2015-03-04 14:35] javisantana commented on #2613
but this only works if the stats are updated (after a vacuum) but I think we use that function only after we create a map

[2015-03-04 14:37] Kartones commented on #2613
If flow hasn't changed, we always do a VACUUM after importing, so would be valid.

[2015-03-04 14:50] #2569 closed

[2015-03-04 15:04] #2527 closed

[2015-03-04 15:05] saleiva commented on #2515
I don't like the arrows being centered. It breaks the vertical rhythm when scanning it vertically.

[2015-03-04 15:06] #2553 closed

[2015-03-04 15:12] #2489 closed

[2015-03-04 15:21] carlostallon commented on #2515
Yep, I worried about it to, could work better aligned to right ; )

[2015-03-04 15:49] andrewxhill commented on #2602
URL Patterns to support

Individual account

1. osm2.cartodb.com/viz/0652ec10-861b-11e4-b6b6-0e853d047bba/public_map
2. osm2.cartodb.com/viz/0652ec10-861b-11e4-b6b6-0e853d047bba/embed_map
3. osm2.cartodb.com/viz/0652ec10-861b-11e4-b6b6-0e853d047bba/map

Organizational

1. [organization].cartodb.com/u/[username]/viz/[map-id]/public_map
2. [organization].cartodb.com/u/[username]/viz/[map-id]/embed_m

[2015-03-04 15:51] andrewxhill commented on #2602
It should accept a ```maxwidth``` and ```maxheight``` parameter. as well as ```format```

http://services.cartodb.com/oembed?url=https://osm2.cartodb.com/viz/08aef918-94da-11e4-ad83-0e0c41326911/public_map&maxheight=200&maxwidth=200

http://oembed.com/

[2015-03-04 15:54] Kartones commented on #2604
@juanignaciosl  I'm struggling with this probably due to some autoload change.

Somehow `ApplicationHelper` doesn't gets loaded, which is where `account_url` exists, and as I get lots of errors requiring me to reload Rails due to GooglePlusConfig it smells it is related to those require_relative + no autoload.

I'll check possible solutions but the same code works in all other places except here :

[2015-03-04 15:59] juanignaciosl commented on #2604
I've sometimes hit against legit circular dependencies that throws this errors. Do a trace of the dependencies you load with "require" and "require_relative" and you'll probably find it. Probably, in some obscure (or not) path, somebody requires ApplicationHelper who requires GooglePlusConfig who can require ApplicationHelper as well. If you want help with this please upload the branch and tell me

[2015-03-04 16:01] carlostallon commented on #2308
done :_)
.../Dashboard-1.5

[2015-03-04 16:05] carlostallon commented on #2052
New version with new standard elements.
![basemap selector](https://cloud.githubusercontent.com/assets/1712650/6487283/8255210a-c290-11e4-8e8b-e9f2ea8d4bf3.png)
All the cases covered in .../Map-editor-1.2

[2015-03-04 16:06] Kartones commented on #2604
no no, in this case... there's not a single line in the code requiring ApplicationHelper :cry:
In any case I'll see what I can do.

[2015-03-04 16:06] saleiva commented on #2052
Ossom.

[2015-03-04 16:06] #2052 closed

[2015-03-04 16:06] saleiva commented on #2308
:____)

[2015-03-04 16:06] #2308 closed

[2015-03-04 16:17] amandabee commented on #1128
Should have closed this eons ago: resetting the CartoCSS had the desired effect.

[2015-03-04 16:17] #1128 closed

[2015-03-04 16:17] juanignaciosl commented on #2604
I see UsersController require both `google_plus_api` and `google_plus_config` but doesn't use GooglePlusAPI, so you should be able to safely remove google_plus_api. Since api loads config as well that could be the source of your problems.

[2015-03-04 16:19] saleiva commented on #2455
Uhm... Why do we need the "CHANGE YOUR PLAN BUTTON" then?
If you want to approach this like that, I'd change the order and show the plan selector before the invoice list, but it will compose weird.
Also we are not using circles for the icons like that anywhere else, right?

[2015-03-04 16:20] carlostallon commented on #2515
Fixed
![elements](https://cloud.githubusercontent.com/assets/1712650/6487655/c2139536-c292-11e4-8ecf-d81ea792ade3.png)

also added new symbols to document .../map-editor-1.2

[2015-03-04 16:25] saleiva commented on #2515
yay!

[2015-03-04 16:25] #2515 closed

[2015-03-04 16:33] saleiva opened #2615 "Empty public dashboard design"
As @andrewxhill was mentioning would be great to have a list of popular maps taken from the gallery / website (talk to @matallo to see if this is easily doable - I don't think so) or a CTA to visit the cartodb gallery when a public dashboard of an user is empty.

[2015-03-04 16:36] andrewxhill commented on #2615
In this case, I would much prefer to supply a config file with a long list of cool maps and their profile page links / embed links. So imagine,

[code]

Then we just pick them in a set or random order and show them there. That way

1. I can add them nice and easy
2. They will match exactly the aesthetic of the public pages since they will just be embeds

[2015-03-04 16:40] saleiva commented on #2615
That should be reviewed by @javisantana since is a bit hacky - although I've got your point. Another possibility is to wait on implementation until we have an endpoint for the explore API

[2015-03-04 16:45] saleiva opened #2616 "change order and copy on the user dropdown"
![screen shot 2015-03-04 at 17 43 59](https://cloud.githubusercontent.com/assets/132149/6488200/1cfdb49c-c296-11e4-9456-ee07d9bf1fc2.png)

to...

"View your public profile"
"Your Account" -> https://team.cartodb.com/u/`username`/profile
"Your API Keys"
"Close session"

[2015-03-04 16:45] saleiva commented on #2616
Please :)

[2015-03-04 16:52] saleiva opened #2617 "When being logged-in and in the public page of one of your own maps you should have an "EDIT THIS MAP" button visible"
We don't have this on the designs.
Also we should organize that file properly and update some styles, as something is wrong with fonts I think...

[2015-03-04 16:56] matallo commented on #2615
in the meantime i'd go with @andrewxhill solution

[2015-03-04 16:58] viddo commented on #2616
Sure, but isn't a bit weird that we have a link that says: "Your account" and points to the profile settings, when there are both "Profile" and "Account" settings available? :)
![screen shot 2015-03-04 at 17 56 41](https://cloud.githubusercontent.com/assets/978461/6488439/da0c4d72-c297-11e4-8ca9-d6bf19ef0300.png)

[2015-03-04 16:58] viddo commented on #2616
Btw, for organization admins there is also another link there ("Organization"), it stays after account settings but before API keys with this change?

[2015-03-04 16:58] carlostallon commented on #2311
Ok, too noisy to me, but what do you think about this version, is the same but simpler

![user config - api keys with enterprise support](https://cloud.githubusercontent.com/assets/1712650/6488467/0dfc2ab2-c298-11e4-89aa-c1accf97c17d.png)

[2015-03-04 17:38] javisantana commented on #2615
stop hacks please. if you want we chose the most viewed ones/random we do, but no hacks

in any case for me this should wait until we have the things we need

[2015-03-04 18:01] #2609 closed

[2015-03-04 18:02] javierarce commented on #2567
Ok, fixed in cartodb.js and updated the version in cartodb, so this should be fixed.

[2015-03-04 18:02] #2567 closed

[2015-03-04 18:19] juanignaciosl commented on #2461
Since the actual problem was the existence of that `wkb_geometry` column, which is fixed in #2107, I think we can close this issue. `wkb_geometry` is a `ogr2ogr` column that should not exist previously. This  will be documented in importer documentation at #2329 .

@saleiva reopen this issue if it's not a valid solution for you. In that case we should scale this to ogr2ogr, since it's its limitati

[2015-03-04 18:19] #2461 closed

[2015-03-04 19:02] saleiva commented on #2616
I'd put the first one, "Your Organization"

[2015-03-04 19:03] saleiva commented on #2446
+1

[2015-03-04 19:04] xavijam commented on #2446
Roger

[2015-03-04 19:07] saleiva opened #2621 "Change section order in the create map modal"
After some tests with real users the correct order should be
Connect Dataset | Datasets | Liked Datasets | Data library

For org users should be
Connect Dataset | Datasets | Shared with you | Liked Datasets | Data library

The only thing that should change is that the selected item when having datasets already imported should be Datasets, and no Connect dataset like when you don't have any data.

[2015-03-04 19:07] saleiva opened #2622 "Delete your account is not available in the new-dashboard account pages"
- [x] Delete modal window
- [x] Make it work with the backend part (cc @juanignaciosl)
- [x] Delete button for organization user form

[2015-03-04 19:08] saleiva opened #2623 "Pagination doesn't work on new public profile"

[2015-03-04 19:08] saleiva opened #2624 "After deleting maps, the thumnails doesn't show up"
But if you refresh, it works correctly

[2015-03-04 19:09] xavijam commented on #2622
So true...

[2015-03-04 19:11] xavijam commented on #2267
Duplicated -> https://github.com/CartoDB/cartodb/issues/2273

[2015-03-04 19:11] #2267 closed

[2015-03-04 19:13] saleiva commented on #2622
You might need the confirmation modal design. If so, talk to @carlostallon although with the elements we already have it should be easy.

[2015-03-04 19:46] saleiva commented on #2311
My fav, although we should try how it looks like in the maps / datasets view

[2015-03-04 20:04] #2536 closed

[2015-03-04 20:06] javisantana opened #2625 "add layers fails with lot of layers"
add layers raises timeout if the number of layers is high. We need to convert the combo to something that allow to search server side.

Showing all tables is not an option

cc @piensaenpixel @carlostallon

[2015-03-04 20:33] iriberri opened #2626 "Trying to use buffer-size: Map properties are not permitted in other rules"
My CartoCSS:
[code]

Happening here but also in a couple more of vizs I tried: https://asdfgh.cartodb.com/u/crb/viz/2665604c-c18e-11e4-a117-0e0c41326911/map

![image](https://cloud.githubusercontent.com/assets/1730320/6492755/101b1a56-c2b6-11e4-800c-14c4e67c2e9a.png)

Not really sure if I'm doing something wrong or if there's a bug here.

[2015-03-04 22:04] saleiva opened #2627 "Show Data library datasets on the create map modal window when not having connected datasets"
Like we do on the datasets dashboard. When you are creating a map and you don't have any connected dataset.

[2015-03-04 22:05] saleiva opened #2628 "Search should search on all the filtered views"
People is becoming a bit crazy on the tests when trying to search a dataset on the data library when having the Your datasets filter activated. We should add the small icon we designed (@carlostallon) to the results that come from the data library.

This applies to the create modal window and the datasets dashboard

[2015-03-04 22:38] saleiva opened #2629 "Design error modal window with upselling CTAca"
When raising an error relates with your account limitationa we should show a nice CTA on the modal window for upselling

[2015-03-04 23:06] saleiva opened #2630 "Review all upselling flows"
- ~~when raising an error on import because you don't have enough quota~~ => (#2630)
- [x] when being close to the limits
- [x] when trying to change the privacy of a table (privacy levels and collaboration)
- [x] when being exposed to a 'paid' feature (like sync tables)
- ~~when trying to connect data from a paid datasource (Twitter/ArcGIS/...)~~=> (#2910)

Anything more?

[2015-03-04 23:07] saleiva commented on #2630
Cc @iriberri I'd add this to the smoke tests

[2015-03-04 23:10] saleiva opened #2631 "Make the upgrading component a modal window"
Due to the amount of places that we will need to open this component from, I think the best is to design this as a modal window

[2015-03-05 00:19] andrewxhill opened #2632 "Workflow issue: Can't georeference a newly imported table because it goes to Visualization"
Import a csv without any automatically recognizable location data
You get to a table full of the_geoms but there is no menu option to georeference

[2015-03-05 00:27] andrewxhill opened #2633 "Table / viz names get out of sync when navigating dashboard"
![wrong name](https://cloud.githubusercontent.com/assets/370259/6496645/6972c734-c293-11e4-8572-74b6b722de76.gif)

You see in the video, my 'datasets' list thinks there is something like 'sesame street Map', but that is maybe my visualization name? if i wait a while longer than I captured, it will pop back to the correct list.

that bouncing around of lists order and content happens in a number of

[2015-03-05 08:32] javierarce commented on #2042
Bump

[2015-03-05 08:55] saleiva commented on #2633
Uhm.... I've not experience this but will try. @viddo can you check this too?

[2015-03-05 08:57] saleiva commented on #2632
Yep, with the new workflow we should allow datasets from the map view. I think this is duplicated but I cannot find the other issue.

[2015-03-05 08:57] saleiva commented on #2626
Hey @rambo, I think @andrewxhill also experienced this some time ago

[2015-03-05 09:06] saleiva commented on #2042
I don't get this :( -- I think there is a missunderstanding. I'm talking about the slide indicator that is on the top border of the map.

[2015-03-05 09:10] #2604 closed

[2015-03-05 09:13] iriberri commented on #2626
I found it sending an answer here: SB/4700702 that I won't be able to send until we know what happens :smile:

[2015-03-05 09:15] #990 closed

[2015-03-05 09:18] viddo commented on #2633
I can see (on superadmin) that you have the `cached_dashboard` feature flag enabled, can you try to disable that and confirm if it still happens?

[2015-03-05 09:21] viddo commented on #2624
thumbnails == map previews?

[2015-03-05 09:25] Kartones commented on #2604
In the end made it gracefully go to the old account page if you don't have the new dashboard user flag.

[2015-03-05 09:26] javierarce commented on #2042
Haha, well, there was a 50% chance I got that right. It would really help me if there were more information in the description of the ticket, it's difficult to know what you mean by "odyssey bar", it could mean the one in the editor or the one in the embeds :|

Anyways, here's my original message:

I'm not sure if I understand the problem here.

With the odyssey header we follow the same logic as

[2015-03-05 10:07] rafatower commented on #1855
It's a bug in the csv normalizer:
[code]

[2015-03-05 10:11] xavijam commented on #2622
Ok, also, personal note. Don't provide "delete" link to organization owners.

[2015-03-05 10:11] Kartones commented on #2440
As talked with @javisantana, this shouldn't go through the normal `Visualization::Collection` model, but be instead a first step of the /explore API.

Also, grabbing all liked items for a given user is trivial, as the `likes` DB table has `actor` and `subject`, not needing to do Ruby logic or complex queries.

[2015-03-05 10:12] Kartones commented on #2440
Assigning to you @juanignaciosl as @javisantana told me you'll do the /explore API likely, but don't know the timeframe so just set next Milestone

[2015-03-05 10:15] Kartones opened #2634 "Vizjson callback possible XSS"
Need to sanitize vizjson `callback` param to disallow possible XSS

[2015-03-05 10:21] juanignaciosl opened #2635 "Do a user/org grained version of "Recreates all table triggers" task"
cc @Kartones

[2015-03-05 10:31] rafatower commented on #1855
The problem comes from the detection of the delimiter: it uses `;` instead of `,` for that dataset.

[2015-03-05 11:09] rafatower commented on #1855
This patch fixes the problem:
[code]
that is, remove quoted strings before detecting the delimiter. I'll write the proper test and patch

[2015-03-05 11:10] carlostallon opened #2636 "Make search input in dashboard and modals more visible"

[2015-03-05 11:12] saleiva commented on #2624
yep

[2015-03-05 11:15] viddo commented on #2624
@javierarce any ideas on why this could happen?

[2015-03-05 11:19] iriberri opened #2638 "Columns are no longer alphabetically ordered in the table view"
Reporting as you just suggested me in the office. :smile:

[2015-03-05 11:20] javierarce commented on #2624
I'll check it.

[2015-03-05 11:23] javierarce commented on #2624
It seems that [_renderConfirmDeletion](https://github.com/CartoDB/cartodb/blob/dc3cbba77d26c0acbcf5d70476199df76aaa5d55/lib/assets/javascripts/cartodb/new_dashboard/dialogs/delete_items_view.js#L72) is not being called anymore.

[2015-03-05 11:26] iriberri commented on #2630
Added to smokes.

[2015-03-05 11:28] viddo commented on #2624
But if I understand @saleiva correctly, the map previews this happens _after_ deletion is (successfully?) done, so I think this is an error on the map view and not in the delete dialog itself. Right?

Btw, that method is called, but implicitly, through the [general render](https://github.com/CartoDB/cartodb/blob/dc3cbba77d26c0acbcf5d70476199df76aaa5d55/lib/assets/javascripts/cartodb/new_dashboard/

[2015-03-05 11:33] saleiva commented on #2624
Exactly.

[2015-03-05 11:34] javierarce commented on #2624
After deleting? That's not what I've experienced :|, for me the problem for me is that if I try to delete a table, the remove dialog appear but the previews are empty.

What I'm seeing now is that [at this point](https://github.com/CartoDB/cartodb/blob/dc3cbba77d26c0acbcf5d70476199df76aaa5d55/lib/assets/javascripts/cartodb/new_dashboard/dialogs/delete_items_view.js#L78)  `this.$el.find('.MapCard')

[2015-03-05 12:09] javierarce commented on #2624
So, I've fixed the problem I described.

How can I reproduce the problem you found, @saleiva?

[2015-03-05 12:15] saleiva commented on #2624
It happens to me just by deleting a map from the dashboard, then the previews are re-requested but I never got them rendered

[2015-03-05 12:22] javierarce commented on #2624
Ok, thanks, I'll check that too.

[2015-03-05 13:41] #2634 closed

[2015-03-05 13:47] javierarce commented on #2624
I can't reproduce the problem, but in my tests I saw that the previews are getting rendered twice, @viddo:

![delete](https://cloud.githubusercontent.com/assets/4933/6505848/5fca69e0-c346-11e4-9ba8-b9a15c1614a9.gif)

[2015-03-05 13:51] viddo commented on #2624
@javierarce must be some event listener that trigger's a 2nd re-render on the listing

[2015-03-05 13:57] Kartones opened #2640 "Return 400 in case of invalid callback"
Related to https://github.com/CartoDB/cartodb/issues/2634

Instead of just removing, return a 400 error.

[2015-03-05 14:11] carlostallon commented on #2311
![dashboard - user private - base](https://cloud.githubusercontent.com/assets/1712650/6506253/e347b46e-c349-11e4-8e64-afa07b1c6949.png)

![dashboard - user private - maps base](https://cloud.githubusercontent.com/assets/1712650/6506254/e36032d2-c349-11e4-95a6-5c9c2ebf5afe.png)

[2015-03-05 14:16] saleiva commented on #2311
:+1:

[2015-03-05 14:18] carlostallon commented on #2310
![01 merge](https://cloud.githubusercontent.com/assets/1712650/6506352/c57c6e10-c34a-11e4-973a-95ac0bc23e8b.png)
![02 merge step 1](https://cloud.githubusercontent.com/assets/1712650/6506353/c57cb014-c34a-11e4-8939-49b73f53d249.png)
![03 merge step 2](https://cloud.githubusercontent.com/assets/1712650/6506351/c57bbc86-c34a-11e4-96e1-4eb7e628b943.png)
![04 mergeg step 2b](https://cloud.githubuserco

[2015-03-05 14:24] xavijam commented on #2311
:(

[2015-03-05 14:32] saleiva commented on #2310
- Love the icons, dude, they are pretty good. Not sure if the spatial one is reflecting anything spatial but it works.
- The first screen looks very empty, don't you think?
- In general I think that we are loosing a beautiful opportunity to explain how a merge works.

[2015-03-05 14:36] saleiva commented on #2311
WHAT?

[2015-03-05 14:44] piensaenpixel commented on #2310
+ 1 to the third point
"In general I think that we are loosing a beautiful opportunity to explain how a merge works."
 i think we need something different

[2015-03-05 15:16] carlostallon commented on #2631
Makes sense.

![upgrade your plan](https://cloud.githubusercontent.com/assets/1712650/6507539/eacf7c7c-c352-11e4-81a7-80847aee8e3b.png)

[2015-03-05 15:21] saleiva commented on #2631
Ha! Love the rocket!
- Why the squares have not border radius?
- Mercator doesn't have Teams, so we might need to expose the enterprise offering here (can be secondary).
- It's weird that there is an "active" button for "YOUR PLAN", right? There is not action related with that.
- How do you mark a plan as recommending? Looks great, but what is the rationality?
- Is All features a link? I'd try to

[2015-03-05 15:27] carlostallon commented on #2631
working on that...
Why the squares have not border radius?
- fixed
Mercator doesn't have Teams, so we might need to expose the enterprise offering here (can be secondary).
- we can change the literal
It's weird that there is an "active" button for "YOUR PLAN", right? There is not action related with that.
Yep, you could go to your plan tab in preferences, but we can also disable it.
How do you mar

[2015-03-05 15:35] rafatower commented on #1990
I thought this ticket was closed long ago :S closing it now

[2015-03-05 15:35] #1990 closed

[2015-03-05 15:42] rafatower commented on #2603
I'm closing this for the moment, we will tackle the root cause (the models, frameworks and mixup of platform and editor) rather than this detail, which will be more effective.

In staging, the table request is just 2% faster in best case scenario at the expense of risk and complexity.

[2015-03-05 15:45] saleiva commented on #2631
What I meant is that we should expose the enterprise offering too, although we remove that literal.

About the aesthetics, if we follow that argument we should redesign completely wither the website or the dashboard ;). I'd try to make it more consistent with the rest of the dashboard.

[2015-03-05 15:45] saleiva commented on #2631
All the other points, +1

[2015-03-05 16:13] carlostallon commented on #2631
![user config - api keys 8](https://cloud.githubusercontent.com/assets/1712650/6508739/dfd8d414-c35a-11e4-9ee3-8a8e1e577cdb.png)

So, do you add a new column or just replace the mercator one?

[2015-03-05 16:28] #2640 closed

[2015-03-05 16:57] xavijam commented on #2621
Order change -> :+1:
About the selected item, right now:

- Opening connect dataset, default selected item, connect dataset.
- Opening new map, default selected item, datasets.

Any change?

[2015-03-05 17:02] iriberri opened #2644 "Geocoding error: zipcodes + country column"
https://rollbar.com/vizzuality/CartoDB/items/4521/occurrences/4381057514/

![image](https://cloud.githubusercontent.com/assets/1730320/6509734/a04d37d4-c361-11e4-9984-8f2d8ce6ed52.png)

[code]

Last one:

[code]

SB/4708568

[2015-03-05 17:18] saleiva commented on #2621
Perfect. What is the defaul one when not having datasets in your account (in the map one?)

[2015-03-05 17:22] xavijam commented on #2621
Datasets, it doesn't change "automatically" right now, but I'm implementing the same thing as we do in dashboard list, it will go to data library, sounds good?

[2015-03-05 17:23] saleiva commented on #2631
I'd add the enterprise information in the text you have below maybe (with a little icon maybe?).

The reason we show the unlimited tables in the commercial website is because before we had limits. I think we can remove from there too (cc/ @piensaenpixel).

I don't think we should put the recommended for you text in the same row we have other properties or it can confuse people. For me it looks lik

[2015-03-05 17:25] saleiva commented on #2621
I'd show the datasets with the placeholder that we have designed for the zero case on the dashboard. Dont you?

[2015-03-05 17:26] carlostallon commented on #2631
Ok, fixing it!

[2015-03-05 17:29] xavijam commented on #2621
This thing with the "datasets" tab or with the "data library" tab?
![screen shot 2015-03-05 at 18 28 35](https://cloud.githubusercontent.com/assets/132146/6510301/82860b46-c365-11e4-83ff-41d9b71ab05a.png)

[2015-03-05 17:32] saleiva commented on #2621
Yep, that thing, the complete thing. The blue area + the datasets. You think it makes sense?

[2015-03-05 17:34] xavijam commented on #2621
Not sure, but let's try. To be clear.
Being in "create dialog", when there is no datasets, we redirect to data library tab with the blue thing, agree?

[2015-03-05 17:39] saleiva commented on #2621
I have my doubts here. Due to usability issues I'm not sure if we should hide completely the "Your Datasets" link and 'redirect' the user to the Data library, or show this in the "Your Datasets" tab.

cc @piensaenpixel @carlostallon

[2015-03-05 17:52] carlostallon commented on #2631
![user config - api keys 8](https://cloud.githubusercontent.com/assets/1712650/6510829/d0d489a0-c368-11e4-92e4-1b123485b601.png)

[2015-03-05 17:56] saleiva commented on #2631
"Are you looking for more?
Enterprise plans include team collaboration tools and unlimited resources"

And with that change... :+1:

[2015-03-05 18:03] carlostallon commented on #2631
![user config - api keys 8](https://cloud.githubusercontent.com/assets/1712650/6511037/4d299904-c36a-11e4-9195-11ab8d1d7b17.png)

[2015-03-05 18:21] javierarce commented on #1877
I worked on this yesterday, but it's more difficult than I expected. The reason is that we can't just block the editing of the title and description. We'll need to trigger a change to update the children visualizations so the title & description is consistent in all the slides.

[2015-03-05 18:44] #2598 closed

[2015-03-06 09:04] #2458 closed

[2015-03-06 09:04] #2479 closed

[2015-03-06 09:32] rafatower commented on #1855
@iriberri I thought you'd like to know this is fixed for both csv and excel files :)

[2015-03-06 09:32] #1855 closed

[2015-03-06 10:00] carlostallon commented on #2455
A new simpler version, now fits in all the app and launch the new upselling modal
![user config - api keys 4](https://cloud.githubusercontent.com/assets/1712650/6523407/d6424dd2-c3ef-11e4-9e71-75326e6cb742.png)

[2015-03-06 10:05] saleiva commented on #2455
I'm afraid that will be confused with the support module...
Ideas

- Make that button green (not sure)
- Move to the top of the page

[2015-03-06 10:48] saleiva commented on #2522
I have to say that I hate this...

![map editor - blocking loading](https://cloud.githubusercontent.com/assets/132149/6524125/a8df025c-c3f6-11e4-87b2-b7ac8a4a9cc8.png)

[2015-03-06 10:48] #2522 closed

[2015-03-06 10:50] saleiva commented on #2631
:+1:

[2015-03-06 11:09] rochoa commented on #2458
thanks! :grin:

[2015-03-06 11:13] matallo opened #2648 "new dashboard: import won't work with files with extensions in capital letters"
steps to reproduce:
- import `GRAN_TRAIL_WEB.GPX`

expected behaviour:
- file imports fine and user is redirected

actual behaviour:
- invalid import: Unfortunately this file extension is not allowed

[2015-03-06 11:15] #2042 closed

[2015-03-06 11:21] rafatower opened #2649 "Type guessing is wrongly disabled by default"
In some of the multiple refactors of params and options passing it has been broken
[code]
commit 9f57e19e6200733db47ff76574f6cda67909c5bd
commit c2ec8a135fcb051f338ee2d8c48b0eff9669460c
commit 9b6c519daf0e1a723e35a54bd3661fe7ae67288a
commit bf885b73b84b3ee88c4d12658ddebee7cd24ff63
commit e253fde5f35728d166a9df2adfcfe6d377a53584

cc/ @Kartones

[2015-03-06 11:24] javierarce commented on #2255
I've removed the fake "clone this" button. I'm afraid right now there's not a direct way to clone a visualization :(

[2015-03-06 11:24] #2255 closed

[2015-03-06 11:38] rafatower commented on #2649
the bug is here:
[code]
It should be true by default instead of requiring its presence. http://docs.cartodb.com/cartodb-platform/import-api.html

[2015-03-06 11:39] iriberri commented on #1855
:)))

[2015-03-06 11:42] #2270 closed

[2015-03-06 11:42] #2271 closed

[2015-03-06 11:42] #2272 closed

[2015-03-06 11:42] #2273 closed

[2015-03-06 11:42] #2446 closed

[2015-03-06 11:42] #2566 closed

[2015-03-06 11:42] #2621 closed

[2015-03-06 11:42] #2648 closed

[2015-03-06 11:49] rochoa opened #2650 "Changing email requires new password"
## STR
 1. Go to account settings
 1. Modify your email
 1. Use your "*Old password*" (I think this is required to change the email)
 1. Do not fill "*New password*" neither "*Confirm password*"

## Current result
It fails due to "*Missing new password*"

## Expected result
Changing email should not require changing the password

See:
![screen shot 2015-03-06 at 12 43 24](https://cloud.githubuserc

[2015-03-06 11:57] rochoa opened #2651 "Changing avatar does not refresh it when selecting the file"
## STR
 1. Go to "*Account settings*"
 1. Go to "*Profile*"
 1. "*Chose avatar*"
 1. Select a file

## Current result
There is no preview of the new avatar

## Expected result
The new avatar should have a preview (specially when you don't have an avatar yet)

![screen shot 2015-03-06 at 12 50 43](https://cloud.githubusercontent.com/assets/45346/6524994/2240d3c4-c400-11e4-96bd-07aefffd5128.png)

[2015-03-06 12:02] rochoa opened #2652 "It's not possible select a different avatar after selecting a first one"
## STR
 1. Go to "*Account settings*"
 1. Go to "*Profile*"
 1. "*Chose avatar*"
 1. Select a file

## Current result
It's no longer possible to select again another avatar

## Expected result
It should be possible to select another avatar before saving the change

![screen shot 2015-03-06 at 12 50 43](https://cloud.githubusercontent.com/assets/45346/6525054/f7cb424a-c400-11e4-909b-93083edb5154.pn

[2015-03-06 12:13] Kartones commented on #2649
ohh, yes. I'll fix it in a while but today.

[2015-03-06 12:49] rafatower commented on #2035
Fixed in last `ogr2ogr2` package

Tested with this minimal csv:
[code]

It fails with version `2.0.0+svn.28335-precise1ubuntu1` but works as expected in version `ogr2ogr2-static-bin_2.0.0+svn.28596-precise1ubuntu2_amd64.deb`, already deployed https://github.com/CartoDB/cartodb/issues/2107#issuecomment-76959102

[2015-03-06 12:49] #2035 closed

[2015-03-06 14:23] #2649 closed

[2015-03-06 15:22] saleiva opened #2654 "Layout errors on the delete dataset modal window"
When having affected maps.
The card margin-top / bottom should be 28 and it's way less.
Also some scrollbars appear when they shouldn't
![screen shot 2015-03-06 at 16 20 51](https://cloud.githubusercontent.com/assets/132149/6527678/ecd60a16-c41c-11e4-8bd5-a51d42d9e2d3.png)

[2015-03-06 16:34] matallo commented on #2648
BOOM

[2015-03-06 16:42] Kartones commented on #958
Feature flag created is `instagram_import`

[2015-03-06 16:56] Xatpy commented on #2191
Closing with this [PR#2646](https://github.com/CartoDB/cartodb/pull/2646) -> Merging on next 9thMonday

[2015-03-06 16:56] #2191 closed

[2015-03-06 16:56] Xatpy commented on #2190
Closing with this [PR#2646](https://github.com/CartoDB/cartodb/pull/2646) -> Merging on next 9thMonday

[2015-03-06 16:57] Xatpy commented on #2190
Closing with this [PR#2646](https://github.com/CartoDB/cartodb/pull/2646) -> Merging on next 9thMonday

[2015-03-06 16:57] #2190 closed

[2015-03-06 16:57] Xatpy commented on #1958
Closing with this [PR#2646](https://github.com/CartoDB/cartodb/pull/2646) -> Merging on next 9thMonday

[2015-03-06 16:57] #1958 closed

[2015-03-06 16:57] Xatpy commented on #1957
Closing with this [PR#2646](https://github.com/CartoDB/cartodb/pull/2646) -> Merging on next 9thMonday

[2015-03-06 16:57] #1957 closed

[2015-03-06 16:57] Xatpy commented on #1956
Closing with this [PR#2646](https://github.com/CartoDB/cartodb/pull/2646) -> Merging on next 9thMonday

[2015-03-06 16:57] #1956 closed

[2015-03-06 17:04] saleiva commented on #2401
bump

[2015-03-06 18:21] andrewxhill opened #2656 "Can the oEmbed endpoint support our short urls?"
http://services.cartodb.com/oembed?url=http://cdb.io/17WqD0O

[2015-03-08 19:51] vuxita commented on #2395
hey @brittanymicek - do you have access to the new dashboard? So you can start exploring it and we can work on the email content.

[2015-03-09 08:09] devakdo opened #2657 "Mistake"
i think i have mistakenly deleted this https://github.com/CartoDB/cartodb/wiki/Problems-faced-during-CartoDB-install-&-solutions-if-known

[2015-03-09 09:00] javisantana opened #2658 "split trackjs for cartodb.js and editor"
the problem here is that cartodb.js usually throws a lot of errors due embeds and we are not able to see the editor ones properly.

My proposal here is to split in different accounts (don't know if trackjs allows to scope errors). Also I find trackjs pretty limited compared to rollbar, it seems to now allow to silent some errors for example

cc @CartoDB/frontend

[2015-03-09 09:01] viddo commented on #2657
No worries, [I've restored it](https://github.com/CartoDB/cartodb/wiki/Problems-faced-during-CartoDB-install-&-solutions-if-known).

[2015-03-09 09:01] #2657 closed

[2015-03-09 09:32] rafatower opened #2660 "Extract the storage out of Table class"
This is needed a part of separating `table.rb` into platform and editor code.

[2015-03-09 09:53] viddo commented on #2658
:+1:

[2015-03-09 10:07] javierarce commented on #2658
:+1:

[2015-03-09 10:46] devakdo commented on #2657
hello viddo can u pls help me. im getting 404 error after installation can
u help how to resolve?

On Mon, Mar 9, 2015 at 2:31 PM, Nicklas Gummesson <notifications@github.com>
wrote:

[2015-03-09 10:48] #2504 closed

[2015-03-09 10:54] matallo commented on #2658
:+1:

[2015-03-09 11:24] javisantana commented on #2658
hey, I know you are agree, what are your proposals to do this?

[2015-03-09 11:27] carlostallon commented on #2615
You mean something like this:

![dashboard - user public - 0 maps copy](https://cloud.githubusercontent.com/assets/1712650/6554070/aced67b8-c657-11e4-8d04-f8fe9780c255.png)

[2015-03-09 11:29] viddo commented on #2657
This issue tracker is primary for development issues, for installation or configuration help it's better if you ask on the [mailing list](https://groups.google.com/d/forum/cartodb), so other people from the community can also help and learn from this. Also, when writing there, make sure to include more information on what URL you're trying to open when you get the 404 error etc. Thanks!

[2015-03-09 11:44] iriberri opened #2663 "403 forbidden error in a viz from public tables"
Map works in editor but not in Embed. It's happening with the two public visualizations (from public tables) of the user:
http://jasoncwilson.cartodb.com/viz/6bb44e78-c342-11e4-9d1e-0e9d821ea90d/embed_map

[code]

cc @Kartones @rafatower

SB/4608939

[2015-03-09 11:52] #2108 closed

[2015-03-09 13:04] Xatpy opened #2664 "Bug importing a dataset with two 'geometry' columns"
Wrong dataset is imported if you have a dataset with two geometry columns (the_geom or wkb_geometry) with the **same name and you have geo-info in the second one**.

I mean, for example with this csv.
![screen shot 2015-03-09 at 13 44 18](https://cloud.githubusercontent.com/assets/3958416/6555216/28b7861a-c664-11e4-8a4c-b79e71a87960.png)

you get this:
![screen shot 2015-03-09 at 13 44 04](https:/

[2015-03-09 13:29] xavijam commented on #2541
@saleiva, should we enable "georeference" option in the visualization options?
![screen shot 2015-03-09 at 14 29 04](https://cloud.githubusercontent.com/assets/132146/6555762/a75766c6-c668-11e4-8429-268c5a4d85c1.png)

[2015-03-09 13:31] iriberri commented on #2541
By the way, "Exporting layer" would be awesome also :P

[2015-03-09 13:31] xavijam commented on #2541
Step by step :P

[2015-03-09 13:36] xavijam commented on #2541
I feel iriberri, those options should be available in the layer panel, not in the "global" options. In any case, @CartoDB/design has the truth.

[2015-03-09 13:38] iriberri commented on #2541
I don't know where they need to be added, but I think they need. :smile:

For example, in the table view, the GEO button should work directly imho.

[2015-03-09 13:39] xavijam commented on #2541
yep, it will work, that's fixed :)

[2015-03-09 13:41] javierarce opened #2665 "Make vis titles "inline" instead of block"
Sometimes users want to select a visualization and they open it instead because the whole red area (where the title is placed) is clickable:

![screen shot 2015-03-09 at 14 31 40](https://cloud.githubusercontent.com/assets/4933/6555958/3ce64076-c66a-11e4-937d-3caedeaedce0.png)

PS: we'll probably need to use 'inline-flex' to avoid breaking the .PermissionIndicator that appears with shared maps.

[2015-03-09 13:52] saleiva commented on #2541
+1 to both options, if posible ;)
On Mar 9, 2015 2:39 PM, "Javier Álvarez Medina" <notifications@github.com>
wrote:

[2015-03-09 13:52] xavijam commented on #2541
Ooooook ;)

[2015-03-09 13:57] rochoa commented on #2320
This took longer than expected but we finally solved the issue and improved torque server side by using a buffer for the queries :-)

![811](https://cloud.githubusercontent.com/assets/45346/6556246/90a69cf4-c66c-11e4-825a-f07c37dc94ec.png)

[2015-03-09 13:57] #2320 closed

[2015-03-09 14:05] saleiva commented on #2615
Yeah, something like that but...
- I'd make it more visual
- It doesn't make so much sense that we put there some CTA's to browse others users maps, and we don't give credit to those users, right? Also, that similarity with the normal maps I think is dangerous.

[2015-03-09 14:20] javierarce commented on #2320
\o/

[2015-03-09 14:20] carlostallon commented on #2455
![user config - upgrade](https://cloud.githubusercontent.com/assets/1712650/6556728/bc2f4698-c66f-11e4-9802-61933c2a46a9.png)

[2015-03-09 14:23] andrewxhill commented on #2320
wowza

On Mon, Mar 9, 2015 at 7:20 AM, Javier Arce <notifications@github.com>
wrote:

--

andrewxhill <http://twitter.com/andrewxhill>
http://cartodb.com

[2015-03-09 14:25] #1900 closed

[2015-03-09 14:27] iriberri opened #2668 "Add button in wizards to remove an IMG icon once selected"
From: https://github.com/CartoDB/cartodb/issues/2198

Once you select an icon in a wizard, you cannot get rid of it. Of course, you can edit CartoCSS but this is not user friendly :-)

[2015-03-09 14:27] iriberri commented on #2198
Closing and moving here: https://github.com/CartoDB/cartodb/issues/2668

[2015-03-09 14:27] #2198 closed

[2015-03-09 14:44] carlostallon commented on #2636
IMO works adding more contrast to the link than the others. What do you think?
![search](https://cloud.githubusercontent.com/assets/1712650/6557136/0ca190b0-c673-11e4-8e40-14058aea665b.png)
![search2](https://cloud.githubusercontent.com/assets/1712650/6557137/0cb8b0c4-c673-11e4-9400-f316d6420aa3.png)

[2015-03-09 14:50] saleiva commented on #2668
@carlostallon fixed this in the new designs  :)

[2015-03-09 14:52] saleiva commented on #1653
bump!

[2015-03-09 15:05] javierarce commented on #2632
Well, found (although too late): https://github.com/CartoDB/cartodb/issues/2541

I'm closing this ticket.

[2015-03-09 15:05] #2632 closed

[2015-03-09 15:27] saleiva opened #2669 "Design kepler integration"

[2015-03-09 15:37] xavijam opened #2670 "When dashboard is being reloaded (appearing the placeholders), if any item is selected, placeholder appears selected"

[2015-03-09 15:46] zenitraM opened #2671 "Notification user parameter: not enough obvious on new dashboard?"
We have the notification user attribute to be able to display the user important notifications, we usually only use it for platform maintenance reasons:

![image](https://cloud.githubusercontent.com/assets/863975/6558186/d9131388-c67a-11e4-8fdb-928176c57d89.png)

However, on the new dashboard the user has to click on the ringbell to see the message:

![image](https://cloud.githubusercontent.com/as

[2015-03-09 15:48] saleiva commented on #2671
We do have a notification element designed like this. It's a matter of using that layout for that particular type of notification I guess.

[2015-03-09 16:05] alonsogarciapablo opened #2673 "Changing the method of a Density visualization doesn't refresh the visualization"
![uaa___cartodb](https://cloud.githubusercontent.com/assets/390398/6558739/4901d320-c67e-11e4-8a5e-ccf15f0aabe0.png)

**Steps to reproduce:**

1. Create a simple table and add one or more points to it.
2. In the Map View, select "Density" in the visualization wizard.
3. By default, "Hexagons" will be selected as the Method and you should see an hexagon where you used to see a Marker.
4. Change the

[2015-03-09 16:28] xavijam opened #2674 "When a layer is synced, icon is not displayed in layer info"
It should appear when it belongs to a derived visualization (map).

[2015-03-09 16:31] #2541 closed

[2015-03-09 16:36] #2441 closed

[2015-03-09 17:53] viddo opened #2677 "OSM regression tests starting to fail due to external API change"
E.g. http://clinker.cartodb.net/jenkins/job/CartoDB-PR-testing/2155/console :

[code]

As nacho pointed out, no tests should depend on external data as a general rule.
Will disable the offending test for now.

[2015-03-09 17:57] xavijam opened #2679 "Regenerate your OAuth keys is failing"
**Steps**
1) Go to OAuth page.
2) Regenerate keys.
3) It goes to 404 page.

And it should stay in OAuth page, changing your OAuth keys.

[2015-03-09 17:58] viddo commented on #2677
@juanignaciosl @rafatower @Kartones I guess someone of you should look into this? for now I've disabled the test in https://github.com/CartoDB/cartodb/pull/2678 to have clinker pass again, as per @juanignaciosl's comment

[2015-03-09 18:06] javisantana commented on #2679
what error?

[2015-03-09 18:08] matallo opened #2680 "titles in error modals differ from non-error modals"
![matallo cartodb](https://cloud.githubusercontent.com/assets/36676/6561185/872e3a1a-c68f-11e4-9433-7e223d3dadc5.png)
![matallo cartodb error](https://cloud.githubusercontent.com/assets/36676/6561186/8731ab5a-c68f-11e4-97f7-3438ffec17a3.png)

how to reproduce:
- overlap the images (or remove the error class in a modal window)

expected behaviour:
- keep same size and margins, change only color

ac

[2015-03-09 18:17] andrewxhill opened #2681 "Add an image marker on map type simple and there is no way to clear it"
1. create a dataset of points
2. In the Simple wizard, add a Maki icon
3. There is now no way to remove the Maki icon and still use a simple point map

[2015-03-09 18:20] javierarce commented on #2415
I've been reading about the [Vimeo Javascript API](https://developer.vimeo.com/player/js-api) and I think we could use some of its methods to store the progress and play again from there on subsequent loads.

`playProgress`

`seekTo(seconds:Number):void`

I'll work on a mockup to test if this is feasible.

[2015-03-09 18:26] javisantana commented on #2415
we could use youtube that provides the same api and actually works :tmcw:

[2015-03-09 18:31] andrewxhill opened #2682 "Export to CSV should give some format other than WKB"
GeoJSON or Lat Lng would be preferred.

cdb_lat, cdb_lng could be good alternatives to ensure no name clashing

[2015-03-09 18:34] Xatpy commented on #2518
A related problem with this issue is that you don't have real feedback about the geocoding process. Process examples:
- Wrong geocoding... (with strings as lon/lat):
![geocoding_lonlat_fail](https://cloud.githubusercontent.com/assets/3958416/6561349/d4fa03ae-c690-11e4-8be7-ab943bce31b7.gif)
- Ok geocoding:
![geocoding_lonlat_ok](https://cloud.githubusercontent.com/assets/3958416/6561353/e2c7186e-c

[2015-03-09 18:34] saleiva commented on #2681
Yep, duplicated!

[2015-03-09 18:34] #2681 closed

[2015-03-09 19:22] javierarce commented on #2415
Haha! I looked into vimeo first because we host the videos there, but we could use youtube instead (the buffering works [better], you're totally right there). My only concern would be: does youtube allow to embed videos without ads?

[2015-03-09 21:56] ohasselblad opened #2683 ""create table from query or clear view" banner covers zoom overlay and search box"
For all maps that were done in our workshop today, we've seen situations like this:

![screen shot 2015-03-09 at 14 48 39](https://cloud.githubusercontent.com/assets/1041056/6565269/1518a8de-c66c-11e4-8eb6-1d286a0b3036.png)

[2015-03-09 22:30] saleiva opened #2684 "Adapt margins on editor-1.3"

[2015-03-10 08:21] javisantana commented on #2415
And how that would work in onpremise offline?

[2015-03-10 09:03] viddo opened #2685 "TrackJS, "config.trackAjaxFail: property not supported.""
`config.trackAjaxFail: property not supported.` is output in the console in production, which is set [here](https://github.com/CartoDB/cartodb/blob/dc3cbba77d26c0acbcf5d70476199df76aaa5d55/lib/assets/javascripts/cartodb/common/views/trackjs.jst.ejs#L3).

Looking at TrackJS docs there is no such setting (and none mentioned in the changelog either), but there is a [network setting](http://docs.track

[2015-03-10 09:04] viddo commented on #2685
@CartoDB/frontend what is the "correct" setting we should have here?

[2015-03-10 09:09] Kartones commented on #2677
As OSM is external to properly remove the external dependency the test should mock the call and response... feel free to move it to me but at minimum will be for next sprint

[2015-03-10 09:10] viddo commented on #2677
Ok, I'll do that! For me there's no rush. Thanks!

[2015-03-10 09:22] javierarce commented on #2415
@javisantana: we would need to host the videos ourselves.

[2015-03-10 09:23] viddo commented on #2685
...or if you prefer we could tackle this as part of #2658 ?

[2015-03-10 09:24] javierarce commented on #2415
Ok, some questions we need to answer:

* Do we need to make this work offline?
* Do we want to keep hosting the videos in Vimeo or move them to Youtube?

[2015-03-10 09:29] matallo commented on #2415
I was going to reply quite with the same @javierarce answers.

First of all, shall we host the videos ourselves? thinking of the onpremise option here

Having decided this:
- rely on external provider for host and player (api) for the videos
- host player (api) and use a source list in configuration, either external or internal => http://www.jwplayer.com/

[2015-03-10 09:33] xavijam commented on #2622
@juanignaciosl, frontend part is done, but if you need any help, let me know. Branch [issue-2622](https://github.com/CartoDB/cartodb/tree/issue-2622).

[2015-03-10 09:47] carlostallon commented on #2615
![dashboard - user public - 0 maps copy](https://cloud.githubusercontent.com/assets/1712650/6572469/c46b9a84-c712-11e4-98c7-59b997b3480d.png)

[2015-03-10 10:06] matallo opened #2686 "update favicon to retina"

[2015-03-10 10:46] #2670 closed

[2015-03-10 11:44] viddo commented on #2680
I think @xavijam is a better candidate to resolve this one, since he did these ones, reassigning

[2015-03-10 11:53] xavijam commented on #2680
Added to https://github.com/CartoDB/cartodb/issues/1786

[2015-03-10 11:53] #2680 closed

[2015-03-10 13:03] javisantana commented on #2415
for the moment just go with vimeo or whatever and just disable this in onpremise

[2015-03-10 13:07] #2674 closed

[2015-03-10 13:26] lbosque commented on #1792
Fixed

[2015-03-10 13:26] #1792 closed

[2015-03-10 14:31] javierarce opened #2694 "Update Twitter & Facebook metadata with the URL of the static map"
Right now we are just showing an icon, but we could show a nice preview of the actual map thanks to our super-duper Static Map API:

[code]

[2015-03-10 14:39] saleiva commented on #2694
Don't we need the single URL call on the Static API  for this?

[2015-03-10 14:39] saleiva commented on #2694
cc/ @rochoa @rambo

[2015-03-10 14:42] saleiva commented on #2415
This is not needed for onpremise since its only for begineers

[2015-03-10 14:43] viddo commented on #2429
Since we're changing the contrast on these buttons, shouldn't the cancel-buttons also be updated? Since we already unified #2222 these styles previously I figured we perhaps should do it this time too

[2015-03-10 14:45] saleiva commented on #2429
+1

[2015-03-10 14:58] viddo commented on #2633
Confirmed that you have cached dashboard feature flag activated, and after talked with @xavijam  he also mentioned that it makes the dashboard appear "unstable", since the list loads a cached (in your cases, invalid) list which is not matching the real one (that gets fetched in the background and thus don't render until the response returns). cc @javisantana what would you like to do about this?

[2015-03-10 15:01] xavijam opened #2695 "Provide original file name (if it exists), in the import API"
If the import api could provide that, we would avoid the problem below.

![screen shot 2015-03-10 at 15 52 53](https://cloud.githubusercontent.com/assets/132146/6577488/b3054e12-c73e-11e4-845f-ad4ef6f5afe7.png)

cc @javisantana  @saleiva

[2015-03-10 15:04] saleiva commented on #2695
minor

[2015-03-10 15:10] #1786 closed

[2015-03-10 15:13] #2542 closed

[2015-03-10 15:33] javierarce commented on #2624
@saleiva: after testing in several browsers, I can't reproduce the original problem (although I've fixed two related bugs that were discovered thanks to this issue), so I'm closing the ticket.

Please, reopen it if it happens again.

[2015-03-10 15:33] #2624 closed

[2015-03-10 15:34] xavijam commented on #2360
cc @javisantana  when you have time.

[2015-03-10 16:56] Xatpy commented on #1608
Closing this issue because it was done [here](https://github.com/CartoDB/cartodb-platform/issues/257)

[2015-03-10 16:56] #1608 closed

[2015-03-10 17:11] juanignaciosl commented on #2622
- [X] Make it work with the backend part (cc @juanignaciosl)

Things I think are still missing:
- [ ] Goodbye redirection page (see `app/controllers/admin/users_controller.rb#delete` redirection).
- [ ] Should "enter" delete user when focus is in old password confirmation?
- [ ] Should org owner see delete account link? Error is caught, but it can't...
- [ ] Google logged in users that have not ch

[2015-03-10 17:34] xavijam commented on #2622
@saleiva, being in our central was easy to redirect when a user was deleted, but now, doing that in the editor, we don't know what to do, should we create a new "bye bye" page? what do you think?

[2015-03-10 17:36] xavijam commented on #2622
Answering you @juanignaciosl:

-  Goodbye redirection page (see app/controllers/admin/users_controller.rb#delete redirection) -> asking @saleiva.
- Should "enter" delete user when focus is in old password confirmation? -> yes.
- Should org owner see delete account link? Error is caught, but it can't... -> I will "hide" it and put a "text"
- Google logged in users that have not changed password (se

[2015-03-10 17:38] saleiva opened #2701 "Search doesn't seem to work correctly until you click on one of the 'tabs' close to it"
After clicking on your datasets, or shared with you it looks to be working fine

[2015-03-10 17:40] viddo commented on #2701
Can you clarify what you mean with "doesn't seem to work correctly"? And what "tabs" are you referring to?

[2015-03-10 17:40] saleiva commented on #2636
3rd one for me.
What about making it blue too?

[2015-03-10 17:41] saleiva commented on #2701
it doesn't give you results.
"tabs" ->
![screen shot 2015-03-10 at 18 40 54](https://cloud.githubusercontent.com/assets/132149/6581100/04c32bdc-c755-11e4-8640-3f69fd40a5c6.png)

[2015-03-10 17:42] saleiva opened #2702 "Enter button doesn't work on the searchbar"
This should be a hotfix, since there are some users already using the dashboard.

[2015-03-10 17:43] saleiva commented on #2702
cc/ @xavijam since a test might be needed for this.

[2015-03-10 17:44] carlostallon commented on #2636
Makes sense IMO

![captura de pantalla 2015-03-10 18 43 43](https://cloud.githubusercontent.com/assets/1712650/6581150/67b85ffa-c755-11e4-9d66-fefabd4e33a1.png)

[2015-03-10 17:44] saleiva commented on #2622
About 1. Create a ticket and leave it redirecting to cartodb.com for the time being. Sounds that good?

[2015-03-10 17:46] xavijam commented on #2702
This is for @viddo.

[2015-03-10 17:51] saleiva commented on #2636
Let's go with the black one and try. Assigning to myself.

[2015-03-10 17:54] saleiva opened #2703 "Click on search label when having the search input activated, should also close the search"

[2015-03-10 17:59] saleiva opened #2704 "Dataset icons are not available for tables shared with you"

[2015-03-10 18:00] rochoa opened #2705 "Invalid viz.json for visualisation with just one torque layer and private tables"
The viz.json for a visualisation without

## STR
1. Create a points private table
1. Create a visualisation from it
1. Use a torque wizard

## Current result
The viz.json has two layers: `"type": "tiled"` for the basemap and `"type: torque"` for the data layer. The torque layer has a reference to its associated named map.

## Expected result
The viz.json should have three layers: `"type": "tiled"`

[2015-03-10 18:00] rochoa commented on #2705
cc @saleiva @javierarce

[2015-03-10 18:01] saleiva commented on #2704
Ok, it doesn't happen again :/

[2015-03-10 18:01] #2704 closed

[2015-03-10 18:01] xavijam opened #2706 "Design new bye-bye page when user deletes his/her account"
cc @carlostallon @saleiva @piensaenpixel

[2015-03-10 18:01] saleiva commented on #2702
Also close button doesn't show up.

[2015-03-10 18:02] xavijam commented on #2702
A js error is making failed the whole component.

[2015-03-10 18:03] xavijam commented on #2622
@juanignaciosl, could you take care of the redirect please? Take into account open source way (It should go to 404 for the moment... maybe?).

[2015-03-10 18:06] Xatpy commented on #1685
I've to check [here](https://github.com/CartoDB/cartodb/blob/171026a90bd3c84e70ed6e89e92a0c683be1079b/app/views/admin/organization_users/_form.html.erb#L181)

[2015-03-10 18:08] viddo commented on #2702
Found the issue and added tests to cover this, will merge & deploy promptly.

[2015-03-10 18:12] #2702 closed

[2015-03-10 18:18] #2568 closed

[2015-03-10 18:20] juanignaciosl commented on #2622
Ok, just uploaded it:

[code]

[2015-03-10 18:20] #2616 closed

[2015-03-10 18:20] viddo commented on #2702
Deploying to production...

[2015-03-10 18:22] viddo commented on #2702
...done!

[2015-03-10 18:23] viddo commented on #2701
I guess this was related to #2702, right? If still happens on production (should be fixed) re-open this issue please.

[2015-03-10 18:23] #2701 closed

[2015-03-10 18:31] saleiva commented on #2701
uhm... looks like it's working! Thanks!

[2015-03-11 09:11] juanignaciosl opened #2709 "Let ogr2ogr import Excel files without conversion"
Some xls files ([example](http://uat-catalog-fe-data.reisys.com/dataset/public-budget-database-governmental-receipts-1962-current)) are not imported with the header: the header, instead of becoming column names, is imported in the first row. CartoDB is converting this file to csv, and ogr2ogr csv header guessing doesn't detect it's a header. Nevertheless ogr2ogr supports both [xls](http://www.gdal

[2015-03-11 09:24] saleiva opened #2710 "ESC key should get filters view back to default state if in search"

[2015-03-11 09:41] #958 closed

[2015-03-11 09:44] javisantana opened #2711 "infinite loop saving an image overlay"
I can't provide steps to reproduce but the problem was that image overlay was being saved all the time. It was raised when I moved the image on the screen.

[2015-03-11 10:14] javisantana commented on #2633
yes, this is a known issue, #2555

[2015-03-11 10:39] Kartones commented on #2705
After some local tests, this is the source of the issue:
[code]
[code]
Which according to the [vizjson spec](https://github.com/CartoDB/cartodb.js/blob/privacy-maps/doc/vizjson_format.md) is using the deprecated cartodb layer type, so if we only have a tiled layer + torque layer, it won't return the named map.

As far as I can remember (this code is from feb/mar 2014 when we built the Named Maps)

[2015-03-11 10:44] javisantana commented on #2705
the expected result is **not** having 3 layers, is to have two layers, the tiled (for the base) and the torque.

the named map is still needed to get tiles for the torque layer.

[2015-03-11 10:58] carlostallon opened #2713 "new filters in dashboard submenu"
Take a look
![captura de pantalla 2015-03-11 a las 11 56 50](https://cloud.githubusercontent.com/assets/1712650/6594951/d609d9c6-c7e5-11e4-9f80-7730c0286977.png)

/cc @xavijam @saleiva @piensaenpixel

[2015-03-11 11:06] xavijam opened #2714 "When an organization user is removed, application doesn't redirect to any url."
Changes should be done in branch [issue-2622](https://github.com/CartoDB/cartodb/tree/issue-2622).

[2015-03-11 11:08] piensaenpixel commented on #2713
i think in this case we need the label "Order by:"
My 2 cents. :)

[2015-03-11 11:15] rafatower opened #2717 "Review rescue * usage in our code"
Generally speaking, rescuing from all exceptions shouldn't be done in most cases and is a major cause of hard-to-debug issues.

A real-world example:

[code]

in my case a bug in Table caused an infinite loop when renaming tables, but couldn't see the related exception and took me a while to debug it, pretty far from the root cause.

My proposal is to:
- Identify all of them in our code
- Log them

[2015-03-11 11:23] iriberri opened #2718 "Import error by importing file named "fetch""
Steps:

1. Create any CSV file with name `fetch`. The same happens, for example, with a GeoJSON file. I suppose is a general thing.
2. Import it to CartoDB.

[code]

DataImport ID example:
` irb(main):002:0> DataImport['8e0c020b-2cea-4f5f-8460-b7408c45dcc4'].log `

[2015-03-11 11:29] Kartones commented on #2717
My bad here :(   I tried to allow rolling back name changes and created the infinite loop scenario, sorry.

+1000 to detecting pokemon rescues and add different levels by exception type.

[2015-03-11 11:37] rochoa commented on #2705
Thanks a lot for the valuable information and sorry for wasting your time :-1:

I will create another issue to solve the problem in the client.

[2015-03-11 11:37] #2705 closed

[2015-03-11 11:43] piensaenpixel opened #2719 "Weird icons in data libray"
![image](https://cloud.githubusercontent.com/assets/1214201/6595595/1120fcb4-c7ec-11e4-9b3c-8ead8760578c.png)

[2015-03-11 11:46] #2719 closed

[2015-03-11 11:52] rochoa opened #2720 "403 error for static maps with just one torque layer and private tables"
cartodb.js needs a fix in the way it instantiates layergroups when there is only a torque layer with private tables.

This should get fixed one bug is solved. Ref https://github.com/CartoDB/cartodb.js/issues/397

cc @saleiva

[2015-03-11 12:02] viddo commented on #2710
I can take care of this one, as part of the pending PR #2708

[2015-03-11 12:11] #2608 closed

[2015-03-11 12:16] viddo commented on #2633
Reassigning to santana, since this will be resolved with fixes related to the cached dashboard

[2015-03-11 12:21] viddo commented on #2654
You use Safari, right?

[2015-03-11 12:48] viddo commented on #2654
Nevermind, noticed what is wrong..

[2015-03-11 13:34] #2686 closed

[2015-03-11 14:21] Xatpy commented on #2518
Merged.

[2015-03-11 14:21] #2518 closed

[2015-03-11 14:43] saleiva commented on #2025
This is related with one of @carlostallon's issue - #2629. Closing as duplicated

[2015-03-11 14:43] #2025 closed

[2015-03-11 14:50] juanignaciosl opened #2723 "Disable buttons on submit"
There're some processes, specially those involving user accounts (deletion and creation) that are slow.  If a user gets no feedback he will probably click again, and probably provoke some error. Clicking buttons of create new user, update or delete from organization and account pages creation/deletion/whatever should avoid a second one before response, maybe disabling the button or with a modal wa

[2015-03-11 14:59] viddo commented on #2658
Since you mentioning Rollbar, is there a reason why we are not using https://rollbar.com/docs/notifier/rollbar.js/ ? It also supports source maps that would be a nice addition (once we fix that for production).

[2015-03-11 15:02] javisantana commented on #2658
@xavijam knows the details

[2015-03-11 15:05] viddo commented on #2631
Some doubts:
1. What is "downgrade" button suppose to do?
1. Where do "Go to enterprise" point to?
1. "Upgrade" button points to same URLs as already exist on existing `account/username/upgrade` page?

[2015-03-11 15:06] xavijam commented on #2658
I've said several times. TrackJS provides a timeline of actions before finding the error. Something I found great to catch errors easily. Source maps are also supported in TrackJS. But finally, if you want to go back to rollbar fine for me, no problem.

[2015-03-11 15:08] javisantana commented on #2658
for me trackjs works good enough the only problem with trackjs (which is fixeable) is split things from cartodb and cartodb.js (embed)

[2015-03-11 15:11] xavijam commented on #2628
In short, we want a search that could find the "pattern" in any type (your datasets/maps, shared, data library, ...), right?

[2015-03-11 15:11] viddo commented on #2658
So rather than migrating to a new tool (and all the problems that comes with that), why not just start with "split things"? I think it was already mentioned, but what's stopping us from using http://docs.trackjs.com/Examples/Multiple_Applications (apart from obvious upgrade, which we most likely would need from other services too).

[2015-03-11 15:13] xavijam commented on #2336
That's not possible, we have to import first the data library to his/her account before creating a new map.
I don't get what you want sorry.

[2015-03-11 15:27] saleiva commented on #2336
After importing you are not being redirected to the new map, you are being redirected to the table view.
You should be redirected to the map view, the same than with normal files

[2015-03-11 15:28] xavijam commented on #2336
https://github.com/CartoDB/cartodb/issues/2457 duplicated?

[2015-03-11 15:29] saleiva commented on #2628
yes but we will never mix datasets and maps

[2015-03-11 15:29] xavijam commented on #2628
Yeah, of course.

[2015-03-11 15:29] saleiva commented on #2631
1. Change your plan to a lower one.
2. Sales@cartodb.com
3. I think so, check with @xavijam

[2015-03-11 15:30] saleiva commented on #2336
could be yeah.

[2015-03-11 15:30] saleiva commented on #2336
you can close this one then

[2015-03-11 15:31] viddo commented on #2631
1. Sure, but _how_ is that expected to be done? :) AFAIK that feature do not exist right now.. do you mean that this button should change the plan of the user? If so, what about organizations?

[2015-03-11 15:31] xavijam commented on #2336
Duplicated #2457 :dancer:

[2015-03-11 15:31] #2336 closed

[2015-03-11 15:32] #2429 closed

[2015-03-11 15:32] #2636 closed

[2015-03-11 15:32] #2703 closed

[2015-03-11 15:32] #2710 closed

[2015-03-11 15:32] #2623 closed

[2015-03-11 15:33] #2654 closed

[2015-03-11 15:34] saleiva commented on #1658
Since this will be needed for the new editor, we can close this isssue for the time being, and reopen once we have this modal implemented.

[2015-03-11 15:37] xavijam commented on #2628
Unfortunately, we can't search within data-library and user datasets because the type ```param``` is different. For data-library we use ```remote``` and for standard datasets we use ```table```.

@juanignaciosl @javisantana @Kartones

[2015-03-11 15:37] juanignaciosl opened #2725 "A broken sync makes a table lose the_geom_webmercator"
A user has reported problems with a sync table. Table sync failed because of a download error, but it should've not lost any column. Here's the trace:

[code]
[code]

[2015-03-11 15:41] juanignaciosl commented on #2628
Well, we could accept a comma separated list of types and then use it wit an `OR`, isn't it? There's one single table underneath (`visualizations`) so it should be easy.

[2015-03-11 15:42] saleiva commented on #2631
Yes this is implemented in the actual version! We do have downgrades almost every day :)

[2015-03-11 15:42] xavijam commented on #2628
Sounds a good solution to me

[2015-03-11 15:46] viddo commented on #2631
Aha, my bad then! I need to find where that's done, have not seen it so far..

[2015-03-11 15:50] saleiva commented on #2629
bump!

[2015-03-11 15:53] Kartones opened #2726 "Remove DataImport logger default value"
[code]
Change to `NULL` by default to support current log system.

[2015-03-11 16:01] alonsogarciapablo commented on #2420
@saleiva. Just to clarify. We're talking about this, right?

![captura de pantalla 2015-03-11 a las 16 59 58](https://cloud.githubusercontent.com/assets/390398/6600483/2dc9db96-c810-11e4-8c52-bcaaec26d562.png)

[2015-03-11 16:02] xavijam commented on #2631
But that dialog if for "central" or for "editor"?

[2015-03-11 16:07] carlostallon commented on #2629
![error cta](https://cloud.githubusercontent.com/assets/1712650/6600626/0cee3ed4-c811-11e4-840f-931280fe979b.png)

[2015-03-11 16:10] saleiva opened #2727 "Review margins on the connect dataset modal"

[2015-03-11 16:13] saleiva commented on #2420
sip!

[2015-03-11 16:14] saleiva commented on #2631
That dialog is for everywhere...

If making this part of central, we can adapt the design to do a separated page in central.

[2015-03-11 16:17] saleiva commented on #2629
Why the numbers?
I think we have to rethink that part for this particular case.

"invalid import" -> "You have run out of quota (change icon?)"
"Check errors" -> "Remove some of your datasets to gain available space or upgrade your account"

Remember, copy is also part of design!

[2015-03-11 16:27] saleiva opened #2728 "Clicking on the "Data library" link on the create modal removes the number on the shared datasets"

[2015-03-11 16:31] xavijam commented on #2728
That's the number that comes from the visualization endpoint, so I guess this is a bug from the API. That means backend guys should take a look :S.

cc @juanignaciosl or @Kartones

[2015-03-11 16:32] xavijam commented on #2628
Should I open a new ticket @juanignaciosl ?

[2015-03-11 16:34] Kartones commented on #2728
I'll take a look, but right now...
![](http://memecrunch.com/meme/DU49/i-don-t-know-what-you-re-talking-about/image.png)

[2015-03-11 16:37] #1685 closed

[2015-03-11 16:40] viddo commented on #2631
AFAIK, we do not have modals on central, do we? @matallo ?

Currently the plan details and metadata (what would go in the plan properties in these mockups) is provided through a JSON, so I think it makes sense to have the modal on the editor, and render based on this data.

Also, I'll make sure to add error handling, in case the endpoint fails and/or change unexpectedly. I agree with @xavijam's pr

[2015-03-11 16:42] xavijam commented on #2728
A request to remote data, like:
```http://theteam.localhost.lan:3000/u/cartofante/api/v1/viz.json?tag_name=&q=&page=1&type=remote```

Returns:
[code]

Those last figures are the numbers those appear in the "new dashboard" subheader.

[2015-03-11 16:42] saleiva commented on #2630
buuump!

[2015-03-11 16:44] Kartones commented on #2728
Ok, and what does this have to do do with the Data Library? due to being "remote tables" the counters dissapear?

[2015-03-11 16:46] juanignaciosl commented on #2728
I'm not sure if this is a backend issue. This is the relevant data of the first request ('datasets' one):
[code]

Clicking at Data library "tab" (no need to go to the modal) returns this:
[code]

As you see, in spite of having `total_shared: 24` the number disappears.

[2015-03-11 16:47] matallo commented on #2631
-1 to move it to the editor

at least at this point, we already have styles of new_dashboard in cartodb-central, and we can have a placeholder dashboard where to place the modal

[2015-03-11 16:49] xavijam commented on #2728
Uhm, you are right...
Overloaded!

[2015-03-11 16:50] saleiva commented on #2631
Linking what matallo is proposing. Is not that straightforward but we can give it a try.
cc/ @carlostallon

In that case, @matallo I'd assign this to you.

[2015-03-11 16:52] juanignaciosl commented on #2728
Wow, not that fast. Clicking either "Datasets" or "Data Library" trigger 2 requests each:

Click datasets:
1. https://team.cartodb.com/u/juanignaciosl/api/v1/viz/?tag_name=&q=&page=1&type=table&exclude_shared=true&per_page=20&tags=&only_shared=false&category=&locked=false&only_liked=false&order=updated_at
2. https://team.cartodb.com/u/juanignaciosl/api/v1/viz/?tag_name=&q=&page=1&type=table&exclud

[2015-03-11 16:53] Kartones commented on #1693
@javisantana I would need you to fix whenever you can the FE code regarding `cdb.config.get("sql_api_template")` change, as it breaks FE tests

[2015-03-11 16:53] xavijam commented on #2728
I will take a look in my next available gap, don't worry.

[2015-03-11 16:54] carlostallon commented on #2630
![01 upselling](https://cloud.githubusercontent.com/assets/1712650/6601743/a9cb664a-c817-11e4-8090-c230f32766ef.png)
![02 upselling](https://cloud.githubusercontent.com/assets/1712650/6601745/a9cf9328-c817-11e4-8245-7fc0cea6938b.png)
![03 upselling](https://cloud.githubusercontent.com/assets/1712650/6601744/a9cf7cee-c817-11e4-9876-a64a8c4eeff8.png)
![04 upselling](https://cloud.githubusercontent.c

[2015-03-11 16:58] juanignaciosl commented on #2628
Since I suppose you'll work in a branch, do the frontend part and then pass me the branch if you want.

[2015-03-11 16:58] xavijam commented on #2628
branch new-dashboard-search

[2015-03-11 16:59] saleiva opened #2729 "Replicate actual editor mockup in sketch"
We are gonna have to design some features on the actual editor, so we better have an sketch file with it.
I'd need to start designing the kepler integration monday next week, so can we prioritize this for after the tickets you have for the dashboard?

[2015-03-11 17:01] xavijam commented on #2628
pushed right now, sorry buddy.

[2015-03-11 17:03] juanignaciosl commented on #2628
Please confirm me if UI is already sending the comma-separated list of types and then assign this to me.

[2015-03-11 17:03] carlostallon commented on #2729
Yes, sure!

[2015-03-11 17:05] viddo commented on #2631
@matallo what do you mean with "placeholder dashboard"? Maybe I'm misunderstanding something, but if doing this in central, how do you propose to display this in a modal in the editor?
If you agree with @saleiva and it's clear to you what needs to be done feel free to reassign the issue to yourself. If not, let me know what you guys expect from me.