[2015-03-11 17:10] matallo commented on #2631
as in http://oneclick.cartodb.com/3b75efc1-3ef2-470e-9500-1969816b0f88/?file=http://tidesandcurrents.noaa.gov/kml/coops-slt.kmz (but in cartodb-central, where we already have the assets and layout ready, i.e. plan view)

[2015-03-11 17:11] saleiva commented on #2630
Why don't you use the 'present' icon that was so lovely?
Like them all, only thing I am not sure is about the blue on the modal window (the privacy one)

[2015-03-11 17:17] carlostallon commented on #2630
I will add it again the icon and solve this color issue

2015-03-11 18:11 GMT+01:00 saleiva <notifications@github.com>:

--
Carlos Tallón
Designer

[2015-03-11 17:18] saleiva commented on #2630
Also, the last point is missing I think

[2015-03-11 17:21] saleiva commented on #2311
hey @xavijam can @matallo start with this on the central pages, so the markup is created for the dashboard and so on?

[2015-03-11 17:23] xavijam commented on #2311
ok

[2015-03-11 17:43] saleiva commented on #2537
when will we launch this taslk??

[2015-03-11 17:55] xavijam commented on #2728
I've removed category parameter and seems like request is still returning 0, so sorry @juanignaciosl, seems like it is a backend bug, but if you find it is not, let me know please.

[2015-03-11 18:00] javierarce commented on #2415
I've tested a quick solution using local storage to save the current position and then seek to the right moment when the video is open in subsequent loads / different pages.

I have a question regarding this screen:

![screen shot 2015-03-11 at 12 30 51](https://cloud.githubusercontent.com/assets/4933/6603189/be5c7384-c820-11e4-89a6-0eef24583739.png)

The "go for it" button that appears there is t

[2015-03-11 18:06] saleiva commented on #2415
Yep, it should create an empty map and keep the video open there

[2015-03-11 18:11] #2714 closed

[2015-03-11 18:11] alonsogarciapablo commented on #2420
There are two different things here: infowindows and tooltips.

In a **public map**, when there're no values, tooltips look like this:

![captura de pantalla 2015-03-11 a las 18 36 20](https://cloud.githubusercontent.com/assets/390398/6602831/7f1c9e58-c81e-11e4-84ae-30f9968efaac.png)

Should we do the same in the editor?

[2015-03-11 18:23] juanignaciosl commented on #2537
In the description of this issue I propose not to run a rake task but trigger that on demand, since it will also solve updating the metadata. If you agree with this proposal I will do it ASAP.

[2015-03-11 18:25] saleiva commented on #2197
hi @pramsey this is being solved by @alonsogarciapablo and should be merged soon!

[2015-03-11 18:25] #2197 closed

[2015-03-11 18:27] saleiva commented on #2537
How much work does this need from @CartoDB/frontend ? They are a bit overloaded

[2015-03-11 18:28] saleiva commented on #2420
If there is no data selected, the infowindow on hover (tooltip) should not be shown on the public view.
So I guess this is part of the same issue

[2015-03-11 18:30] juanignaciosl commented on #2537
<free-moan>Take a look at my assigned issue list :(</free-moan>

Pretty much none. Right now Data Library behaves fine with no data. I'd just change the text not to mean "There's no data" but "There will be data here in a few moments", the actual work backend: trigger a task to update the metadata every month or so.

[2015-03-11 18:36] saleiva commented on #2537
Ok, then let's do it like that...

[2015-03-11 18:36] saleiva commented on #2537
@viddo could you take care of the frontend part for this?

[2015-03-11 18:42] juanignaciosl commented on #2537
Ok, I will and then hand it to @viddo to try it and make UI consistent ^_^

[2015-03-11 18:48] lbosque opened #2731 "Stament timeout == 0 should be valid"
When importing with a user with stament_timeout == 0:

[Error decreasing concurrent import limit] === invalid user database_timeout (must be positive integer)

https://github.com/CartoDB/cartodb/blob/master/services/platform-limits/lib/importer/user_concurrent_imports_amount.rb#L42

0 is a valid stament_timeout in postgresql that means that there is no limit

/cc @javisantana @saleiva @zenitraM

[2015-03-12 08:37] viddo commented on #2537
:ok_hand: let me know when to do the changes.

[2015-03-12 09:19] #2673 closed

[2015-03-12 09:48] alonsogarciapablo commented on #2197
@pramsey released!

[2015-03-12 10:00] matallo opened #2735 "migrate pending mixpanel properties => hubspot"
**events**
- [x] Applying CartoCSS style manually
- [x] Applying color as basemap
- [x] Applying a pattern as basemap
- [x] Applying filter
- [x] Choose a wizard
- [x] Click Publish Visualization
- [x] Common data clicked
- [x] Dashboard viewed
- [x] Dashboard viewed for the first time
- [x] Exported table data
- [x] Geocoding failed <- This should be Geocoding and save the status as metadata
- [x

[2015-03-12 10:03] matallo opened #2736 "split development user for hubspot"

[2015-03-12 10:04] viddo commented on #2736
Can you clarify what you mean by "split developer user"? :)

[2015-03-12 10:06] viddo commented on #1959
Closing, I can't reproduce. @Xatpy mentioned that there were another bug related with the importer that was probably the root cause to this error, so it got fixed together with that one, see #2107

[2015-03-12 10:06] #1959 closed

[2015-03-12 10:07] matallo commented on #2736
sure, when in ENV=development, implement events and properties are sent to HubSpot demo user described in http://developers.hubspot.com/docs/overview

[2015-03-12 10:22] #2726 closed

[2015-03-12 10:33] carlostallon commented on #2729
Done!
it's in .../webapp/12-classic-editor

[2015-03-12 10:35] juanignaciosl opened #2737 "Dashboard attempts to import existing dataset"
1. Go to datasets with 'http://_server_/dashboard/datasets' and before list appears, click 'Data Library'.
2. It will show user datasets before data library. If you click an existing user dataset dashboard triggers an import (just as if it were an external source).

[2015-03-12 10:45] #2622 closed

[2015-03-12 10:45] #2728 closed

[2015-03-12 11:06] #2731 closed

[2015-03-12 11:21] iriberri opened #2739 "GDrive sync tables enquiries"
**Continuous updates being added here**

`CartoDB::Synchronization::Collection.new.fetch(name:'gdpc_app_downloads_1')``
[code]

Pending. I think that the incorrect file is being sync.
====
`CartoDB::Synchronization::Collection.new.fetch(name:'sites_with_videos')`

[code]

**Result:** It seems that the user disconnected the table :-/.

====
`CartoDB::Synchronization::Collection.new.fetch(name:'logo

[2015-03-12 12:14] iriberri opened #2742 "If previous sync failed, sync again without checking last updated time"

[2015-03-12 13:11] iriberri opened #2743 "Update in multi-user account is not being recognized"
`update example SET latitude = latitude / 1000000`

is transformed to:

`update "username".example SET latitude = latitude / 1000000`

and:

![image](https://cloud.githubusercontent.com/assets/1730320/6618253/9b612a72-c8c1-11e4-9b07-f4e50137499e.png)

From: SB/4754950

[2015-03-12 13:18] xavijam opened #2744 "Make visualization API work using several values in type attribute"
https://github.com/CartoDB/cartodb/issues/2628#issuecomment-78289056 and also commented [here](https://github.com/CartoDB/cartodb/pull/2733)

Branch: new-dashboard-search

[2015-03-12 13:25] javierarce commented on #2720
Fixed.

[2015-03-12 13:25] #2720 closed

[2015-03-12 13:38] rochoa commented on #2720
:+1:

[2015-03-12 13:50] Kartones opened #2745 "Remove Windshaft deprecated routes"
See [Routes list](https://github.com/CartoDB/Windshaft-cartodb/blob/master/docs/Routes.md).

A check yielded two points where now deprecated routes are being used:
[code]

Implement required changes so we don't use deprecated routes

[2015-03-12 13:50] matallo commented on #2631
check PR on cartodb-central

[2015-03-12 14:23] juanignaciosl commented on #2744
@xavijam as I've told you, I've added `types` parameter instead of overloading current `type` parameter accepting multiple types, simpler, safer and much cleaner. Please let me know if you have any problem integrating it in the frontend.

[2015-03-12 14:23] xavijam commented on #2744
perfect, don't close the issue please :)

[2015-03-12 14:26] javierarce commented on #2100
Fixed :)

[2015-03-12 14:26] saleiva commented on #2729
:clap: I love the name.
Thanks!

[2015-03-12 14:29] #2176 closed

[2015-03-12 14:51] #2729 closed

[2015-03-12 14:58] iriberri commented on #2743
And Explain Analyze :-) From SB/4764650

[2015-03-12 15:34] #2745 closed

[2015-03-12 17:24] juanignaciosl commented on #2562
Reopening because @lbosque has detected it still happens.

[2015-03-12 17:29] viddo commented on #2594
@saleiva After fixing this issue and having a look at the referenced issue I believe that one to be another issue, so better to solve that in isolation.

[2015-03-12 17:30] javierarce commented on #2315
[] Make the empty screen responsive

[2015-03-12 17:32] viddo commented on #2315
Shouldn't the metadata be on one line in "desktop" mode?

On public:
![screen shot 2015-03-12 at 18 29 58](https://cloud.githubusercontent.com/assets/978461/6623881/023e48d2-c8e6-11e4-9e21-b67d459fea42.png)

On private:
![screen shot 2015-03-12 at 18 30 55](https://cloud.githubusercontent.com/assets/978461/6623880/023db6e2-c8e6-11e4-85ca-13797c988b0b.png)

[2015-03-12 17:35] javierarce commented on #2315
@viddo: yep, I totally broke that. I'll fix it, thanks!

[2015-03-12 17:37] piensaenpixel commented on #2414
@andrewxhill  we need upload these videos (gdrive-onboarding) to vimeo  and pass the url to @javierarce.
Thanks :D

[2015-03-12 17:53] juanignaciosl commented on #2744
@xavijam I've tested the following combinations of type and types, with a query on one word. This user has 91 tables, 3 visualizations (and +70 remotes). There's one matching table, map and remote for that word.

type | types | total_entries | user_entries
----- | -------- | ---------------- | -----------------
 | | 3 | 91
'' | | 3 | 91
 | '' | 3 | 91
'' | '' | 3 | 91
table | | 1 | 91
derived | |

[2015-03-12 19:15] michellechandra opened #2748 "Update Editor Menu Names to Match New Dashboard"
Change editor menu names that refer to "tables" to "datasets" and "visualizations" to "maps"

Edit Menu prior to sharing visualization:
![screen shot 2015-03-12 at 3 04 42 pm](https://cloud.githubusercontent.com/assets/5423288/6625879/421b0af2-c8c9-11e4-9920-42c6f95b8b02.png)

Edit Menu after share visualization:
![screen shot 2015-03-12 at 3 03 44 pm](https://cloud.githubusercontent.com/assets/54

[2015-03-12 19:18] andrewxhill commented on #2414
crappy conference wifi. sergio has the password if you guys can do it

On Thu, Mar 12, 2015 at 10:38 AM, piensaenpixel <notifications@github.com>
wrote:

--

andrewxhill <http://twitter.com/andrewxhill>
http://cartodb.com

[2015-03-12 19:26] saleiva commented on #2748
To be done just before releasing the new dashboard. Thanks!

[2015-03-12 19:28] michellechandra commented on #2748
@saleiva - Will "Visualization wizard" be updated to "map wizard"?

![screen shot 2015-03-12 at 3 28 22 pm](https://cloud.githubusercontent.com/assets/5423288/6626363/761cf1d2-c8cc-11e4-858e-c40c32ed0fc9.png)

[2015-03-12 19:30] saleiva commented on #2748
Yep!
On Mar 12, 2015 8:28 PM, "Michelle Chandra" <notifications@github.com>
wrote:

[2015-03-12 22:16] xavijam commented on #2628
Ready for testing in staging :)

[2015-03-13 09:37] viddo commented on #2594
merged & deployed in #2747

[2015-03-13 09:37] #2594 closed

[2015-03-13 10:26] viddo commented on #2736
Closing, nothing to change on this repo, will update staging to use this hubspot id though :+1:
Thanks for pointing it out

[2015-03-13 10:26] #2736 closed

[2015-03-13 10:38] iriberri opened #2749 "Incorrect parameters sent to WMS proxy for WMTS URLs"
http://leafletjs.com/reference.html#tilelayer-tms

This can be useful in order to get tilelayers directly exported from gdal into CartoDB (with y axis inverted). :-)

@rochoa @javisantana @javierarce @zenitraM

[2015-03-13 10:40] javisantana commented on #2749
this is supported in the api for years, we only need to add it to the design. Not sure about static maps api support

[2015-03-13 11:29] javierarce commented on #2145
We deployed a fix yesterday, so this should no longer be a problem. Sorry it took us so long to fix this issue!

[2015-03-13 11:29] #2145 closed

[2015-03-13 11:33] javisantana commented on #1877
this requires change backend to sync all slides header when master one changes so every time the master one changes, the child ones are changed too.

Or either use always master title to show this, it will be easy probably.

In any case, having different design patterns (per slide, global) for overlays makes things hard

[2015-03-13 11:41] piensaenpixel commented on #2617
Take a look, cc @carlostallon

![public - map - logged your map](https://cloud.githubusercontent.com/assets/1214201/6637726/44dfa166-c97e-11e4-9034-5df4e239d1ad.png)

[2015-03-13 12:31] xavijam opened #2751 "Importing a new dataset from data library, it doesn't create the new visualization"
## Steps to reproduce:

- Enable new-dashboard for your account.
- Go to your dashboard.
- Visit 'Data library' section.
- I encourage to open Chrome console and preserve log.
- Import a public dataset.
- When it finishes, check last import request, it doesn't contain the derived_visualization_id.

Example of that last request:
[code]

[2015-03-13 12:34] xavijam commented on #2751
@saleiva, this comes from #2457.

[2015-03-13 12:36] xavijam commented on #2457
We create new datasets using our cdb.admin.CartoDBTableMetadata model. We could create a new visualization with that dataset after it is created, sounds good to you @javisantana?

[2015-03-13 13:24] javisantana commented on #2457
yep!

[2015-03-13 14:02] xavijam commented on #2457
ok, thanks!

[2015-03-13 14:05] saleiva commented on #2617
Like it!

[2015-03-13 14:44] saleiva opened #2753 "Design for infowindow on torque maps"

[2015-03-13 14:45] #2751 closed

[2015-03-13 14:45] saleiva commented on #2625
Closing this since the modal window will be the one that we have in the dashboard.

[2015-03-13 14:45] #2625 closed

[2015-03-13 14:55] juanignaciosl opened #2754 "User can't create a visualization"
This is the error:

[code]

SB/4781937

https://rollbar.com/vizzuality/CartoDB/items/4834/

[2015-03-13 15:07] Xatpy commented on #2743
It only fails with users that has an "-" in his username.
In my local environment, I tried with user *xatpy* and it worked. But I created an user called "ey-tu", and it fails.
Kudos to @iriberri , because she pointed it. :clap:

[2015-03-13 15:10] #2665 closed

[2015-03-13 15:12] iriberri opened #2756 "Show Explain Analyze results in the Editor"
Right now, running a explain analyze query in the editor just returns an "empty table", instead of the response that is get from the API.

From SB/4764650

[2015-03-13 15:50] danicarrion opened #2758 "Unsupported/Unrecognized file type (1002) error with ArcGIS connector"
Trying to import from: http://sampleserver6.arcgisonline.com/arcgis/rest/services/Military/FeatureServer

[2015-03-13 15:57] iriberri commented on #1357
Notify SB/4782079

[2015-03-13 16:11] javierarce commented on #1877
But with this solution, if a user goes to slide #10 and changes the title and description, that should be propagated to the rest of the slides.

[2015-03-13 16:11] saleiva commented on #2756
We should design an specific view for this, and allow to do an explain analyze of a query with a button.

[2015-03-13 16:38] iriberri commented on #2663
bump, another one here: http://ngoaidmap.cartodb.com/viz/894fe92e-c8e2-11e4-85e0-0e9d821ea90d/embed_map

[2015-03-13 16:39] saleiva opened #2759 "Clicking anywhere on the welcome modal should close it"

[2015-03-13 16:49] Xatpy commented on #2743
@javisantana I think that the error could be [here](https://github.com/CartoDB/cartodb/blob/dc3cbba77d26c0acbcf5d70476199df76aaa5d55/lib/assets/javascripts/cartodb/table/menu_modules/sql.js#L394)

But my question is: this would be an error from cartodb or CartoDB-SQL-API ??
I mean: I don't know if the error here is that frontend is sending data wrongly, or cartodb-sql-api should accept that kind o

[2015-03-13 17:04] andrewxhill opened #2761 "oEmbed support for shortened URLs"
cdb.io/1yJxTHF

should work with

http://services.cartodb.com/oembed?url=cdb.io/1yJxTHF

but doesn't

[2015-03-13 17:36] javisantana commented on #2377
yes, the problem is that modules inside cdb are not installed. Tried to fix this here (https://github.com/CartoDB/cartodb/commit/4127edf96542c1e92c95153709bbba27f6602a99) but I hit another problem: some compass realted thing is not installed so it's not working

The tests are passing just because we upload the cartodb.compressed.js

the fix here would be to install the stuff needed server side (in

[2015-03-13 17:42] xavijam opened #2765 "When any dataset is selected, 'Create Map' option should be available"

[2015-03-13 17:43] rochoa commented on #2407
Hey, we closed this issue because we fixed the regression with the viz.json but the real problem still exists.
See https://github.com/CartoDB/cartodb/issues/2407#issuecomment-75765930 and https://github.com/CartoDB/cartodb/issues/2407#issuecomment-75768221

[2015-03-13 17:44] rochoa commented on #2407
cc @juanignaciosl

[2015-03-13 17:47] viddo commented on #2377
Compass 0.12.3 seems to be required for the CSS build to work, as set in the Gemfile: https://github.com/CartoDB/cartodb/blob/master/Gemfile#L37-L39 but on cartodb.js there is a more recent version set: https://github.com/CartoDB/cartodb.js/blob/develop/Gemfile Perhaps needs to add bundle install as well?

[2015-03-13 17:54] saleiva opened #2766 "Placeholders for emtpy map dashboard rows are missing"
Remember we had some in the designs with a random CTA

[2015-03-13 17:56] viddo commented on #2766
@javierarce @jaimecartodb since this was working previously, any ideas on what might have changed recently?

[2015-03-13 17:57] andrewxhill opened #2767 "iframe overlays are not responsive"
Take a look at this example,

http://blog.plot.ly/post/113492277297/three-things-that-you-can-do-to-explain-your-data

I'm seeing it more and more that people combine legends with torque, or annotations with anything and our iframes can't really handle it. needs a refresh :)

[2015-03-13 17:58] saleiva opened #2768 "Maps dashboard with just one row is too tall."

[2015-03-13 17:58] andrewxhill commented on #2767
Another example also from today's news,

http://national.suntimes.com/national-politics/7/72/787276/data-divide-school-funding-rich-poor

the legends don't collide, but they do start taking up like 30% of the map

[2015-03-13 17:59] carlostallon commented on #2631
![02](https://cloud.githubusercontent.com/assets/1712650/6644317/1a1c2956-c9b3-11e4-997f-62e2e21eaebe.png)
![03](https://cloud.githubusercontent.com/assets/1712650/6644316/1a1af374-c9b3-11e4-8e54-3962c2c9eec9.png)
![01](https://cloud.githubusercontent.com/assets/1712650/6644315/1a19aad2-c9b3-11e4-8ecc-793497429f43.png)

[2015-03-13 18:01] javierarce commented on #2766
I'm not sure what are you referring to :|

[2015-03-13 18:03] viddo commented on #2766
my bad, I thought @saleiva was referring to the placeholder we added (and still have atm). He is referring to change these to:
![screen shot 2015-03-13 at 19 03 05](https://cloud.githubusercontent.com/assets/978461/6644381/9a39e682-c9b3-11e4-962d-395568636ece.png)

[2015-03-13 18:04] javierarce commented on #2766
Oh, ok. I went to my production account and couldn't see them either.

[2015-03-13 18:05] juanignaciosl commented on #2407
Today scenario: SB/4781937

Changing table privacy to private throws 400:  {"errors":["Unknown error"]}

It happened with a broken sync table (broken because of the `wkb_geometry` problem).

[2015-03-13 18:10] viddo commented on #2766
Currently we have these "empty" cards on public pages:
![screen shot 2015-03-13 at 19 09 00](https://cloud.githubusercontent.com/assets/978461/6644483/80a451d4-c9b4-11e4-958c-35806a897dd3.png)

But when logged in they don't show up anymore it seems:
![screen shot 2015-03-13 at 19 09 17](https://cloud.githubusercontent.com/assets/978461/6644484/80aa77bc-c9b4-11e4-9d88-d34efd44673d.png) (they did pr

[2015-03-13 18:20] saleiva opened #2769 "Loading indicator when uploading a new avatar is missing"

[2015-03-13 18:22] saleiva opened #2770 "What is that "You enter through here" close to the email field?"
we should remove it.

[2015-03-13 18:24] saleiva opened #2771 "Better placeholder on the plans tab when being on the free one."
In that particular scenario we can be nicer on asking for upgrade or even to talk about how cool is to be on the free plan.

[2015-03-13 19:19] saleiva commented on #2766
Hey, not changing, Just adding these ones when having wholes in a row
On Mar 13, 2015 7:10 PM, "Nicklas Gummesson" <notifications@github.com>
wrote:

[2015-03-13 20:24] matallo commented on #2770
screenshot or url?

[2015-03-13 21:06] saleiva commented on #2770
Account settings
On Mar 13, 2015 9:24 PM, "Carlos Matallín" <notifications@github.com> wrote:

[2015-03-14 03:22] andrewxhill opened #2772 "Sync tables has created a duplicate"
cc @javisantana @saleiva

Just logged into my dashboard to see this

![screen shot 2015-03-13 at 8 20 40 pm](https://cloud.githubusercontent.com/assets/370259/6650112/8f25276a-c9be-11e4-8deb-72faca51f13e.png)

I know only from my memory that last_1_hours is the table that should have been syncing. Something changed in the past day or two to make a duplicate that is now syncing. This is a major iss

[2015-03-14 10:00] iriberri commented on #2772
cc @juanignaciosl @Kartones

[2015-03-14 10:42] alonsogarciapablo opened #2773 "Tags overlap footer in map card"
![captura de pantalla 2015-03-14 a las 11 36 23](https://cloud.githubusercontent.com/assets/390398/6651344/9cc09816-ca3e-11e4-9cd7-8f432365be9d.png)

[2015-03-14 10:55] juanignaciosl commented on #2772
I've done a couple of checks and I think we can dismiss it being widespread (although we should take a look). This is that I've checked:
* I've got many sync tables with files I don't use to modify and there's no new duplicate (not others than the ones I created from the very beginning).
* I've created a new sync table with a csv in Dropbox. After modification of the file and manual sync data is u

[2015-03-14 17:28] andrewxhill opened #2776 "Remove greater than and less than symbols in legend"
I think they are implied tbh, and i think they are >= anyway right?

![screen shot 2015-03-14 at 1 27 05 pm](https://cloud.githubusercontent.com/assets/370259/6652703/ed98b034-ca4d-11e4-8165-3632db133d01.png)

[2015-03-15 00:03] mikegiddens opened #2777 "Regex issue with !pixel_...!"
If you take this example and paste it into the SQL UI of CartoDB the regex that replaces the values with real values only does the first one so I assume the global flag is not being set when replacing these values.

`
WITH hgrid AS (SELECT CDB_HexagonGrid(ST_Expand(!bbox!, greatest(!pixel_width!,!pixel_height!) * 15), greatest(!pixel_width!,!pixel_height!) * 15) as cell) SELECT hgrid.cell as the_g

[2015-03-15 10:32] xavijam commented on #2773
Woah, long tags :D

[2015-03-15 20:02] michellechandra opened #2778 "T3chFest at Twitter Dataset in Data Library Doesn't Load any Data"
@iriberri

[2015-03-16 09:20] juanignaciosl commented on #2574
I set the wrong task id at commit comment :_)

[2015-03-16 09:23] Kartones opened #2780 "wrong og and twittercard urls in <metas>"
At the public user dashboard (e.g. [https://team.cartodb.com/u/kartones/](https://team.cartodb.com/u/kartones/)), `<meta property="og:url" content="/u/kartones" />` and `<meta name="twitter:url" content="/u/kartones" />` are wrong because should display absolute urls, not relative ones, at least according to the specification.

cc @saleiva

[2015-03-16 09:56] iriberri commented on #2772
I also took a look at it in my own accounts, including common data, and I didn't spot any duplicates. I'll keep an eye on this.

[2015-03-16 10:04] Kartones commented on #2772
Same here, 5 syncs and no duplicate data.

*Diego / Kartones  |  *Developer*  |  *CartoDB <http://www.cartodb.com>*  |
 *diego@cartodb.com

On 16 March 2015 at 10:56, Carla <notifications@github.com> wrote:

[2015-03-16 10:11] rafatower opened #2781 "Extract privacy to a value object"
See https://github.com/CartoDB/cartodb/pull/2775#discussion_r26472102

[2015-03-16 10:24] rafatower opened #2782 "Extract tags to a value object"
As part of the Table refactor, extract the `Table` tags to a value object.

See https://github.com/CartoDB/cartodb/pull/2775#discussion_r26472102
https://github.com/CartoDB/cartodb/pull/2775/files#diff-a410503a2ba200fdd07daf0fa3802fc3R241
http://blog.codeclimate.com/blog/2012/10/17/7-ways-to-decompose-fat-activerecord-models/

[2015-03-16 10:37] rafatower opened #2783 "Extract user data manipulation in `Table` to a service object"
Stuff such as `insert_row!` or `geometry_types` do not pertain to metadata nor the user_table model and should be extracted into a service object

[2015-03-16 10:58] Kartones commented on #1693
Note: First iteration will give preference tu subdomain-based urls if subdomains are allowed but optional.
A second iteration can be done that detects request url format, sets some flag and then allows to act accordingly.

[2015-03-16 13:48] rafatower opened #2789 "Country guessing not working in on-premise"
This is caused by the missing api key for the `geocoding` account, which is intentional. It will issue the following warning during the content guessing phase:
[code]

The API key should not be needed for read-only operations on that account.

cc/ @azamorano

[2015-03-16 14:05] rafatower commented on #2789
Backtrace of the `PermissionError` exception:
[code]

[2015-03-16 14:06] iriberri commented on #2778
This is provoked by the wkb_geometry column bug, checking.

[2015-03-16 14:21] iriberri opened #2790 "Encoding error but table registered"
From https://github.com/CartoDB/cartodb/issues/2778 (dataset in common data gets imported empty) I saw first an error with wkb_geometry and replicated the table.

After that, the table is still being imported empty but the log says:

`2015-03-16 14:10:36 UTC: Error creating the_geom: empty column wkb_geometry.`

and after the error:

[code]

Sample import id: `2ce56b8e-73cc-4337-9cbf-117cfccd5437`

[2015-03-16 14:23] santisaez opened #2791 ""organization" link loses SSL setting and fallbacks to plain HTTP"
Steps to reproduce:
1. Install CartoDB open-source edition + create a organization
2. Log into CartoDB using organization's admin user
3. Click on "organization" link (HTTPS): `https://$domain/u/$admin/organization`
4. You will get a redirect to the same link without SSL: `http://$domain/u/$admin/organization`

![organization_ssl](https://cloud.githubusercontent.com/assets/223956/6668050/4a3e6696-

[2015-03-16 14:28] rafatower commented on #2789
Fixed by changing perms of the table to "public with link" so that clients without API key can perform the query.

[2015-03-16 14:28] #2789 closed

[2015-03-16 14:57] iriberri commented on #2754
SB/4617460
and
SB/4781937

[2015-03-16 15:00] #2574 closed

[2015-03-16 15:00] #2754 closed

[2015-03-16 15:06] saleiva commented on #2753
![screen shot 2015-03-16 at 16 06 25](https://cloud.githubusercontent.com/assets/132149/6668923/713ff664-cbf6-11e4-96d7-dc7e1f3ae9fb.png)

[2015-03-16 15:08] #2628 closed

[2015-03-16 15:08] #2671 closed

[2015-03-16 15:08] #2744 closed

[2015-03-16 15:16] rafatower opened #2792 "Do not expose the "service" outside the UserTable"
See https://github.com/CartoDB/cartodb/pull/2775#discussion_r26479816

Any client code should manipulate UserTable instances through a Table object. for them. The current creational pattern is:
[code]
if we allow `my_user_table.service` we're exposing too much of the implementation, particularly an undesirable circular dependency.

[2015-03-16 15:17] rafatower opened #2793 "Move Map#related_table to a Sequel association"
See https://github.com/CartoDB/cartodb/pull/2775#discussion-diff-26479855

[2015-03-16 15:27] iriberri commented on #2407
We're suffering this in both:

SB/4617460
and
SB/4781937

[2015-03-16 15:28] piensaenpixel commented on #2414
Take a look:

- https://vimeo.com/122308079
- https://vimeo.com/122308073
- https://vimeo.com/122308081
- https://vimeo.com/122308083
- https://vimeo.com/122308076

[2015-03-16 15:49] iriberri commented on #2407
I just checked all vizs involved in 4781937 and seem to be working atm.

[2015-03-16 16:31] juanignaciosl opened #2795 "Organization owner assignment problems"
An organization (codersltdmap) owner (codersltd) had one PG::Error: ERROR: Missing "public"._CDB_UserQuotaInBytes() error adding a column because that table triggers were still pointing to public:

test_quota BEFORE INSERT OR UPDATE ON codersltd.hnet_lrd_data FOR EACH STATEMENT EXECUTE PROCEDURE cdb_checkquota('1', '-1', 'public')
instead of

test_quota BEFORE INSERT OR UPDATE ON codersltd.hnet_lr

[2015-03-16 16:54] #2795 closed

[2015-03-16 17:20] iriberri opened #2797 "Torque slider grows out of range"
https://dl.dropboxusercontent.com/u/2879308/torque-trails.mov

![image](https://cloud.githubusercontent.com/assets/1730320/6671948/20f7fd74-cc09-11e4-8032-77fa71d9870f.png)
_There's data up to year 2014_

CartoCSS is:

[code]

Editing, it's not because of trails, also happening here (where there's one trail):
https://dl.dropboxusercontent.com/u/2879308/torque-aggr-function.mov

[code]

[2015-03-16 17:27] fdansv commented on #2797
![screen-shot-2013-04-16-at-11 45 17-am](https://cloud.githubusercontent.com/assets/3707222/6672062/18bb72ca-cc0a-11e4-80fb-c56fda94094d.png)

[2015-03-16 17:28] iriberri commented on #2797
table: https://team.cartodb.com/u/iriberri/tables/torque_crazy/table

[2015-03-16 17:37] #2683 closed

[2015-03-16 17:37] #2776 closed

[2015-03-16 17:45] viddo commented on #2766
You mean _holes_, right? :)

More questions:

1. Where should those `(Go for it)`-buttons point to?
1. What combinations of icons/texts/link (depends on prev question I guess) should there be? Or are there only these two? If not, where can I find the others?
1. How important is this? Since we started investigating the new-editor this morning I feel we have priority conflicts. Either I work on this

[2015-03-16 17:45] #2617 closed

[2015-03-16 18:19] juanignaciosl commented on #2644
I can't reproduce the error, can you? I've tried with those countries, leaving empty zipcodes and some others but everything's working fine. If you can please tell me how. If you can't either I'd assume we've fixed this since then, or ask the user to try again and check with his data.

[2015-03-16 18:28] juanignaciosl opened #2798 "undefined method `size' for nil:NilClass at configure_layers_data"
undefined method `size' for nil:NilClass
https://rollbar.com/vizzuality/CartoDB/items/4898/

[code]

[2015-03-16 18:32] #2798 closed

[2015-03-16 18:49] saleiva commented on #2766
:trollface:

1. The video state on the create modal with that video activated
2. The same than in the video state, @xavijam knows about that.
3. This, please - Let's get the new dashboard done and release it

[2015-03-16 19:18] carlostallon commented on #2713
Yep, works better with "order by"

![captura de pantalla 2015-03-16 20 18 13](https://cloud.githubusercontent.com/assets/1712650/6674394/97aed28e-cc19-11e4-858b-7e0a9ddc3cc0.png)

[2015-03-16 19:21] carlostallon commented on #2630
"free trial" text added. The idea is not to change the layout in any case because this text is just one case, when a user never had a paid plan.

![03 upselling](https://cloud.githubusercontent.com/assets/1712650/6674450/01a7cb6e-cc1a-11e4-9634-2492e926f033.png)

[2015-03-16 19:38] carlostallon commented on #2629
Fixed
![create - file importing error](https://cloud.githubusercontent.com/assets/1712650/6674782/6f9935c0-cc1c-11e4-8efa-cefd1de6c636.png)

[2015-03-16 19:56] carlostallon commented on #2615
bump

[2015-03-16 20:01] saleiva commented on #2629
Like!
On Mar 16, 2015 8:39 PM, "Carlos Tallón" <notifications@github.com> wrote:

[2015-03-16 20:02] saleiva commented on #2630
Cool!
On Mar 16, 2015 8:21 PM, "Carlos Tallón" <notifications@github.com> wrote:

[2015-03-16 20:29] andrewxhill commented on #2414
@auremoser could you take a peek at these for me and just flag anything that we messed up?

[2015-03-16 20:56] shaykahen opened #2800 "Installed properly on EC2 Server, now what?"
So I am completely new to this stuff, so please forgive me for anything that may seem silly to the experienced user.

I have nearly installed all the required files on an EC2 ubuntu server via ssh. My question is, once that is complete, how can I access the dashboard or cartoDB interface in general? Pretend for a moment, my public ip address is 1.1.1.1, how do I access cartodb?

[2015-03-16 21:03] saleiva commented on #2713
Like it. Do yo guys like this more than the icons version?

[2015-03-16 21:09] auremoser commented on #2414
* @namessanti's name is spelled wrong, I believe, in the Choropleth one (https://vimeo.com/122308079).
* So the series is : Choropleth, Add Features Tutorial, Animate Point Data, tornados-torque-tutorial, map local data? Does it matter that this naming is inconsistent or are these just going in as embeds to existing tutorials?
* is @javierarce planning to embed them as iframes or do they need to h

[2015-03-16 21:39] carlostallon commented on #2713
I prefer this one, less noise for the submenu IMO and in my particular case I don't need to use those filters often.

[2015-03-16 21:57] xavijam commented on #2713
I prefer the icons, but I don't have any regret to try this solution.

[2015-03-16 22:11] xavijam commented on #2414
Further to 2 point, change the name of the title or description is easy, so not problem in our end.
About 3, we are using Vimeo API, so don't worry about permissions and other things, we have tested them and they are working.

[2015-03-16 22:15] xavijam commented on #2311
Please @matallo, could you take care of this thing in central and editor?

[2015-03-17 01:38] andrewxhill commented on #2100
Waiiiit... now when the text area is select (so I am actually typing) if I hit delete it removes the window!

Here is how it works and I like it,

![del](https://cloud.githubusercontent.com/assets/370259/6679855/cf3f650a-cc24-11e4-99b7-d19f5715cd49.gif)

Now here is the behavior that doesn't work

![del2](https://cloud.githubusercontent.com/assets/370259/6679858/d73bbe3e-cc24-11e4-97a2-2e07829bd4a

[2015-03-17 08:10] #2772 closed

[2015-03-17 09:12] javierarce commented on #2100
Weird :( I can't reproduce the bug in Chrome, Firefox or Safari. Which browser did you use?

[2015-03-17 09:28] matallo commented on #2311
@xavijam if I finish with my current milestone issues, of course mate

[2015-03-17 10:52] saleiva commented on #2311
tallon, please prioritize this! we need to finish the new dashboard ASAP

[2015-03-17 11:06] xavijam commented on #2414
Icons and colors done!

![screen shot 2015-03-17 at 12 04 48](https://cloud.githubusercontent.com/assets/132146/6685861/04d4b390-cc9e-11e4-83da-0b416150810d.png)

[2015-03-17 11:37] iriberri commented on #2778
Fixed :-)

[2015-03-17 11:37] #2778 closed

[2015-03-17 11:54] javisantana commented on #2100
hey, this is a hotfix, it closes the overlay when you are editing.

@alonsogarciapablo could you revert changes ?

[2015-03-17 11:55] javisantana commented on #2100
steps to reproduce:

- create a visualization
- add a title item
- start editing text and press remove key

the item disappears but it should delete text

[2015-03-17 12:20] xavijam commented on #2414
One thing we have spotted, we should move all needed datasets to a common account (```example``` is ok?), and avoid hosting them in a personal account.

[2015-03-17 12:27] xavijam opened #2801 "Change footer logo"
No more circles anymore.

[2015-03-17 13:42] xavijam commented on #2315
Merged, so, next issues, in a different one.

[2015-03-17 13:42] #2315 closed

[2015-03-17 13:44] viddo commented on #2766
E.g.:
![screen shot 2015-03-17 at 14 40 00](https://cloud.githubusercontent.com/assets/978461/6688489/03fc81f8-ccb4-11e4-90ec-64d863e408d2.png)

See https://github.com/CartoDB/cartodb/commit/ee05d47e432696990a93cd142dc709bd52d27f5c for changes, reassigning to @xavijam to implement the "Go for it"-button to open in the create dialog since he's currently refactoring that.

[2015-03-17 14:28] Xatpy opened #2803 "Lines converted to points when georeference by lon/lat without warning"
I'm opening this issue about a little "comment" that I realised while I was testing. It's not important, but I think that it would be useful in case you (@CartoDB/Design) want to think about this in the new editor design.

The issue is that if you have a lines dataset and you click on georeference by lon/lat (for example with a new row), all the dataset is converted automatically, without any warn

[2015-03-17 14:52] saleiva commented on #2803
Yep, you can close it, we already took care of this :)
Thaaaanks!

[2015-03-17 14:53] alonsogarciapablo commented on #2100
I cant reproduce this bug either. It seems to be working as expected for me:

![editing_title](https://cloud.githubusercontent.com/assets/390398/6689857/3b36532a-ccbd-11e4-99ac-3ba1efc2e56c.gif)

![editing_text](https://cloud.githubusercontent.com/assets/390398/6689944/a2e48ee2-ccbd-11e4-8a8b-93658ffc0aaf.gif)

I'm using Chrome. @javisantana @andrewxhill are you using a different browser?

[2015-03-17 14:55] Xatpy commented on #2803
Oh, great! :clap:
thank you too!

[2015-03-17 14:55] #2803 closed

[2015-03-17 15:01] javisantana commented on #2100
chrome on osx:

cartodb.js 3.12.12
cartodbui v3.7.30 sha1: ed1574563a7458be3244a9695c309bee6df76c4c

[2015-03-17 15:01] javisantana commented on #2100
working for me, I guess it was some cache?

[2015-03-17 15:07] fdansv commented on #2401
done

[2015-03-17 15:07] #2401 closed

[2015-03-17 15:08] fdansv commented on #2626
Fixed at #2763

[2015-03-17 15:08] #2626 closed

[2015-03-17 15:10] #2650 closed

[2015-03-17 15:10] #2770 closed

[2015-03-17 15:10] xavijam commented on #2766
![placeholders](https://cloud.githubusercontent.com/assets/132146/6690289/1212162a-ccc0-11e4-8bc9-69aec2026b1a.gif)

cc @saleiva and @viddo

[2015-03-17 15:26] viddo commented on #2638
The title indicate the columns were sorted alphabetically at some point in the past as well, where/how was this sorting done then? Do you know when this changed, @iriberri ?

Investing a little in the code I can see that there already is a [sort-method in the table metadata model](https://github.com/CartoDB/cartodb/blob/master/lib/assets/javascripts/cartodb/models/table.js#L778-L795), but it only

[2015-03-17 15:28] iriberri commented on #2638
I don't know the details, but @javisantana told me that he was aware of this so I suppose he knows which change provoked this. :-)

If my memory doesn't fail, yes, previously the columns were ordered alphabetically.

[2015-03-17 15:32] Xatpy opened #2804 "Quota value in dropdown incorrect"
In my configuration --> account page, I have this:
1.27 GB of 1.95 GB used
![screen shot 2015-03-17 at 16 17 45](https://cloud.githubusercontent.com/assets/3958416/6690591/c18443fc-ccc1-11e4-881a-e926620863ea.png)

But, in the dropdown I have:
1.27GB of **1GB** used
![screen shot 2015-03-17 at 16 17 53](https://cloud.githubusercontent.com/assets/3958416/6690609/db176b0a-ccc1-11e4-88eb-0e610ac71760

[2015-03-17 15:32] alonsogarciapablo commented on #2100
Great.

@andrewxhill can you please confirm that it's working?

[2015-03-17 15:35] matallo opened #2805 "map view: svg marker not rendering as expected"
![svg](https://cloud.githubusercontent.com/assets/36676/6690915/90508a00-ccc3-11e4-9396-a2d49712404f.gif)

steps to reproduce:
- upload custom marker in svg

expected behaviour:
- the marker should be the uploaded issue

actual behaviour:
- orange marker appear

no errors in the developer tools console

[2015-03-17 15:46] javisantana commented on #2638
the thing is I changed the way we get the schema: we were using backend provided schema and we changed to a sql api one. At some point that sortSchema is not working due that change (that's my guess)

[2015-03-17 15:54] viddo commented on #2638
Yes, I figured it was something like that, sounds reasonable. So having that in mind, do you consider this something that should be fixed/changed in the SQL API?

If not I believe the previously mentioned sort method seems like a legit place to change order of the columns (considering the fact that some columns are already re-ordered for the editor), right?

[2015-03-17 15:54] andrewxhill commented on #2100
yes, it works fine now!

On Tue, Mar 17, 2015 at 11:32 AM, Pablo Alonso <notifications@github.com>
wrote:

--

andrewxhill <http://twitter.com/andrewxhill>
http://cartodb.com

[2015-03-17 16:06] alonsogarciapablo commented on #2100
Closing it then. Thanks!

[2015-03-17 16:06] #2100 closed

[2015-03-17 16:09] javisantana commented on #2638
i don't think we can change sql api easily, so that method is perfect to sort by name (keeping the priorities)

[2015-03-17 16:43] iriberri opened #2807 "[Enterprise] Check gdrive tokens on organisation accounts"
From: SB/4776590

![image](https://cloud.githubusercontent.com/assets/1730320/6692397/be36b4f4-cccc-11e4-94ab-422920b76ee0.png)
*This error appears in the pop-up window. Sometimes before selecting an account and sometimes before selecting and account, but user never was able to connect the account finally*

I have checked the synchronization_oauths table and is empty for the user. I was able to se

[2015-03-17 16:52] Kartones commented on #2613
confirmed, after either a copy from existing table or registering a new one, a `table.optimize` is performed, which does internally a `run("VACUUM FULL #{qualified_table_name}")`, so can be used

[2015-03-17 17:08] ohasselblad opened #2808 "alphabetically ordered legend items"
Could items in a legend automatically be ordered alphabetically/numerically instead of being unordered?

![screen shot 2015-03-17 at 10 05 25](https://cloud.githubusercontent.com/assets/1041056/6692984/4aab367a-cc8d-11e4-8919-31c383108793.png)

[2015-03-17 18:11] juanignaciosl commented on #2772
No news, good news.

[2015-03-17 18:44] viddo commented on #2804
Will be released together with #2741 (piggyback on the existing PR)

[2015-03-17 23:22] andrewxhill opened #2810 "Reduce polygon stroke opacity to <1"
Right now, if you load a ton of small polygons they

a) End up on the light basemap
b) Have 1px polygon stroke that is white and full opaque

So you end up not being able to see anything on the map unless you know the trick.

I'd say something like 0.5-0.8 could fix it, but worth experimenting

[2015-03-17 23:25] andrewxhill opened #2811 "Visualization auto naming needs to be fixed"
Why not just replace underscores "_" with spaces
and then uppercase the first letter of each word

Currently it looks like this

![screen shot 2015-03-17 at 7 24 24 pm](https://cloud.githubusercontent.com/assets/370259/6699763/684deae4-ccdb-11e4-8117-b7bba82bb361.png)

[2015-03-18 07:50] javisantana commented on #2810
I find this pretty interesting. Should the default wizard change depending on the data ?

[2015-03-18 08:48] rafatower opened #2812 "NoMethodError: undefined method `count' for Table:Class"
[code]

[2015-03-18 09:17] rafatower opened #2814 "NoMethodError: undefined method `database_schema' for nil:NilClass"
[code]

[2015-03-18 09:18] rafatower commented on #2814
rollbar 4928 & 4929

[2015-03-18 09:25] Kartones commented on #2613
Ok, it seems not always works, at least with small datasets.

At a test, with a just created table with 5 rows:
[code]
So I'll implement a fallback for when there are no stats because data is small or "yet" stats aren't calculated.

[2015-03-18 09:25] #2420 closed

[2015-03-18 09:35] juanignaciosl opened #2815 "302 error downloading csv source"
Trace: https://cartodb.com/superadmin/users/58607/data_imports/be0ece69-b82b-48b4-9617-006f69a48fa8

cc @saleiva

[2015-03-18 09:35] javisantana opened #2816 "public tables header have more columns that values"
![screen shot 2015-03-18 at 10 34 59 am](https://cloud.githubusercontent.com/assets/30147/6706051/846a2aec-cd5a-11e4-9a1f-139d8b839519.png)

I guess is because we don't request the_geom_webmercator

[2015-03-18 09:43] xavijam opened #2817 "Markdown is not being rendered in public dashboard items"
Example, look at [this map](https://team.cartodb.com/u/xavijam/viz/6f84f354-cd51-11e4-b358-0e49835281d6/public_map), it has a link in the description.
But if you check my [public dashboard](https://team.cartodb.com/u/xavijam) the link is not appearing

[2015-03-18 09:59] rafatower commented on #2814
It seemed to come from a guessing but I couldn't reproduce it. Chances are it was there before the refactor but with a different backtrace.

[2015-03-18 10:01] #2812 closed

[2015-03-18 10:09] andrewxhill commented on #2810
Would be the best, yeah.
 On Mar 18, 2015 7:51 AM, "javi santana" <notifications@github.com> wrote:

[2015-03-18 10:34] #2660 closed

[2015-03-18 10:35] Kartones commented on #2613
After some tests, it is indeed much faster, but also less accurate. Table with 62k rows, complex geoms, etcetera:
[code]

@javisantana If you're ok, we can go for it. It always fallbacks to real row calculation in case of errors so shouldn't be dangerous.

[2015-03-18 10:38] javisantana commented on #2613
go with it

[2015-03-18 10:38] xavijam commented on #2311
@matallo, I've done it, but I need you to "add" it in the plans page in central, ok?

[2015-03-18 10:55] xavijam commented on #2414
PING!!!!

[2015-03-18 11:05] rafatower opened #2819 "NoMethodError: undefined method `where' for Table:Class in synchronization"
See RB 4130
[code]

[2015-03-18 11:08] iriberri opened #2820 "Add "Export layer" when a query is applied in a Map"
### STEPS TO REPRODUCE:
- Create a map/visualization with several layers.
- Apply a query in any of those layers.
- Click on the 'edit' link (upper right).
- Export layer doesn't appear as an option.

Ideally, we should let users export the current selected query layer as we do in table view.

[2015-03-18 11:22] #2819 closed

[2015-03-18 11:34] saleiva commented on #2810
There is even a wiki page talking about that :)
Famous Map recommendation API :)

[2015-03-18 11:35] iriberri opened #2822 "overlay was added in the Editor but it didn't appear in the embed"
From SB/4823339:

An overlay was added in the Editor but it didn't appear in the embed. The code in the viz.json file was (yes, the annotation appeared):

[code]

After changing slightly the position of the annotation in the Editor, the embed was now showing the annotation. Viz.json after the change was this one (probably the same) but with different coordinates:

[code]

**Probably caused for the

[2015-03-18 11:56] andrewxhill commented on #2810
totally, we should do that. but while we wait.... just drop the line
opacity, or change it black or something :)

On Wed, Mar 18, 2015 at 7:34 AM, saleiva <notifications@github.com> wrote:

--

andrewxhill <http://twitter.com/andrewxhill>
http://cartodb.com

[2015-03-18 14:11] Xatpy commented on #2743
Closed with commit https://github.com/CartoDB/cartodb/commit/057904a6ce9194292f8ecf6de7d11cb2c28ca5a3

[2015-03-18 14:11] #2743 closed

[2015-03-18 15:07] #2537 closed

[2015-03-18 15:07] #2804 closed

[2015-03-18 15:18] #2638 closed

[2015-03-18 15:19] matallo commented on #2311
sure thing

[2015-03-18 15:25] alonsogarciapablo commented on #2822
I see two different issues here: the problem with the annotation in Vanuatu, and the problem of editing annotations with a very slow internet connection.

I haven't been able to reproduce the one with the annotation in Vanuatu. I've played a bit with annotations and I always see them in the embed. @iriberri have you been able to reproduce this?

![captura de pantalla 2015-03-18 a las 15 56 21](htt

[2015-03-18 15:33] iriberri commented on #2822
It's not the first time that we add an annotation or another overlay and it doesn't appear in the embed, but it's not reproducible easily.

The funny fact here is that in this case the annotation was saved in the viz.json, but the embed wasn't loading it.

Yep, the second issue is totally what I mentioned. Feel free to move it to a separate ticket, I just opened this one as general feedback.

[2015-03-18 15:33] juanignaciosl opened #2826 "undefined method at new dashboard"
ActionView::Template::Error: undefined method `[]' for nil:NilClass
1
File "/home/ubuntu/www/production.cartodb.com/releases/20150318142015/app/views/admin/visualizations/new-dashboard.html.erb", line 12 in block in _app_views_admin_visualizations_new_dashboard_html_erb__137368239893328608_48188100
... 4 non-project frames
6
File "/home/ubuntu/www/production.cartodb.com/releases/20150318142015/app

[2015-03-18 15:35] javisantana commented on #2822
this happens not only in overlays so if you can reproduce it, could you write the steps?

[2015-03-18 15:39] rafatower commented on #1357
The root cause of the failed sync was this:
[code]
which in turn seems to be a `result` without `data`.

[2015-03-18 15:43] xavijam commented on #2826
Seems like a problem with mixpanel keys? -> https://github.com/CartoDB/cartodb/blob/master/app/views/admin/visualizations/new-dashboard.html.erb#L12

cc @viddo and @matallo

[2015-03-18 15:44] viddo commented on #2826
That file and line have not been changed since [Dec 2nd](https://github.com/CartoDB/cartodb/blame/master/app/views/admin/visualizations/new-dashboard.html.erb#L12), my bet is some config changed recently. :/

[2015-03-18 15:45] xavijam commented on #2826
I'm with you @viddo, @lbosque @zenitraM, any clue?

[2015-03-18 15:50] Kartones commented on #2815
Seems the issue is [gnutls](https://github.com/taf2/curb/issues/217).

Upgrading my dev env to use `libcurl-openssl` everything works fine. Else I get TSL errors reading the certificate

[2015-03-18 15:52] #2565 closed

[2015-03-18 16:00] santisaez commented on #2826
Seems it's related with Chaleco's cloud, most probably this config key is missing in this environment, researching..

[2015-03-18 16:00] viddo commented on #2817
This is no different from existing behavior on current/old public pages, the difference seems to be that this page uses [`description_md`](https://github.com/CartoDB/cartodb/search?utf8=%E2%9C%93&q=description_md) instead of [`description_clean`](https://github.com/CartoDB/cartodb/search?utf8=%E2%9C%93&q=description_clean) (which strips HTML tags). Do you know what was the reason for stripping tag

[2015-03-18 16:02] alonsogarciapablo opened #2827 "Infinite loop of PUT requests when editing a title/text/annotation item over a slow connection"
**Steps to reproduce:**

- Open Google Chrome DevTools.
- Limit the maximum download throughput in Google Chrome ([instructions here](https://developer.chrome.com/devtools/docs/device-mode#network-conditions)).
- Add a title/text/annotation overlay to a visualization.
- Change multiple things (backgrounds, borders, text alignment) on the overlay **very quickly**.

**Current behavior:**

- An infin

[2015-03-18 16:04] alonsogarciapablo commented on #2822
@javisantana I have created #2827 with the steps to reproduce. I will take a look.

[2015-03-18 16:08] javisantana commented on #2827
if you can reproduce it, could you add a breakpoint in Backbone.sync and paste the stacktrace ? (enable the async button in developer tools)

[2015-03-18 16:10] #2613 closed

[2015-03-18 16:16] lbosque commented on #2826
It fails because of this:

13:     var defaultFallbackMapBaselayer = <%= raw Cartodb.config[:basemaps].present? ? Cartodb.config[:basemaps]['CartoDB']['positron_rainbow'].to_json : '{}' %>;

It checks that there are basemaps keys but not that there are CartoDB basemaps. In google cloud there are not cartodb basemaps. So, either we fix that line so it is like:

var defaultFallbackMapBaselayer = <%=

[2015-03-18 16:23] alonsogarciapablo commented on #2827
[code]

[2015-03-18 16:36] auremoser commented on #2414
**Short descriptions for videos (aurelia or andrew).**

1.  Animate Point Data Tutorial (https://vimeo.com/122308076)
**Title**: Animate Point
**Description**: Learn how to make a Torque map to animate a trajectory in under 2 minutes. This tutorial will import time-series data on a cat's movements about a city, and then illustrate how to animate this movement path with Torque via the CartoDB edito

[2015-03-18 16:38] xavijam commented on #2414
Thanks @auremoser, but those descriptions are not really short. If you check the place where it should be...

![screen shot 2015-03-18 at 17 37 56](https://cloud.githubusercontent.com/assets/132146/6713898/9c8ffba2-cd95-11e4-923e-de8d3b65865a.png)

[2015-03-18 16:41] auremoser commented on #2414
**Display key points within the videos (like in attached 2 - @auremoser or @andrewxhill ).**
does this mean:
* just the chapter list from each video (there is an "Intro" and "Other interesting data" black screen but otherwise they're not chapterized)?
* an anchor point with a minute reference: like "Create Layer, 1:25) for a jump ahead option?
* or a bullet list of key points to flesh out the Lore

[2015-03-18 16:41] auremoser commented on #2414
O.k., @xavijam pass me a template that I can test, or a character limit?

[2015-03-18 16:43] auremoser commented on #2414
"Learn how to animate a trajectory in Torque (2 min)" would fit, sorry I wan't sure where the description would figure in this layout, or if you just planned to put it in the body of the vimeo page.

[2015-03-18 16:43] lbosque commented on #2826
Ey ey @xavijam . My message was about taking a decission.

If the decission is about just fixing that line and leaving google cloud accouns without defaultFallbackMapBaselayer I'm ok by doing it myself.

Is that what we want?

[2015-03-18 16:45] auremoser commented on #2414
Also, whoever has the vimeo credetials, the "Other interesting data" blackscreen has a title typo in every video:
Should be "Click on the data library to *find*..."
![screenshot 2015-03-18 12 33 26](https://cloud.githubusercontent.com/assets/1559703/6714036/8a7ccc84-cd6c-11e4-8db3-fbe72385acf4.jpg)

[2015-03-18 16:46] xavijam commented on #2414
cc @piensaenpixel

[2015-03-18 16:46] xavijam commented on #2414
Those descriptions are only for new dashboard layout, sorry for not being descriptive :(.

[2015-03-18 16:47] javisantana commented on #2826
https://github.com/CartoDB/cartodb/blob/master/app/views/admin/visualizations/new-dashboard.html.erb#L13

it is a bug for sure, we can not harcore the name of a basemap. Or either we have that by config or chose the first one

[2015-03-18 16:47] piensaenpixel commented on #2414
@auremoser it's fixed :)
![image](https://cloud.githubusercontent.com/assets/1214201/6714089/d573239e-cd96-11e4-95a2-5c71fd5cf25a.png)

[2015-03-18 16:47] andrewxhill commented on #2414
Emilio has the Screenflow files to change those (I hope)

Also, with the design. I don't think it is clear at all that I'm about to
watch a video when I'm looking at that menu. Know what I mean? If I clicked
one of those icons I'd be pretty surprised it is just a video.

On Wed, Mar 18, 2015 at 12:45 PM, Aurelia Moser <notifications@github.com>
wrote:

--

andrewxhill <http://twitter.com/andrewxhi

[2015-03-18 16:49] lbosque commented on #2826
So, besides fixing the bug of not checked nil[] what do you, guys, suggest to get the default basemap?
Do we set the default one in the app_config?

[2015-03-18 16:50] xavijam commented on #2414
Don't worry about the key points, not for now.
Videos are reviewed by @piensaenpixel.
And finally @iriberri is "moving" all the datasets to docs/example account (not in personal ones).
Rest is done, thanks all.

[2015-03-18 16:51] xavijam commented on #2414
@auremoser we will use your descriptions, don't worry about that anymore. :)

[2015-03-18 16:53] auremoser commented on #2414
Feel free to trim them, I don't want to f'up the design.

[2015-03-18 16:54] javisantana commented on #2826
yes

[2015-03-18 16:55] lbosque commented on #2826
Ok, positron for normal CartoDB "cloud" and which google maps basemap should be set as default for gce? Any suggestion?

[2015-03-18 17:02] iriberri commented on #2414
#### Animate your data

Get the dataset
https://examples.cartodb.com/tables/tornado_centroids/

URL:
http://examples.cartodb.com/viz/960736aa-cd8c-11e4-a309-0e6e1df11cbf/embed_map

#### Create your own data

http://examples.cartodb.com/viz/eaa226aa-cd8e-11e4-893e-0e0c41326911/embed_map

#### Choropleth

1st dataset:
https://examples.cartodb.com/tables/tornado_centroids/

2nd dataset:
https://examp

[2015-03-18 17:26] matallo commented on #2311
https://github.com/CartoDB/cartodb-central/pull/555

[2015-03-18 17:52] iriberri commented on #2644
As I told you via Slack, I tried with the old dataset and it's raising an error yet.

[2015-03-18 17:57] juanignaciosl commented on #2644
Oh, sorry, should've told you. I'm on it right now. It takes ages and finally fails. The problem now is I don't have error information yet.

[2015-03-18 18:14] viddo commented on #2817
closing by request of author ;)

[2015-03-18 18:14] #2817 closed

[2015-03-18 18:27] juanignaciosl opened #2828 "invalid date 2015-03-18 on import"
https://cartodb.com/superadmin/users/86357/data_imports/9d116a8e-968a-41d9-ab8f-6c83886eeac7

[code]

cc @Kartones @rafatower @sanderpick

[2015-03-18 19:01] juanignaciosl opened #2829 "One organization can't create a user"
cloudsherpasgeo reported a problem when he tries to create a new organization user. This is the trace:

[code]

It looks like the new user has not quota assigned??

[2015-03-18 19:30] javisantana opened #2830 "when I search I want to see only my tables"
- go to new dashboard
- search for world

if you have tables with that name the ones from common data are listed first. How do I see my tables?

cc @carlostallon @piensaenpixel

[2015-03-19 11:27] saleiva opened #2832 "Allow to publish the basemap selector"

[2015-03-19 12:08] saleiva opened #2833 "Going to page 1 in the public dashboard goes to the org dashboard, and not the one for the user."
https://team.cartodb.com/u/saleiva/page/2 try to go to page 1

[2015-03-19 13:06] danicarrion opened #2834 "Error when creating sync table with interval=0"
From the documentation (http://docs.cartodb.com/cartodb-platform/import-api.html#syncing-a-file-from-an-url):

However, if I try to create a sync table with interval=0, I get the following error:

[code]

Please, either fix the API or the docs, but note that having a sync table that is only sync'ed manually makes sense for some use cases.

[2015-03-19 18:56] pramsey opened #2835 "Delete tables/visualizations without opening them first"
For data management purposes, having to open a table or visualization before you can delete it is a PITA. Can you fit a wee trashcan into the standard listing? Or a dropdown of optional actions, including delete/rename/privacy/metadata, all the things that are only available once you've opened the table/viz right now?

[2015-03-19 19:56] viddo commented on #2835
Agree, but all these concerns are already solved (or at least will be) in the new dashboard, which will be launched promptly. :) More specifically:
- A menu with secondary actions is revealed by selecting at least one item
- Some actions can be done in bulk (i.e. when selected more than one item), e.g. deletion
- Privacy/sharing can be accessed directly by clicking the privacy indicator
- Edit met

[2015-03-19 19:56] #2835 closed

[2015-03-19 19:59] pramsey commented on #2835
Hm, I left the commented because I was using the new dashboard and didn't see the options. My eyes were on the thing I clicked, so I totally missed the fact that the top bar was modally switching to allow new options. So on the one hand: yay! the feature I wanted. On the other hand: hmmm, will other folks be as feature-blind as me? Thanks for the quick response!

[2015-03-19 20:28] viddo commented on #2835
yes, I think you might have a point there. cc @saleiva @carlostallon since they designed this interaction, we should probably keep an eye out for this kind of feedback once we open up the access to the new dashboard.

[2015-03-19 21:04] andrejjh commented on #1653
Hi Salelva,
About http://webgisdgo4.spw.wallonie.be/ARCGIS/SERVICES/DGO4/FERRARIS/MapServer/WMSServer

Is there a chance to get this URL working as base layer with CartoDB?
Or should I better do it outside of CartoDB?
André

[2015-03-20 08:34] Kartones commented on #2828
I'll fix it, either properly parsing their format or skipping it if comes borked

[2015-03-20 09:05] #2829 closed

[2015-03-20 09:22] xavijam commented on #2834
Weird, it should work with 0, at least in the UI we use it in that way and there isn't any problem. @kartones @rafatower @juanignaciosl

[2015-03-20 09:23] Kartones commented on #2834
Assign to me and I'll check (but please, at least [Guarroman milestone](https://github.com/CartoDB/cartodb/milestones/Guarroman))

[2015-03-20 09:25] xavijam commented on #2834
@Xatpy, could you take care of it? Basically check with @danicarrion what the problem is and if the docs are ok.

[2015-03-20 09:28] xavijam commented on #2830
In that case, we could order results, first yours, then shared and finally shared ones...

[2015-03-20 09:34] javisantana commented on #2830
I think a way to remove 3rd party tables would be good. Specially for enterprise accounts

[2015-03-20 09:35] #2828 closed

[2015-03-20 09:48] saleiva commented on #2830
Let's not add more complexity right now to this. I'll assign to design and we will revisit this in a week or so..

[2015-03-20 10:17] Xatpy commented on #2834
Sure!

And yes, I had the same problem than @danicarrion.
I've been testing with:

and I've checked that the first value allowed is 900 (15 minutes).
So, I'm changing the doc with this.

@xavijam , I think that it's a backend issue. Also, I don't know why 0 value should be allowed (because it will never be synced again with that value. cc @Kartones

[2015-03-20 10:24] Kartones commented on #2834
uhmm, are you sure old dashboard wasn't removing that `interval:0` field?

Because checking backend code, it's been since jun 2014 disallowing intervals lesser than 15 minutes. Backend doesn't allows a 0 as interval.

I'd bet that dashboard discerned between calling sync if interval > 0 or import if interval == 0, so looks like a documentation issue.

[2015-03-20 10:47] miguelarias opened #2837 "Twitter access: Enable geo-enrichment (on/off) option for the search and historic APIs"
Together with adding an initial "count" of the estimated tweets that a particular query will return.

Once the user gets the estimation, he will be able to chose in the interface if he wants to deactivate the geo-enrichment feature, to gather less results (only for geo-referenced tweets).

This will be avaialable for all users with the twitter feature. Only with the new dashboard.

[2015-03-20 11:02] rafatower commented on #1357
How to reproduce:
- Create a sync with URL (it should be successful)
- Add this patch and restart resque to force the error:
[code]
- rerun the sync, in order to do so, most likely need to hack the sync:
[code]
- rerun the sync again

[2015-03-20 11:17] Xatpy commented on #2834
I've just updated the [documentation](http://docs.cartodb.com/cartodb-platform/import-api.html#definition-4)

I can't figure out the reason about syncing each 0 minutes. I think that in this case, import api should be used.

I'm closing this issue. But if you want to discuss about it, please feel free to re-open it again. :)

[2015-03-20 11:29] saleiva opened #2839 "polygon-fill galleruy"
http://riccardoscalco.github.io/textures/

[2015-03-20 11:35] Kartones opened #2840 "Implement GNIP count query to avoid hitting platform limits"
I've tried GNIP's [/search/:stream/counts](http://support.gnip.com/apis/search_api/api_reference.html#CountRequests) endpoint and it works quite good, so is a very valid solution to avoid hitting platform limits. Before doing the real search Twitter Datasource can query for the count, and if would surpass the File Size [1] or Row Count limits, return an error before searching.

This also needs a *

[2015-03-20 11:58] viddo commented on #2826
To put this in perspective, the use-case for this setting is for new users who have no maps yet (for which a default map is displayed), used for both onboarding and new public pages, e.g. ![screen shot 2015-03-20 at 12 49 36](https://cloud.githubusercontent.com/assets/978461/6750924/9c04d340-ceff-11e4-89fc-9f73cc597eea.png)

This fallback basemap is used to create a [fake vis through cartodb.js wi

[2015-03-20 12:37] #1357 closed

[2015-03-20 12:47] miguelarias commented on #2840
BUT, we had already discussed that Twitter maps service customers (flagged in superadmin) could have up to 1.5 GB of import file size. Which actually represents around 1 milllion tweets. If the table row limit is 500K that is not coherent. Can we bump table size limit to these users to 1million rows too?.

I agree with the rest of the workflow.

[2015-03-20 12:51] Kartones commented on #2840
yes, that can be bumped up and should be bumped to 1M. But that's part of a Central task to integrate platform limits at plans so all this is done automatically. Manually can be done now.

What I want is to avoid hitting the platform limit while importing tweets, no matter if is not searching, capping search or whatever other idea we come up with.

[2015-03-20 12:51] sylvain-gaudan opened #2842 "Incorrect login link"
At the Home page, if not logged in, the Login button links to cartodb.com/login instead of the hosting server (such as development.localhost.lan/login).

[2015-03-20 14:46] rochoa opened #2843 "No way to create a map from empty dataset from dashboard"
## STR
 1. Go to dashboard
 2. Click on "NEW MAP"
 3. Click on "New Map: Create a new map with CartoDB from scratch"
 4. Select "Connect dataset"
 5. Select "Empty dataset"

## Current result

No "Create Map" option anymore, just "CREATE DATASET", when clicking "CREATE DATASET" it creates a new table and redirects you to the new table.

## Expected result

It should display a "Create Map" as in th

[2015-03-20 14:49] xavijam commented on #2843
@rochoa, it is implemented here -> https://github.com/CartoDB/cartodb/pull/2786. But it is not in production yet. I'll let you know when it happens :dancer:

[2015-03-20 14:51] rochoa commented on #2843
:es: :heart:

[2015-03-20 15:19] iriberri opened #2844 "Suggestion: add tooltip with map creator username for liked maps"
Right now an alt appears but it takes seconds

![image](https://cloud.githubusercontent.com/assets/1730320/6754417/b3ac5f00-cf1c-11e4-9578-3e3400bf3b87.png)

cc @xavijam @saleiva

[2015-03-20 15:20] saleiva commented on #2844
A tipsy! :)

[2015-03-20 15:21] xavijam commented on #2844
YAY! finally :DDD

[2015-03-20 15:21] xavijam commented on #2844
with pleasure

[2015-03-20 15:35] saleiva commented on #2630
Still pending the UI changes. Assigning to @xavijam for the next sprint

[2015-03-20 15:36] saleiva commented on #2243
Bump!

[2015-03-20 15:38] #2237 closed

[2015-03-20 15:44] javisantana opened #2845 "carto parser fails and visualization can't be loaded"
https://github.com/CartoDB/cartodb/blob/master/lib/assets/javascripts/cartodb/models/carto.js#L787

[2015-03-20 15:44] javisantana commented on #2845
(more info comming)

[2015-03-20 15:50] iriberri opened #2846 "Don't concatenate new numbers on "Untitled Map""
Right now:

![image](https://cloud.githubusercontent.com/assets/1730320/6755097/17496432-cf21-11e4-9990-60649d0ed875.png)

This is something that happened months ago too with table names, if I'm not confused: `untitled_table_1_2_3``

@kartones @juanignaciosl

[2015-03-20 15:57] javisantana commented on #2845
the style that makes it fail:

[code]

(yes, it's not cut)

[2015-03-20 16:43] alonsogarciapablo commented on #2827
I spent some time researching this. I initially thought it had something to do with the fact that we are using a [debounced version of `_fireChange`](https://github.com/CartoDB/cartodb/blob/master/lib/assets/javascripts/cartodb/common/forms/widgets.js#L275-L278), but I don't think that's the cause.

I think this is caused because of the way Backbone works. According to the code:
[code]

This is ha

[2015-03-20 17:08] rafatower commented on #2419
let's talk about the use case: instead of doing magic with csv if the most common use case from the newbie and enterprise user is  to import from Excel, let's focus on importing excel with types instead of guessing from CSV.

[2015-03-20 17:16] Kartones opened #2849 "Change Mailchimp import to use campaigns"
[Branch](https://github.com/CartoDB/cartodb/tree/issue-2849)

### 1st round
- [x] Show users who have opened a campaign
- [x] anonimize data returned (emails)
- [x] Replace old code that used lists

### 2nd round
- [x] Remove campaigns who have tracking disabled
- [x] Change flow to:
  - retrieve campaign list
  - retrieve then subscriber activity
  - set `opened` field of campaign data with subsc

[2015-03-20 19:33] danicarrion opened #2850 "Importing from google drive will not detect floats"
A value of "3,12" which is recognized by google spreadsheet as a number in Spanish locale, is imported as a string in CartoDB.

[2015-03-20 19:55] ohasselblad opened #2851 "new dashboard: preview for xyz template map not showing"
Basemap is pulled from a [NYPL Mapwarper](maps.nypl.org/warper/maps?show_warped=1) template.

![screen shot 2015-03-20 at 15 52 45](https://cloud.githubusercontent.com/assets/1041056/6759791/4e0776b0-cf19-11e4-8720-42bf9d862c06.png)

[2015-03-21 15:37] ohasselblad opened #2852 "cartocss error overflow display issues"
When there are a lot of CartoCSS errors, it shows on top of other UI elements. Could there be an `overflow-y: scroll` option to take care of this?

![screen shot 2015-03-21 at 11 34 54](https://cloud.githubusercontent.com/assets/1041056/6765610/7a2b1486-cfbe-11e4-910d-a8fb460b563d.png)

[2015-03-21 16:02] cshirky opened #2853 "Annotations are deleted when editing text with Delete key (Similar to #2100)"
STR:

1. Create a Visualization
2. Add Element -> Add Annotation Item
3. Triple-click on "I'm an **annotation overlay**" to select all text
4. Attempt to delete text with Delete key

Expected behavior: Text in annotation box is deleted, cursor is ready for input
Actual behavior: Annotation box is deleted

Tested in Chrome and Safari

ADDENDUM: This does look like #2100, sorry for the dupe.

[2015-03-21 17:25] zenitraM commented on #2851
We don't support external basemaps right now on the static API for security reasons / cc @rochoa

[2015-03-21 18:40] saleiva commented on #2853
#hotfix !

[2015-03-21 18:40] saleiva commented on #2846
yes please, I hate this one

[2015-03-21 18:43] saleiva commented on #2837
This plus the other stuff that I talked with @Kartones make me think that we need to sit down on monday and re-think the whole usecase one more time

[2015-03-21 22:05] javisantana commented on #2853
I think this is the same than #2100, we had some problems reproducing it and happens the same with this.

Which frontend version are you running ? you can see it in the developer console

[2015-03-21 23:37] cshirky commented on #2853
cartodb.js 3.12.12
tracker.js:10 cartodbui v3.7.31
sha1: 8bf0ddf752c4ad81554bb9dde1d9f2677c753a8f

On a Maf, 10.10.2

[2015-03-22 08:49] andrewxhill commented on #2243
Let's tell them how to fill it up. Something like, "Fill this section up by
clicking the heart on CartoDB maps published on the web or on user profile
pages."
On Mar 20, 2015 3:37 PM, "saleiva" <notifications@github.com> wrote:

[2015-03-22 09:22] javisantana commented on #2853
I'm not able to reproduce it with those steps, there should be another problem/extra step that makes this fail

[2015-03-22 09:36] cshirky commented on #2853
Here's a movie of me doing it:
https://www.dropbox.com/s/5n7tpvgri0z80rb/Annotation_Delete.mov?dl=0

No extra steps other than those I documented. Add, triple-click, Delete key

Tested with Chrome and Safari on Mac

[2015-03-22 13:50] alonsogarciapablo commented on #2853
I think this [is something we are doing on purpose](https://github.com/CartoDB/cartodb/blob/master/lib/assets/javascripts/cartodb/table/overlays/annotation.js#L141-L150): after a keypress, if there's no text left, we close the annotation.

[2015-03-22 14:41] cshirky commented on #2853
Interesting. I think the user-expected behavior would be "Close an empty box only if the cursor/focus is elsewhere."

[2015-03-23 08:47] alonsogarciapablo commented on #2853
@cshirky I agree with you. The use case you shared in the your video is totally realistic, users will want to delete all text to start typing again. @saleiva @javisantana what do you think?

[2015-03-23 08:55] saleiva commented on #2853
I'm with @cshirky

[2015-03-23 08:58] alonsogarciapablo commented on #2853
@javierarce this is assigned to you, but I can take care of it if you want.

[2015-03-23 09:00] rafatower commented on #2585
I'm closing this for the moment. We'd need to investigate differences in clinker but I think it's not worth the effort right now

[2015-03-23 09:00] #2585 closed

[2015-03-23 09:15] xavijam opened #2854 "Review new dashboard under IE11"

[2015-03-23 09:22] #2352 closed

[2015-03-23 09:22] #2414 closed

[2015-03-23 09:22] #2457 closed

[2015-03-23 09:22] #2627 closed

[2015-03-23 09:22] #2765 closed

[2015-03-23 09:22] #2766 closed

[2015-03-23 09:22] #2311 closed

[2015-03-23 09:22] #2440 closed

[2015-03-23 09:24] javierarce commented on #2853
Don't worry, @alonsogarciapablo, I'm back from holidays and I can take care of this. Thanks!

[2015-03-23 09:30] javierarce opened #2855 "Removing all the characters of an overlay shouldn't delete it"
We are changing the current behaviour because it's confusing for some users.

Related to this conversation: https://github.com/CartoDB/cartodb/issues/2853

[2015-03-23 09:31] rafatower commented on #2695
AFAIK this is already done, closing this...

[2015-03-23 09:32] fdansv commented on #2845
Solved in #2848

[2015-03-23 09:32] #2845 closed

[2015-03-23 09:36] lbosque opened #2856 "Design call to action for a user to upgrade when try to connect more than one dataset at the same time"

[2015-03-23 09:53] rafatower commented on #2695
The problem appears when reloading the page. Reopening this issue

[2015-03-23 10:03] javisantana commented on #2203
use cdb_touchmedata function

[2015-03-23 10:07] alonsogarciapablo commented on #1913
This is the same as #2420. It has already been fixed. We don't display headers for fields which are empty or null, and we now display "No data available" if all fields are empty.

![captura de pantalla 2015-03-23 a las 11 05 00](https://cloud.githubusercontent.com/assets/390398/6777739/bb255098-d14c-11e4-90ed-46f1da469902.png)

[2015-03-23 10:07] #1913 closed

[2015-03-23 10:12] #1435 closed

[2015-03-23 10:38] zenitraM opened #2858 "NaturalEarth imports non-deterministically import .shp or README as .csv"
When importing this file:

http://www.naturalearthdata.com/http//www.naturalearthdata.com/download/10m/cultural/ne_10m_admin_0_countries_lakes.zip

on different accounts, several times, it seems that sometimes chooses to import the README as a blank .csv (incorrect) and other times the .shp (correct).

It seems that both files are imported on the same temporary table. The order for the .zip is not

[2015-03-23 11:00] alonsogarciapablo commented on #2773
@xavijam This is how it looks with a CSS only approach. I'm basically using the same code we're using for the description. By default, we show 3 tags, and X more if there are more. And if it doesn't fit in 2 lines, we show the ellipsis. What do you think?

![captura de pantalla 2015-03-23 a las 11 57 58](https://cloud.githubusercontent.com/assets/390398/6778557/e3c8aea8-d153-11e4-9a0f-3c24bb0973ae

[2015-03-23 11:15] xavijam commented on #2773
For me looks good, @saleiva?

[2015-03-23 11:26] alonsogarciapablo opened #2860 "Horizontal scroll is not working on public tables"
**Steps to reproduce:**

1. Open a table with a lot of columns on the new public dashboard. You can try with [this one](https://alonsogarciapablo.cartodb.com/tables/gnis_nm_airpt09/public).
2. Try to scroll horizontally to view the columns that are hidden on the right.

**Current behavior:**

- Scroll doesn't work.

[2015-03-23 11:32] viddo commented on #2860
Removed the label because individual table/vis views are not in the scope of new dashboard (they still have the styles/code from current). :)

Btw I think you mean vertical scroll (y-axis), right?

[2015-03-23 11:34] viddo commented on #2860
horizontal works for me but not the vertical (I assume there are more rows than visible?): ![horizontal scroll](https://cloud.githubusercontent.com/assets/978461/6779105/ce001e12-d158-11e4-885c-df37995701c9.gif)

[2015-03-23 11:34] alonsogarciapablo commented on #2816
@javisantana should the `the_geom_webmercator` column be there? should we populate it?

I've noticed that this column is not visible in the private view...

[2015-03-23 11:35] alonsogarciapablo commented on #2816
Also, since it's related to `the_geom`, should they be together?

[2015-03-23 11:48] alonsogarciapablo commented on #2860
I mean the x-axis:

![broken_scroll](https://cloud.githubusercontent.com/assets/390398/6779265/af20614e-d15a-11e4-9aef-af628c10371f.gif)

[2015-03-23 12:12] alonsogarciapablo commented on #2860
@viddo, but I think vertical scroll is not working either cause that table has several pages of rows...

[2015-03-23 13:01] Xatpy opened #2862 "Button Upload->'Select a file' doesn't appear in Firefox and low screen resolution"
Using Firefox 36.0.1 and OS X Yosemite 10.10.
Screen resolution:**1280x800** (laptop default)

Steps to reproduce:
1. Go to your datasets dashboard.
2. Click on *Connect dataset*

Problem:
1. You can't scroll down and select Upload a file **Select a file**

Screenshot:
![screen shot 2015-03-23 at 13 53 01](https://cloud.githubusercontent.com/assets/3958416/6780352/a00ee702-d164-11e4-8218-f58813ddb

[2015-03-23 13:13] saleiva commented on #2243
Cool, thanks @andrewxhill

[2015-03-23 13:14] #2737 closed

[2015-03-23 13:14] viddo commented on #2833
My guess is that the Rail's [`url_for` method which is used to create a URL template is not resolving to the expected URL](https://github.com/CartoDB/cartodb/blob/master/app/views/admin/pages/shared/_pagination.html.erb#L15-L17), probably due to how the [routes](https://github.com/CartoDB/cartodb/blob/master/config/routes.rb) are resolved in priority. Also see ["Rails Routing from the Outside In"]

[2015-03-23 13:17] xavijam opened #2863 "Possibility to create new maps using liked datasets"

[2015-03-23 13:19] xavijam commented on #2651
For me this is not a bug, flow works.

[2015-03-23 13:19] xavijam commented on #2652
Same as #2651

[2015-03-23 13:38] xavijam commented on #2768
That's because we have a min-height (600px) for the dashboard list, should we change it?

[2015-03-23 13:50] javisantana commented on #2816
no, the_geom_webmercator should not be visible

[2015-03-23 14:17] andrewxhill opened #2865 "Default heatmap calculation should be investigated"
Hey,

Steps to reproduce,

1. Create an empty table
2. Run, insert into untitled_table_26 (the_geom) SELECT CDB_LatLng(-50,30) FROM Generate_Series(1,100)
3. Run, insert into untitled_table_26 (the_geom) SELECT CDB_LatLng(0,0)
4. Create a heatmap

You can see that some things are a bit funny in the outcome,

http://team.cartodb.com/u/andrew/viz/4df2c2b6-d166-11e4-bf59-0e853d047bba/public_map

For

[2015-03-23 14:30] saleiva commented on #2651
oki

[2015-03-23 14:36] xavijam commented on #2862
Fixed @Xatpy, thanks buddy.

[2015-03-23 14:39] piensaenpixel opened #2866 "Show an alert when someone shares a dataset with you"

[2015-03-23 15:02] saleiva commented on #2866
lovely

[2015-03-23 15:02] saleiva commented on #2866
the same when someone stops sharing a dataset with you

[2015-03-23 15:28] saleiva opened #2867 "Liked datasets count is incorrect"
It says I have 5 liked tables, but only 3 are shown. There are not locked datasets, so something weird is happening.

[2015-03-23 15:56] xavijam commented on #2630
Those cases are already implemented. I only missed this one:

![screen shot 2015-03-23 at 16 54 58](https://cloud.githubusercontent.com/assets/132146/6784003/5f6d5652-d17d-11e4-9b3c-6ca0f96d9c1d.png)

Should we implement it for all pages? It "changes" the notification flow we have right now.
Also we will have to add it in plans page (cc @matallo).

[2015-03-23 16:26] saleiva commented on #2630
with the latest designs?

[2015-03-23 16:27] #2801 closed

[2015-03-23 16:32] xavijam commented on #2801
And the pull request? :P

[2015-03-23 17:18] Kartones commented on #2849
@saleiva  If you want to customize the CartoCSS, [edit here](https://github.com/CartoDB/cartodb/compare/issue-2849#diff-366aacc0d592f14ffe19beb52dda4172R29).

[2015-03-23 17:20] javierarce commented on #2415
An empty map? That won't make sense for all the videos, I think.

[2015-03-23 17:28] xavijam opened #2870 "Possibility to create a dataset or a map depending the section user is visiting"

[2015-03-23 17:29] xavijam commented on #2727
Please, wait until this https://github.com/CartoDB/cartodb/pull/2864 is merged please please.

[2015-03-23 17:40] #2843 closed

[2015-03-23 17:40] #2768 closed

[2015-03-23 18:16] saleiva commented on #2415
Sorry go to the dashboard

[2015-03-23 18:17] alonsogarciapablo commented on #2816
The `the_geom_webmercator` column [is not being removed from the schema](https://github.com/CartoDB/cartodb/blob/master/lib/assets/javascripts/cartodb/models/table.js#L493-L496). I have to keep investigating why.

[2015-03-23 18:18] javierarce commented on #2415
Ok.

[2015-03-23 18:18] saleiva opened #2871 "Create a video for the create modal to show the mailchimp import."
"Map your email campaigns"
Or something like that

[2015-03-23 18:36] fdansv commented on #2865
Leaving aside the fact that heatmap "bubbles" should be more intense the higher the value (in this case given by ```count(cartodb_id)```, in your example the correct behaviour would be to see *two equally intense balls*<sup>1</sup>.

After a bit of sherlockholming, I noticed this when increasing the resolution quotient to 128:

![screen shot 2015-03-23 at 19 26 20](https://cloud.githubusercontent.

[2015-03-23 22:35] saleiva opened #2872 "Add "Sort by" on the ordering buttons tipsys"

[2015-03-23 22:37] saleiva opened #2873 "Don't open the non-georefence data on empty datasets views"

[2015-03-24 00:12] #1984 closed

[2015-03-24 03:46] andrewxhill commented on #2602
?

[2015-03-24 06:40] freakabcd opened #2874 "private tables inaccessible after apikey update"
I have a locally hosted CartoDB instance with only a single user. There are both private and public tables.
Today, a new api key was requested from the /your_apps page. Now, all the private tables are inaccessible to this single user! As expected, the visualisations using the private tables are also not available.

How would I fix this problem?

[2015-03-24 07:36] javisantana commented on #2602
I think this is done, @Kartones ?

[2015-03-24 08:24] alonsogarciapablo commented on #2773
@saleiva what do you think of this? thanks!

[2015-03-24 08:26] Kartones commented on #2602
Not that I know...

At the [URL Rewrites branch](https://github.com/CartoDB/cartodb/pull/1933) I've added some low-level tests (but yet have to stabilize that branch due to the heavy backend changes) to check that URL generation works ok, but definetly high-level/black-box tests would be nice (the ones that Andrew propose, checking correct input-output).

[2015-03-24 09:04] iriberri commented on #2589
I checked: column admin01 includes the states (abbreviated to iso2) in the USA case. In other countries like Spain, this column is not so straightforward and includes numbers for the autonomous communities.

[2015-03-24 09:32] iriberri opened #2875 "Support MultiPoint geometries on import?"
DataImport['6eda2aad-84a6-4314-a3f4-4de2eb301d8f'].log

[code]

I'm trying to get the file that provoked the error, if I'm not able I'll build one. It was a CSV file.

From: SB/4877942

cc @javisantana @juanignaciosl

[2015-03-24 09:35] saleiva commented on #2773
What about leaving the tags in just one line and adding the gradient in the same way we do with the description?

[2015-03-24 09:35] javisantana commented on #2875
low low priority

[2015-03-24 09:43] javisantana commented on #2656
duplicated #2761

[2015-03-24 09:43] #2656 closed

[2015-03-24 09:44] javisantana commented on #2602
Hey @danicarrion, this is specially important, we included oembed support quick without tests but we should have at least the most basic ones.

We are changing urls schemas and we need to be sure everything works

[2015-03-24 10:02] xavijam commented on #2816
I'd remote it from the view, but not sure if we should remove it from the (js) schema directly.

[2015-03-24 10:09] alonsogarciapablo commented on #2773
We can try and see how it looks. Is it okay then to "hide" the "X more" text if everything doesn't fit in one/two lines?

[2015-03-24 10:16] #2243 closed

[2015-03-24 10:16] #2759 closed

[2015-03-24 10:16] #2862 closed

[2015-03-24 10:16] #2360 closed

[2015-03-24 10:16] #2854 closed

[2015-03-24 10:21] saleiva commented on #2773
yeah I think so

[2015-03-24 10:23] saleiva commented on #2849
Assigning to @xavijam to update the texts

[2015-03-24 10:25] javisantana commented on #2761
kind of easy to add but worries me the fact that we lock a rails process only waiting for an http request for external service

[2015-03-24 11:04] iriberri opened #2876 "Conflict between CSS of infowindows in public pages"
The H2 tag styles from the infowindow are being overwritten in the public profiles.

Screenshot in "public_map":
![image](https://cloud.githubusercontent.com/assets/1730320/6800340/da61dea0-d21d-11e4-9883-20a9a0bc74cb.png)

Screenshot in "embed_map" (looks like in the Editor):
![image](https://cloud.githubusercontent.com/assets/1730320/6800348/eb428c9c-d21d-11e4-994c-b7dc29e20bff.png)

[2015-03-24 11:38] saleiva opened #2877 "When opening a map from the delete warning modal in another tab the window gets closed."

[2015-03-24 11:39] Kartones opened #2878 "Password too short not raising error"
At [User model](https://github.com/CartoDB/cartodb/blob/master/app/models/user.rb#L457), is not raising an error if password is too small.

It should directly raise a ValidationError or similar (as checking at validate method is not possible as password is already hashed).

[2015-03-24 11:50] xavijam commented on #2629
Note for me:

- When creates a new map (importing data library).
- Adding a new file (drag and drop).
- Importing a file that takes more space than expected.

[2015-03-24 12:03] #2872 closed

[2015-03-24 12:06] #2870 closed

[2015-03-24 12:11] iriberri opened #2881 "Table issue: undefined method `public_values' for nil:NilClass"
From SB/4883769: "Unable to delete a table"

https://rollbar.com/vizzuality/CartoDB/items/4794/occurrences/4569252508/

* Table cannot be accessed from the dashboard, although is listed correctly: "Ooops! This is an unexpected error. Please come back in a while. (500 error)"

cc @Kartones @javisantana

[2015-03-24 12:13] javisantana commented on #2881
can you complete a little bit?

[2015-03-24 12:23] saleiva opened #2883 "Add onboarding overlay for the first time the create map window is opened"
The same for the connect data modal

[2015-03-24 12:31] xavijam opened #2884 "Change flow for new imports when create a new dataset"
- Being in a dataset view (create dialog from "Connect dataset") creates a new dataset.
- Being in a map view (create dialog from "New map") creates a new map.

[2015-03-24 12:42] alonsogarciapablo commented on #2773
@saleiva this is how it looks with your proposed solution:

![captura de pantalla 2015-03-24 a las 13 40 29](https://cloud.githubusercontent.com/assets/390398/6801804/723aa628-d22b-11e4-83a9-0ab0a959caca.png)

[2015-03-24 12:45] saleiva commented on #2773
+1

[2015-03-24 13:49] alonsogarciapablo commented on #2203
@javisantana the link you posted is no longer working. Are we talking about [Table#modify_column](https://github.com/CartoDB/cartodb/blob/master/app/models/table.rb#L1003-L1018)?

[2015-03-24 13:56] alonsogarciapablo commented on #2822
@iriberri @javisantana what should we do with this issue? I wasn't able to reproduce the problem with the annotation not being displayed in the embed... I would close this issue and reopen it if we encounter it again and we can have a bit more info...

[2015-03-24 13:56] javisantana commented on #2203
yes, sorry

[2015-03-24 13:57] javisantana commented on #2203
also, for reference: https://github.com/CartoDB/cartodb-postgresql/blob/master/scripts-available/CDB_TableMetadata.sql#L123

[2015-03-24 14:00] iriberri commented on #2822
I'm not been able neither. I've tried placing annotations on the edge of the tiles but didn't provoke the issue.

[2015-03-24 14:01] alonsogarciapablo commented on #2822
Ok. Closing it then until it happens again. Thanks!

[2015-03-24 14:01] #2822 closed

[2015-03-24 14:09] saleiva opened #2887 "If loged in, big avatar should go to the dashboard on the public page"

[2015-03-24 14:47] matallo commented on #2630
on it

[2015-03-24 15:16] #2884 closed

[2015-03-24 15:54] #2887 closed

[2015-03-24 16:22] fdansv commented on #2865
Cc'ing @rochoa as this is most likely a Windshaft issue.

There's the other issue of adding weight to the heatmaps according to the value passed, but that is already being tracked at #2125. Feel free to close this and track from Windshaft.

[2015-03-24 16:24] juanignaciosl opened #2894 "New account page doesn't submit new password to Central"
New account page doesn't submit new password to Central if user is not from an organization. It works for organizations though.

cc @xavijam

[2015-03-24 16:26] xavijam commented on #2894
:|

[2015-03-24 16:32] #2644 closed

[2015-03-24 16:49] #2816 closed

[2015-03-24 16:51] rochoa commented on #2865
This is not new, we already had some issues with points in tile boundaries, see https://github.com/CartoDB/Windshaft/issues/186

Having something like:
[code]
Right now the behaviour is that a (0,0) point belongs to two tiles: BL and BR. We can change this behaviour and eliminate the point from all (TL,TR,BL,BR) but one tile. That means we will lose some (more) points in the boundaries of the map.

[2015-03-24 16:58] #2203 closed

[2015-03-24 17:04] rochoa commented on #2865
We should follow the discussion here: https://github.com/CartoDB/Windshaft/issues/308

[2015-03-24 17:04] #2865 closed

[2015-03-24 17:05] andrewxhill commented on #2865
Okay, then we should leave this one about the fact that we don't render points that overlap as multiple instances on the heatmap right?

[2015-03-24 17:08] rochoa commented on #2865
I closed it because IIRC that's what @fdansv was talking about: https://github.com/CartoDB/cartodb/issues/2125

Feel free to reopen if I got it wrong.

[2015-03-24 17:08] fdansv commented on #2865
@andrewxhill isn't that the same as #2125? I mean we can keep tracking here, but it looks like a duplicate to me.

[2015-03-24 17:21] andrewxhill commented on #2865
perfect

On Tue, Mar 24, 2015 at 1:08 PM, Francisco Dans <notifications@github.com>
wrote:

--

andrewxhill <http://twitter.com/andrewxhill>
http://cartodb.com

[2015-03-24 18:06] saleiva opened #2895 "Add blue thing on the create modal window when not having any connected dataset"

[2015-03-24 21:03] ohasselblad opened #2896 "erratic behavior for natural earth data imports"
Natural Earth Data have unusual URL formats:
http://www.naturalearthdata.com/http//www.naturalearthdata.com/download/10m/cultural/ne_10m_populated_places.zip

Importing these files gives erratic behavior:
![screen shot 2015-03-24 at 16 54 10](https://cloud.githubusercontent.com/assets/1041056/6812635/7e3de1fe-d246-11e4-9ebd-2d513c87e302.png)

The schema of the first one looks like this:
![screen s

[2015-03-25 09:39] alonsogarciapablo opened #2898 "Export layer dialog won't open if any other layers have a SQL applied"
**Steps to reproduce:**
- Edit a visualization with more than one layer.
- Apply a custom SQL to one of the layers.
- Select a different layer (one that doesn't have a custom SQL query applied).
- Click "Edit" > "Export layer"

**Expected behavior:**
- Export layer dialog should show up and you should be able to export the layer.

**Current behavior:**
- The dialog doesn't show up and the options

[2015-03-25 09:44] alonsogarciapablo commented on #2898
[This is preventing the action from being executed](https://github.com/CartoDB/cartodb/blob/master/lib/assets/javascripts/cartodb/table/header/options_menu.js#L114-L115).

[2015-03-25 09:50] #2867 closed

[2015-03-25 09:54] piensaenpixel commented on #2866
and the same when a new common data is available

[2015-03-25 09:56] alonsogarciapablo commented on #2898
And the reason might be that [we're running that ckeck against the last layer and not the currently selected one](https://github.com/CartoDB/cartodb/blob/master/lib/assets/javascripts/cartodb/table/header/options_menu.js#L42).

[2015-03-25 10:04] juanignaciosl opened #2899 "Liked count doesn't match list"
For my organization user account it counts 11 liked but only lists 1.

[2015-03-25 11:05] #2899 closed

[2015-03-25 11:42] javierarce opened #2902 "Unbind overlays"
The overlays weren't being unbinded, which could lead to several issues (like removing the overlay when pressing the backspace key).

[2015-03-25 12:27] alonsogarciapablo commented on #2860
This seems to be working after #2882.

[2015-03-25 12:27] #2860 closed

[2015-03-25 12:28] zenitraM opened #2904 "Make editor tiles use CDN with a config flag"
Right now only embeds are going through the CDN, not tiles inside the editor.
Add a flag so editor tiles also go over the CDN

[2015-03-25 12:45] zenitraM commented on #2896
Duplicate of #2858, go there for more details :)

[2015-03-25 12:45] #2896 closed

[2015-03-25 12:48] ohasselblad commented on #2896
:+1:

[2015-03-25 13:07] matallo commented on #2630
https://github.com/CartoDB/cartodb-central/pull

[2015-03-25 13:39] bymerej opened #2906 "unable to scroll table rows on public table view"
e.g. https://benwellington.cartodb.com/tables/nyntaincome/public/table

There's a vertical scrollbar for the whole page and (for me) a horizontal scrollbar for the data. Even after clicking around to try to change the focus I can't scroll wheel (in my case 2 finger drag on laptop) within the table; scroll wheel just scrolls the whole page.

[2015-03-25 13:44] iriberri opened #2907 "Viz with public shared table + private table doesn't work."
**Steps:**

1. Go to your shared datasets. Select one table and click "Create map". I've used cartoconferences and the public table of xavijam about the plane crash. Both behave equally.
2. Check the public link. It works and in the "used datasets" section the shared table appears.
3. Add a new empty layer to the viz. Add a random feature.
4. Go back to public embed: map doesn't render and [the fo

[2015-03-25 13:53] iriberri commented on #2881
Happening also for other user, received it in Support right now: (SB/4896453)

https://rollbar.com/vizzuality/CartoDB/person/?environment=production&person_id=394c8e5b-5885-4ac1-899d-9dc3285ec02c

[2015-03-25 13:54] bymerej opened #2908 "allow selecting (and unselecting) features interactively"
allow selecting (and unselecting) features interactively. a la qgis.

may be particularly useful while composing SQL. infowindows are sometimes useful but you can only open one at a time.

when selected, features should be visibly differrentiated from the other features. should be possible to select in both map and data views. the same features should be selected when switching between the views.

[2015-03-25 13:57] matallo opened #2909 "public pages: pagination first item goes to org. profile instead of user"
when user is part of an organization, if you go to next pages, i.e.
https://team.cartodb.com/u/matallo/page/2

and then want to come back to first page, the href in the link goes to org. profile instead of user (find attached)

![screen shot 2015-03-25 at 14 56 48](https://cloud.githubusercontent.com/assets/36676/6826069/46ad8b86-d2ff-11e4-8c6b-652b23cfa193.png)

[2015-03-25 13:58] saleiva commented on #2909
I think this is duplicated :)

[2015-03-25 13:59] saleiva commented on #2906
Yep, we only show some rows instead of loading too much data. This is not a but, it's actually a feature :)

[2015-03-25 14:01] matallo commented on #2909
oop, sorry then

[2015-03-25 14:02] #2909 closed

[2015-03-25 14:31] xavijam commented on #2630
Really weird to see this type:
![screen shot 2015-03-25 at 15 29 20](https://cloud.githubusercontent.com/assets/132146/6826734/cecb46da-d303-11e4-854e-3c0f7af0e39d.png)

And then when a user can't upload a file due to size limitations, we show this type:
![screen shot 2015-03-25 at 15 29 32](https://cloud.githubusercontent.com/assets/132146/6826730/cc8c312c-d303-11e4-854a-5827108a8ccb.png)

Is it

[2015-03-25 14:34] xavijam commented on #2630
What about the datasource option, I haven't seen any design about that case. In fact I'm using texts from old dashboard + "no background image".

[2015-03-25 14:39] bymerej commented on #2906
I don't get the decision/rationale. if a user loads to much data then tell them they loaded too much and direct them to download (export) the data? maybe there's some record of past discussion I could read to catch up?

anyway, if I hit F11 to go full screen I see much more data. if I modify DOM[0] to allow scrolling then even more data is revealed. (more than 3x one page of full screen. 40 rows o

[2015-03-25 14:44] saleiva commented on #2630
The reason to not show the rocket is because it conflicts with the other icon.
About the thing with the datasource, I'll design, looks like @carlostallon forgot it :(

[2015-03-25 14:44] saleiva commented on #2630
Can you create a separated ticket for that?

[2015-03-25 14:55] xavijam opened #2910 "Review import option when it is disabled due to plan limitation"
For example:

![screen shot 2015-03-25 at 15 34 06](https://cloud.githubusercontent.com/assets/132146/6827354/4794a3ce-d307-11e4-8b06-c3ca712abec4.png)

[2015-03-25 14:56] xavijam commented on #2630
1) ok
2) https://github.com/CartoDB/cartodb/issues/2910

[2015-03-25 15:15] alonsogarciapablo commented on #1970
Ok, I've been able to reproduce the problem (good start):

![crazy_image_infowindow](https://cloud.githubusercontent.com/assets/390398/6827813/146f7336-d30a-11e4-8c06-f904ceeb9508.gif)

[2015-03-25 15:20] javisantana commented on #2826
just fixed it in https://github.com/CartoDB/cartodb/commit/bde5e3c627cdba8c777e0a4c5ee21c9e86f85d53

[2015-03-25 15:21] saleiva commented on #2910
![create - new dataset - arcgis deactivated](https://cloud.githubusercontent.com/assets/132149/6827907/f11d8020-d30a-11e4-8d0a-29a512298db7.png)
Available on create-modal-1.3

[2015-03-25 15:21] xavijam commented on #2826
:dancer:

[2015-03-25 15:23] javisantana commented on #2826
not actually fixed :D

[2015-03-25 15:30] saleiva opened #2912 "Add circle around the icons on the placeholders"
![screen shot 2015-03-25 at 16 30 06](https://cloud.githubusercontent.com/assets/132149/6828138/40872d04-d30c-11e4-9dd2-0a8c990219a7.png)

[2015-03-25 15:41] saleiva opened #2913 "Missing link"
![screen shot 2015-03-25 at 16 40 59](https://cloud.githubusercontent.com/assets/132149/6828379/c7674c72-d30d-11e4-800a-49ebca9e769c.png)

That should open the connect data modal and have link style

[2015-03-25 15:42] xavijam commented on #2913
no please :(

[2015-03-25 15:46] saleiva opened #2914 "If not having locked tables, this links should be disabled"
![screen shot 2015-03-25 at 16 45 24](https://cloud.githubusercontent.com/assets/132149/6828485/64f365ac-d30e-11e4-95eb-ed5dc78cf19d.png)

[2015-03-25 15:48] xavijam commented on #2914
Really difficult to know in that view, because we need to make a new request to know that "count" as we do in the content footer...

cc @viddo

[2015-03-25 15:51] ericbean12 opened #2915 "Enable Dropbox Chooser"
@javisantana @Kartones  @juanignaciosl

allow users to import multiple files from their dropbox account at once.

https://www.dropbox.com/developers/dropins/chooser/js

http://stackoverflow.com/questions/16573001/how-to-grab-multiple-files-using-the-dropbox-chooser

[2015-03-25 15:54] Kartones commented on #2915
IIRC Dropbox chooser is a frontend component, right @xavijam ?

[2015-03-25 15:55] xavijam commented on #2915
It is, but we don't use that thing for import files.

[2015-03-25 16:01] saleiva commented on #2913
why?

[2015-03-25 16:03] saleiva opened #2916 "Connecting a data library datasets from the datasets view still creates a new map."

[2015-03-25 16:09] #2902 closed

[2015-03-25 16:11] Kartones opened #2917 "Avoid leaving stale cdb_importer tables"
Approaches:
- Cron/Job to sweep all DBs and DROP tables older than X hours (gather metrics of longest imports)
- Better capture errors, removing involved tables in the process (see [importer Runner class](https://github.com/CartoDB/cartodb/blob/master/services/importer/lib/importer/runner.rb#L190)).
  - Must take into account scenario of single compressed file [spawning multiple files to import](h

[2015-03-25 16:31] saleiva commented on #2915
let's not focus on this right now... backlog!

[2015-03-25 16:42] iriberri opened #2919 "[shared tables] "Used datasets" is not showing some tables"
**From SB/4827022:**

All tables were public. The visualization consists on 6 layers, 2 of them shared from other user. 3 of them are disabled in the Editor (2 own, 1 shared).

In the public page, the used datasets shows only the **shared** visualizations, but not the ones from the user.

More information about this specific case needs to be found in the first message of the ticket.

While trying

[2015-03-25 17:27] iriberri opened #2920 "Export image fails with password protected visualizations"
[code]

Clicking on "Export image" from a password protected visualization raises an error like the previous one as the frontend is not adding oauth_tokens.

The editor keeps spinning or raises an error:

![image](https://cloud.githubusercontent.com/assets/1730320/6830782/69d20566-d31c-11e4-9d22-a62c942a6d15.png)

![image](https://cloud.githubusercontent.com/assets/1730320/6830796/796fa870-d31c-11

[2015-03-25 17:42] #2820 closed

[2015-03-25 17:49] saleiva opened #2921 "After deleting some maps, the dashboard stop giving me thumbnails"
and it displays this error
![screen shot 2015-03-25 at 18 48 31](https://cloud.githubusercontent.com/assets/132149/6831275/9d47ce6e-d31f-11e4-8176-ffe79d281c85.png)

[2015-03-25 17:50] saleiva commented on #2921
This was the request https://team.cartodb.com/u/saleiva/api/v2/viz/d1eb2a42-214d-11e3-afed-3085a9a9563c/viz.json?callback=vizjson Failed to load resource: the server responded with a status of 404 (Not Found)

[2015-03-25 17:53] javierarce commented on #2921
Is this something that happens consistently all the time?

[2015-03-25 17:54] saleiva commented on #2921
In my production account I'd say yes

[2015-03-25 18:04] viddo commented on #2914
Hmm, yes, I guess the one way would be to extract that logic elsewhere and reuse for both these cases, since they both rely on knowing that result. How that should be done is something to figure out

[2015-03-25 18:12] alonsogarciapablo commented on #2820
@iriberri this has just been deployed to production. I've been playing with it and it seems to be working as expected. Perhaps you can also play with it and make sure is :+1:

[2015-03-25 18:20] xavijam commented on #2916
Fixed in https://github.com/CartoDB/cartodb/issues/2897

[2015-03-25 18:21] javisantana commented on #2919
low priority i'd say

[2015-03-25 18:45] xavijam commented on #2873
And the oscar goes to.... @alonsogarciapablo!! :D. Please ask @saleiva for more details.

[2015-03-25 19:33] iriberri commented on #2820
Sure, I'm always in this usecase so I'll let you know when I start using it
tomorrow :-) thank you so much, it's a big usability enhancement for me!

On Wednesday, March 25, 2015, Pablo Alonso <notifications@github.com> wrote:

--

Carla Iriberri
*CartoDB*

[2015-03-26 08:02] alonsogarciapablo commented on #2820
Thanks!

[2015-03-26 09:22] danicarrion commented on #2602
@javisantana @Kartones if you want me to do this i'll need to talk to some of you guys to tell me about all the URL changes and their implications, and about how to actually code the tests (first time) :-/

[2015-03-26 09:30] Kartones commented on #2602
url changes shouldn't affect you because saas (cartodb.com) will remain same as it is, and the oembed endpoint has little use AFAIK for custom installs. As long as you honour the patterns described by andrew it'll be ok, I'm covering low-level tests.

About how to write tests, sadly the only real info we have is [here](https://github.com/CartoDB/cartodb/blob/master/TESTING.md). But the best way to

[2015-03-26 09:31] iriberri commented on #2820
:+1: :smile:

[2015-03-26 11:51] #2773 closed

[2015-03-26 14:17] #2629 closed

[2015-03-26 14:17] #2833 closed

[2015-03-26 14:17] #2916 closed

[2015-03-26 14:21] #2630 closed

[2015-03-26 14:24] #2913 closed

[2015-03-26 14:43] alonsogarciapablo commented on #2913
Since "Connect your data" is now a link, "with a click" sounds kind of
redundant to me. We could simplify that sentence:

*Connect your data* or start with one of the following datasets from the

[2015-03-26 14:45] xavijam commented on #2913
Uhm... @saleiva ?

[2015-03-26 15:05] saleiva commented on #2913
super +1

[2015-03-26 15:13] xavijam commented on #2913
Changed in other pull ;)

[2015-03-26 15:36] piensaenpixel opened #2926 "Improve create empty map"
Hi guys, one thing. @carlostallon @saleiva @xavijam
![image](https://cloud.githubusercontent.com/assets/1214201/6849888/03b43564-d3d6-11e4-9cee-87648c42dbbe.png)

In create empty map, what do you think about change the link for a button and go directly to a empty map. Removing this view ( i thinks it's no necessary)

![image](https://cloud.githubusercontent.com/assets/1214201/6849924/319abdae-d3d6

[2015-03-26 16:01] iriberri opened #2928 "Adding tags after unlocking a table locks the table"
The model is not being refreshed after unlocking a table, so adding tags in metadata is sending `locked: true` in the request.

**Steps:**
1. Go to a locked visualization
2. Click unlock in the modal window
3. Add a tag, or more.
4. Refresh the page: you need to unlock again.

Reported in SB/4905430

PS: Extra issue that I'm already investigating: following the same flow is not saving the tags. It

[2015-03-26 17:12] lbosque opened #2929 "There's no option to create a dataset when you click on a data library row"
If you are in the datasets library view and click on a dataset I would expect to have a button to import it.

This is thew view when no dataset is selected:

![screenshot from 2015-03-26 18 06 28](https://cloud.githubusercontent.com/assets/93268/6852208/7a959df0-d3e3-11e4-8ee2-9b0c93888b13.png)

And this is the view when a dataset is selected:

![screenshot from 2015-03-26 18 06 34](https://cloud.

[2015-03-26 19:41] danicarrion commented on #2602
cool, thanks!

[2015-03-27 07:27] javisantana opened #2930 "there is no way to clear redis cache for viz.json"
Both in production and development clear viz.json cache is needed, there should be a task for this.

As a workaround i'm using this script:

[code]

[2015-03-27 09:07] alonsogarciapablo commented on #2827
Hey @javisantana, not sure if you had a chance to take a look at this. I will hand it over to you.

[2015-03-27 09:12] danicarrion commented on #2834
Why do tables have to be synced _periodically_? Why can't I have a table that I sync manually? The import API creates a new table, but what if I just want to reload an existing one?

[2015-03-27 09:19] Kartones commented on #2834
There is an (undocummented) endpoint to force a manual sync from the CartoDB Editor:
`(/u/:user_domain)/api/v1/synchronizations/:id/sync_now`
In order to preserve platform stability and avoid abuse it won't sync if the internal since last sync is lower than 900 seconds.

In the future we might implement webhooks for some services (Dropbox, etc. provide them) so would only sync if had changes, but

[2015-03-27 09:58] danicarrion commented on #2834
Does that work for regular tables too, or only for sync tables?

Because there is already a way to manually force a manual sync in the import API for sync tables, the problem is that there's no way to avoid periodic, automatic syncs.

[2015-03-27 10:02] Kartones commented on #2834
uhmmm, normal imports are just imported, so why would you like to "resync"? They don't store the source of their data, that's what sync tables are for.
Anyway is only from the sync endpoint so only for sync tables.

Nothing prevents you from creating a monthly sync, or even a yearly one. From the syncs endpoint you can define any interval >= 900.

[2015-03-27 10:11] danicarrion commented on #2834
there, my point is: instead of making users set the interval to a high number themselves, why don't we allow setting interval=0 and internally make the interval be Float::INFINITY or similar?

i know, it's kind of silly, but this way the user doesn't have to make a decision (a year? ten years? how many seconds is 10 years?), avoid typing mistakes, etc.

[2015-03-27 10:11] danicarrion commented on #2834
there, my point is: instead of making users set the interval to a high number themselves, why don't we allow setting interval=0 and internally make the interval be Float::INFINITY or similar?

i know, it's kind of silly, but this way the user doesn't have to make a decision (a year? ten years? how many seconds is 10 years?), avoid typing mistakes, etc.

[2015-03-27 10:28] rafatower opened #2933 "Record duration of geocodings in events"
Currently we're storing the creation time but not the duration of the geocoding itself. Regarding metrics and diagnosing it is convenient to add processing time and maybe queue waiting time.

[2015-03-27 10:29] Kartones commented on #2834
Could be added, but for that ask or discuss with @saleiva. From the code point of view could be done, take any interval=0 as infinity... But not changing internally, if 0 becomes "forever" it would stay as zero and just never sync.

Take into account this has some implications, we have some ways of forcing a sync of **every** sync table just in case an internal error broke something, so there is a

[2015-03-27 11:10] #1851 closed

[2015-03-27 11:20] alonsogarciapablo commented on #2873
@saleiva, can you please elaborate a bit more on this? thx.

[2015-03-27 11:28] saleiva commented on #2873
When creating a empty dataset or adding an empty dataset to a map we shouldn'd open the "georeference this data" modal window, since there is no data in that dataset. We hope people to create it from the map.

[2015-03-27 11:39] alonsogarciapablo opened #2935 "Delete dataset dialog is closed when clicking anywhere on the window"
**Steps to reproduce:**

1. Select multiple datasets on the new dashboard.
2. Click "Delete datassets"
3. You will see the "Delete dataset dialog"
4. Click anywhere (that is not meant to be clicked)

**Current behavior:**

- Dialog is closed.

**Expected behavior:**

- I'd expect the dialog to be closed when clicking "CANCEL", "OK, DELETE", or the X sign on the top left.

This might be an issue th

[2015-03-27 11:42] alonsogarciapablo commented on #2935
![captura de pantalla 2015-03-27 a las 12 40 10](https://cloud.githubusercontent.com/assets/390398/6867090/c138883a-d47e-11e4-9143-c213c15435ef.png)

[2015-03-27 11:47] viddo commented on #2935
There is an event listener on the body tag that closes dialogs, as a default behavior. The base dialog should stop propagation of events clicked inside the dialog, AFAIK this was the behaviour previously, perhaps was removed at some point (it's inherited from cartodb.js).

Either way, one solution would be to add `'click': 'killEvent'` to the events property in the [base dialog](https://github.com

[2015-03-27 11:48] viddo commented on #2935
There is an event listener on the body tag that closes dialogs, as a default behavior. The base dialog should stop propagation of events clicked inside the dialog, AFAIK this was the behaviour previously, perhaps was removed at some point (it's inherited from cartodb.js).

Either way, one solution would be to add `'click': 'killEvent'` to the events property in the [base dialog](https://github.com

[2015-03-27 12:06] alonsogarciapablo commented on #2873
Clear as water.

[2015-03-27 12:39] juanignaciosl opened #2936 "After dataset deletion you can't import files by dropping"
1. Go to new dashboard dataset list.
2. Delete any.
3. Wait for list to appear.
4. Drop a file. It's "downloaded" (default Chrome action, I guess) instead of imported

[2015-03-27 12:41] xavijam commented on #2936
I'll take it

[2015-03-27 13:32] juanignaciosl opened #2937 "Migrate visualizations.id type from text to uuid"
Having different types makes joins much harder (specially if we want to take full advantage of ORM features), we should try to change the type.

cc @lbosque @Kartones @rafatower

[2015-03-27 13:46] lbosque commented on #2937
+1

ALTER TABLE visualizations ALTER COLUMN id type uuid USING (id::uuid);

It will work either if the all the fields match a uuid or if the field is empty. However it will fail if there is any other kind of string in any row.

There should not be any field in this corrupt case so I believe that just handling the exception in the migration and warn about having manual modified fields should be eno

[2015-03-27 13:47] juanignaciosl commented on #2709
Closed for the moment, since there're cases where it works worse than before. See #2785 comments for details. Thank you @iriberri for spotting non working ones!

[2015-03-27 13:47] #2709 closed

[2015-03-27 14:04] vuxita opened #2938 "Create a New Map after a video in New Dashboard"
Hey,

In the new dashboard - if you select one of the videos as a start point, when clicking on the 'Go for it' button, wouldn't it be better to redirect the user to the importing data screen (screenshot below)?

Currently it takes you to the dashboard again and you have to click again on 'Create Map' and in 'New Map' before you can create a map. I think it will be a better user experience as they

[2015-03-27 14:05] xavijam commented on #2938
This is gonna change eva, we will show you on monday, won't we @javierarce? :D

[2015-03-27 14:08] alonsogarciapablo commented on #2873
When there's no data, the dialog is displayed and the text explains that there's no data:

![captura de pantalla 2015-03-27 a las 13 45 56](https://cloud.githubusercontent.com/assets/390398/6869255/f7847a8e-d492-11e4-87ba-ebbc31b3255f.png)

I'm going to get rid of it in this case.

[2015-03-27 14:13] Kartones commented on #2937
+1

I would go ahead and fix this, as you're going to do a refactor of Visualization model(s), if you need help testing ping me.

[2015-03-27 14:23] rafatower commented on #2937
+1 to this change

[2015-03-27 15:12] alonsogarciapablo opened #2939 "Breadcrumbs dialog overlaps "Delete" and "Lock" dialog"
**Steps to reproduce:**

- Click on the Breadcrumbs menu.
- Select a map or dataset (whatever you're viewing).
- Click "Lock map" or "Delete map", or "Lock dataset" or "Delete dataset"

**Current behavior:**

- A dialog is open and the breadcrumbs menu overlaps it.

**Expected behavior:**

- Breadcrumbs menu should be hidden when the user selects a map or dataset..

![captura de pantalla 2015-03-2

[2015-03-27 15:45] javisantana commented on #2873
And why don't we add a dialog that says: you don't have any data, start adding a [point] [line] [polygon] ?

[2015-03-27 16:07] rafatower opened #2941 "Geocoder timeouts are not honored"
With this patch is pretty easy to check that even if the geocoding is supposed to timeout always, the job is not stopped and many times the user is not reported back about the timeout.

[code]

Also, even if there are many rows geocoded, we store it as 0 if there's an exception (see rescue block)

[2015-03-27 16:17] rafatower opened #2942 "Guessing on import can get stuck in sql_api connections"
We've seen that today in some resque jobs stuck in sql_api connections to geocoding acount. Probably need to modify `services/sql-api/sql_api.rb`, used in `services/importer/lib/importer/content_guesser.rb`

See https://github.com/typhoeus/typhoeus#timeouts

[2015-03-27 17:10] iriberri opened #2944 "ArcGIS datasource doesn't have a submit button for URLs"
You need to press "enter" in order for the URL to work :smile:

[2015-03-27 18:52] saleiva commented on #2873
Can you fill me a ticket for that? I'd remove it for the time being and
design that dialog with the new style. Good idea
On Mar 27, 2015 4:45 PM, "javi santana" <notifications@github.com> wrote:

[2015-03-27 21:13] andrewxhill opened #2945 "Hard to tell I'm about to watch a video with the menu items on the right"
![screen shot 2015-03-27 at 5 07 12 pm](https://cloud.githubusercontent.com/assets/370259/6877130/7353aebc-d4a4-11e4-9695-a876c07db4ed.png)

[2015-03-28 12:38] xavijam commented on #2945
I feel this problem will be solved (more or less) with the onboarding mamufas in this dialog (#2883).

[2015-03-28 12:45] xavijam commented on #2935
Fixed [here](https://github.com/CartoDB/cartodb/pull/2946)

[2015-03-28 12:47] xavijam commented on #2944
Should we add it as well @saleiva?

[2015-03-28 13:12] andrewxhill commented on #2926
And after I create one, I'm seeing this,

![screen shot 2015-03-28 at 9 11 45 am](https://cloud.githubusercontent.com/assets/370259/6881173/93d6d4e4-d52a-11e4-999a-02c5705acdc0.png)

which isn't functional (can't add points etc)

[2015-03-28 14:16] namessanti opened #2947 "making visualizations with shared data does't show in public view"
With private data shared, public visualizations will not show data on map.

here's a map built with Andrew's shared data that in my editor I can see styles, but not in the public view.

https://team.cartodb.com/u/santiagoa/viz/80e8d236-c767-11e4-b054-0e4fddd5de28/public_map

[2015-03-28 14:48] saleiva commented on #2944
Yeep. The same on every component like this!
On Mar 28, 2015 1:47 PM, "Javier Álvarez Medina" <notifications@github.com>
wrote:

[2015-03-29 14:43] saleiva commented on #2945
Plus what @xavijam is mentioning, I think this new layout can work better.

![create - template selector hover video copy](https://cloud.githubusercontent.com/assets/132149/6886084/c13d1912-d632-11e4-8143-00975fc6c371.png)

[2015-03-29 14:53] saleiva commented on #2945
![create - template selector hover video copy](https://cloud.githubusercontent.com/assets/132149/6886130/160dc5bc-d634-11e4-8796-eb5b28e3e6d7.png)

[2015-03-29 15:24] saleiva commented on #2926
Hey @andrewxhill I cannot replicate your issue :(

@piensaenpixel the thing here is that then a link styled as a tab, would act as a button...

[2015-03-29 15:25] #2938 closed

[2015-03-29 15:26] saleiva commented on #2947
This is important

[2015-03-29 15:28] saleiva opened #2948 "Design modal window for when entering to an empty table/map view"

[2015-03-29 15:28] saleiva commented on #2948
More info #2873

[2015-03-29 15:53] saleiva opened #2949 "Clicking on the small quota bar on the account pages should go to the plan tab"

[2015-03-29 15:53] saleiva commented on #2949
I mean this one
![screen shot 2015-03-29 at 17 53 28](https://cloud.githubusercontent.com/assets/132149/6886392/8d885d70-d63c-11e4-9313-bf405e0cc5da.png)

[2015-03-29 15:59] saleiva commented on #2419
:?

[2015-03-29 16:05] saleiva commented on #2584
This is specially important on the new-dashboard, I'm sure that with the new UI it can also be done.

[2015-03-30 07:15] juanignaciosl commented on #2942
Watching this.

[2015-03-30 07:59] #2935 closed

[2015-03-30 07:59] #2936 closed

[2015-03-30 08:18] Kartones commented on #2584
My scenario was different, I had an existing vis with 5 layers (all points) but got same result:
- I went layer by layer changing to Torque Heatmap each
- I had no Chrome Dev tools open, and the UI didn't notify me any error on layers 2-5 change
- Upon reload, the Vis was dead and I got the same message as the screenshot above

[2015-03-30 08:27] iriberri commented on #2359
Moved from El Soto to Baeza.

[2015-03-30 08:27] iriberri commented on #2395
Moved from El Soto to Baeza.

[2015-03-30 08:27] iriberri commented on #2631
Moved from El Soto to Baeza.

[2015-03-30 08:28] iriberri commented on #2735
Moved from El Soto to Baeza.

[2015-03-30 08:29] xavijam commented on #2631
But wait, this is already done, isn't this @matallo?

[2015-03-30 08:30] #2873 closed

[2015-03-30 08:32] matallo commented on #2631
it is, just waiting to be deployed for all users

[2015-03-30 08:33] iriberri opened #2952 "Improve feedback in imports in non-accessible datasources"
Specially when people try MapServer URLs, this week is being common the following error:

[code]

Example: `739cf84b-8540-4f73-9a5d-3cc015523775`

The issue here uses to be that URLs are private (or may need some authentication).

cc @Kartones @juanignaciosl

[2015-03-30 09:12] fdansv opened #2954 "Enter keypress defaulting to 'delete my account'"
*With extra mouse movement for drama*

![term](https://cloud.githubusercontent.com/assets/3707222/6893451/5c3845b4-d6cd-11e4-8db5-25e39266915f.gif)

So, while changing my CartoDB password today I pressed enter to apply the changes, which instead of triggering the 'Save changes' button, it did so with 'Delete my account', which is probably not what we want.

@xavijam

[2015-03-30 09:16] #2929 closed

[2015-03-30 09:29] iriberri commented on #2584
New dashboard procedure:

1. Select two tables with Torque applied
2. Create map
3.
![image](https://cloud.githubusercontent.com/assets/1730320/6893744/c90dad80-d6cf-11e4-8556-12d30ff34e82.png)
4. Click OK
5.
![image](https://cloud.githubusercontent.com/assets/1730320/6893747/d934df94-d6cf-11e4-871e-e2c97d33d705.png)
If you refresh, step 4 again.
Accessing the map through the dashboard also goes t

[2015-03-30 09:49] alonsogarciapablo commented on #2584
I'm taking a look at this. It seems that we have two different issues here:

1. The editor is not correctly tracking and preventing multiple torque layers from being created.
2. The new dashboard is not preventing users from creating a map from multiple torque layers.

Right?

@iriberri, perhaps we can open a separate issue for (2.), since it will probably involve some UI changes. What do you thin

[2015-03-30 09:59] #2780 closed

[2015-03-30 10:15] iriberri opened #2956 "User logged in with Google doesn't have "Disconnect G+ account" in settings"
Flag `google_sign_in` is set up to **false**.

User doesn't use new dashboard neither belongs to an organisation.

SB/4934473

[2015-03-30 10:20] alonsogarciapablo opened #2957 "Too many "empty" messages in the dataset view"
I got to this screen after deleting all my datasets. The message in the bottom stays there and the spinner spins forever, which is a bit confusing. I think we shouldn't display that message.

![captura de pantalla 2015-03-30 a las 12 14 09](https://cloud.githubusercontent.com/assets/390398/6894495/af21e4e8-d6d6-11e4-871b-e0bef0f2dd5f.png)

[2015-03-30 11:01] xavijam commented on #2945
Like it, it's likely I'll need help to tag the difficulty, @iriberri, could you help me?

[2015-03-30 11:08] iriberri commented on #2945
Sure! :-) Although all of them are pretty basic as you're given the data and everything:

Create your own datasets - EASY
Create animated maps - EASY
Create GPS data maps - EASY
Map your local world - EASY
Join datasets - MEDIUM

I'm seeing that in the saleiva image there are a lot of different ones. Not sure if random examples or something to add in the future :-)

[2015-03-30 11:08] xavijam commented on #2945
they are random, don’t worry :D

On 30 Mar 2015 at 13:08:08, Carla (notifications@github.com) wrote:

Sure! :-) Although all of them are pretty basic as you're given the data and everything:

Create your own datasets - EASY
Create animated maps - EASY
Create GPS data maps - EASY
Map your local world - EASY
Join datasets - MEDIUM

I'm seeing that in the saleiva image there are a lot of different on

[2015-03-30 11:09] iriberri commented on #2945
They look awesome, so sad they're not real.

[2015-03-30 12:32] javierarce commented on #2415
Released.

[2015-03-30 12:32] #2415 closed

[2015-03-30 12:33] xavijam opened #2958 "Video template enhancements"
- [x] When video starts to run in background (being minified), background should be black (and not transparent), avoiding to see what is behind.
- [x] Buttons in minified state are green in hovered state.

cc @piensaenpixel @saleiva

[2015-03-30 13:07] rafatower opened #2960 "Optimize dashboard DB queries for GET requests"
A number of queries are repeated in every request to the dashboard.
I.e:
[code]

[code]

This query in particular comes from this (flawed by the ruby debugger) backtrace:
[code]

Search for a way of optimizing these queries. Possibilities:
- Sequel cache plugin
- Per-request cache for GET requests

[2015-03-30 13:07] andrewxhill commented on #2945
Really nice!

The ooooonly issue still is, that this,

![screen shot 2015-03-30 at 9 05 56 am](https://cloud.githubusercontent.com/assets/370259/6896687/0531776a-d6bc-11e4-9cbc-0edba8dee920.png)

is misleading or confusing and i'm not sure text changes alone can fix it.
In reality, when you click that button you are talking about

"Upload new dataset", "Link to file online", "Create an empty table

[2015-03-30 13:21] Xatpy opened #2961 "Adding ids for automatic testing"
The purpose is to add ids for automatic smoke testing. [*cartodb-tests*](https://github.com/CartoDB/cartodb-tests/tree/master/end_to_end)

The **ids*** added should follow the next mode nomenclature (testing sufix + description):

`t-` := Testing sufix
`*` := Description name

Example: t-BtnLogin

[2015-03-30 13:26] javierarce commented on #2958
Regarding the second point: the decision comes from design

![screen shot 2015-03-30 at 14 40 08](https://cloud.githubusercontent.com/assets/4933/6897044/0ff87d30-d6f1-11e4-81a2-27f7d362290a.png)

[2015-03-30 13:36] javisantana commented on #2827
I found the problem, basically the it's due the model breaks one of the most important rules:

Always call save as a result of user interaction, never do it from a model trigger

see https://github.com/CartoDB/cartodb/blob/master/lib/assets/javascripts/cartodb/table/overlays/annotation.js#L102-L110

style saves the model, so what is happening here:

1) user changes something -> the style is change

[2015-03-30 13:36] javisantana commented on #2827
@CartoDB/frontend please, take a look since it's important

[2015-03-30 13:41] xavijam commented on #2827
We should review annotation view

[2015-03-30 13:43] Kartones commented on #2947
I'll try to take a look later... else tomorrow morning

[2015-03-30 14:05] #2827 closed

[2015-03-30 14:19] viddo commented on #2827
thanks for heads up, good catch :+1:

[2015-03-30 14:21] saleiva commented on #2958
But thats a different button style, not an state
On Mar 30, 2015 3:26 PM, "Javier Arce" <notifications@github.com> wrote:

[2015-03-30 14:23] javierarce commented on #2958
Yes, as I said I thought it was a hover state. I'll remove it.

[2015-03-30 14:24] saleiva commented on #2631
Deploy, now
On Mar 30, 2015 10:32 AM, "Carlos Matallín" <notifications@github.com>
wrote:

[2015-03-30 14:31] xavijam commented on #2945
It is true that it is difficult to explain what user can do in a few words, but this solution could work, maybe we should try with other message.
In any case I've implemented the new layout.

[2015-03-30 14:32] saleiva commented on #2957
this should show the data library

[2015-03-30 14:34] xavijam commented on #2957
That appears when the data library is being loaded into user schema.

[2015-03-30 14:35] saleiva commented on #2945
hey @andrewxhill, the thing is that those 3 things are creating a new map, although in the process you  have different options. I mean, creating a map in the actual dashboard means those 3 things too. I don't see a simple solution that doesn't mean to change the whole thing... :(

Happy to try this and iterate later, once we analyze this design.

[2015-03-30 14:38] xavijam commented on #2945
Don't forget we have the onboarding-help in the first opening.

[2015-03-30 15:33] javierarce opened #2963 "localStorage is generating an empty record every time is initialized"
We generate an empty record even if we don't use the storage: https://github.com/CartoDB/cartodb/blob/master/lib/assets/javascripts/cartodb/common/localStorage.js#L5

This can lead to `QUOTA_EXCEEDED_ERR` errors.

[2015-03-30 15:53] #2539 closed

[2015-03-30 16:27] saleiva commented on #2956
I think this is gonna be fixed in the new dashboard. If so, this is duplicated.

[2015-03-30 16:30] saleiva commented on #2395
Closing this. This will not be needed I think.

[2015-03-30 16:30] #2395 closed

[2015-03-30 16:30] saleiva commented on #2359
@jatorre what do we do with this?

[2015-03-30 16:36] jatorre commented on #2359
What do you need from me?

[2015-03-30 16:42] saleiva commented on #2359
To know if we finally implement this and to say if with that change in the logo would be enough

[2015-03-30 16:51] jatorre commented on #2359
I would prefer something more obvious, but it is up to you. Ideally it should be really clear this is a CartoDB on Google Cloud Platform product.

My desire is that people identify without issues the fact that they are in one platform or another.

Regarding if we implement it, nothing has changed, yes definitely needed.

[2015-03-30 16:53] saleiva commented on #2359
@carlostallon , fancy iterating on this a bit more?

[2015-03-30 16:53] saleiva commented on #2359
(maybe adding google colors to the box?)

[2015-03-30 16:58] carlostallon commented on #2359
Yes, sure, i will send more iterations

[2015-03-30 17:02] alonsogarciapablo commented on #2584
We have a couple different scenarios in which multiple torque layers can be associated to a visualization:

1. When the user adds a new layer to a [map](https://github.com/CartoDB/cartodb/blob/master/lib/assets/javascripts/cartodb/table/actions_menu.js#L346) / [visualization](https://github.com/CartoDB/cartodb/blob/master/lib/assets/javascripts/cartodb/table/actions_menu.js#L373). In those cases,

[2015-03-30 17:17] xavijam commented on #2883
@andrewxhill what do you think?

For dataset creation:
![screen shot 2015-03-30 at 19 16 44](https://cloud.githubusercontent.com/assets/132146/6902007/5a1d80d4-d711-11e4-865d-efd4d662913a.png)

For map creation:
![screen shot 2015-03-30 at 19 17 38](https://cloud.githubusercontent.com/assets/132146/6902018/735900f0-d711-11e4-9ee5-40af31722a1d.png)

[2015-03-30 17:32] saleiva commented on #2883
Hey @andrewxhill just a bit of context. This will apear only the first time that the connect dataset / create map modal window is opened.

S.

[2015-03-30 17:34] mikegiddens opened #2965 "Single Locked VIZ UI Issue"
If you only have visualization and you lock that table the splash image shows up and does not show the view locked tables html stuff.  If I add another viz it shows the non locked viz with the correct click to view locked viz.   So there is no other way to click to locked viz if you do not have at least one showing that is not locked.  Hope this helps get you to the situation.  Never tested on tab

[2015-03-30 17:35] saleiva commented on #2965
This is being fixed in the new dashboard. U wanna try it, @mikegiddens?

[2015-03-30 18:57] mikegiddens commented on #2965
I can wait for the next UI unless you want me to beta test the new UI.  Just wanted to report this since I saw it today. Account "crestonedigital" would work.

[2015-03-30 19:31] andrewxhill commented on #2945
Whatever you guys decide is best. But for me, even a knowledgable user, it is a bit confusing to
Click a button to create a new visualization
Then have to Click a button to get a new map
Then have to Click a button to decide if it is a blank map, map of Twitter, upload a dataset...

[2015-03-30 19:48] saleiva commented on #2965
Activated. Any feedback would be more than welcome :) Enjoy!

[2015-03-30 19:48] #2965 closed

[2015-03-31 07:32] saleiva commented on #2945
What would you propose? Just trying to be sure I understand you

[2015-03-31 08:01] iriberri commented on #2956
Not sure... @juanignaciosl?

[2015-03-31 08:12] juanignaciosl commented on #2956
Yep, it's a WIP from #1720, now user account page is in the box same code should work for orgs and non-orgs. I've added a remainder in that issue just in case we don't realise it.

[2015-03-31 08:12] #2956 closed

[2015-03-31 08:40] Xatpy opened #2966 "Editor-Max zoom 40 with "double-clicking""
_How to reproduce:_
0.a. Using the Editor and a visualization
0.b. Basemap: Positron
1. Double click on **+**

You can get very high zoom (until 40), but the basemap doesn't allow so much zoom.

Gif:
![max_zoom](https://cloud.githubusercontent.com/assets/3958416/6915133/eabd1ce6-d791-11e4-834d-6a0fc94ec285.gif)

Note: In the embed map, you can't get so much high level of zoom. It stops correctly (

[2015-03-31 08:47] iriberri opened #2967 "Suggestion: image elements restricted to zoom -> Scales!"
We have been asked one more time about scale in the Editor, and I was thinking in a easy approach like adding images in an annotation as you can show one or other with respect to zoom level.

I've talked with @javierarce and he says that it would be feasible to add zoom-level-varying image elements :-)

@saleiva?

[2015-03-31 09:00] iriberri commented on #2967
One request more about scales right now

[2015-03-31 09:04] javierarce opened #2969 "Changing the password of a password protected vis doesn't refresh the auth_tokens"
#### Steps to reproduce it

1. Create a password protected visualization.
2. Get the `auth_tokens` from the vizjson.
3. Change the password of the visualization.
4. Get the `auth_tokens` from the vizjson again.

#### Expected result

The `auth_tokens` should be different.

#### Actual result

The vizjson is not refreshed and the `auth_tokens` are the same.

--

[2015-03-31 09:06] xavijam opened #2970 "Fix layout problem with no-datasets blue element"
![screen shot 2015-03-31 at 11 04 01](https://cloud.githubusercontent.com/assets/132146/6915606/c41633da-d795-11e4-8a95-d79496f3da6c.png)

[2015-03-31 09:25] #2894 closed

[2015-03-31 09:47] viddo opened #2971 "Export image with zoom level 0-1 returns 400"
### STR:
- Open map vis
- Zoom out to level 0-1
- Click export image -> export image
- Get a error message:
[code]

### Expected result:
- An image

[2015-03-31 09:55] #2883 closed

[2015-03-31 09:55] #2895 closed

[2015-03-31 09:55] #2910 closed

[2015-03-31 09:55] #2944 closed

[2015-03-31 09:55] #2945 closed

[2015-03-31 09:55] #2954 closed

[2015-03-31 09:56] alonsogarciapablo commented on #2658
We've finally upgraded track.js and we're now able to create 3 apps :+1:

Here's an initial proposal for how to split things:

- cartodb.js -> Embedded maps
- new dashboard -> New dashboard
- cartodb -> The rest

What do you guys think?

[2015-03-31 09:57] xavijam commented on #2658
CartoDB.js, editor and central.

[2015-03-31 10:00] xavijam commented on #2849
Texts changed, but if we need to change them, let's open a new ticket, but it is really easy

https://github.com/CartoDB/cartodb/blob/master/lib/assets/javascripts/cartodb/new_common/views/create/listing/import_mailchimp_fallback.jst.ejs

[2015-03-31 10:00] #2849 closed

[2015-03-31 10:17] Kartones commented on #2947
Narrowed the issue thanks to @javisantana: Vizjson is incorrectly displaying the `user_name` of a `torque` layer with data coming from a named map/private.

Being user `A`:
[code]

Only happens with torque layers from my tests.

[2015-03-31 10:43] juanignaciosl opened #2973 "CDB_TableMetadataTouch wrong parameter?"
This [table code](https://github.com/CartoDB/cartodb/blob/master/app/models/table.rb#L1438) seems to be invoking `CDB_TableMetadataTouch` with an id instead of [a name](https://github.com/CartoDB/cartodb-postgresql/blob/master/scripts-available/CDB_TableMetadata.sql#L123):

[code]

I'm assigning this to you, @rafatower , because I think you have a better view on this, and maybe you can tell what t

[2015-03-31 10:48] xavijam commented on #2129
The behaviour has changed, so closing this ticket ;)

[2015-03-31 10:48] #2129 closed

[2015-03-31 10:49] xavijam commented on #1429
New dashboard is gonna be released so, ```go to the future and leave the past behind```

[2015-03-31 10:49] #1429 closed

[2015-03-31 10:56] javisantana commented on #2973
dunno if table_id is an oid, but if that is the case the conversion is right:

[code]

[2015-03-31 12:44] juanignaciosl commented on #2973
Closing after talking to @rochoa about this.

[2015-03-31 12:44] #2973 closed

[2015-03-31 12:51] rochoa commented on #2973
Just in case I added some tests in https://github.com/CartoDB/cartodb-postgresql/commit/7f58e1f690bdb2e83a58662338ed6a685fae1c17

[2015-03-31 12:56] luisbosque opened #2974 "Thumbnails of new maps are always centered in Morocco"
When I create a map (tested with existing datasets and new datasets) it takes me to the map view where the center is ok where the data is located. However when I go to the map list view they are all centered in Morocco (more or less).

In order to have the thumbnail modified I have to go to the map view and pan through the map.

Maybe related to https://github.com/CartoDB/cartodb/issues/2462?

/cc

[2015-03-31 13:29] javierarce commented on #2974
This is happening because when you create a map (let's say by importing a CSV dataset of points in NY), the default center of the vizjson is:

```center": "[30, 0]```

and it only gets refreshed when you pan the map /cc @Kartones

[2015-03-31 14:41] Kartones opened #2976 "use regexp for matching both /u/ and /user/ at routes.rb"
Thanks to @rafatower there's a cleaner way of housekeeping the `config/routes.rb` file:

[code]

Implement this change making sure there are no regression issues

[2015-03-31 14:47] Kartones commented on #2974
I can, as I changed the bounds calculation recently. You want me just to set it to the center of the bounding box set, right?

[2015-03-31 14:50] javierarce commented on #2974
Yeah.

[2015-03-31 15:03] rafatower commented on #2930
Usage example:
[code]

[2015-03-31 15:03] #2930 closed

[2015-03-31 15:38] iriberri opened #2977 "HTML line feed tag in geocoding dialog"
![image](https://cloud.githubusercontent.com/assets/1730320/6922606/a8638688-d7cc-11e4-8c62-fe98562dcf1c.png)

[2015-03-31 16:18] rafatower commented on #2960
Next step: cache this kind of query (usually triplicated):
[code]
But for this there's not direct support from Sequel as it is not querying by primary key.

[2015-03-31 16:26] rafatower commented on #2960
For the record, I'm using this patch to check where repetitive queries come from:
[code]

[2015-03-31 17:07] #2958 closed

[2015-03-31 19:28] chriswhong opened #2982 "Legend does not update after modifying CartoCSS"
When manually editing cartoCSS for categories on a visualization, the legend does not update with the modified colors.  If we are applying custom colors in cartoCSS, must we also manually update the legend?

[2015-03-31 23:09] saleiva commented on #2982
This would mean parsing the whole cartocss and a lot of guessing. I'd discard this until we work on the new editor.

[2015-04-01 12:15] javierarce commented on #2921
I wasn't able to reproduce this problem deleting one visualization at a time, but when I removed at least two at the same time, it happens the problem you described.

[2015-04-01 12:21] #1989 closed

[2015-04-01 12:43] alonsogarciapablo commented on #2658
@zenitraM are you working on this?

[2015-04-01 12:45] alonsogarciapablo commented on #2658
I guess you just added the `2 - Working` label.

[2015-04-01 12:50] matallo commented on #2658
haha, it's a bot ,it happens when issue # is on the branch name :joy:

[2015-04-01 12:57] alonsogarciapablo commented on #2658
@matallo cool!

[2015-04-01 13:51] saleiva commented on #2631
bump!

[2015-04-01 13:51] saleiva commented on #2748
@xavijam is this done? If not, we should do it ASAP

[2015-04-01 13:54] #1661 closed

[2015-04-01 13:55] xavijam commented on #1661
Already done!

[2015-04-01 14:00] alonsogarciapablo commented on #1437
@xavijam can you provide more info about this please? thx

[2015-04-01 14:05] xavijam commented on #1437
better description

[2015-04-01 14:06] andrewxhill opened #2985 "Longer descriptions seem to break the Profile html"
![screen shot 2015-04-01 at 10 05 41 am](https://cloud.githubusercontent.com/assets/370259/6942608/b650d6bc-d856-11e4-80a7-14ec8265080d.png)

[2015-04-01 14:08] xavijam commented on #1437
aaaand design :)

[2015-04-01 14:08] saleiva opened #2986 "Allow users to select their banner map"
Possibility to change/set feature map for the public dashboard.

##### Organizations:
  - Possibility to select any public map from any organization member.
  - If it is not set, we should set the most viewed one (public of course).
  - If the selected one turns into private/link/password, we should set the most viewed one (public of course).

##### Users:
  - Possibility to select any of your pub

[2015-04-01 14:11] saleiva commented on #1437
edited!

[2015-04-01 14:13] xavijam commented on #2986
We have to decide the interaction for this

[2015-04-01 14:13] alonsogarciapablo commented on #1437
thx!

[2015-04-01 14:14] xavijam commented on #2748
Text and so on, no problem. But if we want to change urls, this would be a big(problem) task...

[2015-04-01 14:16] saleiva commented on #2986
Easy, for the time being, I'd just add an option on the options dropdown on the map editor

[2015-04-01 14:18] saleiva commented on #2748
Not URLs yet. Only texts for the time being

[2015-04-01 14:18] matallo commented on #2631
this goes along with new dashboard, having it deployed next week we decided to hold for that

[2015-04-01 14:40] #2985 closed

[2015-04-01 14:40] #2977 closed

[2015-04-01 14:41] #1720 closed

[2015-04-01 14:41] #2378 closed

[2015-04-01 15:11] xavijam commented on #2748
Roger!

[2015-04-01 15:22] saleiva opened #2988 "New dashboard loading bar is not visible"

[2015-04-01 15:33] saleiva opened #2990 "Better meta for public profiles"
"Sergio Álvarez Leiva is creating maps and visualizations using CartoDB" --> "Sergio Álvarez Leiva has created XX maps and published XX datasets in CartoDB" (As well as de FB and TW descriptions)

"Maps by Sergio Álvarez Leiva on CartoDB" --> "CartoDB · Sergio Álvarez Leiva"

Keywords: username, name, datasets, maps, data visualization, spatial data, geospatial, cartodb

[2015-04-01 15:36] saleiva opened #2992 "Bad 1001 import error could save the user a step by in the mailto to include the ?subject=….."

[2015-04-01 15:37] saleiva opened #2993 "Url import for new table says "Download error (1001)" the user was trying "Import data (1001)" might sound better."

[2015-04-01 15:37] saleiva opened #2994 "Add URL to the BAD url issue"
The remote URL returned an error. Please verify your file is available at that URL.  Might be good to show the BAD url used so that can check it since right now they might not know what was used.

[2015-04-01 15:43] saleiva commented on #2853
so what?

[2015-04-01 15:44] saleiva commented on #2615
Looks to similar to a filled dashboard to me... not sure... let's talk this in person

[2015-04-01 15:45] saleiva commented on #2455
hey @xavijam this is done, right?

[2015-04-01 15:45] saleiva commented on #2359
Bump!

[2015-04-01 15:50] xavijam commented on #2455
this is new for me

[2015-04-01 15:51] #2455 closed

[2015-04-01 15:56] xavijam commented on #2652
Let's change in the next iteration guys, please, love you.

[2015-04-01 15:58] rochoa commented on #2652
:heart:

On Wed, Apr 1, 2015 at 5:57 PM, Javier Álvarez Medina <
notifications@github.com> wrote:

--
Raul Ochoa
rochoa@cartodb.com

[2015-04-01 16:07] viddo opened #2996 "Retrofit new base dialog to editor"

[2015-04-01 16:19] javierarce commented on #2853
I'm pushing the PR. It will be released on Monday.

[2015-04-01 16:55] javierarce commented on #2451
I'm not sure if we did that on purpose or not, but I'll limit the list to a reasonable amount of items.

[2015-04-01 17:00] #2846 closed

[2015-04-01 17:01] javierarce opened #3001 "Create animation for the dashboard"
The purpose is to invite the users to drag&drop data in this screen:

![screen_shot_2015-04-01_at_12 19 10_1024](https://cloud.githubusercontent.com/assets/4933/6946542/5dbacfb2-d8a1-11e4-899d-dc91ecac86c6.png)

[2015-04-01 17:04] rafatower opened #3002 "Create index for visualizations.parent_id"
[code]

[2015-04-01 17:05] alonsogarciapablo opened #3003 "Onboarding overlays are closed as soon as I click on the text"
I (and apparently @fdansv too) tend to click & select the text while reading on the web. I came across these overlays twice and I wasn't able to read them cause they were closed as soon as I clicked on the first word :-(. Since **we want to make sure that people actually read them**... wouldn't it be good to only let them close this dialogs with a button? We could label it with something like "Oka

[2015-04-01 17:05] javierarce opened #3004 "Remove quotation marks to the Indy quote"

[2015-04-01 17:29] xavijam commented on #3001
Oh...

[2015-04-01 19:23] pramsey opened #3006 "Importer leaving behind tables"
I have a raster file that I am importing using the "sync" feature. The importer appears to generate overviews, which is fine, but there's also now a lot of tables in my cdb_importer schema, which seems to indicate that the importer is leaving behind maybe a couple tables, and that each sync pass is them increasing the number in my account (pramsey)

They aren't empty either, this one for example h

[2015-04-01 19:25] andrewbt opened #3007 "Sync Table properties modal"
Clicking the radio buttons doesn't change the option, but clicking the text does. See the GIF below:

![sync_table_radio_bug](https://cloud.githubusercontent.com/assets/2013555/6949592/497f67f6-d883-11e4-8cfa-d1718d4dbc83.gif)

[2015-04-01 19:50] andrewbt opened #3008 ""all" infowindow field switch no longer working in production"
see GIF:

![all_infowindow](https://cloud.githubusercontent.com/assets/2013555/6950157/e0464828-d886-11e4-8119-bb631e686df7.gif)

[2015-04-02 13:16] andrewxhill opened #3009 "Connect Data still doesn't click"
I've been working with the new dash for some weeks now, but still the phrase "Connect Data" doesn't click when I'm looking to start something new.

![screen shot 2015-04-02 at 9 15 07 am](https://cloud.githubusercontent.com/assets/370259/6964610/e728ee38-d918-11e4-9abb-241be4885564.png)

can we change it to just, "New Data" or "New Layer"

[2015-04-02 18:42] andrewbt commented on #2610
+1000 would recommend to a friend

[2015-04-02 19:00] saleiva commented on #2988
Instead of the black bar, I propose to use the logo box as the loading inidicator.
Prototype at http://share.framerjs.com/4aikh8muedbo/

[2015-04-02 19:01] saleiva commented on #2988
Top priority after the text changes on the editor IMO

[2015-04-02 19:05] saleiva commented on #3009
You were the one proposing to use the concept of Connecting Data instead of Adding it. I actually like "Connect" a lot, but  I'm not a native english person so...

What about "New Dataset?"

[2015-04-02 19:22] andrewxhill commented on #3009
Hmm, since it includes 'blank table" etc, I don't know if connect works, so yeah, New Dataset works for me

[2015-04-03 08:58] iriberri opened #3010 "Sanitization issues in custom HTML infowindows"
Hey, people have reported a couple of issues these days when they use code inside their custom infowindows:

* IMG tags which contain URL with & characters are broken due to escaping
* target="_blank" tags have stopped working too

[2015-04-03 09:49] bpavie commented on #487
If you go to http://ppa.launchpad.net/cartodb/base/ubuntu/dists/ , you will see that the only distribution supported are Ubuntu LTS Precise (12.04) and Lucid (10.04) , so NOT Trusty (14.04)

[2015-04-03 10:00] zenitraM commented on #487
We don't officially support anything other than Precise (12.04) yet. It might work if you change the config at /etc/apt/sources.list.d/... to point to "precise" instead of "trusty", it might work but we don't warantee it will (as we only test and run on Precise for now).

[2015-04-03 19:17] andrewxhill opened #3011 "When I upload a file I still end up on a Visualization?"
I thought this process had changed... if this is the intended workflow, then I have a new problem because I have now way to "create table from query"

[2015-04-04 08:34] saleiva commented on #3011
The intended workflow is that you create maps if being in the maps list and datasets when being on the datasets view. It should work like that.

Anyway, I think that table from query should be activated on the map view also.

Cc @xavijam

[2015-04-04 17:54] saleiva commented on #3011
Hey @andrewxhill can you give me more details to reproduce this?

[2015-04-04 17:55] saleiva commented on #3007
Changing this issue in order to redesign this with the new modals style. Then we will fix this :)

[2015-04-04 18:07] #2555 closed

[2015-04-04 18:07] #2633 closed

[2015-04-04 18:09] saleiva commented on #2309
Important since we will start working on this for the map view.

[2015-04-04 18:16] saleiva commented on #2957
I propose that we change that title to something like "Your Data Library is being stocked up". and then the  text below it "Please wait while we load the list of Datasets in the Data Library for you".

[2015-04-06 07:42] xavijam commented on #2957
@alonsogarciapablo all yours :)

[2015-04-06 08:00] #3004 closed

[2015-04-06 08:02] #487 closed

[2015-04-06 08:04] javisantana commented on #3010
@viddo is there a reason to now allow target and img tags with &?

[2015-04-06 08:08] alonsogarciapablo commented on #3008
Thanks @andrewbt! Working on it!

[2015-04-06 08:08] #1970 closed

[2015-04-06 08:17] iriberri opened #3013 "Issue with privacy of visualizations"
https://github.com/CartoDB/cartodb-central/issues/390#issuecomment-89960117

[2015-04-06 09:02] santisaez opened #3015 "ogr2ogr metrics inception"
`loader/ogr2ogr` metric is usually creating children metrics with the same name, example:

[code]

Related: https://github.com/CartoDB/cartodb-platform/issues/369 and https://github.com/CartoDB/Windshaft-cartodb/issues/277

[2015-04-06 09:18] juanignaciosl commented on #3015
Duplicated: #2562 . I already tried a fix (a999916349ddbf64a4e2da8c53c0ca2307196661) but it seems to be insufficient.

@santisaez are there more examples? I'd like to know whether it's always related to `file_size_limit_check` or not.

[2015-04-06 09:33] saleiva opened #3016 "Separator line on the placeholders is too dark"
![screen shot 2015-04-06 at 11 32 46](https://cloud.githubusercontent.com/assets/132149/7002798/b0f22f24-dc50-11e4-83e2-7e610b64ea9a.png)

It should be the same color that the one separating the filter area

[2015-04-06 09:38] saleiva commented on #3007
Done!
![map editor - sync options modal](https://cloud.githubusercontent.com/assets/132149/7002836/59bb0d06-dc51-11e4-8e52-0da010b03009.png)

Hey @andrewbt as you reported this, could you give me your feedback on the redesign? :)

[2015-04-06 09:38] #3007 closed

[2015-04-06 09:58] #2463 closed

[2015-04-06 09:59] #2811 closed

[2015-04-06 10:05] saleiva commented on #2856
![screen shot 2015-04-06 at 12 05 03](https://cloud.githubusercontent.com/assets/132149/7003097/2cedf3c0-dc55-11e4-9fec-75a4de8cdfa1.png)

@lbosque is this what you would be expecting?

[2015-04-06 10:09] saleiva opened #3018 "Update mailchimp texts"

[2015-04-06 10:46] viddo commented on #3010
- All attributes are escaped by default, but a browser should be capable of handling that. I've been fiddling around in local dev env and have not been able to break it. Can you give some example of an img URL, @iriberri ?
- The target attribute is disallowed by default, but I can't find any good motivation for why that is. I can change the policy to allow it.

[2015-04-06 10:50] iriberri commented on #3010
Sure, I won't share them publicly but: SB/4981277 -- they can be found in the first message.

[2015-04-06 10:52] saleiva commented on #2926
@xavijam fancy doing the behaviour change? Let's give it a try

[2015-04-06 10:56] Xatpy commented on #2218
From embed_map_error, it can be fixed replacing [this lines](https://github.com/CartoDB/cartodb/blob/master/app/views/admin/visualizations/embed_map_error.html.erb#L22-L23)
with:
[code]

But, it doesn't seem to be the same case with [app/views/admin/visualizations/public_map.html.erb](https://github.com/CartoDB/cartodb/blob/master/app/views/admin/visualizations/public_map.html.erb#L242-L243) , bec

[2015-04-06 11:10] #2912 closed

[2015-04-06 11:10] #3018 closed

[2015-04-06 11:23] #3016 closed

[2015-04-06 12:03] iriberri commented on #3010
Example (target blank): https://team.cartodb.com/u/iriberri/viz/bb8a2cb4-dc52-11e4-bdcc-0e4fddd5de28/map

[2015-04-06 12:04] juanignaciosl opened #3022 "Mail notification for a new sub-user in an org is sent before the creation actually works"
I tried to create a sub-user in the Adidas org and both attempts failed (because of quota and repeated email).

Nevertheless, I got both notification emails in my inbox

[2015-04-06 12:13] iriberri commented on #3010
http://gis.stackexchange.com/questions/141473/links-will-not-open-to-new-window-cartodb

[2015-04-06 12:26] #3009 closed

[2015-04-06 12:28] juanignaciosl opened #3024 "Namedplaces guessing errors"
**Syntax errors** [[1](https://rollbar.com/vizzuality/CartoDB/items/5318/), [2](https://rollbar.com/vizzuality/CartoDB/items/5016/)]

[code]

**cannot determine type of empty array** [[1](https://rollbar.com/vizzuality/CartoDB/items/5017/)]

[code]

**create_the_geom_from_namedplaces_guessing failed: undefined method `[]' for nil:NilClass** [[1](https://rollbar.com/vizzuality/CartoDB/items/5014/)]

[2015-04-06 12:28] saleiva opened #3025 "Add services and keys module to the account settings page"

[2015-04-06 12:29] viddo commented on #3010
The target issue will be solved here, https://github.com/CartoDB/cartodb.js/pull/428 I'll reply to that thread on stackexchange, thx!

Re: the img isssue far it seem to be an issue on embeds only for some reason, still investigating...

[2015-04-06 12:31] saleiva opened #3026 "Folders in new dashboard"

[2015-04-06 12:53] javisantana commented on #1842
now that is controlled by the layergroup call so not needed

[2015-04-06 12:53] #1842 closed

[2015-04-06 13:05] xavijam commented on #2877
This is not happening anymore, at least what I've tried. It is opened in a new tab by default.

[2015-04-06 13:07] saleiva commented on #2771
![user config - plan free](https://cloud.githubusercontent.com/assets/132149/7004632/a9c56fae-dc6e-11e4-8678-29131f506c36.png)
Done

[2015-04-06 13:07] saleiva commented on #2771
@matallo all yours!

[2015-04-06 13:12] #2658 closed

[2015-04-06 13:12] viddo commented on #3010
The img-issue is due to the Mustache's escaping, using the unescaped output (triple angle brackets, i.e. `<img src={{{ img_url }}} ...`) makes the image to be rendered as expected. Custom templates are filtered through the sanitize step anyways so it's safe to do. No code change is necessary.

[2015-04-06 13:12] iriberri commented on #3010
Extra info about '&' escaping in URLs, they get converted to:

![image](https://cloud.githubusercontent.com/assets/1730320/7004670/5829630c-dc6f-11e4-8f3e-c0f9e4e55a89.png)

[2015-04-06 13:13] iriberri commented on #3010
Great, I'll let the users know. Thanks!

[2015-04-06 13:14] matallo commented on #2949
to be done in cartodb-central dropdowns, too

[2015-04-06 13:33] #2346 closed

[2015-04-06 13:44] #2099 closed

[2015-04-06 13:47] #956 closed

[2015-04-06 13:48] #1004 closed

[2015-04-06 13:53] rafatower commented on #3002
Fixed in https://github.com/CartoDB/cartodb/pull/3017

[2015-04-06 13:53] #3002 closed

[2015-04-06 14:11] rafatower commented on #2814
Already deployed to master, closing this

[2015-04-06 14:11] #2814 closed

[2015-04-06 14:13] ohasselblad opened #3029 "Redesign static map export (add message about pop-up blocker)"
I've seen some comments on twitter and in the support channels where people don't get the new tab once they click "Export Image". I think they don't realize that their browser's pop-up blocker is preventing it from happening.

Should a message be added to the export menu that says, "Your pop-up blocker may prevent a new window from opening."?

![pop-up-blocker](https://cloud.githubusercontent.com/

[2015-04-06 14:19] saleiva commented on #3029
Sure, but let's keep this for the new modal design. Assigning to me

[2015-04-06 14:31] #2748 closed

[2015-04-06 14:33] rafatower commented on #2793
this does not make sense if we're going down the ActiveRecord route

[2015-04-06 14:33] #2793 closed

[2015-04-06 15:01] xavijam commented on #2877
Closing since I can't reproduce it, if it happens again, new one, ok? :)

[2015-04-06 15:01] #2877 closed

[2015-04-06 15:02] juanignaciosl opened #3030 "Display imported tweets at user account page"
Just as we display geocodings, we should display imported tweets.

![screen shot 2015-04-06 at 16 41 50](https://cloud.githubusercontent.com/assets/932968/7006096/9f4a99ea-dc7e-11e4-9eea-051bc8b789df.png)

cc @xavijam @saleiva

[2015-04-06 15:08] xavijam commented on #3030
Easy ;)

[2015-04-06 15:11] #1807 closed

[2015-04-06 15:11] #1233 closed

[2015-04-06 15:15] rafatower commented on #1232
See https://github.com/CartoDB/cartodb/issues/3024

[2015-04-06 15:17] andrewbt commented on #3007
@saleiva not seeing this in production (even with new dashboard), but just based on your screenshot I'd say it looks good. I would add an "every month" option though because that is one of the current production choices.

Also, if the user selects "never" do we explain to them as the current modal does that this converts their table back to a regular table? We call this "Disconnecting" a table fro

[2015-04-06 15:22] iriberri opened #3031 "Syntax error when using "location" as alias in a SQL result"
Example:

`SELECT the_geom as location FROM line_data_sample`

![image](https://cloud.githubusercontent.com/assets/1730320/7006429/5faf980a-dc81-11e4-9c46-c5fe3f10fbbe.png)

Query [here](https://iriberri.cartodb.com/api/v2/sql?rows_per_page=40&page=0&sort_order=asc&order_by=&filter_column=&filter_value=&sql_source=null&api_key=sd&q=select%20st_astext(%22location%22)%20location%20from%20(SELECT%20t

[2015-04-06 15:24] andrewxhill commented on #2871
shit, seeing this. what is the plan, need it now?

[2015-04-06 15:26] saleiva commented on #3007
It’s just a mockup. It will get implemented during next sprints! :)

Yeah, for that step there will be a another state :)

[2015-04-06 15:26] saleiva commented on #2871
Not a blocker

[2015-04-06 15:29] javierarce commented on #2921
This should work fine now.

[2015-04-06 15:29] #2921 closed

[2015-04-06 15:35] rafatower commented on #1116
I checked type guessing is done correctly for cases 1,2,3. Type 4 is probably not implemented in gdal or would require a bigger input anyway to determine it's a bool column. I'm closing this FTM.

[2015-04-06 15:35] #1116 closed

[2015-04-06 15:50] #3008 closed

[2015-04-06 16:00] xavijam commented on #2949
It is not the dropdown matallo, it is this one!
![screen shot 2015-04-06 at 17 59 31](https://cloud.githubusercontent.com/assets/132146/7007089/be073728-dc86-11e4-9961-2a610e8b729d.png)

You don't have to do anything because it doesn't make any sense to add the link being in that page...
So, you are done!

[2015-04-06 16:04] rafatower commented on #998
I cannot recover any further debugging info, closing this...

[2015-04-06 16:04] #998 closed

[2015-04-06 16:05] rafatower commented on #997
Lost debugging information, closing this

[2015-04-06 16:05] #997 closed

[2015-04-06 16:10] rafatower commented on #991
I lack context but this was fixed in gdal trunk (already in production but not for all cases though). So I think it is right to close this ticket and consider a full regression and migration to gdal trunk if worth the effort.

[2015-04-06 16:10] #991 closed

[2015-04-06 16:11] viddo opened #3034 "Create mockups for missing modals for new map editor"
From the planning issue:

- [x] Add column, #3836
![screen shot 2015-04-06 at 18 28 49](https://cloud.githubusercontent.com/assets/978461/7007516/ec45bebc-dc8a-11e4-89fb-fd3bc4491229.png)

- [x] Merge datasets, #3819
![screen shot 2015-04-06 at 18 29 01](https://cloud.githubusercontent.com/assets/978461/7007517/eddfdfb4-dc8a-11e4-9f9f-c43e8a4a24bb.png)

- [ ] georeference column, #3828
![screen sh

[2015-04-06 16:13] rafatower commented on #987
no clear task or bug from this description. closing.

[2015-04-06 16:13] #987 closed

[2015-04-06 16:17] rafatower commented on #2960
With the changes already done it is still slow but I reckon it works 10x faster.

We shall reconsider performance after getting farther with the refactor.

[2015-04-06 16:17] #2960 closed

[2015-04-06 16:18] saleiva commented on #3034
Can you start adding them as part of the description so I work on them ASAP?

[2015-04-06 16:20] rafatower commented on #981
The function involved in DB side: `cartodb.CDB_StringToDate`

[2015-04-06 16:31] viddo commented on #3034
Now I only see one case (the create/add column dialog). There's also a dialog for "merge with another dataset", but perhaps is going to be deleted in the new design (i.e. out of scope?)? If so then just remove it from the description

[2015-04-06 16:37] andrewbt commented on #3007
Great, looks good and very in line with the new dashboard style!

On Mon, Apr 6, 2015 at 11:26 AM, saleiva <notifications@github.com> wrote:

--
Andrew Thompson, Sales Engineer

*CartoDB* | 143 Roebling St, 2A, New York, NY 11211
athompson@cartodb.com | T +1 508.333.7265 <+15083337265>
Web cartodb.com | Twitter @cartodb <http://twitter.com/cartodb>
Map, analyze and build applications with your dat

[2015-04-06 16:42] rafatower commented on #971
Old error that does not  appear in rollbar anymore. Probably fixed with batching of geocoder

[2015-04-06 16:42] #971 closed

[2015-04-06 16:43] rafatower commented on #973
fixed with batching

[2015-04-06 16:43] #973 closed

[2015-04-06 16:43] rafatower commented on #928
closing for the moment, will reopen if needed

[2015-04-06 16:43] #928 closed

[2015-04-06 16:44] rafatower commented on #919
Closing FTM, will reopen if needed

[2015-04-06 16:44] #919 closed

[2015-04-06 16:48] saleiva commented on #3034
Merge datasets needs to be redesigned, yeah.
About the first one, that one too. How would you feel if in case of naming the column there, we create another one that says "Unnamed" as a new column on the table? Too advanced?

[2015-04-06 16:57] javierarce commented on #2920
Fixed.

[2015-04-06 16:57] #2920 closed

[2015-04-06 16:59] viddo commented on #3034
No, I don't think it's too advanced per se, but in that case we also need to add some visual cue upon creating the column, so the user can rename and change column type of it, right?

[2015-04-06 17:01] xavijam opened #3038 "Change "new map" text"
Main button -> New map
Button inside create dialog being in map "dialog" -> Create new map

[2015-04-06 17:02] saleiva opened #3039 "Fixes on the video tutorial player"
![screen shot 2015-04-06 at 19 00 10](https://cloud.githubusercontent.com/assets/132149/7008030/53bd6244-dc8f-11e4-9633-1caa1f29e7b4.png)

- The gradient is so weird (see screenshot)
- There are some issues with the alignement of the buttons (see screenshot)
- It doesn't work on the table view

[2015-04-06 17:05] javierarce commented on #3039
What does it means "it doesn't work in the table view"? I have just tested it with Chrome and Safari.

[2015-04-06 17:06] saleiva commented on #3039
When being in a table view, not on a map.
Table view as table view, not as table view of a map :)

[2015-04-06 17:14] #2949 closed

[2015-04-06 17:14] #3030 closed

[2015-04-06 17:17] #2939 closed

[2015-04-06 17:18] juanignaciosl commented on #2263
A couple of users have reported issues with Firefox, and one of them say it works if he deletes his history. It might be a combination of the autocomplete with the auto Google login.

cc @matallo

[2015-04-06 21:08] #2844 closed

[2015-04-06 21:39] #3038 closed

[2015-04-07 02:45] andrewbt opened #3042 "Twitter import time irregularities"
SCENARIO:
- the user is in the Eastern daylight savings time zone (EDT), which is GMT-4:00
- The current time is 10:30pm EDT on the 6th day of the month / 2:30am GMT on the 7th day of the month
- The user wants to make a table of Tweets from a recent event that spanned from 6:00pm EDT to 10pm EDT, or 10:00pm GMT to 2:00am GMT (the next day)

Because the Twitter import dialog (in the [old?] dashboa

[2015-04-07 02:46] andrewbt commented on #3042
Possible resolution: Express times/dates in the Twitter import dialog in user's system timezone, and convert the time/date to GMT queries on the backend.

[2015-04-07 03:34] andrewxhill opened #3043 "Twitter harvester calendar not to true limits of time!"
![screen shot 2015-04-06 at 11 28 46 pm](https://cloud.githubusercontent.com/assets/370259/7016581/3491ca56-dcb5-11e4-8ba6-0c4e6f69eee9.png)

See, it is GMT. I am GMT -4. In my time it is 23:30, which means that in GMT it is tomorrow. But the calendar only let's me select up to April 6th, not April 7th which is tomorrow...

![screen shot 2015-04-06 at 11 38 04 pm](https://cloud.githubusercontent.c

[2015-04-07 08:08] xavijam commented on #2986
@CartoDB/design so, option within cartodb editor?

[2015-04-07 08:08] xavijam commented on #2986
A preview map in profile page would be easy to be implemented.

[2015-04-07 08:14] #2937 closed

[2015-04-07 08:32] lbosque commented on #2856
It looks pretty fine.
In that case, what will happen if the user tries to import a new one? Will the import actions be disabled?

[2015-04-07 08:50] matallo opened #3044 "twttr is not defined in confirmation view"

[2015-04-07 08:58] #3044 closed

[2015-04-07 08:59] juanignaciosl opened #3045 "Deprecate old visualization enpoint"
After deploying #2937 there're a couple of new errors because of usage of the API with wrong syntax. Previously those requests returned no data because `visualizations.id` was `text`, but now it's `UUID` and fails.

Errors:

https://rollbar.com/vizzuality/CartoDB/items/5392/
[code]

https://rollbar.com/vizzuality/CartoDB/items/5391/

[code]

If they correspond to deprecated APIs they might be fina

[2015-04-07 09:07] saleiva commented on #3042
Related with https://github.com/CartoDB/cartodb/issues/3043

[2015-04-07 09:07] saleiva commented on #3043
I'm pretty sure @Kartones will also have to work on this...

[2015-04-07 09:11] Kartones commented on #3043
Backend initially receives user GMT and standarizes to UTC, but once this is changed let me know if backend is not replying correctly.

[2015-04-07 09:16] #1003 closed

[2015-04-07 09:16] iriberri opened #3046 "MultiGeometryCollection dataset gets imported and its vizs fails afterwards (500)"
Importing a multigeometrycollection KML file should raise an importer error because they're not supported, but a user (and myself) has reported that the visualization is indeed created and then accessing it breaks the site (500 error).

![image](https://cloud.githubusercontent.com/assets/1730320/7020235/b0ab4a60-dd17-11e4-90b5-de9a5497e437.png)

`Failed to load resource: the server responded with

[2015-04-07 09:16] iriberri commented on #3046
@javisantana

[2015-04-07 09:17] javierarce commented on #3039
Mmmm… were you inside the editor or in the public pages?

Here's what I've tested:

1. I've created a new map and started watching a tutorial.
2. Clicked "Start guided tutorial"
3. Clicked on "Your datasets"
4. Clicked on a dataset

Now I'm in "tables/name_of_my_table" and I can see the video.

[2015-04-07 09:21] saleiva commented on #3039
Uhm... now it works.
BUT, the video gets to the first frame always and I have to manually click on play. Is that expected?

[2015-04-07 09:24] javierarce commented on #3039
It should maintain the state, so for example if you started watching it before clicking on "Start guiding tutorial" and then visit or reload the page, it should play (after it seeks to the stored position). Similarly, if the video is stopped and reload the page, it should remain stopped.

[2015-04-07 09:28] saleiva commented on #3039
:/ Now it works...
Weird weird...

[2015-04-07 09:30] rafatower commented on #2941
Fixing this will most likely impact users so it's better to have metrics in advance. This issue should take precence: https://github.com/CartoDB/cartodb/issues/2933

[2015-04-07 09:49] alonsogarciapablo opened #3047 "Duplicated maps in the Delete warning dialog"
**Steps to reproduce**
- Create multiple datasets.
- Use them in several visualizations, and make sure that at least one dataset is used in more than one map.
- In the dashboard, select all of the datasets and click the "Delete" button.
- You should see the following warning dialog:

![captura de pantalla 2015-04-07 a las 11 31 25](https://cloud.githubusercontent.com/assets/390398/7020539/16b92d5c

[2015-04-07 09:51] saleiva commented on #3047
Good catch!

[2015-04-07 09:51] saleiva commented on #3047
Fancy working on it? :)

[2015-04-07 09:57] #3022 closed

[2015-04-07 09:59] xavijam commented on #3047
Go man go!

[2015-04-07 10:02] alonsogarciapablo commented on #3047
Sure!

[2015-04-07 11:02] matallo opened #3052 "first item in breadcrumb has margin unless it belongs to an org"
![screen shot 2015-04-07 at 12 59 13](https://cloud.githubusercontent.com/assets/36676/7021849/385392e8-dd26-11e4-9833-447267e5c025.png)

after discussion with @xavijam

[2015-04-07 11:30] #2856 closed

[2015-04-07 11:32] xavijam commented on #3043
It happens in the old create dialog

[2015-04-07 11:33] xavijam commented on #2926
So, it should be a button?

[2015-04-07 11:33] saleiva commented on #3052
Love this issue :tmwc:

[2015-04-07 11:34] saleiva commented on #2926
Leave it as the label, and I'll revisit the styling.

[2015-04-07 12:27] rafatower commented on #2933
Obviously the original author and I understood timeouts in a different way:
[code]

[2015-04-07 12:29] rafatower opened #3056 "Support partial match search in viz endpoint"
- [x] partial match method at query builder
- [x] add missing tests
- [ ] move existing tests to shared pool?

[2015-04-07 12:45] Xatpy opened #3057 "Visualization 'password protected' loses its privacy if you add/remove a layer"
How to reproduce:
1. Create a new visualization.
2. Add a new layer.
3. Change its visualization to **Password protected**
4. Set a password and click on *Save settings*
5. Check the embed map (Share->Embed it; Get a simple URL->Enter password)
6. Go back to the editor. Add (or remove) a new layer
7. Go to the last tag (where the protected visualization is), and reload the page.

What happenend:
-

[2015-04-07 12:49] javierarce commented on #3039
I'm closing this ticket. Let's be aware of the problem and see if next time we can catch it.

[2015-04-07 12:49] #3039 closed

[2015-04-07 12:49] #2631 closed

[2015-04-07 13:16] rafatower opened #3058 "Fix broken tests after merging with master"
At least currently some failures like this one:
[code]

[2015-04-07 13:19] rafatower commented on #3058
The problem seems to be that the user is already created by a previous stage:
[code]
hard to control as far as we have duplicate code (just check `git grep 'client@example.com'`)

[2015-04-07 13:30] rafatower commented on #3058
the user in section `before(:all)` was colliding with the one created in the `include_context 'visualization creation helpers'`

[2015-04-07 14:04] andrewxhill opened #3060 "Modal for propagating the name change from a layer to the dataset itself"
Now, all my tables from scratch etc are stuck with the default table name
Do we have a plan to allow table renaming from within the visualization?

[2015-04-07 14:32] #3047 closed

[2015-04-07 14:34] Kartones commented on #3045
@javisantana Can you please confirm I can finally burn in flames the old vizjson v1 endpoint?

[2015-04-07 14:52] rafatower commented on #3056
If I type `test_string` in the search box, the query that fails is:
[code]

and the error:
[code]
a priori I'd say it makes more sense to fix it than exclude it.

[2015-04-07 14:59] saleiva commented on #3060
Yep, new editor :)

[2015-04-07 14:59] andrewxhill opened #3062 "very difficult now to turn a dataset Public"
If I upload a dataset, I have no way to turn it public unless I go back to the dashboard and find it in my datasets. This is going to discourage a lot of public datasets

[2015-04-07 15:00] saleiva commented on #3062
By default datasets are public on free users. What would you suggest? This was the same before, right?

[2015-04-07 15:00] andrewxhill commented on #3060
yes please

[2015-04-07 15:02] #3010 closed

[2015-04-07 15:06] alonsogarciapablo commented on #2957
Working on this. I assume only the first message (You have not connected any dataset yet) should be displayed.

[2015-04-07 15:09] rafatower commented on #3056
Current behavior:
- `locked=true` => locked visualizations
- `locked=false` => non-locked visualizations
- `locked=null` => both locked and non-locked
- absent => both locked and non-locked

[2015-04-07 15:09] saleiva commented on #2957
Yeah, on the loader that shows up on the button we can add a text like the one I'm proposing or anything you think could be better. Your chance :P

[2015-04-07 15:18] andrewxhill commented on #3062
I'm not a free user, and many of the users we want sharing their data are
not either.
Before, if I uploaded a dataset, I could simply toggle the anchor to make
it public before I made a visualization

On Tue, Apr 7, 2015 at 11:00 AM, saleiva <notifications@github.com> wrote:

--

andrewxhill <http://twitter.com/andrewxhill>
http://cartodb.com

[2015-04-07 15:20] alonsogarciapablo commented on #2957
I'll see what I can do with that text :-)

[2015-04-07 15:23] matallo commented on #2771
need the literal for "Dedicated Support"

[2015-04-07 15:25] matallo commented on #2771
nevermind, from website: "Get an exclusive communication channel with our team for speedy support."

[2015-04-07 15:25] saleiva commented on #2771
lovely

[2015-04-07 15:32] alonsogarciapablo commented on #2957
I just realized this is perfectly fine in staging and production. It's only locally where I see both messages and the one at the bottom never disappears (probably because my environment is not setup properly):

![captura de pantalla 2015-04-07 a las 17 26 12](https://cloud.githubusercontent.com/assets/390398/7026759/f01a0270-dd4b-11e4-83f7-f244c9268993.png)

I will open a PR with the new text.

[2015-04-07 15:32] #2957 closed

[2015-04-07 15:36] javisantana commented on #3045
we should check how many people is still using it but in any case people using v1 is using cartodb.js v2 so it's using the tiler api we just removed.

so, yes, lets remove it

[2015-04-07 15:55] rafatower commented on #3056
Removing [this line](https://github.com/CartoDB/cartodb/blob/editor_backend_refactor/app/controllers/carto/api/visualizations_controller.rb#L42) would partially fix it.
(Anyway, the parameter should not be passed straight to the query builder)

Then [adding this](https://github.com/CartoDB/cartodb/blob/editor_backend_refactor/app/models/visualization/collection.rb#L447-L450) equivalent code to the

[2015-04-07 15:59] alonsogarciapablo commented on #1437
I have a couple of questions on this one:

1. How does the input text / textarea should look like for both the description and tags? Should it just be a textarea that is submitted when the user hits enter? What happens with lines breaks? Should it have a submit button?
2. Tags are now displayed below the description (not as displayed in the attached mockup). I assume the mockup is wrong.

Please c

[2015-04-07 16:05] saleiva commented on #1437
1. Line breaks should be done when clicking cmd+enter - IMO.
2. Where?  You mean in the maps? In the datasets view? You forgot to attach the mockup :P

[2015-04-07 16:14] alonsogarciapablo commented on #1437
Sorry, I was referring to the screenshot you attached. But I was confusing the maps and datasets view. So let's forget about 2. and focus on 1. How do the inputs/textareas will look like? Do we have a mock for that somewhere? Thx

[2015-04-07 16:17] saleiva commented on #1437
Preparing it for you :)

[2015-04-07 16:18] juanignaciosl commented on #3056
Oh, I see. It looks like `.with_locked(locked)` is duplicated, since [later it's added just if it should be added](https://github.com/CartoDB/cartodb/blob/editor_backend_refactor/app/controllers/carto/api/visualizations_controller.rb#L45).

I think you're right, deleting that line and adding a partial match method at query builder is the way to go.

It'd be great to move tests covering that part (

[2015-04-07 16:21] rafatower commented on #3056
I'm getting a handle on your code and I do agree with the tests part. That said, I'm finding way harder to write the tests than the working code itself XD

[2015-04-07 16:29] saleiva commented on #1437
![dashboard - user private - maps - editing](https://cloud.githubusercontent.com/assets/132149/7028114/121a3982-dd54-11e4-9827-629e35917bda.png)

Done in the dashboard sketch file

[2015-04-07 16:33] alonsogarciapablo commented on #1437
Thanks!

[2015-04-07 16:57] andrewbt commented on #3042
oh, yeah it's the same as @andrewxhill 's ...but I beat him to the bug tracker by an hour!

[2015-04-07 17:00] andrewxhill commented on #3042
Not by the Twitter search calendar you didn't! :)

[2015-04-08 06:57] juanignaciosl commented on #3056
That's a pretty common concern :_). I have two huge pain points:
- Setting test data: many simple test require no less than two users, sometimes an organization, and a couple of tables and visualizations with permissions. That's A LOT of setup. And data coherence is relevant, the use of FactoryGirl is not always straightforward because it skips validations and sometimes validation errors are trigg

[2015-04-08 07:40] #2988 closed

[2015-04-08 08:04] xavijam opened #3065 "Review and clean new dashboard code"
- [x] Remove feature flag conditionals within controllers (RELEASED)
- [x] Remove unnecessary and old views (erb, jst and js) (May 6th, 2015)
- [x] Central https://github.com/CartoDB/cartodb-central/issues/585

cc @javisantana @saleiva @Kartones

[2015-04-08 08:07] Kartones commented on #3065
Yeah! after [this ticket](https://github.com/CartoDB/cartodb/issues/3045 ) I'm 200% in for the serverside code cleanup!

[2015-04-08 08:11] Xatpy opened #3066 "Error message not showed correctly if you try to delete an user from org with shared entities"
*How to reproduce:*
1. Using your org user owner. (example: ded01testorg)
2. Go to * organization -> manage your seats *
3. Click on an user that *has shared entities.* (example: ded01orguser2)
4. Click on `Delete this user` and `Yes, delete ded01orguser2`
5. Then, nothing happens in that modal window. (Although a POST request is done , checked with Network-Developer Tools)
6. Click on `Cancel` or

[2015-04-08 08:20] #2853 closed

[2015-04-08 08:20] #2855 closed

[2015-04-08 08:36] Xatpy opened #3067 "'Copy this' button (from API key page) doesn't render and work on Firefox and Chrome"
From `Your API keys` page, the button 'Copy this' doesn't work (not copy it) and isn't being rendered correctly.

Tested with OS X Yosemite 10.10:
- **Firefox 36.01:**
![screen shot 2015-04-08 at 10 26 51](https://cloud.githubusercontent.com/assets/3958416/7041507/1a96ddd2-ddda-11e4-917c-28de072290c6.png)

- **Safari 8.0 (10600.1.25)**: If I click on the button, it shows a window requesting Adobe

[2015-04-08 08:51] rafatower commented on #3056
That's a big task in itself

[2015-04-08 08:58] iriberri opened #3068 "Legend colors not appearing in Internet Explorer 11.09"
From SB/5015222, example [here](https://nlrc.cartodb.com/u/redcross-sims/viz/db061150-dc8b-11e4-85ce-0e4fddd5de28/public_map)

[2015-04-08 09:06] juanignaciosl commented on #3056
I know, I know ;-) . As usual, unless you have a great idea in mind, I'd just do small steps.

[2015-04-08 09:07] #1693 closed

[2015-04-08 09:08] xavijam opened #3069 "Datasets description style in public dashboard is wrong"
http://xavijam.cartodb.com/datasets

![screen shot 2015-04-08 at 11 07 14](https://cloud.githubusercontent.com/assets/132146/7042110/8c153490-dddf-11e4-85e7-311c6c9491d7.png)

[2015-04-08 09:08] xavijam commented on #3069
cc @javierarce @viddo

[2015-04-08 09:50] #3069 closed

[2015-04-08 09:58] javierarce opened #3072 "Non-org public map URLs aren't redirecting to the right URL"
An URL like this

https://saleiva.cartodb.com/viz/295aadec-1e24-11e4-a850-0edbca4b5057/public_map

shows an error, instead of redirecting to:

https://team.cartodb.com/u/saleiva/viz/295aadec-1e24-11e4-a850-0edbca4b5057/public_map

### How to reproduce this bug

1. Go to the dashboard of a organization account
2. Click on the "Shared with you" option in the map tab.
3. Click on a map.

[2015-04-08 10:02] zenitraM opened #3073 "User deletion with geocodings does not work"
While deleting an user which has an import with geocodings:

[code]

It seems that the `data_import` model is dropped before the `geocoding` model, but does not cascade the deletion nor drops the dependencies first. (ask me for an example of this in prod)

[2015-04-08 10:11] rochoa opened #3074 "cdb.js:17 you must include google maps library _before_ include cdb"
Found in https://team.cartodb.com/u/rochoa

Highlighted map is using gmaps.

[2015-04-08 10:20] xavijam opened #3075 "Design "select highlighted map" modal dialog for profile page"
And then, to be implemented in https://github.com/CartoDB/cartodb/issues/2986.

[2015-04-08 10:22] xavijam commented on #3075
Would be nice if we show all maps (private ones included), and if the privacy is not public, warn the user and say, "we will make public this map in order to highlight it" or whatever.

[2015-04-08 10:29] javisantana commented on #2986
@xavijam what is your plan for api and model changes for this?

[2015-04-08 10:31] juanignaciosl commented on #3073
It's likely to happen only for organization users, because of [this method](https://github.com/CartoDB/cartodb/blob/master/app/models/user.rb#L2360) ([diff](https://github.com/CartoDB/cartodb/commit/ac5423d23b763f0a9cf9a4fe5e9fae67760bf129#diff-4676c008b11a5480d73d4a6de01e45b9)) which is an attempt to fix CartoDB/cartodb-central#511.

Nevertheless I don't see why at first sight, since data import

[2015-04-08 10:32] xavijam commented on #2986
@kartones decides, I need him for this. But we talked yesterday to have (another) attribute in user/organization data, storing a map_id.

[2015-04-08 10:44] iriberri commented on #1653
One more time: SB/5017849

ping @saleiva

[2015-04-08 10:45] zenitraM opened #3077 "Deleting external_sources causes deletion of unexisting named maps"
Deleting an empty user causes ~170 DELETEs to the Named Map API, of non-existing named maps.

[2015-04-08 10:52] javisantana commented on #2986
before start, define first:

- changes in frontend model
- changes in backend model
- changes in the api

how it should behave

[2015-04-08 10:54] zenitraM commented on #3073
@juanignaciosl nope, this is with a free account, doesn't seem to have ever been related to an organization

Rails trace is:

[code]

which does not look very useful :(. I got that error from the PostgreSQL logs.

[2015-04-08 11:02] juanignaciosl commented on #3073
Oh, it looks like it doesn't come from the application. Since it's a free user _shouldn't_ be related with my last changes then but with the change, months ago, that linked geocodings with data imports. Just what you said in the issue, then. Nevertheless, just cascading is not a valid solution if we want to move geocodings to organization owner when a user is deleted.

[2015-04-08 11:48] Kartones commented on #3072
Hotfixed: https://github.com/CartoDB/cartodb/commit/2d1e5314e03e7446d61fa4948816bdf4fbfa7ef5

This is what happens when you use non-compiled languages... syntax error not properly failing :_)

[2015-04-08 11:48] #3072 closed

[2015-04-08 11:48] #3045 closed

[2015-04-08 12:13] Kartones commented on #2986
my idea is to just add a new `User` model field to store that map. Changes in the back I think it will need are:
- setting it manually (access via the property)
- resetting it manually to nil if affected visualization's privacy changes to anything other than `public`. This requires small code digging to see from where we trigger privacy changes to vis.

[2015-04-08 12:27] #3074 closed

[2015-04-08 12:52] Kartones commented on #2986
Ok, org stuff adds a bit more of complexity but the main point remains the same... Detecting all points from when a Visualization changes privacy OR adding logic to priv change of the vis so it grabs its owner and gets most viewed.

Doesn't looks complex, but we're just starting the Visualization refactor and we already are going to break the rule of "no new functionality" exactly with the classes

[2015-04-08 12:57] Kartones commented on #2986
uff, reverting to the most visited one I don't like it, because [checking the code that does it currently at public dashboard](https://github.com/CartoDB/cartodb/blob/master/app/controllers/admin/pages_controller.rb#L245), it's Visualization collection call, and Visualization Members shouldn't be aware of their parent Collections (control should be the inverse, Collections handle and know about Me

[2015-04-08 12:59] xavijam commented on #2986
For me :+1:

[2015-04-08 13:19] javisantana commented on #2986
if this takes changes in core model we need to wait

[2015-04-08 13:22] Kartones commented on #2986
requires changes in both `User` and `Visualization Member` models, yes... not big, but at both. Is a small task (few hours and as I said would touch a not-yet-refactored-part), so you decide and tell me...

[2015-04-08 13:43] chriswhong opened #3078 "UI for choosing a dataset to add to a map"
To add a dataset to a map, the user is presented with a dropdown containing all available datasets in their account.  I feel like this ought to look more like the data page, and the user should be able to search, add multiple sources, etc.

[2015-04-08 13:47] chriswhong opened #3079 "Category Wizard Maxes out at 10 distinct values"
I want to create a simple map of world countries, and assign random colors to each polygon.  The categories wizard requires me to choose a column, but only assigns colors to 10 unique values... the rest are grouped into "others".

I think the wizard should allow me to decide how many distinct values to style before lumping everything else into "others"

[2015-04-08 13:59] javierarce commented on #2876
Ok, I'll update all the title tags:

![screen shot 2015-04-08 at 15 56 50](https://cloud.githubusercontent.com/assets/4933/7046733/319d24ae-de08-11e4-885e-76a094d01faa.png)
![screen shot 2015-04-08 at 15 56 43](https://cloud.githubusercontent.com/assets/4933/7046734/31ae1372-de08-11e4-856f-ec27442d38b2.png)

/cc @CartoDB/design

[2015-04-08 14:25] juanignaciosl opened #3082 "Merge new url schema"

[2015-04-08 14:27] juanignaciosl opened #3083 "Invoke refactor endpoint from frontend with a different url"
Use a different url from frontend if `active_record_vis_endpoint` feature flag is present instead of using a constraint at `routes.rb`.

[2015-04-08 14:28] saleiva commented on #3079
This was a limitation we added because in terms of design a map with more than 10 different categories is really hard to do well, but happy to revisit this when working on the new editor

[2015-04-08 14:29] saleiva commented on #3078
Yep, that is being reimplemented with something similar to the new dashboard new dataset modal. Closing tho! :)

[2015-04-08 14:29] #3078 closed

[2015-04-08 14:37] juanignaciosl opened #3084 "Make 'tests like endpoints' test use the new endpoint"
[This test](https://github.com/CartoDB/cartodb/pull/2922/files#diff-2b8ebfc943bf04ddc2eba9a3661e31e2R362) doesn't use the new endpoint yet although is already at the shared examples test suite.

[2015-04-08 14:39] #3082 closed

[2015-04-08 14:55] #3073 closed

[2015-04-08 15:51] andrewxhill opened #3087 "All tabs redirected to successfully imported table"
Recreate

1. Import a larger file (>10mb maybe)
2. Open a second tab and navigate to your dashboard a second time
3. In the second tab, open an existing visualization and wait

When the upload finishes, both tabs will redirect to your new upload

[2015-04-08 15:54] saleiva commented on #3087
Ha, love this!

[2015-04-08 15:54] matallo commented on #2263
probably fixed in CartoDB/cartodb#2263

[2015-04-08 15:55] matallo commented on #2263
probably fixed in https://github.com/CartoDB/cartodb/pull/3086

[2015-04-08 15:56] xavijam commented on #3087
Yep, if you are importing a dataset, it redirects you to that dataset/map. I feel we shouldn't control user browser tabs to know if there are several cartodb tabs opened...

[2015-04-08 15:57] juanignaciosl commented on #2263
If this is fixed with that fix @iriberri would probably like to tell [this user](https://cartodb.supportbee.com/tickets/4718710).

[2015-04-08 16:01] matallo commented on #2263
waiting til tomorrow to discuss if this quick fix works or going full refactor

[2015-04-08 16:04] xavijam commented on #3087
In fact we can't control other tabs... So I propose that if the tab is not focused, don't redirect to the dataset/map, sounds good?

[2015-04-08 16:08] saleiva commented on #3087
nope, the typical thing is to import, do anything else, and come back once it is imported, so without redirection it will be harder to notice...

I'd leave as it is then.

[2015-04-08 16:18] #3087 closed

[2015-04-08 16:20] carlostallon commented on #2359
Take a look
![captura de pantalla 2015-04-08 18 19 27](https://cloud.githubusercontent.com/assets/1712650/7049703/dc678506-de1b-11e4-83b9-27b1ebb27ffd.png)

[2015-04-08 16:25] andrewxhill commented on #3087
waiiiiit i think maybe you haven't understood what i mentioned,

![screen shot 2015-04-08 at 12 23 51 pm](https://cloud.githubusercontent.com/assets/370259/7049763/48329b72-ddea-11e4-8a83-c32e00936199.png)

After the upload in Tab 1 finishes,

![screen shot 2015-04-08 at 12 23 51 pm](https://cloud.githubusercontent.com/assets/370259/7049774/616b8f36-ddea-11e4-95d9-dba651f48c20.png)

[2015-04-08 16:30] #3084 closed

[2015-04-08 20:45] andrewxhill opened #3089 ""Show" button on Twitter import doesn't work"
If I import some tweets, I get this,

![screen shot 2015-04-08 at 4 42 58 pm](https://cloud.githubusercontent.com/assets/370259/7055001/5e989b5e-de0e-11e4-93c6-4730f5262469.png)

If I click "show" I get this,

![screen shot 2015-04-08 at 4 43 32 pm](https://cloud.githubusercontent.com/assets/370259/7055009/6b81b9e0-de0e-11e4-9f95-1e50c6845f8b.png)

I only have an option to close the overlay. No wa

[2015-04-08 21:38] saleiva opened #3090 "Hidden layers make the embed to fail"
While in the editor the map is rendered correctly, in the embed nothing is shown and the map requests give an error (https://hopaholli.cartodb.com/api/v1/map?stat_tag=86f88d40-dd62-11e4-bf6e-0e018d66dc29) -> {"errors":["column \"mssa_id\" does not exist"]}

If you put that layer visible by default the map gets rendered correctly.

[2015-04-08 21:38] saleiva commented on #3090
cc/ @javisantana

[2015-04-08 21:42] saleiva commented on #3090
It looks that no matters if the infowindow is activated, hidden layers gives error on embed maps.

[2015-04-08 21:51] saleiva commented on #3089
Uhm, also that layout seems uncorrect.

[2015-04-08 21:57] rochoa commented on #3090
The `butte_fqhcs` table does not have any `mssa_id` column so the Maps API is reporting a correct error.

I guess this is related to the changes made to request the info windows through the Maps API attributes service so I'm reassigning this to @javisantana.

[2015-04-09 05:58] freakabcd commented on #1693
I was eagerly awaiting the merge of issue-1693 into master; but I am not entirely sure if this issue has been fixed.

I just tried once more to deploy cartodb in an ubuntu 14.04 VM running on my workstation. This process is shown here https://gist.github.com/freakabcd/fd73119869ba57e16751

* Accessing http://mymaps.lan:3000 from the VirtualBox host immediately redirects to http://mymaps.lan:3000/u

[2015-04-09 07:31] javierarce commented on #2876
@saleiva @piensaenpixel @carlostallon: is it ok for you?

[2015-04-09 07:54] #3058 closed

[2015-04-09 08:03] Kartones opened #3091 "500 obtaining layer infowindow data of some vis"
[code]

[2015-04-09 08:06] juanignaciosl opened #3092 "Shared parameters refactor"

[2015-04-09 08:06] #3092 closed

[2015-04-09 08:35] Kartones commented on #1693
Hi @freakabcd

Have you setup the `subdomainless_url` config attribute to "true", `http_port` to `3000` and `session_domain` to `mymaps.lan`?

It might be just that, a misconfiguration issue. Check also [the small documentation wiki page](https://github.com/CartoDB/cartodb/wiki/How-to-setup-subdomainless-URLS) and let me know if the issues persist.

[2015-04-09 08:43] juanignaciosl opened #3093 "Check security constraints"
Check security constraints (for users not to load what they can't, right now apikey is not used yet)

[2015-04-09 08:47] juanignaciosl opened #3094 "Fix method nomenclature to explicit parameter type"
For example, if a method takes a user it should be named `is_liked_by_user?` instead of `is_liked?` or `is_liked_by?`, and if it takes an id it should be named `is_liked_by_user_id?`.

[2015-04-09 09:00] javisantana commented on #3090
fixed here https://github.com/CartoDB/cartodb.js/pull/434

[2015-04-09 09:01] rochoa commented on #3090
:es:

[2015-04-09 09:02] #3090 closed

[2015-04-09 09:02] #3077 closed

[2015-04-09 09:05] javisantana commented on #3083
what endpoint?

[2015-04-09 09:29] iriberri opened #3095 "SVG code in infowindows issue"
Original HTML code [here](https://gist.github.com/iriberri/0e70c34a9e7c9ef1ea10).

Result:

![image](https://cloud.githubusercontent.com/assets/1730320/7063983/adf135ce-deab-11e4-985e-02008c92f746.png)

https://ekaitzht.cartodb.com/viz/ac7ed3aa-a34a-11e4-8f25-0e4fddd5de28/embed_map

SB/5028255

[2015-04-09 09:55] javisantana commented on #2342
this is being fixed in the refactor

[2015-04-09 09:58] Kartones opened #3096 "Cleanup of `invalid input syntax for uuid xxx` errors"
After enforcing Visualization.id type we have now some errors populating the error log due to the old logic of "legacy endpoint checks first if id is a valid visualization, else if is a valid tablename".

Apply a regexp or similar to not even touch the Visualization model if hasn't got UUID format

[2015-04-09 10:02] #2342 closed

[2015-04-09 10:14] xavijam opened #3097 "Organization public dashboard takes ages to load"
http://team.cartodb.com/maps

[2015-04-09 10:20] saleiva opened #3098 "Better error reporting when having technical issues"
For example, when running out of space in that server, instead a 9999 we should give a more comprehensive text saying that there are technical issues right now, try again please. (something like that)

[2015-04-09 10:20] Kartones commented on #3097
For me this is an easy solution: Public org dashboard doesn't needs to have "realtime" tables/vis listing, so why not simply caching them for a few hours? 1st load would still take time, but afterwards would run faster, and if is a frequently accessed dashboard would keep hitting the cache.

The proper solution isn't easy, as this listing will check all schemas from all organization users (around

[2015-04-09 10:20] #3094 closed

[2015-04-09 10:23] saleiva opened #3099 "Show "Unknown size" instead of 0 in the gdrive file list"
![screen shot 2015-04-09 at 12 21 25](https://cloud.githubusercontent.com/assets/132149/7064931/12056e16-deb3-11e4-8f40-ff98caf514df.png)

[2015-04-09 10:25] Kartones commented on #3098
This is not as easy as it sounds... The operating system reports simply that it couldn't create "a lock file", nothing else.

This also can happen in multiple steps: When creating lock, when creating file, transforming...

This **really is an internal technical issue** and not a standard error, if you really think is worth spending time on it ok, but I really don't see why improving feedback in ca

[2015-04-09 10:41] juanignaciosl commented on #3083
Since this is an endpoint that is going to be removed @rafatower suggests using a name that is _obviously_ temporal, such as a place name. Thus we could use `/api/v_brasilia/viz` (a city designed to be the new capital from scratch). If you think this is bullshit `/api/v1_1/viz` would also be fine :-)

[2015-04-09 11:11] juanignaciosl opened #3100 "Add missing FKs"
Convenient for refactor, but also needed for other platform stuff.

* #3499: Add FK from visualizations to maps
* #3508: Add FK from visualizations to users
* #3176: Add FK from synchronizations to user_tables
* #3802: Add FKs from user_tables
* #3803: Add FKs from users
* #3781: Add FK from assets to users
* #3782: Add FK from automatic_geocodings to tables
* #3783: Add FK from client_application

[2015-04-09 11:22] saleiva commented on #3089
xavijam, that button should say "view table" and go to the table view.
To close, there is already the show button.

[2015-04-09 11:27] saleiva opened #3101 "Pre-configure style and infowindow on twitter search"
we should show by default a category type with the category terms column and actiate in the infowindow on click :
- Actor displayname.
- Object posted time.
- Object summary.
- Retweet Count.

[2015-04-09 11:51] saleiva opened #3102 "Add legend and infowindow parameters to the mailchimp automatic styled map"

[2015-04-09 12:11] #2996 closed

[2015-04-09 12:43] Kartones opened #3103 "Optimize enqueuing of syncs to not retrieve full objects"
Upon any Sync problem that requires restarting the service (and enqueuing multiple syncs), DB access spikes because to enqueue at Resque a Sync we retrieve full objects.

Optimize by only retrieving job_id and [enqueing directly from the collection](https://github.com/CartoDB/cartodb/blob/master/services/synchronizer/lib/synchronizer/collection.rb#L74) ([Move code from here](https://github.com/Car

[2015-04-09 12:50] Kartones opened #3104 "Move outside metadata DB DataImport/Synchronization Log model & data"
## Definition - Ruby model improvements
- [x] Limit log line size to 256 chars (could be extended in the future if worth it)
- [x] Limit to 1000 entries per log max
- [x] 1st 500 entries fixed, wrote once and not overriden
- [x] 2nd half (remaining 500 entries) to be implemented as a circular buffer, to always contain last 500 lines
- [x] tests
- [x] Migration for current logs? <- **not needed, co