[2015-07-15 14:20] saleiva commented on #4453
Let's try this when releasing the fix done today by @javierarce on the choropleth maps

[2015-07-15 14:22] andrewxhill commented on #4468
both!

On Wed, Jul 15, 2015 at 10:18 AM, Sergio Álvarez Leiva <
notifications@github.com> wrote:

--

andrewxhill <http://twitter.com/andrewxhill>
http://cartodb.com

[2015-07-15 14:34] #4262 closed

[2015-07-15 14:52] josecruz opened #4470 "Geocode small visual fixes"
Just found 3 small visual things

- [x] The `Form-row` div has a 10px padding and it sums to the title div. So in total it's 50px instead of 40px, and it should be 40px
![screen shot 2015-07-15 at 4 40 00 pm](https://cloud.githubusercontent.com/assets/596509/8701251/eedba8ec-2b10-11e5-9e46-0538bff5c89c.png)

- [x] This text should be `16px` and `#666:
![screen shot 2015-07-15 at 4 36 55 pm](https:

[2015-07-15 15:19] Kartones opened #4472 "Flush importer log when process starts"
At the point when we know the folder the import is going to run, etc., so debugging is possible.

Branch `4472-sync-logs-bugfix-and-improvement`

[2015-07-15 15:30] viddo commented on #4470
Solved as part of existing PR #4460 since already working on that one and kind-of related

[2015-07-15 15:30] #4470 closed

[2015-07-15 15:32] andrewbt commented on #4402
This is the upgrade your account link in #4227 . It goes to http://cartodb.com/account/umap-admin/upgrade, which an Enterprise user should never see because that page talks about the standard/personal plans.

This link should really just be a link to sales@cartodb.com or enterprise-support@cartodb.com , whichever is most appropriate (probably enterprise-support)

[2015-07-15 15:41] fdansv opened #4473 "Heatmap CSS is not being correctly parsed"
`wizard_properties.propertiesFromStyle` is returning a wrong/corrupt set of properties when used from Pecan to initialise a Heatmap wizard. Two properties return wrong:

- `image-filters` returns undefined because it's a function. I kind of fixed this already.
- `-torque-time-attribute` is set to `the_geom`, I'm not yet sure why.

cc @saleiva @javierarce

[2015-07-15 15:50] alonsogarciapablo commented on #4462
I've updated some code in the frontend so that the requests to add/update/destroy the layers related to the basemap go out in the right order. Still, when a new layer with labels is added, it seems that the basemaps is not updated. It works fine when there's a layer with labels and it's either updated or removed. Here're the requests that I'm seeing when basemap didn't have labels and a basemap wi

[2015-07-15 16:05] saleiva opened #4475 "When a pecan card is selected, it should go to map view if it is in the dataset view"

[2015-07-15 16:10] xavijam commented on #4475
:+1:

[2015-07-15 16:24] saleiva commented on #4273
bump!

[2015-07-15 16:24] saleiva commented on #4299
cc @xavijam
![screen shot 2015-07-15 at 18 23 44](https://cloud.githubusercontent.com/assets/132149/8703667/c60ea4ba-2b1e-11e5-835a-2e75596e98b8.png)

[2015-07-15 16:28] #4376 closed

[2015-07-15 16:28] xavijam commented on #4299
:+1:

[2015-07-15 16:32] saleiva opened #4477 "QA all new modals"
:)

[2015-07-15 16:52] xavijam commented on #4475
https://github.com/CartoDB/cartodb/commit/cb455adb1a3abe6ece79d818abb0dd6525f01d45

[2015-07-15 16:52] #4475 closed

[2015-07-15 17:37] ethervoid opened #4478 "Query to get the imported rows is slow"
**Problem**

```7223, SELECT COUNT(*) FROM cdb_importer.importer_490b49822b0511e5a1790e5e07bb5d8a, 01:28:22.3135```

** Solution**
The main problem is that a COUNT(*) is a very expensive operation, change it for PG statistics if its possible or use and indexed column

[2015-07-15 17:50] javierarce opened #4479 "Review failing datasets"
These datasets give problems when triggering pecan:

* abandoned_vehicles (problem with POST request)
* portland_trees (problem with the ```notes``` col)

[2015-07-15 18:44] #4273 closed

[2015-07-15 21:40] stevage opened #4482 "Docx supported or not?"
When you drag and drop a file onto the  main screen, at the bottom it says "formats like DOCX, CSV, GPX, XLS and many more are supported".

However:

1. The clickable link "many more" is not clickable, because as soon as you release the mouse, it goes away.
2. In the [list of supported formats](http://docs.cartodb.com/cartodb-editor.html#supported-file-formats), .docx isn't mentioned
3. When you t

[2015-07-15 22:09] stevage opened #4483 "Broken date format in CSV causes whole file to fail"
Just had a CSV fail with error 9999 due to a column like this:

[code]

IMHO it should never fail to import just because of some data values which don't fit the type that CartoDB has assigned.

[2015-07-16 08:01] iriberri opened #4485 "[Suggestion] Add line removal option for annotations"
Annotations are a very good resource because they allow you to place text exactly where you want. For some use cases, having a line that attaches the annotation to a specific location is not a nice approach to add an information box in a specific area, but the text boxes element are not explicitly staying in a location but moving within the map.

I created [this JS example](http://bl.ocks.org/irib

[2015-07-16 08:02] Kartones opened #4486 "Remove flash placeholders (at least from full text input) at publish modal"
Firefox and IE11 are already Blocking Flash, and others are to follow, so this is going to be the "default" for users...

![image](https://cloud.githubusercontent.com/assets/2085449/8718103/97299eb0-2ba1-11e5-9015-3e9131ea95b4.png)

[2015-07-16 08:04] #4362 closed

[2015-07-16 09:46] Kartones commented on #4393
Note to self: Testing ArcGIS MapServer full import with `http://gis.phila.gov/arcgis/rest/services/Police/Police_Boundaries/MapServer`

[2015-07-16 10:39] Kartones commented on #4393
For the record, GPX hasn't had multi-layer support since 2013-10-14 (git blamed because I didn't recall anybody touching some related lines).

I'm going to move that to a separate ticket as that requires maybe a specific Importer Loader class to fetch [all different feature types](http://www.gdal.org/drv_gpx.html)

[2015-07-16 10:40] Kartones opened #4489 "Import all GPX feature types"
More info: http://www.gdal.org/drv_gpx.html

Sample with 2 tracks: http://www.gpsvisualizer.com/examples/google_gpx.html

Might require a new Importer Loader, as currently either we force layer name to import/extract to ogr2ogr, or if we omit it ogr2ogr tries to override the same table name.

[2015-07-16 10:57] saleiva opened #4491 "Color theme for boolean columns"
we should use
true-> green
false->red
null-> soft grey

[2015-07-16 11:05] saleiva opened #4492 "Category buckets order / rank is sometimes not the same than in the wizard"
https://team.cartodb.com/u/saleiva/tables/twitter_ramadan/map

[2015-07-16 11:09] Kartones commented on #4393
Branch is `4393-importer-fixes`

[2015-07-16 11:37] andrewxhill opened #4493 "Avoid using color ramps with basemap-like color"
![screen shot 2015-07-16 at 7 34 02 am](https://cloud.githubusercontent.com/assets/370259/8721949/78084bc6-2b8d-11e5-8553-5a1cf3070ad9.png)

[2015-07-16 11:59] saleiva commented on #4483
@stevage what do you propose for the failing cells? Set them to null?

[2015-07-16 12:05] saleiva commented on #4117
is this ready to be closed?

[2015-07-16 12:05] stevage commented on #4483
Either that or convert the whole column back to string. (I don't know anything about how this is implemented.)

[2015-07-16 12:06] #4453 closed

[2015-07-16 12:09] saleiva commented on #3665
Not able to reproduce. Closing

[2015-07-16 12:09] #3665 closed

[2015-07-16 12:10] #3511 closed

[2015-07-16 12:10] javierarce commented on #4491
Is this ok?

![screen shot 2015-07-16 at 14 10 31](https://cloud.githubusercontent.com/assets/4933/8722381/76273a7e-2bc4-11e5-8d8c-fafa193d07e3.png)

[2015-07-16 12:11] saleiva commented on #4483
If we set the column back to string, we will just have the problem when converting later. So better to do at import time IMO

[2015-07-16 12:12] saleiva commented on #4491
ossom

[2015-07-16 12:25] alonsogarciapablo commented on #4408
Reopening this issue since it wasn't fixed.

[2015-07-16 12:40] stevage commented on #4483
If by "later" you mean, when the user explicitly converts the column type to date, that's better in two ways:

1. You know that they really wanted a date. (Currently you're not that sure - you see one value that looks like a date, and another one that definitely isn't a date.)
2. You're in a better position to give specific error feedback. (As opposed to just aborting with a generic error message.

[2015-07-16 12:41] saleiva opened #4496 "Add module to Mailchimp connector page to explain that it is also available from the dashboard"
https://cartodb.com/solutions/mailchimp/

[2015-07-16 12:42] #4478 closed

[2015-07-16 12:42] #4379 closed

[2015-07-16 12:42] #4223 closed

[2015-07-16 12:42] #4170 closed

[2015-07-16 12:43] #3266 closed

[2015-07-16 12:44] ethervoid commented on #4123
Finally what should be done here?

[2015-07-16 12:46] jsanz opened #4497 "Error importing a CSV with carriage returns inside file columns"
On importing CSV files with return carriages inside text columns the process fails and the whole batch of records is discarded because of the rollback. Probably when importing CSV we should sanitize the records before passing it to ogr2ogr (my guess, after discusing with @ethervoid )

[2015-07-16 12:49] ethervoid commented on #4497
In this case the problem is that the CSV has return carriage inside the string of the column. This leads to ogr2ogr making a wrong importation. We should "sanitize" the string columns.

[2015-07-16 12:49] rafatower commented on #1896
[code]

[2015-07-16 13:00] #4277 closed

[2015-07-16 13:19] #4491 closed

[2015-07-16 13:35] juanignaciosl commented on #3708
Already done by @javisantana

[2015-07-16 13:35] #3708 closed

[2015-07-16 13:36] juanignaciosl commented on #2602
Already done by @javisantana

[2015-07-16 13:36] #2602 closed

[2015-07-16 13:40] rafatower commented on #1896
I tried upgrading some of the underlying libraries but it didn't fix the problem.

I opened the file and saved it again as xls with libreoffice, then the import worked. Chances are the file is actually corrupted. Where's the original file, @iriberri? I'd like to check the original one.

[2015-07-16 13:48] #4479 closed

[2015-07-16 14:09] rafatower commented on #4049
Fixed. As a side note, this is the correct way of selecting with column name and type:
[code]

but now the code is prepared to "sanitize" both column names and types :)

[2015-07-16 14:09] #4049 closed

[2015-07-16 14:25] juanignaciosl commented on #4402
I've seen that link is in several places right now. After talking to @saleiva, instead of changing every upgrade link for the owner we'll link to organization owner plan page:

![screen shot 2015-07-16 at 16 13 58](https://cloud.githubusercontent.com/assets/932968/8725851/f0add908-2bd6-11e5-8c1b-3ec8b5f84c4c.png)

And this page will be redesigned by @josecruz (CartoDB/cartodb-central/issues/715) t

[2015-07-16 14:29] juanignaciosl opened #4501 "Upgrade link inconsistency for organization owners"
Upgrade link for organization owner appears in the dashboard menu

![screen shot 2015-07-13 at 09 25 13](https://cloud.githubusercontent.com/assets/932968/8725970/8bfe04a0-2bd7-11e5-8ce7-c934b0038452.png)

but disappears at organization settings page

![screen shot 2015-07-16 at 16 28 21](https://cloud.githubusercontent.com/assets/932968/8725998/b8dacd46-2bd7-11e5-8ac1-637866fe14a8.png)

Since we'

[2015-07-16 14:55] Kartones opened #4502 "Implement new importer state "partial_success""
Currently, when you import something, the a single import might spawn N `Result` objects, but they only allow states `success`/`failure`, so when you have something that worked but had some errors (e.g. a zip file contained 3 csvs and 2 imported ok) there's no feedback that some data was lost. Or other times we go too radical and directly mark the import as failed.

Adding a third `partial_success

[2015-07-16 15:00] saleiva commented on #4502
Hey @josecruz talk to me before starting with this

[2015-07-16 15:10] saleiva commented on #4378
What if we put those buttons (and the others) aligned to the center?

[2015-07-16 15:21] rafatower commented on #3775
Relevant backtrace from local:
[code]

[2015-07-16 15:25] viddo opened #4503 "Failed georeferenced table with polygons shows as empty"
**Steps to reproduce:**
1: Import this US Counties, 1779-1829 from the data library
2. Go to the dataset and open the georeference dialog
3. select “IP address” pane
4. In the dropdown select “fips” column
~~5. Check “override values” and proceed with the geocoding~~ happens regardless if this is checked or not
6. Let it finish and check that no rows were geocoded

**Actual results:**
but then it

[2015-07-16 15:42] MarkWS commented on #4485
I too would love to see this feature added to the Editor. I can think of many instances where we would have implemented this and it would be a great value add.
Thanks, Mark

[2015-07-16 15:56] MarkWS opened #4504 "Add layer selection to Switch Base maps."
we would love to see navigation added to Editor that allows the user to switch base maps. Say from a standard shaded relief to satellite. We get asked this question quite often.

[2015-07-16 16:10] andrewxhill commented on #4276
Hey guys. Here is what I need

Store the complete profile for each column, it should include

* stas: stddiv, mean, extents, and others returned
* shape calculated
* number rows
* number of nulls
* row type
* geom type
* density
* column name
* run id (so i can associate different profiles back together)
* was it chosen by the user (1,2)

Ideally I'd like to get two profiles from each map (or a sa

[2015-07-16 16:12] saleiva commented on #4485
Hey @MarkWS, getting this to the backlog. Thanks for your feedback!

[2015-07-16 16:22] rafatower commented on #3775
Related to https://github.com/CartoDB/CartoDB-SQL-API/issues/230, thanks @juanignaciosl for pointing out. Will try to fix in [CDB_Organization_Add_Table_Read_Write_Permission](https://github.com/CartoDB/cartodb-postgresql/blob/master/scripts-available/CDB_Organizations.sql#L52)

[2015-07-16 16:30] josecruz opened #4506 "Activate Street Addresses tab when no geocoding credits left"
Right now we're disabling this tab:
![screen shot 2015-07-16 at 5 19 41 pm](https://cloud.githubusercontent.com/assets/596509/8728555/08b940e6-2be6-11e5-8933-efaf48189112.png)

So the idea is to able the tab and show days left to renew your billing cycle.
![street addresses not available copy](https://cloud.githubusercontent.com/assets/596509/8728998/baf1199e-2be8-11e5-8cec-732f9fed1a41.png)

@sal

[2015-07-16 16:33] rafatower commented on #3775
From http://www.postgresql.org/docs/current/static/sql-altertable.html

so for this very case we may have to use the owner...

[2015-07-16 16:38] #3958 closed

[2015-07-16 16:46] alonsogarciapablo commented on #4462
@kartones I assigned this back to you. We might end up saving all layers at once, but I thinks it's worth investigating what's going here in the meanwhile.

[2015-07-16 16:48] #4408 closed

[2015-07-16 16:51] saleiva commented on #4504
It's in our roadmap! :)
Thanks!

[2015-07-16 16:51] #4504 closed

[2015-07-16 17:02] javierarce commented on #4276
Ok!

@javisantana's idea was to store a flag in the layer that contained an active pecan. We'll be doing both things, but I guess that we'll need to store the info in two different places (@matallo: do you think we can store Andrew's data in HubSpot?)

[2015-07-16 17:09] viddo commented on #4503
And the logic is the same as for the [old modals](https://github.com/CartoDB/cartodb/blob/4378-remove-close-buttons/lib/assets/javascripts/cartodb/table/mapview.js#L647-L656): https://cloud.githubusercontent.com/assets/132146/8252441/680f643c-1686-11e5-89f1-6490e8440d2d.png
…which is apparently wrong then. It is shown because `table.isGeocoded()` returns `false` even though the geocoding has run (

[2015-07-16 17:15] matallo commented on #4276
Indeed, we can discuss it tomorrow if that's fine to you, but in order to store properties maybe we'll have to implement an endpoint, only events can be shared with js

[2015-07-16 17:22] andrewxhill commented on #4276
that'd be perf!

[2015-07-16 17:26] rafatower commented on #4503
rows were processed but no geometry gotten from geocoding, that leaves `the_geom` (and `the_geom_webmercator`) untouched, right?

[2015-07-16 23:09] andrewxhill opened #4512 "Add some terms to the exclude list"
i'm sure some are new here,
'cartodb_id','longitudenumber','latitudenumber','lat','lon','lng','long','latitude','longitude','shape_length','shape_area','objectid', 'id', 'country', 'state','scalerank', 'strokweig', 'area_sqkm', 'region', 'subregion', 'funcstat','classfp','county_fip','county','aland10'

![screen shot 2015-07-16 at 7 06 42 pm](https://cloud.githubusercontent.com/assets/370259/87372

[2015-07-16 23:35] andrewxhill commented on #4512
'shape_leng' actually didn't make it, so maybe just that one

[2015-07-16 23:46] andrewbt opened #4513 "Importer is "too smart" for leading 0 US zipcodes"
I have a CSV file, as below:

zip code,zip string,state,city
01569,"01569",MA,Uxbridge

When imported, both the "zip code" and the "zip string" columns are converted to number type, and the leading 0 is removed from both. (so they become "1569" instead of "01569"). Additionally, I wrapped the "zip string" column in quotes with the expectation that these would preserve it as a string and not conver

[2015-07-16 23:47] andrewxhill commented on #4468
And marker width!!! What are the odds we could try this tomorrow?

We are talking about the difference between this,

![screen shot 2015-07-16 at 7 47 08 pm](https://cloud.githubusercontent.com/assets/370259/8737733/7c8f2e6a-2bf3-11e5-8434-04fac579133c.png)

and this,

![screen shot 2015-07-16 at 7 46 57 pm](https://cloud.githubusercontent.com/assets/370259/8737738/85f1debc-2bf3-11e5-9f2e-a3e79c13

[2015-07-17 08:06] viddo commented on #4503
I compared the results of the two tables (i.e. before and after a geocoding), and it seems like some data is inconsistent. `the_geom` is not untouched, and it seems to mostly have null values after the geocoding is done:
<img width="519" alt="screen shot 2015-07-17 at 10 03 30" src="https://cloud.githubusercontent.com/assets/978461/8742991/332baabe-2c6b-11e5-8e45-fb200b2f536c.png">

Also, [`table.

[2015-07-17 08:07] viddo commented on #4503
edit: the polygons rendered are probably the ones that weren't deleted by the geocoding process I'd guess. But still, the method calls above indicate that there's no such data at all. :/

[2015-07-17 08:39] juanignaciosl commented on #3775
Oh, [it's not grantable at all](http://www.postgresql.org/docs/9.0/static/sql-grant.html): "The right to drop an object, or to alter its definition in any way, is not treated as a grantable privilege; it is inherent in the owner, and cannot be granted or revoked. (However, a similar effect can be obtained by granting or revoking membership in the role that owns the object; see below.)".

It looks

[2015-07-17 08:50] javierarce opened #4516 "Fix 10px card margin"

[2015-07-17 08:51] #4516 closed

[2015-07-17 08:54] #4378 closed

[2015-07-17 08:57] josecruz commented on #4378
@saleiva Mm I don't know, on this type of modals we always align right

[2015-07-17 09:04] viddo commented on #4503
Ok, been playing around a bit more so happens the same on the old modals, so seems like the backend screws up existing polygons on geocoding.

Before gecoding all polygons are present:
<img width="1679" alt="screen shot 2015-07-17 at 11 00 07" src="https://cloud.githubusercontent.com/assets/978461/8743930/599dad0c-2c73-11e5-950d-a8e731770936.png">

After geocoding some rows have had their polygons

[2015-07-17 09:11] iriberri opened #4518 "Choropleth maps with null values are drawn as '0'"
If you have a table with, for example, percentages for the countries but some certain rows contain null values (perhaps because there's no data for that country, very typical scenario) a choropleth map will draw the null geometries as if they were a 0.

I think it could be interesting to take this into account because obviously in a map it's not the same that a country has a 0 value that the fact

[2015-07-17 09:13] josecruz opened #4519 "User only has one table, so would have no table to merge from"
Extracted from #4117
![2229c308-18fd-11e5-9037-bba18eee805d](https://cloud.githubusercontent.com/assets/596509/8744090/c2ff6ae6-2c74-11e5-8dec-84fcf61793e1.png)

[2015-07-17 09:20] javierarce opened #4520 "Fix category ramp generation"

[2015-07-17 09:35] #3775 closed

[2015-07-17 10:28] juanignaciosl opened #4522 "Wrong like endpoint called from public pages"
Pages like this one, https://team.cartodb.com/u/matallo?paco, are calling endpoints without username, https://team.cartodb.com/api/v1/viz/c31d168e-f88c-11e4-9baa-0e4fddd5de28/like. It should be https://team.cartodb.com/u/matallo/api/v1/viz/c31d168e-f88c-11e4-9baa-0e4fddd5de28/like .

cc @xavijam

[2015-07-17 10:33] xavijam commented on #4522
I'll take care of it

[2015-07-17 10:53] josecruz opened #4523 "Geocode footer quotes"
------
![21e5a6ac-2495-11e5-97ba-a08796deb655](https://cloud.githubusercontent.com/assets/596509/8745352/5ec2f5c4-2c7f-11e5-89f7-265dacd09bcf.png)
to
![screen shot 2015-07-17 at 12 19 43 pm](https://cloud.githubusercontent.com/assets/596509/8745354/661bbefa-2c7f-11e5-81f8-842bd41b219d.png)

-----------

![07ef24ae-2b06-11e5-9bc3-9784d7a166f6](https://cloud.githubusercontent.com/assets/596509/87454

[2015-07-17 10:58] #4393 closed

[2015-07-17 10:58] #4462 closed

[2015-07-17 10:59] josecruz commented on #4523
/cc @viddo

[2015-07-17 11:08] viddo commented on #4523
this solves #4324 right?
there are more states missing, see the if-else cases here: https://github.com/CartoDB/cartodb/blob/master/lib/assets/javascripts/cartodb/table/views/geocoding_dialog/geocoding_dialog_pane_address.jst.ejs#L30-L40

[2015-07-17 11:11] viddo commented on #4117
There's that edge-case that @josecruz created an issue for, apart from that they're all solved so I'll close it yeah

[2015-07-17 11:11] #4117 closed

[2015-07-17 11:25] viddo opened #4524 "Add column to a an empty dataset fails"
**Steps to reproduce:**
1. create a new empty dataset
2. add a new column (doesn't matter through which UI element it's done)

**Expected results:**
The new [add-column workflow](https://github.com/CartoDB/cartodb/pull/3999)

**Actual results:**
An empty input field which I can't edit, and an error logged in the console saying: _can't get style generator for undefined_, logged from [models/cartodb

[2015-07-17 11:25] viddo commented on #4524
@saleiva major prio?

[2015-07-17 11:41] rafatower opened #4526 "Review separators for stuff sent to hires geocoder"

[2015-07-17 13:27] Kartones commented on #4472
Problem with the logs found:

Upon "first sync", synchronizations use a `DataImport` which is then later moved to a `Synchronization::Member`, so there's already an existing `Log`... but with type `import`, not `sync`.

For compatibility I'm just removing the type filter so Syncs always return a log no matter if is the first or Nth call, but the day we rewrite this we must not do this hack of reus

[2015-07-17 13:39] Kartones commented on #4472
/cc @iriberri Sync logs will reappear again after this ;)

[2015-07-17 14:04] viddo commented on #4236
@josecruz updated the description with the new screens I found in the sketch file, are there screens missing or other things that are expected to be fixed here that is not already listed?

[2015-07-17 14:36] rafatower commented on #2419
Sample [data to test](https://gist.githubusercontent.com/rafatower/e2dd2aa9dd70a2fa511e/raw/d5abac77ae9f275ef15f485a2347eef6608f7974/money-table.csv)

[2015-07-17 14:44] #4522 closed

[2015-07-17 15:00] ethervoid commented on #4461
I've been using Postgres statistics data (`pg_stat_user_tables`) to avoid the expensive use of count but I'm afraid that the rows count gathered is not reliable.

My concern is if I can trust that the data is going to be collected when I finish the import process to gather it.

Is there any way (that don't imply explicitly call the collector) to asure the data is collected?. the collected data cou

[2015-07-17 15:01] alonsogarciapablo opened #4531 "Error message in torque wizard is not correct after refreshing."
**Steps to reproduce:**
1. Open a map and add a couple of layers.
2. Add a point to layer #1 and select Torque in the wizard.
3. You will see an error message explaining that Animated layers must be at the top.
4. Refresh the browser.
5. Open the wizard for layer #1.

**Expected result:**
- You should see the same error message you were seeing before.

**Actual results:**
- Instead, the following

[2015-07-17 15:06] Kartones commented on #4442
I think it is not needed, because Synchronizations take into account the `etag` and store it, and according to [Wikipedia](https://en.wikipedia.org/wiki/HTTP_ETag):
[code]

[2015-07-17 15:11] pramsey commented on #4461
Running `ANALYZE mytable` should force a stats refresh.

[2015-07-17 15:12] Kartones commented on #4442
On the other side, we use as a checksum the "Last-Modified"  header too, so on a bad usage (full dumps to a CSV would change modification date even if is the same data) we would now let it slip by.

So I'm going to try to implement it for syncs as a post-download step to at least save the import phase.

[2015-07-17 15:23] xavijam opened #4533 "Like in embed_map is not working if you belong to an organization"
Due to this [change](https://github.com/CartoDB/cartodb/issues/4360), requests like ```http://:orgname.cartodb.com/api/v1/:viz_id/...``` are not working anymore (you need to specify the username and the viz_id, both). We found an issue with likes view (over public pages) trying to work with those urls, and we fixed [here](https://github.com/CartoDB/cartodb/issues/4522).

Unfortunately it doesn't f

[2015-07-17 15:25] andrewxhill opened #4534 "Why aren't we compressing CSV, GeoJSON on download/export"
Right now we compress SHP obviously, but not the others, seems a waist

[2015-07-17 15:50] Kartones commented on #4442
Although I found[ the perfect spot](https://github.com/CartoDB/cartodb/blob/master/services/importer/lib/importer/runner.rb#L120-122) for placing this check, the problem is that if I add this, either for an MD5, SHA1 or a simple CRC32 I have to anyway open and buffer-read the whole file to calculate its hash.

And before adding this to the importer, I'd prefer to see that we are indeed wasting ban

[2015-07-17 15:55] javierarce commented on #4512
Only ```shape_leng```, then?

[2015-07-17 15:56] #4520 closed

[2015-07-17 15:57] andrewxhill commented on #4512
Any that you are missing here, but shape_leng is definitely missing

On Fri, Jul 17, 2015 at 11:55 AM, Javier Arce <notifications@github.com>
wrote:

--

andrewxhill <http://twitter.com/andrewxhill>
http://cartodb.com

[2015-07-17 16:02] javierarce commented on #4512
:ok_hand:

[2015-07-17 16:03] #4512 closed

[2015-07-17 16:33] viddo commented on #4236
To avoid having redo things again: I'm observing that the margins are not consistent with existing modals
- the icon + title are varying between 16px and 11px, in the existing modals it's always 20px.
- the title is 16px, in existing modals they're all 18px
- the description text is 14px, in the existing modals they're all 15px
- the go back button text has color `#666`, in existing modals they're

[2015-07-17 16:36] ethervoid commented on #4461
Thank you Paul. Finally I'm going to use COUNT and check for performance.

[2015-07-17 16:38] pramsey commented on #4461
It's a full table scan every time. reltuples not doing it for you?

[2015-07-17 16:39] javierarce commented on #4493
This requires to change the basemap depending on the selected ramp.

[2015-07-17 16:39] #4492 closed

[2015-07-17 16:44] ethervoid commented on #4461
yep is a full table scan but I need the exact number because I'm planning to use it to calculate the import error between rows imported and the number of rows of the file to be imported.

I've been using `n_live_tup` but in staging sometimes the value wasn't be calculated so I'm afraid I can't get real values :S

[2015-07-17 16:48] javierarce commented on #4468
We'd need to add the density calculation in the ```describeFloat``` query, not only in ```describeGeom```, otherwise it would only be available for the heatmaps … can you help me with that, @fdansv or @andrewxhill?

[2015-07-17 16:50] pramsey commented on #4461
Maybe only run the process every 10th import, to keep the load down? 

[2015-07-17 16:52] ethervoid commented on #4461
Hum that could be a solution. I'll take a look to it. Thank you very much Paul :))

[2015-07-17 17:02] javierarce opened #4538 "Enable row and column limits"
Don't start the analysis if the table has

* > 60 columns (?)
* > 100,000 rows

[2015-07-17 17:02] javierarce commented on #4538
/cc @saleiva @javisantana @andrewxhill

[2015-07-17 18:12] andrewxhill commented on #4493
Well.... We know in pecan it will always be lite to start. So what not only
use lite safe pallettes only
On Jul 17, 2015 12:39 PM, "Javier Arce" <notifications@github.com> wrote:

[2015-07-17 18:52] chriswhong opened #4539 ""Analyzing Dataset" modal appears after any change in the SQL query"
I dismiss it, but it keeps showing up.  Suggest it stay away after being dismissed once for a given dataset.

[2015-07-17 19:08] andrewxhill opened #4540 "Remove all marker stroke in pecan previews"
![screen shot 2015-07-17 at 3 08 16 pm](https://cloud.githubusercontent.com/assets/370259/8755020/bcf1cbaa-2c95-11e5-8f93-0dd578b34156.png)

[2015-07-17 19:14] andrewxhill commented on #4540
Remove all stroke from polygon too

![screen shot 2015-07-17 at 3 12 40 pm](https://cloud.githubusercontent.com/assets/370259/8755115/7d5f3ad0-2c96-11e5-8ed6-6135330b25cf.png)

[2015-07-17 19:15] andrewxhill opened #4541 "Change Heatmap density on Preview and on Final map"
![screen shot 2015-07-17 at 3 13 54 pm](https://cloud.githubusercontent.com/assets/370259/8755122/8e9122fa-2c96-11e5-8ff7-9f768e803c8b.png)

The preview should be teeeny, we know it is going to be a super dense image.

For the final map, it is 35, we know that it suggested heatmap because the data is dense, so please drop this to like 5 or 10!

[2015-07-17 19:32] andrewxhill commented on #4540
![screen shot 2015-07-17 at 3 31 56 pm](https://cloud.githubusercontent.com/assets/370259/8755455/01b7264c-2c99-11e5-910d-937342894aca.png)

[2015-07-17 20:04] andrewxhill opened #4542 "After interacting with the editor, the table gets stuck"
I've seen this in my browser. Restarted browser, replicated. Also replicated on someone elses account

![unscrol](https://cloud.githubusercontent.com/assets/370259/8756086/884cebac-2c9d-11e5-8fa3-5023dab3c9de.gif)

[2015-07-17 20:32] jatorre opened #4543 "Full screen button does not work in Google Chrome"
Checkout this page:

http://mashable.com/2015/07/17/schumer-thrones-google-emmys/

Chlick on the fullscreen button of the map and nothing happens.

Looking the error console I can see this.

Which says "requestFullscreen() is deprecated on insecure origins, and support will be removed in the future. You should consider switching your application to a secure origin, such as HTTPS. See https://goo.g

[2015-07-17 20:33] andrewbt commented on #4513
@ztephm informed me that there's a "don't guess types on import" checkbox that will fix the georeferencing part, which I missed because I'm so used to doing drag-and-drop imports. Still, I think quoted numbers in CSVs should remain strings.

[2015-07-18 08:22] gfiorav opened #4544 "Second Torque layer applies even though it shouldn't"
Even though you get a message saying that only one torque layer is allowed per map, a second torque layer is applied over the previous one.

To reproduce this problem:

1. Create a map with a torque layer and set the color to something else than default (not blue)
2. Create a new dataset from filter
3. Add new dataset as layer and select torque
4. Wait for the animation to restart and you should s

[2015-07-18 08:31] gfiorav opened #4545 ""Ghost" filter UI bug"
To reproduce this problem (tested on Safari):
1. Create a map with a Torque layer
2. While on map view, open the side panel
3. Create a filter by time and adjust it
4. Double click on the submenu upper part to close it
   5, Re-open the side menu by clicking on the filter icon

You should see an empty duplicate filter element. Every time you close and reopen the submenu following the procedure 4-5

[2015-07-18 09:22] fdansv commented on #4468
Well to get density we just need to analyse the geometry column. It's really a matter of just making sure that the_geom is analysed first. I'm going to try and do this today.

[2015-07-18 16:11] andrewxhill opened #4547 "New gallery entry - Home education in the UK"
http://www.futureschool.com/students/home-education-in-england/

[2015-07-18 19:12] #4473 closed

[2015-07-18 23:58] xavijam opened #4549 "New public header sign up link"
![image](https://cloud.githubusercontent.com/assets/132146/8763994/68b1bcba-2db9-11e5-843c-ef0bfdd9796a.jpg)

[2015-07-19 08:14] saleiva commented on #4542
@xavijam did a fix for this

[2015-07-19 08:16] saleiva commented on #4541
5 or 10 is not gonna work neither. @fdansv could you research a bit on this?

[2015-07-19 08:17] saleiva commented on #4493
It depends on the size of the polygons. Big polygons work on any ramp, smaller ones don't. It's not that easy :(

[2015-07-19 08:17] saleiva commented on #4539
duplicated. We will activate skip option tomorrow morning. It is like that for testing purposes :)

[2015-07-19 08:17] #4539 closed

[2015-07-19 10:17] saleiva opened #4550 "Exlude columnas that are all null from the choropleth / category wizard selector"

[2015-07-19 10:57] saleiva opened #4552 "Map on New edit metadata modal doesn't work with small polygons datasets"
It never renders anthing to me, plus there is a white gradient overlapping it.
<img width="1392" alt="screen shot 2015-07-19 at 12 55 57" src="https://cloud.githubusercontent.com/assets/132149/8765641/9d4b9264-2e15-11e5-8863-0d43d400d7be.png">

[2015-07-19 11:04] saleiva commented on #4552
Try with https://team.cartodb.com/u/saleiva/tables/sf_building_footprints_1/map

[2015-07-19 11:11] saleiva opened #4553 "Some texts are almost not visible in safari"
This is important for pecan

<img width="1037" alt="screen shot 2015-07-19 at 13 11 05" src="https://cloud.githubusercontent.com/assets/132149/8765663/affcec3a-2e17-11e5-8b2e-91baa8af8786.png">

[2015-07-19 11:12] saleiva opened #4554 "Change heatmap card title"
IT says heatmap on the_geom. it should be just heatmap.

[2015-07-19 14:58] saleiva opened #4556 "Creating a new map with an URL that retrieves more than one file should add all layers to the map and not to different maps"
Like an osm export

[2015-07-19 15:09] saleiva opened #4557 "Delete feature confirmation modal is not the new one on the dataset view"

[2015-07-19 15:34] saleiva opened #4558 "Background importer remains visible after finishing an import and says "connecting data...""
I think this is due to the use of the component on pecan. We shouldn't keep it on the imports.

[2015-07-19 20:38] andrewxhill commented on #4493
Uhm... there are only two options

1. Get better at knowing from the polygon coverage what ramps we could use
2. Go with ramps that work in all cases. "polygon size safe ramps"

We are only really prepared for 2 at the moment.

On Sunday, July 19, 2015, Sergio Álvarez Leiva <notifications@github.com>
wrote:

--

andrewxhill <http://twitter.com/andrewxhill>
http://cartodb.com

[2015-07-19 22:07] saleiva commented on #4493
We dont have Any that works for small polygons right now
On Jul 19, 2015 10:38 PM, "Andrew W. Hill" <notifications@github.com> wrote:

[2015-07-20 07:04] #4454 closed

[2015-07-20 07:05] #4472 closed

[2015-07-20 07:09] Kartones commented on #4556
uhmm, this is a non-trivial change, the whole platform works by adding stuff as tables, not layers inside a single table. Are we sure we want to attack this? /cc @javisantana

BTW, OSM imports also create multiple tables:
![image](https://cloud.githubusercontent.com/assets/2085449/8771227/eaad6c72-2ebe-11e5-972b-4b916779b6e0.png)

[2015-07-20 07:45] javierarce commented on #4538
Please, confirm if this limit is ok for the release of the feature.

[2015-07-20 07:49] javisantana commented on #4538
let's do this but be ready to decrease it

[2015-07-20 07:50] javierarce commented on #4538
Ok

[2015-07-20 07:55] Kartones opened #4561 "Expose sync tables logs to superadmin endpoints"

[2015-07-20 08:02] ethervoid opened #4562 "A zip of raster files should import all the files as tables"
As you can import multiples files for SHP, KML, etc, you should be able to import multiples raster files inside a zip or compressed file.

[2015-07-20 08:50] #4324 closed

[2015-07-20 08:50] josecruz commented on #4523
Missing state
`After available credits, each <%= block_size %> new geocodings will cost $<%= block_price/100 %>.`
![screen shot 2015-07-20 at 10 39 59 am](https://cloud.githubusercontent.com/assets/596509/8772344/cbb20ae6-2ecb-11e5-86c0-3f16caa98f5c.png)

_this closes #4324 right?_
Yup, clossed.

[2015-07-20 08:52] #4016 closed

[2015-07-20 09:04] juanignaciosl opened #4563 "ActionView::Template::Error: undefined method `public_url' for nil:NilClass"
cc @xavijam

https://rollbar.com/vizzuality/CartoDB/items/8089/occurrences/6603219043/

[code]

[2015-07-20 10:05] saleiva commented on #4556
Is a map, with the tables. Not layers in a table
On Jul 20, 2015 9:09 AM, "Kartones" <notifications@github.com> wrote:

[2015-07-20 10:07] javisantana commented on #4556
this needs to be designed internally, not an easy change

[2015-07-20 10:19] Kartones commented on #4556
If is only for the map I can reuse stuff I've done for Instagram import (the "after import decorator") but it requires a few changes, is still not trivial.

For example we're currently not creating a map if import generates N tables (and I think this logic is handled frontend-side). Also only doing this on url-based imports but not the rest (e.g. why not ArcGIS? Why not an OSM or KML import?) is g

[2015-07-20 10:22] javisantana commented on #4556
No quick changes, we need a clear strategy here on what the importer creates (tables, layers and styles) based on imported files. This is a full feature and needs a wiki page

Think that with pecan we already started to analyze datasets to create wizards that match the dataset, that should be part of the import process.

[2015-07-20 10:23] #4561 closed

[2015-07-20 10:44] xavijam commented on #4553
![screen shot 2015-07-20 at 12 37 17](https://cloud.githubusercontent.com/assets/132146/8774307/02315d22-2edd-11e5-81e1-a292d1e08160.png)

[2015-07-20 10:44] #4553 closed

[2015-07-20 11:17] juanignaciosl commented on #4232
This happens because of sent URL:

http://central-user-1.localhost.lan:3000/api/v1/viz/?tag_name=&q=Gues&page=1&type=&exclude_shared=false&per_page=9&tags=&shared=yes&locked=null&only_liked=null&order=updated_at&types=derived

Which should sent `only_liked=true`.

http://central-user-1.localhost.lan:3000/api/v1/viz/?tag_name=&q=Gues&page=1&type=&exclude_shared=false&per_page=9&tags=&shared=yes&loc

[2015-07-20 11:34] josecruz commented on #4236
Okay, so changing it on the sketch file. Probably the rest of the modals on the sketch files aren't updated as well (I just copy/pasted them from another sketch file). Thanks for spotting this! Let's use production styles

[2015-07-20 12:06] ethervoid commented on #1410
I'm going to need the copy for this mail, thank you :)

[2015-07-20 12:24] Kartones commented on #3439
I have opted for a new `original_url` attribute that gets stored to the DB and only written once, so it captures always the source url:
- If is a local file, it will either hold the local server path (long uploads, first gets stored at a folder) or the AWS S3 bucket (small uploads, directly done by Unicorn to S3 from the server)
- if is a remote url, is always the url, being a sync or normal impor

[2015-07-20 12:54] josecruz opened #4570 "Templating infowindows modal"
![screen_shot_2015-07-20_at_14 35 31_720](https://cloud.githubusercontent.com/assets/596509/8776131/1a65592c-2eef-11e5-877f-b89f516d0269.png)

[2015-07-20 12:54] Kartones commented on #4309
Ok, checked the code and this is safe, it is inside a rescue block that just returns 0 as size & row size in case of exceptions (but also notifies to RB). This is a dead table being listed.

[2015-07-20 12:54] #4309 closed

[2015-07-20 12:59] viddo commented on #4557
Fixed in 585680e, piggy-backing on #4381

[2015-07-20 12:59] viddo commented on #4557
Fixed in 585680e, piggy-backing on #4381

[2015-07-20 12:59] #4557 closed

[2015-07-20 13:04] javierarce opened #4571 "Sometimes creating a category map with pecan doesn't activate the legends"
Could be related with setting wizard_properties.

How to reproduce it:

1. Import the chicago_bike_routes dataset from cartodb.
2. Open the map view.
3. Create a category with pecan

The right result: pecan should add a category legend, but instead it shows an empty one.

This only seems to happen the first time. If you enable the legend, then disable it and then repeat the process, the legend app

[2015-07-20 13:05] javisantana commented on #4442
@lbosque is there any special problem you found related with this? I'd say last modified and or etag would be enough but there would be a reason, right?

[2015-07-20 13:07] javisantana commented on #4467
what is the problem?

[2015-07-20 13:25] Kartones commented on #3287
Added all mentioned and a few more 200x ones: http://docs.cartodb.com/cartodb-editor.html#error-codes-and-solutions

[2015-07-20 13:25] #3287 closed

[2015-07-20 13:38] ethervoid commented on #1410
I'm now working on the permission part. Where are we going to put the enable/disable notifications part? Right now there is not part of notifications in the user profile. Are we going to create one?.

IMHO the better option is to put a notifications section in the user profile that let the user enable or disable notifications. Also we have to add a footer with a link to redirect him to the part wh

[2015-07-20 13:42] Kartones commented on #1410
If we want to be purist on this, the link to unsubscribe should work with just an unsubscribe hash or something similar, not requiring the user to login to do it (according to the [CAN-SPAM act](https://www.ftc.gov/tips-advice/business-center/guidance/can-spam-act-compliance-guide-business)). Maybe a `base64encode([some-db-stored-SHA1-hash, notification-type-to-disable])`.

I think I have somewher

[2015-07-20 14:16] ethervoid commented on #1410
After talk with @Kartones we are going to create the notifications part for the user model.

A user is going to have all the notifications active by default and could unsubscribe from them using a link in the bottom of the email. Doing this we are going to prepare the field for other kind of existent notifications.

[2015-07-20 14:17] Kartones commented on #1410
please, add a small wiki page explaining the DB schema, etc. so we start documenting new features

[2015-07-20 14:18] ethervoid commented on #1410
:+1:

[2015-07-20 14:36] javisantana commented on #4540
my proposal, knowing the image size (300x200 I think) we know the # of pixels so:

if (nrows/npixes > XXXX) { no stroke }

[2015-07-20 14:37] Kartones commented on #3477
can't reproduce in local, gonna test at staging. in local the `connect_timeout` is honored and after ~2 secs I get the expected `Sequel::DatabaseConnectionError: PG::Error: timeout expired` error and doesn't gets stuck.

[2015-07-20 14:55] Kartones commented on #3477
Same at staging, I changed (from DB) a user's database_host to 10.0.0.1, and I get 500 error at the webpage, timeout error from a console.

[2015-07-20 15:05] #4571 closed

[2015-07-20 15:14] #3477 closed

[2015-07-20 15:22] #4538 closed

[2015-07-20 15:32] viddo commented on #4552
The visual bug is already fixed (not deployed yet though), the other was due to a bug in cartodb.js, fixed in https://github.com/CartoDB/cartodb.js/pull/610, will have to update cartodb once it's merge there to fix this.

[2015-07-20 15:33] javierarce opened #4577 "Store the analysed status of pecan"

[2015-07-20 15:57] viddo commented on #4552
w/ fix :+1: <img width="1677" alt="screen shot 2015-07-20 at 17 56 33" src="https://cloud.githubusercontent.com/assets/978461/8780347/b4a6b0b2-2f08-11e5-8957-81713cd8add7.png">

[2015-07-20 16:19] viddo commented on #4523
Is there anything more for you to do here? Otherwise reassign to me please

[2015-07-20 16:20] josecruz opened #4579 "New modals fixes"
## Privacy modal
- [x] In this modal, all green buttons should be blue `#0090d7`.

- [x] Header margins + header icon `#666`:
                        There are wrong margins here. First, icon to text should be 12px (as in connect dataset)
![screen shot 2015-07-20 at 3 42 28 pm](https://cloud.githubusercontent.com/assets/596509/8779709/ecd116d4-2f04-11e5-87e2-e694044c31fc.png)
![screen shot 2015-07

[2015-07-20 17:51] jsanz opened #4582 "Scaping backslash on templates when creating named maps"
Getting the template of a named map scapes the back slashes with something like this:

[code]

But if you create a new named map using this scaped slashes as they came, the named map is created but when I instantiate it I get an error on parsing those strings

[code]

And the error cames evident if you ask for the template defined

[code]

Not sure if this is an error but I'd expect to send the sa

[2015-07-20 19:12] chriswhong opened #4583 "SQL COMMENT not working in the Editor"
'COMMENT ON TABLE chriswhong.nytracts IS 'NY State Census Tracts''

results in 'syntax error at or near "ON"'

[2015-07-20 19:14] saleiva commented on #4467
Small bubbles get behind the big ones
On Jul 20, 2015 9:07 AM, "javi santana" <notifications@github.com> wrote:

[2015-07-20 20:24] saleiva opened #4585 "Add templates tab on actual create map modal window"
so we remove the extra click that we want to remove on the redesign anyway

[2015-07-21 01:44] saleiva commented on #1410
For the admin options, add an issue and assign to jose!

S.

-----
@saleiva

[2015-07-21 01:50] saleiva commented on #4540
+1

[2015-07-21 01:52] saleiva commented on #4556
Yep, no problem on creating a wiki page.

[2015-07-21 01:53] #4477 closed

[2015-07-21 01:54] saleiva commented on #4552
<3

[2015-07-21 01:56] saleiva commented on #4554
ping!

[2015-07-21 01:57] #4496 closed

[2015-07-21 06:40] juanignaciosl opened #4586 "Error after 20 imports through api of table with the same name"
There's a user who is doing this every X minutes:
- Import file through Import API. Since the file has already been registered previously it's registered/renamed as filename_1, filename_2...
- Update original table (trunc + insert-select) with new values.
- Drop new table.

The problem with this is that since they don't enter the dashboard ghost table cleanup is not triggered so nonexisting tables

[2015-07-21 06:40] ethervoid opened #4587 "On encoding error, try to fallback to other common type of encodings like UTF-8 or Latin1"
When we are trying to import a file an we get an encoding error, we should try fallbacks (only for reasonable sized files) to the most common encodings like LATIN1 or UTF8.

If none of the fallbacks works, we should return an encoding error despite the number of rows imported

[2015-07-21 06:52] Kartones commented on #4586
I'd say none of them if we're going through an import.

Ghost tables register is fully async, so just triggering it won't guarantee we have "everything in order" before the import starts... and I'm really afraid of issues in the step when we're moving the data between schemas.

What we could actually do instead is, if the import fails due to too many renames (detecting this scenario, that is), the

[2015-07-21 07:00] #3439 closed

[2015-07-21 07:21] #4552 closed

[2015-07-21 07:21] #4381 closed

[2015-07-21 07:22] #4563 closed

[2015-07-21 07:23] viddo commented on #4236
merged in #4567

[2015-07-21 07:23] #4236 closed

[2015-07-21 07:28] ethervoid opened #4588 "Issues with the encoding while importing some files"
**Problem**

We are having issues with some files that don't have the encoding inside the *.dbf file of the SHP file.

**Solution**

The problem comes from the `chardet` package that don't detect properly the encoding. With the last commit, some of this problems are solved.

[2015-07-21 07:48] juanignaciosl commented on #4586
Well, I thought about being more explicit but then I forgot to write this: "trigger ghost tables _synchronously_, in the same job import is running". Job's already async, this is not a problem. I'm not so sure about this solution, but I prefer this to your proposal, since this way we avoid errors.

Anyway, something about this doesn't feel good to me, not sure what :-\

[2015-07-21 07:55] Kartones commented on #4586
The thing is that import itself should not know about rakes, ghost tables, etc. (and doesn't right now), that's why I was looking at an approach of "fail, then at an upper level fix".
We have already violated the knowledge part because the importer had to know about platform limits, some user data, etc. but if chasing your solution I'd make the link + import go in the resque job code, not inside t

[2015-07-21 08:00] javisantana commented on #4586
Let's be clear, the right way to do thing is to enable ddl_triggers and ping cartodb api to register/unregister new tables on create/drop from sql api.

Said that, the solution you propose about running ghost tables would work, but take into account is not the final solution.

cc @pramsey

[2015-07-21 08:33] javierarce commented on #4276
Ok, so for this to work we'll need to make some changes in the backend to store that information. We'll use the same approach as with the importer stats.

Are we all OK with the list of stats that Andrew proposes?

/cc @saleiva @javisantana

[2015-07-21 08:52] xavijam opened #4590 "First version for Twitter templated workflow"
- [x] Color widget (@alonsogarciapablo).
- [x] Apply category color to new generated import (@alonsogarciapablo).
- [x] Navigation breadcrumb (@xavijam).
- [x] Form errors (@xavijam).
- [x] Add subtitle for each step (@xavijam).
- [x] Fix date picker when it is opened (@xavijam).
- [x] Create needed states for importation and creation (@xavijam)
- [x] Import jobs should not happen in the backgroun

[2015-07-21 09:06] xavijam commented on #4533
Please, this is important, i need you to take a look with me :)

[2015-07-21 09:06] #4054 closed

[2015-07-21 09:06] xavijam commented on #4054
We will review them after new_modals release.

[2015-07-21 09:09] xavijam commented on #4232
No no, search is generic, it searches everywhere, not in the context the user is. And if we want to include liked datasets/maps we will need a new parameter, not ```only_liked```. It should be ```liked``` with 3 options, ```yes```, ```no``` or ```only```, as we do with ```shared``` parameter, for example.

[2015-07-21 09:11] juanignaciosl commented on #4232
Ok, I'll fix smoke test templates then.

[2015-07-21 09:11] #4232 closed

[2015-07-21 09:16] #2695 closed

[2015-07-21 09:26] alonsogarciapablo commented on #4533
I'd say all the Backbone overrides should also be included in `embed.js`, cause files like `public_like.js` depend on them to work correctly.

Also, would it make sense to include this:
[code]
In the [config.js](https://github.com/CartoDB/cartodb/blob/master/lib/assets/javascripts/cartodb/config.js) file?

[2015-07-21 09:34] juanignaciosl opened #4591 "Use display_name at import modal"
Import endpoint now returns `display_name` attribute, which does its best guessing the import name (see CartoDB/cartodb#2695 and CartoDB/cartodb#4487). Import modal can use it to display the name instead of the id (after a reload, for example).

[2015-07-21 09:39] ethervoid opened #4592 "Notifications part in user profile page"
When I started working on the issue #1410 one of the required features was "provide the possibility to unsubscribe the user from the notification".

This feature involves either the possibility to unsubscribe from a notifications using a link in the received email and the possibility to manage all the notifications from a tab in the user profile.

Apart from this we need to have active all the ema

[2015-07-21 10:07] iriberri opened #4593 "Dashboard dataset list gets blocked in Data Library"
There are not specific steps to reproduce this issue, but it seems that under certain circumstances (probably cache issues) although the user has datasets in his/her account, the dashboard is always going to "Data Library" and there's no way to change the tab. This is not something attached to an specific account, as testing the same scenario in an incognito window doesn't raise the issue.

When c

[2015-07-21 10:18] xavijam opened #4594 "Error trying to get map id in a torque map"
Repeated/reported so many times.
https://my.trackjs.com/details/e38869e5fffa489abe540fd263bb8934

[2015-07-21 10:34] viddo commented on #4533
Is there some argument for not always include the app for all bundles? It's not that big so should not really have any negative impact on page load, and in terms of maintenance and expected behavior on the models it would be easier if they behave in the same way consistently.

[2015-07-21 10:36] saleiva opened #4595 "Trying to search when the list of maps / datasets is loading makes search to dissapear when the list loads"
We should let people search even before the list has changed, and if the list changes don't hide the search form.

[2015-07-21 10:58] fdansv commented on #4554
on it!

[2015-07-21 11:05] xavijam commented on #4533
@alonsogarciapablo: further to config change, yes, agree.
About adding app.js... yes, we could do it, but we suffer a problem in the past (1-2 months ago) with a change in that file and failing silently in the embed_map. No sure.

[2015-07-21 11:16] #4397 closed

[2015-07-21 11:38] fdansv commented on #4594
Nice, thanks ;)

[2015-07-21 11:42] ohasselblad commented on #4276
adding myself to track this

[2015-07-21 11:55] javisantana commented on #4533
I do prefer to have the embeds as clean as possible but in this case @viddo is right, app.js is really small.

[2015-07-21 12:38] juanignaciosl commented on #2586
Ok, the problem is that a change to private [clears permissions](https://github.com/CartoDB/cartodb/blame/master/app/models/visualization/member.rb#L708) and then [permission check on dependent visualizations delete it](https://github.com/CartoDB/cartodb/blob/master/app/models/permission.rb#L429) without previous warning.

@javisantana , if I'm not missing any detail this looks like a product deci

[2015-07-21 12:42] javisantana commented on #2586
Probably that use case was not taken into account, I'm agree with you on 2) but not sure if not clearing permissions could drive to a security problem (I don't see it but you know)

@Kartones is the one who worked more on that, do you see any issue?

[2015-07-21 12:45] juanignaciosl commented on #2586
I'll check if you both agree, but I don't think so: since permission switch for that user is on a user can just disable it (and disabling it has a nice warning message).

[2015-07-21 13:07] viddo commented on #4506
@rafatower @xavijam do you where I could get this “_X days left to renew your billing cycle_” info?

[2015-07-21 13:09] alonsogarciapablo commented on #4533
`embed.js` was created [here](https://github.com/CartoDB/cartodb/commit/835006e68b151d92800880ccfcfc27d97e049ba4). The argument for this change was that `app.js` included some code related to the editor which wasn't needed in embeds. But it's true that it doesn't include so much extra stuff... Should we revert that change?

[2015-07-21 13:09] xavijam commented on #4506
I feel that info is not available (yet?) in the frontend side.

[2015-07-21 13:09] Kartones commented on #2586
I told @juanignaciosl by chat. If everything works fine and the tiler responds ok to the tokens, etc.... I'm ok with changing this logic.

I just recall that we added this "feature" as a user security feature, if you make something private it just unshared itself, so is not that we cannot do the opposite, it was just decided as that.

My only concerns were tiler access or "redundant auth tokens" m

[2015-07-21 13:12] xavijam commented on #4533
We could add it again yes, and run some tests in staging.

[2015-07-21 13:26] javisantana commented on #4582
cc @rochoa

[2015-07-21 13:32] #4593 closed

[2015-07-21 13:38] juanignaciosl commented on #2586
Great, stay tuned. Thanks!

[2015-07-21 14:38] iriberri opened #4599 "Share button doesn't work from inside the Editor"
Hey there,

Not a bug report but actually a discussion thread. What's the behaviour that you would expect when clicking in the "share" overlay inside the Editor?

Right now, it doesn't have any effect, while in an embed map a sharing modal window appears.

cc @saleiva @xavijam

[2015-07-21 15:23] javierarce commented on #4540
:ok_hand:

[2015-07-21 15:29] viddo commented on #4506
I could not find any clear answer when asking around, but after talking to @juanignaciosl (thx) I went with using the `user.get('billing_period')`, and calculating the remaining days from that, AFAIK the billing is the same for all, even if the quotas differs for different things.

[2015-07-21 15:32] ztephm commented on #3068
Also S/B 6023862

[2015-07-21 15:48] #4461 closed

[2015-07-21 15:48] #3006 closed

[2015-07-21 15:49] ethervoid commented on #4123
After talk with @javisantana this should be done by frontend people activating the scroll in the public tables

[2015-07-21 15:50] javisantana commented on #4123
not sure if this makes sense for this milestone tho

[2015-07-21 15:57] saleiva commented on #4123
Nope. We are redesiggning the public view so... let's keep this closed for the time being

[2015-07-21 15:57] #4123 closed

[2015-07-21 16:02] ethervoid opened #4603 "Error in update_name_changes"
We are receiving errors in the `update_name_changes`

[code]

[2015-07-21 16:15] alonsogarciapablo commented on #4594
@fdansv ping me if you need some help with this. I think that the problem is that the "layer_definition" is somehow [being invalidated](https://github.com/CartoDB/cartodb.js/blob/develop/src/geo/layer_definition.js#L379) so `mapProperties` is null when [trying to fetch the attributes](https://github.com/CartoDB/cartodb.js/blob/develop/src/geo/layer_definition.js#L357-L358). Attributes are fetched

[2015-07-21 16:51] jsanz opened #4604 "Send e-mail when a long geocoding it's finished"
When a long geocoding process is finished, it'd be nice to receive an email with statistics of the results and so on.

This is related with #4019

[2015-07-21 16:57] vishalya opened #4605 "Broken doc links on https://github.com/CartoDB/cartodb/blob/master/doc/frontend/README.md"
The links on the page https://github.com/CartoDB/cartodb/blob/master/doc/frontend/README.md are broken for any of the documents.

[2015-07-21 17:04] ohasselblad opened #4606 "divengent color ramps aren't applying correctly to all distributions"
color ramps and quantification methods need to align for distributions of data. For data peaked like an A, the neutral color should be on the peak, while the diverging colors should go right/left from there. As currently implemented, our quantification algorithms don't take this into account.

[2015-07-21 17:08] ohasselblad commented on #4606
Here's an example:
<img width="343" alt="screen shot 2015-07-21 at 13 07 20" src="https://cloud.githubusercontent.com/assets/1041056/8807292/748d9eb8-2fa9-11e5-9f39-b063ae5d0426.png">

[2015-07-21 18:37] andrewxhill opened #4607 "Allow user of Open in CartoDB to specify a layer 'Title' and 'Description' and 'Tags'"
Allow more parameters to be sent in the URL of an Open in CartoDB link, so that the creator of the link can ensure that better information is stored on CartoDB right away.

I've heard the request a couple of times from users, can we explore feasibility?

cc @javisantana

[2015-07-21 19:19] ohasselblad opened #4608 "make default legend title the column name instead of empty"
when a choropleth or bubble or ... map is made, put the legend title to default as the column name used to visualize the data

[2015-07-21 22:31] fullofcaffeine opened #4609 "More complex heatmaps and pre-rendering heatmaps as tiles?"
This question is related to: https://github.com/CartoDB/cartodb.js/issues/590. The one in `Carto.js` is specific to `IDW` and `Leaflet.heat`, though. After some additional research, I've found that Cartodb as a Gis/mapping platform is really lacking when it comes to creating heatmaps.

**Will `CartoDB` (through `Carto.js?`) ever support more complex heatmaps?** Specifically:

1) **Configurable hea

[2015-07-21 23:08] josecruz opened #4610 "Add footer summary on merge tables"
We're replacing the connection line to a small "puzzle piece" on the footer with a summary of the opperation:

<img width="1440" alt="screen shot 2015-07-21 at 23 12 12" src="https://cloud.githubusercontent.com/assets/596509/8814511/a0890e76-300d-11e5-8ea1-aac8bca6f984.png">
<img width="1433" alt="screen shot 2015-07-22 at 01 05 57" src="https://cloud.githubusercontent.com/assets/596509/8814521/da

[2015-07-22 06:49] javisantana opened #4611 "http instead of https is used in api key page example urls"
https urls should be used

![screen shot 2015-07-22 at 8 47 51 am](https://cloud.githubusercontent.com/assets/30147/8819663/6d7465b2-304e-11e5-8a94-fbfe24b44727.png)

[2015-07-22 06:51] Kartones commented on #4442
ping!

else I'll just unassign the milestone for now, as we're reaching its end

[2015-07-22 07:18] #2586 closed

[2015-07-22 07:39] iriberri commented on #4593
Thanks for fixing! Just for the record: this didn't solve user situation although no JS errors are appearing now in his end

[2015-07-22 08:36] juanignaciosl opened #4612 "Sequel::InvalidValue: nil/NULL is not allowed for the rows_counted column"
https://rollbar.com/vizzuality/CartoDB/items/4982/

[code]

[2015-07-22 08:57] javisantana commented on #4607
this is something for oneclick repo, right? In an ideal world the importer should allow to specify those values but since the importer allows to import more than one dataset at a time it's not so easy.

[2015-07-22 08:58] viddo opened #4613 "When clicking on password protected and then clicking on the unavailable button it returns an error"
When clicking on password protected and then clicking on the unavailable button it returns an error:
![privacy](https://cloud.githubusercontent.com/assets/596509/8779697/e04a7e64-2f04-11e5-95a8-d2bc4f7ba9ee.gif)

[2015-07-22 09:17] #2419 closed

[2015-07-22 10:15] iriberri opened #4616 "Map created from file without geometries gets centered in Null Island"
**Steps:**

* Import [this CSV](https://gist.githubusercontent.com/iriberri/40b63cbc775f805b5eaf/raw/206bb50496cb439f4a6eee7e218c971730a9942f/examplessssssss.csv)

Resulting map in the Editor:

![image](https://cloud.githubusercontent.com/assets/1730320/8823193/231a7d2c-306b-11e5-97e9-360ac334340c.png)

Viz.json info (https://vmg.cartodb.com/viz/3f9726e6-305a-11e5-966b-0e5e07bb5d8a/map):

[code]

[2015-07-22 10:24] #4613 closed

[2015-07-22 10:24] #4506 closed

[2015-07-22 10:24] #4523 closed

[2015-07-22 10:26] javisantana commented on #4616
@viddo not sure if the change we did yesterday about the bounds calculation is related

[2015-07-22 10:28] josecruz commented on #4570
@saleiva what do you think?
![screen shot 2015-07-22 at 12 27 33 pm](https://cloud.githubusercontent.com/assets/596509/8823449/21bc8a5e-306d-11e5-8172-d096786569c8.png)

[2015-07-22 10:31] javisantana commented on #4616
anyways, the bounding box calculated server side does not match with center and zoom

[2015-07-22 10:35] xavijam commented on #4542
No no, I made a fix after deleting a column, but @andrewxhill is showing us the editor without scroll from the beginning. In any case, I need more details:

- Is the new_modals flag enabled?
- Is it still happening?
- Could you share your dataset to reproduce the same environment in my local?

[2015-07-22 10:51] viddo commented on #4616
yeah, confirmed that the change is the culprit indeed :(

Having a 2nd look, actually not sure if we should return zoom or min zoom (like 1) instead. either way we need would need to change this or the [other use-case](https://github.com/CartoDB/cartodb/issues/4552) to make them work as desired. What do you think?

[2015-07-22 11:05] javisantana opened #4618 "plain color basemap is not enabled"
- create a map
- select the positron basemap
- select a plain color basemap

the basemaps does not change (the labels are removed tho).

The background color is changed so I guess the problem is not removing properly the current basemap layer

[2015-07-22 11:38] saleiva commented on #4605
hey @iriberri can you talk to whoever could work on this?

[2015-07-22 11:38] saleiva commented on #4605
hey @iriberri can you talk to whoever could work on this?

[2015-07-22 11:40] saleiva commented on #4611
Alignement is wrong also. @josecruz could you help @juanignaciosl with this?

[2015-07-22 11:49] juanignaciosl commented on #4611
@saleiva left labels are vertically aligned in the middle. The problem at the previous screenshot is that Santana has hacked his api key to `RAMBO`, but with a valid api key design looks right:

![screen shot 2015-07-22 at 13 47 45](https://cloud.githubusercontent.com/assets/932968/8824671/48b85da8-3078-11e5-90e5-f626345c208e.png)

[2015-07-22 12:15] javisantana commented on #4611
hey, try to leave "easy" issues for the people is starting with cartodb development

[2015-07-22 12:20] juanignaciosl commented on #4611
Ok, I was just editing that page for #4404 when you sent the issue.

[2015-07-22 12:34] viddo commented on #4616
On a 2nd (or rather 3rd) look, I'll revert this change to fix this bug, and I'll look for another solution to the other use-case (#4552).

[2015-07-22 12:39] javisantana commented on #4616
not sure if your fix actually shown a backend side bug (not calculating bbox properly)

[2015-07-22 12:44] javisantana commented on #4616
@Kartones could you give more light about why the bbox is [[0,0], [0,0]] ?

[2015-07-22 12:44] saleiva commented on #4611
Even tho, is wrong IMO. texts should be aligned on the baseline of the first line

[2015-07-22 12:48] #1896 closed

[2015-07-22 13:05] #4605 closed

[2015-07-22 13:23] ethervoid commented on #4604
To clarify you want to add more statistics to the import finish email? What kind of statistics?

[2015-07-22 13:28] jsanz commented on #4604
There is no email at all, yesterday I had to run very long geocoding
processes and having to look on the screen to see if it was finished or not
(and it took hours) was a bit inconvenient.

Having statistics on the number of geocodings, success and fails and timing
would be just an enhancement, the mail is the main thing :)

On Wed, Jul 22, 2015 at 3:23 PM, Mario de Frutos <notifications@github.co

[2015-07-22 13:31] Kartones opened #4621 "remove layers v1_1 endpoint"
Feature flag is `active_record_layers_endpoint`

Must be done in two steps for having no downtime:

### Step 1
- [x] Reroute v1 calls to new controller (but leave v1_1 calls too!)
- [x] Remove JS url patching, so it reroutes again to v1

Branch: `4621-remove-layers-v1_1-step-1`

### Step 2
- [x] Move tests to new controller suite
- [x] Delete old controller no longer used methods
- [x] Delete v1_1

[2015-07-22 13:32] josecruz commented on #4611
Agree with @saleiva about the alignment

[2015-07-22 13:40] ethervoid commented on #4604
There is a notification configured to send the email when the data import finish with all the next conditions:
* The import time ellapsed was 300 seconds or more
* It's not a sync table

If you don't received that email could be a bug in that part

[2015-07-22 13:49] javierarce commented on #4558
I dragged a dataset from the dashboard, the file was imported and I was redirected to the map.

[2015-07-22 13:52] saleiva commented on #4558
and in datasets?

[2015-07-22 13:53] javierarce commented on #4558
Same correct behaviour.

[2015-07-22 13:54] ethervoid commented on #4592
This new part will be a new tab in the user profile or we are going to add notification options to an existent tab?

[2015-07-22 14:00] saleiva commented on #4558
ok, close then. I cannot replicate this neither

[2015-07-22 14:01] #4558 closed

[2015-07-22 14:23] josecruz commented on #4570
Last update after talk with @saleiva
![map editor - infowindow modal](https://cloud.githubusercontent.com/assets/596509/8827606/ef30d2ea-308d-11e5-91ec-a4eb03d552f9.png)

[2015-07-22 14:24] viddo commented on #4524
I think this is related to an item @josecruz added on #4579, _when having an empty dataset if you add a column, it doesn't highlight_:
![add column](https://cloud.githubusercontent.com/assets/596509/8780133/4e31cf7a-2f07-11e5-8896-867e6f54a3e0.gif)
Expected:
![add column - expected behavior](https://cloud.githubusercontent.com/assets/596509/8780140/5adc22ca-2f07-11e5-8edd-9541633ec69d.gif)

From w

[2015-07-22 14:25] viddo commented on #4524
cc @xavijam @javierarce @javisantana  do anyone have insight if this is intended behavior or if there is an actual bug?

[2015-07-22 14:27] viddo opened #4623 "Create-row-hint disappears after creating last row"
When you create a new row, delete it and create a new one, the hint image disappears and appears when you open the right bar:

![add row](https://cloud.githubusercontent.com/assets/596509/8780209/cc37dc8e-2f07-11e5-8159-2e4b2ae9723f.gif)

[2015-07-22 14:29] viddo opened #4624 "Custom sync options doesn't appears in modal when imported dataset from terminal"
![sync options](https://cloud.githubusercontent.com/assets/596509/8799205/ad5a02a0-2fa8-11e5-8825-331e3b693792.gif)

Extracted this from #4579 since it will require more investigation

[2015-07-22 14:34] javisantana commented on #4624
I don't actually get what is "import a dataset from terminal", how do you do that?

[2015-07-22 14:38] viddo commented on #4624
The original report was by @josecruz, I just extracted it from the other issue until I have time to investigate. But I'd also appreciate steps-to-reproduce actually, @josecruz can you give us some more info, please? :)

[2015-07-22 14:44] jsanz commented on #4604
On Wed, Jul 22, 2015 at 3:40 PM, Mario de Frutos <notifications@github.com>
wrote:

Well we're not talking about imports here but about *geocoding*, they're
different processes.

Sorry I didn't realised that in your previous comment.

[2015-07-22 14:46] juanignaciosl commented on #4611
This way then, ok?

![screen shot 2015-07-22 at 16 45 33](https://cloud.githubusercontent.com/assets/932968/8828187/2e474d26-3091-11e5-9635-aa0bf5bcf2f2.png)

[2015-07-22 14:54] viddo commented on #4174
Should be fixed in #4626

[2015-07-22 14:54] #4174 closed

[2015-07-22 14:54] viddo commented on #4174
@josecruz have a 2nd look, please let me know if there's anything that needs more touches

[2015-07-22 14:56] viddo commented on #4623
@josecruz I can't reproduce this anymore, not sure if there have been a change that fixed it somehow since you last tested this :/ If you can reproduce it consistently please reopen and provide more specific steps on how to reproduce

[2015-07-22 14:56] #4623 closed

[2015-07-22 14:58] ethervoid commented on #4604
Ah! Ok you're absolutely right, I was talking about the importer. My bad

[2015-07-22 15:02] josecruz commented on #4611
Yup! :+1:

[2015-07-22 15:02] javierarce commented on #4299
I'm closing this and opening tickets for the pending issues (in case they didn't have them)

[2015-07-22 15:02] #4299 closed

[2015-07-22 15:04] josecruz commented on #4624
Sorry for my n00bness :(

Using curl:
http://docs.cartodb.com/cartodb-platform/import-api.html#example-3

[2015-07-22 15:07] javisantana opened #4627 "fix the geometry_types and wizard_properies hell on layer initialization"
with @xavijam and @alonsogarciapablo.

After fixing this we will go to take a "CUBATAZA"

[2015-07-22 15:13] javisantana commented on #4624
the interval is not one of the ones but not sure how to fix this, we would need a different field to show the current interval (read only) or something like that

[2015-07-22 15:33] javierarce commented on #4292
Where's the file with this design?

[2015-07-22 15:51] saleiva opened #4629 "change EXPLORE to GALLERY on the header in everyplace"
As we are working on the explore section, it doesn't make sense that we call explore to the gallery.
cc/ @carlostallon  please be aware of this.

[2015-07-22 15:53] josecruz commented on #4292
@javierarce If you have acces to dropbox, the file is called `create-map-1.7`

[2015-07-22 16:16] javierarce commented on #4292
Thanks!

[2015-07-22 16:20] josecruz commented on #4292
np! :+1:

[2015-07-22 17:06] javierarce commented on #4440
This should be fixed now!

[2015-07-22 17:06] #4440 closed

[2015-07-22 20:11] saleiva opened #4631 "Update mockups with actual header"
- [x] Dashboard
- [x] Settings / Multiuser
- [ ] ...

[2015-07-22 20:15] saleiva opened #4632 "Update Multiuser mockups with the production version"
Please, high priority as we need to start working on this next sprint. Let's do this on 0.4 version. Don't forget any page

[2015-07-22 20:33] saleiva opened #4633 "Update mockups, add order"
- [x] Dashboard-1.5-responsive and dashboard-1.6 to be unified and updated to the latest production version.
- [x] Public-map-dataset-2.3 check headers
- [x] Create-map-1-7. Check headers, Get the map-in-cartodb scenarios to another file since it's not part of this app (should be in 04-Map-on-cartodb). Order the pages.
- [x] Configuration. That should be part of the multiuser settings mockups.
- [

[2015-07-23 07:38] Kartones opened #4635 "Change default map bounds to whole world instead of null island"

[2015-07-23 07:52] ethervoid commented on #4592
Another thing that I need is the response to the unsubscribe link that its in the email

[2015-07-23 08:21] xavijam commented on #4585
Sorry dude, I don't get what you say, could you elaborate a bit more? Please :).

[2015-07-23 08:26] #4417 closed

[2015-07-23 08:49] ethervoid opened #4638 "Style for the unsubscribe links in mails"
In need to give style this unsubscribe link. For example:

https://github.com/CartoDB/cartodb/pull/4620/files#diff-05350410eae9880577a48ada7f2297b3R55

If you could help me, i could apply that style to all the links that need it :)

[2015-07-23 08:50] rafatower opened #4639 "Undefined method `append' in importer during content guessing"
https://rollbar.com/vizzuality/CartoDB/items/8425/
[code]

Related to https://github.com/CartoDB/cartodb/pull/4625

[2015-07-23 08:52] #4618 closed

[2015-07-23 08:56] #4579 closed

[2015-07-23 08:56] #4175 closed

[2015-07-23 08:57] jsanz commented on #4057
I can't add also this other WMS server as a basemap

http://maps.six.nsw.gov.au/arcgis/services/public/NSW_Imagery/MapServer/WMSServer

This one is not even recognised so I can't select a layer but it works without problems in QGIS.

Worth to note that the first one reported comes from a [GeoWebCache](http://docs.geoserver.org/stable/en/user/geowebcache/index.html) service and mine is an ArcGIS Se

[2015-07-23 08:58] ethervoid opened #4640 "Screen that the user see when he clicks in the unsubscribe link"
When a user receives a notification email, he could unsubscribe clicking in a link at the bottom. That link redirects the user to a screen where he's informed that has been successfully unsubscribed.

I need a design for that.

Thank you!

// @saleiva

[2015-07-23 09:03] carlostallon commented on #4629
:+1:

[2015-07-23 09:03] MariaCheca opened #4641 "Upgrade plan name misspelled"
At `https://cartodb.com/account/[username]/upgrade` John Snow plan's name is misspelled (lowcase surname):

![screen shot 2015-07-23 at 10 56 19 am](https://cloud.githubusercontent.com/assets/2141690/8846847/3e35bc74-312a-11e5-8ae3-3664cadd724f.png)

[2015-07-23 09:04] #4641 closed

[2015-07-23 09:04] MariaCheca commented on #4641
Sorry this issue belongs to cartodb-central 😰

[2015-07-23 09:26] xavijam opened #4642 "Category wizard override categories colors if property has changed"
Applying a category wizard with a new property and adding categories, it doesn't generate the correct CartoCSS and it places the default colors and values.
I feel we have solved in templated-workflows branch:
https://github.com/CartoDB/cartodb/commit/af6e96264f1aaa35026eec33aa80694c22ace41e#diff-96258f1b51739ce33b6b392e30fce8e2R42

[2015-07-23 10:16] josecruz opened #4645 "Duplicated columns when duplicating dataset"
#### Steps to reproduce:
1. Create empty dataset
2. Duplicate dataset
3. Add a column on the duplicated one
4. Merge both datasets

When you create a new empty dataset and you duplicate it, if you create a column on the duplicated one and try to merge both dataset, the columns on both datasets are the same (long gif):
![dataset bug](https://cloud.githubusercontent.com/assets/596509/8848017/69fdb97

[2015-07-23 10:27] rafatower commented on #4503
There are a couple of minor issues with this particular case:
- Geometries are overwritten with `NULL` when the geocoder is not able to geocode. I'm fixing that in https://github.com/CartoDB/cartodb/pull/4630
- After that, the backend returns the `geometry_types` of the table as `[]` since it is a guess based on the first N rows, coincidentally set to `NULL`. See [query_geometry_types](https://git

[2015-07-23 11:18] saleiva commented on #4570
:green_heart:

[2015-07-23 11:19] josecruz commented on #4570
:+1:

[2015-07-23 11:27] alonsogarciapablo commented on #3988
I investigated this a bit more. The problem is that we would need to fetch the information about the visualization in order to know if the embed has been liked by the logged in user. This is easy to do but it would increase the load of our backends, especially for very popular embeds.

[2015-07-23 11:27] #3988 closed

[2015-07-23 11:40] josecruz opened #4647 "Show summary tooltip on merge footer"
Show on:hover an analytic summary of the opperation you're about to do.
e.g: `you're going to 'operation_type' the 'dataset_name' dataset with 'column_name'`

[2015-07-23 11:57] carlostallon commented on #4640
Copy is just a placeholder:
![successfully unsuscribed](https://cloud.githubusercontent.com/assets/1712650/8849782/b894853c-3142-11e5-975b-070150ec03ae.png)

[2015-07-23 12:09] #4386 closed

[2015-07-23 12:12] Kartones commented on #3988
yeps, IIRC we decided to let this stay this way (not checking/reflecting current user's liked status) to not do an extra request on every embed.

[2015-07-23 12:18] matallo commented on #4638
![screen shot 2015-07-23 at 14 18 02](https://cloud.githubusercontent.com/assets/36676/8850133/a8cdeafa-3145-11e5-8700-bca1742a1967.png)

[2015-07-23 12:18] #4638 closed

[2015-07-23 12:19] ethervoid commented on #4638
Beautiful, thank you @matallo

[2015-07-23 12:30] #4639 closed

[2015-07-23 12:34] alonsogarciapablo commented on #3988
Thanks for your clarification @Kartones!

[2015-07-23 12:35] #4524 closed

[2015-07-23 12:38] juanignaciosl opened #4649 "Table#append_to_table"
I've found something strange while testing Ruby 2.2.2. `Table#append_to_table`:

new_schema        = from_table.schema(reload: true)
new_schema_hash   = Hash[new_schema]

That should extract a table schema into a hash. Test example output:

[[:cartodb_id, "number"], **[:the_geom, "geometry", "geometry", "geometry"]**, [:artistas, "string"], [:club_id, "number"], [:club_imagen, "string"], [:club_no

[2015-07-23 12:57] #4645 closed

[2015-07-23 13:02] #4533 closed

[2015-07-23 13:30] rafatower opened #4651 "Add task to purge embeds in redis cache"
There's a similar task for vizjons but not for embeds: https://github.com/CartoDB/cartodb/blob/master/lib/tasks/redis_maintainance.rake#L10

[2015-07-23 13:33] rafatower commented on #4651
Probably to do it as part of the same task, since there's no scenario I can think of where it makes sense to purge one but not another.

[2015-07-23 13:44] rafatower commented on #4651
(I think there's a duplicate of this ticket but cannot fin it)

[2015-07-23 14:16] chriswhong opened #4654 "Add data.json endpoint for compliance with Project Open Data Schema v1.1"
[Project Open Data](https://project-open-data.cio.gov/v1.1/metadata-resources/)  Is the U.S. Government's catalog metadata standard for agencies publishing open data.  Agencies must produce a valid data.json file which is used to aggregate datasets into a central catalog.  Metadata fields include dataset title, description, publishing agency name, etc.

CartoDB is a great place to store public dat

[2015-07-23 14:44] Kartones opened #4656 "Empty other warden scopes upon login"
To finally fully disable "multilogin" and related errors, as we don't support multiple accounts.

[2015-07-23 14:55] rafatower opened #4657 "Speed up test execution"
Some quick ideas:
- use temp tables or unlogged tables
- use https://github.com/jstorimer/spin/ or some other optimization to load rails just once
- parallelize execution against different DB's

[2015-07-23 14:58] ethervoid commented on #4640
Great work!

Just to clarify, just in case, I have to say, my bad, that the unsubscribe is by type of notification. For example shared table, shared viz, data import, maps likes, etc. I think is the same screen but with different text.

[2015-07-23 15:02] #4503 closed

[2015-07-23 15:14] xavijam opened #4660 "Should we run Pecan analysis when a query is applied?"
I feel we should not do it. Also I've found there is a JS bug running the analysis when a dataset has a query applied.

cc @javierarce @ohasselblad

[2015-07-23 15:17] javierarce commented on #4660
We could disable it, yes, since the idea of Pecan is to offer suggestions for the less cartographically inclined.

What do you think, @saleiva and @javisantana?

[2015-07-23 15:26] Kartones commented on #4656
Found how to do it, inside the`Warden::Manager.after_set_user`, do:
[code]

[2015-07-23 16:14] ohasselblad opened #4662 "infowindow links in iframe-embedded maps open new pages in iframe, not _parent"
Reported from user. Didn't have the issue first few months of the year, but did have the issue in the last three or so months. Maybe related to @viddo's work on xss sanitizing?

## How to recreate

1. Create a map with links to external pages in the infowindows
2. Embed map in a webpage using iframe code
3. Click on a link and it will open in the iframe window instead of the main browser window

W

[2015-07-23 16:30] viddo commented on #4662
Hmm, no this sounds like something else, the sanitizing changes should not have this kind.

Without having more context information about that particular user, in theory one could add that `target="_parent"` attr to the links manually. But for both solutions that would require the user to know this pesky detail related to iframes.

Either way, I'm closing this because this is not an issue we can s

[2015-07-23 16:30] #4662 closed

[2015-07-23 17:01] juanignaciosl opened #4665 "LDAP lazy user creation + authentication"

[2015-07-23 17:06] josecruz opened #4666 "[Export Image] When you get out the canvas, the black background breaks"
#### Steps to reproduce

1. Click export image
2. Get outta canvas with the image cropper.

(can't record a gif, licecap is broken :disappointed: ) but I talked in person with Javier Arce.

[2015-07-23 17:30] Hayleyr opened #4668 "[suggestion] add a fallback basemap in case custom map is not working"
a user has suggested that when a custom basemap that's been linked to in a user's visualization fails for whatever reason, cartodb should detect this and replace with one of our own basemaps.

this will avoid potentially having visualizations floating around the internet with no home to live on.

[2015-07-23 18:02] ohasselblad commented on #4662
Thanks @viddo, moving there.

Got the links to original maps: They were [here](http://guides.newman.baruch.cuny.edu/nyc_data/nbhoods) but user changed page so that iframes are not there to avoid the issue. He made them click through to original maps instead.

[2015-07-23 18:17] Hayleyr opened #4669 "Grammar change on "Georeference your dataset" page"
Suggested: Change "georeference" to "georeferenced" in the sentence "No georeference data on your layer. If you don’t georeference your data your map will be blank."
![screen shot 2015-07-23 at 2 12 30 pm](https://cloud.githubusercontent.com/assets/938865/8858410/4ca09372-3145-11e5-932d-76688a623a51.png)

[2015-07-24 07:07] javisantana opened #4670 "migrate previews to preview api"
Remove all the cartodb.js instanciation thing and use the static url for the visualization:

https://github.com/CartoDB/cartodb/blob/master/app/views/admin/visualizations/embed_map.html.erb#L5

[2015-07-24 07:28] javierarce commented on #4670
:)

[2015-07-24 07:29] #4486 closed

[2015-07-24 07:53] Kartones opened #4671 "Proper user feedback if GDrive connects to restricted Gapps config"
Provide a nice user custom message for this:
[code]

[code]

https://rollbar.com/vizzuality/CartoDB/items/8443/

[2015-07-24 07:56] #4635 closed

[2015-07-24 08:10] #4178 closed

[2015-07-24 08:12] #4586 closed

[2015-07-24 08:12] #4404 closed

[2015-07-24 08:12] #4611 closed

[2015-07-24 08:57] #4651 closed

[2015-07-24 09:01] #4590 closed

[2015-07-24 09:23] viddo opened #4673 "Remove old modal code"
Clean up the code that got replaced by the new modals:

- [x] `new_modals` feature flag usage
- old modals:
  - [x] adhoc-BaseDialog extended modals - old_common/views/confirm_dialog
  - [x] cdb.admin.AssetManager
  - [x] cdb.admin.GeocoderWorking
  - [x] cdb.admin.BaseMapAdder
  - [x] cdb.admin.CreateErrorDialog
  - [x] cdb.admin.CreateLayerDialog
  - [x] cdb.admin.CreateVizDialog
  - [x] cdb.adm

[2015-07-24 09:31] #4610 closed

[2015-07-24 09:31] #4669 closed

[2015-07-24 09:57] saleiva opened #4674 "Reduce the amount of columns imported on the twitter connector"

[2015-07-24 10:31] Kartones commented on #4671
Text:
[code]

/cc @saleiva

[2015-07-24 10:43] javierarce commented on #4670
Should I load the URL with a random param so it doesn't get cached?

[2015-07-24 10:58] rafatower commented on #4657
My little experiment with UNLOGGED tables was a failure: 40 min build time :(

[2015-07-24 11:01] #4656 closed

[2015-07-24 11:18] xavijam opened #4676 "There is a typo in overlays parse function"
Not sure if it is provoking problems or not, but here it is:
https://github.com/CartoDB/cartodb/blob/master/lib/assets/javascripts/cartodb/table/overlays/overlays.js#L83

[2015-07-24 12:36] javisantana opened #4677 "add a rake tasks to manage feature flags"
- add a new feature flag
- enable/disable for everybody/an user/an organization

[2015-07-24 12:37] javisantana opened #4678 "twitter datasource documentation and rake task"
create documentation on how to enable twitter data source:
- credentials in app_config.yml
- user attributes that need to be enabled (add a rake task to enable/disable it)
- change quotas

the commands to active it in rails console are:

[code]

[2015-07-24 12:39] javisantana opened #4679 "create documentation on how to add users/organization"
- create an user
- create an org
- add an user to an org

if there no rake tasks, add them

[2015-07-24 13:22] viddo opened #4683 "Replace old missed modals with new ones"
While working on replacing what I thought was the last modals (#4682) I found a few others that all of us missed (so can't be commonly used). They need to be migrated though to be able to remove the old code planned for next/upcoming milestone:

**deletion:**
- [x] confirm delete slide (odyssey) in [table/slides/panel.js#L301-L313](https://github.com/CartoDB/cartodb/blob/master/lib/assets/javascri

[2015-07-24 13:25] #4671 closed

[2015-07-24 13:25] #4127 closed

[2015-07-24 13:46] xavijam commented on #4683
go man go!

[2015-07-24 14:00] rafatower commented on #4657
Baseline for tests (in vagrant vm, default config):
time make prepare-test-db -> 11.5 s
time make check-1 -> 8m 11s

With in-memory db: time make check-1 -> 7m 36s

[2015-07-24 14:26] Kartones opened #4684 "Twitter user defined % limit not being sent correctly to imports API"
### Description
It seems that many times (but not always), no matter what % you choose on the Twitter connector, it sends 80% of your remaining tweets as the maximum.
It seems to happen at least when you choose same day and just some hours of difference, but not sure if there's a correlation or just chance.

### How to reproduce
- Have a user with low Twitter quota, like 10k
- Ttwitter search, sam

[2015-07-24 14:29] javierarce opened #4685 "Enable new static image selector"
Enable new static image selector for all the users.

[2015-07-24 15:44] iriberri opened #4687 "Edit metadata window is trimming the last character of a text when overriding"
**Steps:**
* Go to an existent table (small enough so that you can see the data for all rows)
* Go to the map view and try to edit the metadata of a feature that already contains some text:

![image](https://cloud.githubusercontent.com/assets/1730320/8878458/49f0f7f2-322b-11e5-8cda-ec7260754441.png)

I wrote: " oh yeah", and the result was:

![image](https://cloud.githubusercontent.com/assets/1730

[2015-07-24 15:45] iriberri commented on #4687
cc @xavijam @javierarce

[2015-07-24 15:45] iriberri commented on #4687
SB/6059853

[2015-07-24 15:46] xavijam commented on #4687
on it

[2015-07-24 16:23] rafatower commented on #4657
I'm running several tests with some systems stats and I get the same results: around 50% `idle` time in cpu stats. Seems like tests are IO bounded. I'm also profiling with https://github.com/sinisterchipmunk/rspec-prof to see if I can get a clearer picture...

[2015-07-24 16:32] #4687 closed

[2015-07-24 19:22] azvoleff commented on #2982
Any news on this front? Just ran into this today when using a custom colorscheme.

[2015-07-25 03:08] rebeccawilliams commented on #4654
:+1:

There are several data repositories governments are using to store data (see a roundup care of @waldoj [here](http://how-to.usopendata.org/basics/data-repositories.html)). For agencies or governments that are *required to* or *would like to federate their data*, supporting this standard is a very attractive feature.

ESRI's ArcGIS Open Data supports this standard: http://doc.arcgis.com/en/op

[2015-07-26 10:34] stevage opened #4689 "Field values destructively converted without warning (NASTY)"
I just imported a file with a `FileName` column that looks like this:

<img width="365" alt="screenshot 2015-07-26 20 13 58" src="https://cloud.githubusercontent.com/assets/678344/8893422/ea5e6780-33d2-11e5-8f17-714ee505e03a.png">

That is, each `sourcefile` value is a JPEG in `YYYY-MM-DD hh.mm.ss.jpg` format. This isn't contrived data, this is as provided by a client.

## Bug 1

First, the import

[2015-07-26 10:40] stevage opened #4690 "Can't select file after pressing <--"
1. "Connect a dataset"
2. Select a local file
3. Press the left arrow in a circle to undo the selection
4. Select another local file

![screenshot 2015-07-26 20 38 05](https://cloud.githubusercontent.com/assets/678344/8893523/7998fa2a-33d6-11e5-9c58-0d1f6a41ab61.png)

[2015-07-26 15:11] ohasselblad commented on #4689
@stevage, on bug 1, have you tried importing without type-guessing? There's a checkbox you can de-select so that data types are not guessed.

[2015-07-26 22:31] stevage commented on #4689
Yeah, I have since discovered that. So at least there is a workaround to Bug 1. But one major problem is you don't necessarily know that this problem has occurred, so you could be deep into map creation before you discover that one or more of your columns are broken...

[2015-07-27 07:51] ethervoid commented on #3944
I'm only able to reproduce with the next steps:

* Create map using data library
* At the end of the creation, when the map is shown, there is a massive invalidation of visualizations provoked by a PUT call from the frontend.

Are you getting this invalidations every time you enter the map?

[2015-07-27 07:56] Kartones commented on #3944
uhmm, maybe now the problem is not so much because:
a) I already released https://github.com/CartoDB/cartodb/issues/4008 so now there's no "invalidate everything" call
b) Maybe frontend fixed that bug?feature? of "touching" the map just entering into its editor page.

Anyway that massive invalidation should be checked, even if only happens at the end of creation

[2015-07-27 08:08] ethervoid commented on #3944
Yes, I would like to check all the invalidation problems that we may have and before release a partial patch I'd like to know if the problem reported is solved by fix released.

[2015-07-27 08:19] #4649 closed

[2015-07-27 08:32] #4189 closed

[2015-07-27 10:13] gfiorav opened #4695 "Submenu for column info is out of frame"
To reproduce this problem

1. Open table view with browser in fullscreen
2. Click on arrow to display the leftmost column's info

![screen shot 2015-07-27 at 08 24 08](https://cloud.githubusercontent.com/assets/4222826/8903488/ca5ae95a-3458-11e5-9339-5c7823a1901c.png)

Using: Chrome on Mac OSX

[2015-07-27 10:19] gfiorav commented on #3689
According to GDAL, this behavior will *not* be corrected.

Link: https://trac.osgeo.org/gdal/ticket/5212

[2015-07-27 10:35] Kartones opened #4696 "Hide legend if layer is hidden"
Relates to https://github.com/CartoDB/cartodb.js/issues/609

Branch `4696-hide-legend-if-layer-hidden`

[2015-07-27 10:36] gfiorav commented on #4677
On it

[2015-07-27 11:08] Kartones commented on #4696
JS code is not honouring `options->legend->visibility` if the items inside are marked as visible:
[code]

@alonsogarciapablo I'm going to check named maps, but without them at least, with two public layers, even if I hide one in this branch (which propagates hidden visibility to the legend if present), it still shows at public map & embed map.
I am not sure going also inside the list of items and

[2015-07-27 11:29] Kartones opened #4698 "silence warden expired session "errors""
``` Warden::NotAuthenticated: "kartones" user is not logged in```
[code]

[2015-07-27 11:50] javisantana commented on #4696
not sure i understand this but:

- if the layer is not shown the legend is also not shown
- if a layer has no legend it should not be sent

visibility attribute in legend should not exists

[2015-07-27 11:52] javierarce commented on #4676
Thanks for reporting this. It's going to be fixed here: https://github.com/CartoDB/cartodb/issues/3554

[2015-07-27 11:52] #4676 closed

[2015-07-27 12:08] Kartones commented on #4696
Let me properly show an example:

Scenario: 2 layers, visible both, each with a legend.
- You make layer A hidden:
  - In current code `layerA.visibility = false`, `layerA.legend.visibility = true`, `layerA.legend.items[ {...visibility = true}]`
  - At this branch `layerA.visibility = false`, `layerA.legend.visibility = false`, `layerA.legend.items[ {...visibility = true}]`

So, IMO there is a bug

[2015-07-27 12:35] iriberri commented on #4616
bump

[2015-07-27 12:40] Kartones opened #4700 "vis.table.service.rows_counted vs vis.table.row_count"
While fixing https://github.com/CartoDB/cartodb/compare/d7c2f0807266...cb200fd454d7 I found we have two ways of querying the table count:

`vis.table.service.rows_counted` (PG tables query) and `vis.table.row_count` (a Sequel count)

Which one is the intended one to use? because at that code `vis.table.rows_counted` was zero (which is weird, as calling through the service also queries PG classes b

[2015-07-27 12:46] Kartones commented on #4616
I recall answering that no idea because that bbox code was from 2012, but anyway, replying again. I released https://github.com/CartoDB/cartodb/pull/4652 that should fix "backend part".

[2015-07-27 12:46] ethervoid commented on #4497
After reviewing this issue it seems that the python script used to export the twitter search to csv is not sanitizing properly.

Take a look to [this sanitizer](https://github.com/CartoDB/cartodb/blob/master/services/twitter-search/lib/twitter-search/json_to_csv_converter.rb#L187) that we have in the exporter and replicate it in the script

[2015-07-27 12:48] #4696 closed

[2015-07-27 13:04] gfiorav commented on #4677
Still working on organizations.

Follow this ["PR"](https://github.com/CartoDB/cartodb/pull/4701)

[2015-07-27 13:11] gfiorav commented on #4677
It turns out that this effort is partially replicated here: https://github.com/CartoDB/cartodb-management/wiki/Feature-Flags

Nevertheless I'll add tasks to add and delete to all organization since these tasks also provide delete functionality.

[2015-07-27 13:21] iriberri opened #4704 "Incorrect "all datasets" selector text in merge modals"

[2015-07-27 13:22] carlostallon commented on #4640
Yep, we should keep the same design and just change the text ; )

[2015-07-27 13:23] #4629 closed

[2015-07-27 13:32] juanignaciosl commented on #4700
Wow. It's even worse than that: [`::Table` has a `rows_counted` that is a sequel count](https://github.com/CartoDB/cartodb/blob/master/app/models/table.rb#L741), but exposes a [`rows_counted` public method that is an alias to `rows_estimated`](https://github.com/CartoDB/cartodb/blob/master/app/models/table.rb#L45), which probably explains the behaviour you detected.

There're two complementary beh

[2015-07-27 13:35] javierarce commented on #4457
Closing since this is already fixed.

[2015-07-27 13:35] #4457 closed

[2015-07-27 13:36] Kartones commented on #4700
oh, if aliases to rows_estimated then it does make sense to return a zero. I didn't digged much, thanks for checking... and yes, an appropiate naming would be better so others (or me again :stuck_out_tongue: ) don't get confused. Thanks!

[2015-07-27 13:40] auremoser opened #4707 "Geocoder support for Admin2 districts"
This issue was originally logged in @stuartlynn 's geocoder repo ([#1] (https://github.com/CartoDB/Geocoding_Analysis/issues/1#issuecomment-125107139)<- wow)

But it is perhaps better here per @iriberri 's recommendation:
Our GDELT partner wrote about what levels of administrative districts to support and I thought this might be a good place to register the concern:

[2015-07-27 13:52] Kartones commented on #4562
They do work... so probably you hit a platform limit or similar, but I can in live right now import multiple geotiffs inside a zip:

![image](https://cloud.githubusercontent.com/assets/2085449/8907622/7f751d9c-3477-11e5-9ce9-dc618b05c3f0.png)

[2015-07-27 13:52] #4562 closed

[2015-07-27 14:10] javierarce commented on #4458
Where's the new icon?

[2015-07-27 14:11] gfiorav commented on #4677
All functionality has been implemented and the code is waiting for revision in [PR](https://github.com/CartoDB/cartodb/pull/4701)

cc @javisantana

[2015-07-27 14:22] #4403 closed

[2015-07-27 14:23] #4612 closed

[2015-07-27 14:33] josecruz commented on #4458
talked via slack :+1:

[2015-07-27 14:48] Kartones opened #4708 "optimize create_dev_user run time + setup sync tables on by default"
right now calls a bunch of rakes, join functionality into one so it is way faster (but don't delete old rakes as opensource installs might use them for custom scripts). Also setup by default sync tables on

[2015-07-27 14:52] iriberri opened #4709 "Spatial join tooltip appears in a weird position"
When hovering "sum" or "avg":

![image](https://cloud.githubusercontent.com/assets/1730320/8909059/c425948c-347f-11e5-8987-db4448ac7b9e.png)

The tooltip seems to be appearing correctly in other screens. I'm working from a MacBook Air 11" and the window is 1400x658 approx.

cc @viddo

[2015-07-27 15:01] viddo commented on #4709
It happens consistently? Or can you try deduce to some minimal steps of how to reproduce it? I've been trying on my computer (13", trying various resolutions) and have not been able to reproduce just yet :/

[2015-07-27 15:04] Kartones commented on #4395
Branch: `4395-rate-limit-syncs`

[2015-07-27 15:07] iriberri commented on #4709
In @oriolbx computer works like a charm too, in my computer it happens always, let me investigate a bit more about it but is the behaviour I experience in all cases

[2015-07-27 15:41] javierarce commented on #3554
This should be fixed now.

[2015-07-27 15:41] #3554 closed

[2015-07-27 15:42] iriberri opened #4710 "No translation for Mercator_Auxiliary_Sphere to PROJ.4 format is known"
Very commonly this error appears when importing Shapefiles. I'll updated with a test file.

[2015-07-27 15:43] iriberri commented on #4710
http://gis.stackexchange.com/questions/61823/ogr-projection-transformation-error

[2015-07-27 16:54] ethervoid commented on #3414
Right now the reported import failure doesn't happen because of this [PR](https://github.com/CartoDB/cartodb/pull/4498) that fix it.

This could be an improvement for the data import but I think this issue refers to the failed case to import multiples tables.

[2015-07-27 16:54] #3414 closed

[2015-07-27 17:32] saleiva commented on #4677
Can we also try to remove those feature flags that are not longer needed?

[2015-07-27 17:38] saleiva commented on #4654
Adding @javisantana so he is aware of this

[2015-07-27 17:57] gfiorav commented on #4677
Sure thing!

I'll tackle it tomorrow morning.

[2015-07-27 18:40] andrewxhill commented on #4607
This is for here, https://cartodb.com/open-in-cartodb/
And probably for the import api at the same time perhaps

[2015-07-27 18:56] mbforr opened #4714 "Issues with numbering in annotations"
Having some issues creating numbers

i.e. 1. City Name, 2. City Name

Within annotations. I attached a video of that here.

https://youtu.be/ZpETWR-GoYo

[2015-07-27 19:52] andrewxhill commented on #4276
Can we create a set of "style ids" or something... so that we know what style was chosen by the user? What i'm thinking is that, let's say users never select heatmaps ever. We should fix them or remove them from all suggested maps. Just as an example.

[2015-07-27 20:47] ohasselblad commented on #2858
@saleiva any chance we can get this prioritized to be done in the next month? i know some professors who depend on pulling data from here but were very frustrated from this bug.

[2015-07-27 20:58] viddo commented on #4714
It looks like it clashes with styles for the generated output from the [markdown ](https://en.wikipedia.org/wiki/Markdown) syntax.

Workaround until we get around to fix this: add an space _before_ the number to make it be rendered as (I suspect) you want it(?)
<img width="220" alt="screen shot 2015-07-27 at 22 55 38" src="https://cloud.githubusercontent.com/assets/978461/8917511/aeb7aa08-34b2-11e

[2015-07-27 21:07] ohasselblad commented on #3901
They university people I've spoken with are interested in students not using all of the credits for the whole account, which is what you proposed it looks like. They always complain about this as the ArcGIS problem.

What the university profs are wanting: If a teacher has `n` credits for geocoding and `m` credits for Twitter, he or she can give `0.1*n` and `0.05*m` to one student, `0.15*n` and `0.

[2015-07-28 06:36] javisantana commented on #4654
How do you see it? per organization, per account? like

[code]

[2015-07-28 06:40] juanignaciosl commented on #3901
First of all, I'm doing some work on org defaults on this  related issue CartoDB/cartodb#4466, please take a look as well. I will do some of this issue as part of current job there.

About your requirements, it looks like you need setting defaults + edit existing users:
- Geocoding credits.
- Twitter credits.

I think the setting can be done in a similar fashion that quota is, looking like a % set

[2015-07-28 06:47] Kartones commented on #2858
Oh, sorry for not noticing this ticket @ohasselblad (I had another similar one), I fixed this issue two weeks ago with [this branch](https://github.com/CartoDB/cartodb/pull/4498), now it works (one of the tests I did was using natural earth downloads) :smiley:

[2015-07-28 06:47] #2858 closed

[2015-07-28 06:48] javisantana commented on #4616
then this should be fixed

[2015-07-28 07:08] #4698 closed

[2015-07-28 07:08] #4621 closed

[2015-07-28 08:07] iriberri commented on #4660
I have just found:
[code]

Also, Pecan is stuck in column 3/5 but there are actually 3 possible columns to check (the rest are the timestamps, cdb_id and the geoms)

This map was also affected by the bounding box issue and centered in Null Island

[2015-07-28 08:10] javierarce commented on #4660
@iriberri: did the query excluded the geometry column by any chance?

[2015-07-28 08:11] iriberri commented on #4660
This is the query (with anonymous data now :):

[code]

[2015-07-28 08:16] Kartones commented on #4395
@javisantana To avoid complexity I'm not going to setup any user attribute, and directly for now limit to 3 concurrent syncs per user. Keys expire at redis, etc. but as the sync check script runs each 2-3 minutes only stale syncs could cause issues, and they cause them anyway now (and all keys have TTL)

[2015-07-28 08:17] Kartones commented on #4395
Also, TTL will be 2h (being very generous)

[2015-07-28 08:20] javierarce commented on #4660
Excellent, thanks!

[2015-07-28 08:32] #4554 closed

[2015-07-28 08:35] #4700 closed

[2015-07-28 09:03] matallo commented on #4657
from README of https://github.com/rails/spring

worth taking a look?

[2015-07-28 09:13] #4704 closed

[2015-07-28 09:28] javisantana commented on #4616
ok, ``view_bounds_*`` are still [0,0] so only when importing a dataset wihtout geometry. When you create an empty map they are

[code]

basically I don't know why we have two variables storing the bbox, we are using view_bounds to set the map bounds. ``bounding_box`` is something we are moving around without using it :(

[2015-07-28 09:33] Kartones commented on #4616
uhm, ok, then the map.recalculate bounds! probably is faulty on Ruby code, and when map has no geometries wipes out even the default value. I'll take a look.

About the `bounding_box` I have even less idea, in fact the code does things like building the view_bounds from the bounding box sometimes:
[code]
So I don't know why the duplication... I can fix the 0,0 issue and if you want create another

[2015-07-28 09:35] javisantana opened #4717 "remove bounding_box and view_bounds variables duplication"
https://github.com/CartoDB/cartodb/issues/4616#issuecomment-125519111

[2015-07-28 09:35] javisantana commented on #4616
https://github.com/CartoDB/cartodb/issues/4717

[2015-07-28 09:56] josecruz commented on #4632
@saleiva this file name is `Multiuser-0.4.sketch` could you please review it and tell me if there's something missing?

I removed a folder called `04-Configuration` because all changes I made about user settings are under Multiuser folder.

I still having a local copy of that folder, JIC

[2015-07-28 09:59] juanignaciosl opened #4719 "Apply org color to signup button"

[2015-07-28 10:26] javisantana commented on #4493
this will require to add information about color to all of the basemaps we are using and have a clear logic on how to change the ramps depending on them (if we want to do this real)

[2015-07-28 10:27] javisantana commented on #4493
for pecan just removing the ones who collide with positron is ok, right?

[2015-07-28 10:36] iriberri opened #4720 "Sanitized text in SQL wizard hides default query"
![image](https://cloud.githubusercontent.com/assets/1730320/8929358/2d4a0c68-3525-11e5-965c-a1e4db3f4e45.png)

As `<strong>` tabs are being sanitized and the text is no more "one-liner", the query below is being hidden.

[2015-07-28 11:09] juanignaciosl commented on #4466
@andrewxhill are you ok with this set of defaults?

![screen shot 2015-07-28 at 13 09 16](https://cloud.githubusercontent.com/assets/932968/8929978/ee0161dc-3529-11e5-9e51-c6163c9dbd05.png)

[2015-07-28 11:39] andrewxhill commented on #4493
Yes
On Jul 28, 2015 6:27 AM, "javi santana" <notifications@github.com> wrote:

[2015-07-28 12:15] matallo opened #4722 "update icons sprite"

[2015-07-28 12:24] ohasselblad commented on #2858
Ah, perfect! Thanks @Kartones :+1:

[2015-07-28 12:26] viddo commented on #4673
cc @gfiorav

[2015-07-28 12:28] javierarce commented on #4493
Ok, I think these are the safe color ramps:

![screen shot 2015-07-28 at 14 26 39](https://cloud.githubusercontent.com/assets/4933/8931210/d59a8546-3534-11e5-985f-e32d2f18d002.png)
![screen shot 2015-07-28 at 14 26 52](https://cloud.githubusercontent.com/assets/4933/8931212/d59c65b4-3534-11e5-8bb4-16bbb82ff613.png)
![screen shot 2015-07-28 at 14 27 00](https://cloud.githubusercontent.com/assets/49

[2015-07-28 12:33] xavijam opened #4724 "Public map enhancements"
I really like new style for public map, but here it is some small issues under iOS 8.4, iPhone 5S:

![image](https://cloud.githubusercontent.com/assets/132146/8931313/a3deecd0-3535-11e5-99ca-73eb57e4240c.jpg)
![image](https://cloud.githubusercontent.com/assets/132146/8931314/a3e8635a-3535-11e5-827d-2f3af2b00ba6.jpg)
![image](https://cloud.githubusercontent.com/assets/132146/8931316/a3f02a18-3535-1

[2015-07-28 12:39] chriswhong commented on #4654
My suggestion would be the same as the public dataset lists, it can exist for individual accounts, or for an organization.

[2015-07-28 12:40] #4720 closed

[2015-07-28 12:41] javisantana commented on #4654
what public dataset list?

[2015-07-28 12:41] chriswhong commented on #4654
`https://team.cartodb.com/u/chriswhong/datasets`

On Tue, Jul 28, 2015 at 8:41 AM, javi santana <notifications@github.com>
wrote:

[2015-07-28 12:48] javisantana commented on #4395
ok, sounds good, we can change it we find problems

[2015-07-28 12:53] javisantana commented on #4654
public api goes always under a version, my question here is how usually company/sites advertise the url for POD ?

[2015-07-28 13:04] #4683 closed

[2015-07-28 13:04] #4570 closed

[2015-07-28 13:18] chriswhong commented on #4654
[code]
This should be fine, but I would suggest 'odp' or 'open' instead of pod.  I don't generally see data.json being "promoted", as it's usually for federation to other data catalogs (such as data.gov).

The use case here is that an agency may want to publish some tables on CartoDB as an official open data source.  They could use the data.json from cartoDB, [merge it with another data.json](http

[2015-07-28 13:33] javierarce commented on #4690
Hi, @stevage. We've fixed the issue. Thanks for reporting it!

[2015-07-28 13:33] #4690 closed

[2015-07-28 13:34] javisantana opened #4729 "find a way to show import warnings to the user"
In some cases the files are imported but without problems like character encoding and so on. In those cases is better to import the file but we should warn the user somehow

[2015-07-28 13:39] javisantana opened #4730 "start using X_POSSIBLE_NAMES, Y_POSSIBLE_NAMES and GEOM_POSSIBLE_NAMES from ogr2ogr in the importer"
since 2.1 those options are available to do the transfomation from lat,lng to geometry. That will improve the import of those files since that transformation does not need to be done in the database

GEOM_POSSIBLE_NAMES will also allow to remove the geojson, wkb transformations in the database

--

[From rafatower] here's my plan:
- [x] cartodb branch to use just `ogr2ogr2` binary for imports (rig

[2015-07-28 14:07] javierarce opened #4732 "Fix links in annotations"

[2015-07-28 14:14] juanignaciosl opened #4734 "Error extracting display name"
Debug errors (there's a proper fallback) on some data imports when import controller attempts to extract display name:

https://rollbar.com/vizzuality/CartoDB/items/8398/

[2015-07-28 14:15] stevage opened #4735 "First map UX is confusing"
I've now taught three CartoDB workshops since the new wizard-like interface for new users has been implemented. Unfortunately it seems to be really confusing to users.

## 1

![screenshot 2015-07-28 23 48 15](https://cloud.githubusercontent.com/assets/678344/8932982/c27f2440-3583-11e5-9a7f-15c4d4e52f08.png)

This small wall of text is well intentioned but has some issues:

1. They don't know what

[2015-07-28 14:16] #4732 closed

[2015-07-28 14:45] Kartones commented on #4729
Probably a duplicate of https://github.com/CartoDB/cartodb/issues/4502

[2015-07-28 14:47] saleiva commented on #4735
Hi @stevage thanks so much for your feedback. So valuable.

[2015-07-28 14:50] saleiva opened #4737 "Improve on-boarding text"
Change the one on the maps tab for the one below

"Aloha user_name

Welcome to the CartoDB Editor.
Drag your data file here to create your first map.

From here, your maps screen, you will be able to create new maps as well as finding the ones you've liked"

[2015-07-28 14:52] saleiva opened #4738 "Design placeholder over huge maps on the empty maps screen"
Right now is just a map.

[2015-07-28 14:59] saleiva commented on #4292
@josecruz would be great to modify this a bit with the feedback in https://github.com/CartoDB/cartodb/issues/4735 (point 4). Add a CTA to the connect dataset and to the drag and drop functionality (in the one that we can)

[2015-07-28 14:59] #4458 closed

[2015-07-28 15:01] saleiva opened #4739 "Create empty map / Create empty links dataset styling"
I'd try to remove the button style and to keep it as a link :)

[2015-07-28 15:02] saleiva opened #4740 "Selected option on the create map or connect dataset modal should be dark grey instead of blue"
cc/ @josecruz

[2015-07-28 15:02] saleiva commented on #4739
cc/ @josecruz

[2015-07-28 15:03] saleiva opened #4741 "Remove extra step when not having sync tables when connecting a dataset"
<img src="https://cloud.githubusercontent.com/assets/678344/8933384/d20677b8-3585-11e5-86cb-a4e920261285.png"></img>

[2015-07-28 15:06] josecruz commented on #4633
`Dashboard-1.5-responsive` & `dashboard-1.6`unified. Created `dashboard-1.7` instead and renamed folder to `02-current-dashboard`
Could you please review it?
Alse, what should we do with the rest of folders inside `01-Dashboard`?

[2015-07-28 15:10] javierarce commented on #4735
Thanks for the sharing your concerns, @stevage.

Besides the feedback UX related feedback, I was wondering which browser and OS did you use when you took the first capture? The font is wrong and I'm not sure if it's a bug or just that it wasn't fully loaded when you took the image.

[2015-07-28 15:16] saleiva commented on #4466
There are a few options that doesn't make sense IMO, like private datasets, private maps and sync tables.

[2015-07-28 15:18] saleiva opened #4743 "Remove some options from the org. admin list of 'features'"
Related with https://github.com/CartoDB/cartodb/issues/4466

Remove private maps, private datasets and sync tables, since those things are inherited from the plan. I don't see why you shouldn't avoid people to have privacy or sync tables in a corporate environment. The simpler, the better.

[2015-07-28 15:18] javierarce opened #4744 "Enable a flag to show the debugging information for pecan"

[2015-07-28 15:20] saleiva commented on #4743
cc/ @andrewxhill let me know why you would like to add this. More features, more mainteinance and more things to teach / explain

[2015-07-28 15:22] juanignaciosl commented on #4466
@saleiva please agree with @andrewxhill the features that an organization owner should be able to set and I'll add and remove as needed from this branch (it didn't get to master).

[2015-07-28 15:22] Kartones opened #4745 "Clean Named maps errors at tests"
Eg. `CartoDB::NamedMapsWrapper::HTTPResponseError` this denotes a unstubbed call that slips by.

We should check and fix them, and probably silence other traces and debug messages (that could be toggled off).

[2015-07-28 15:23] juanignaciosl commented on #4743
Since we've not added anything yet, let's discuss what _should_ be added at #4466.

[2015-07-28 15:23] #4743 closed

[2015-07-28 15:24] saleiva commented on #4466
I've already opened another ticket for that. I'd keep the scope of this as small as we can

[2015-07-28 15:26] juanignaciosl commented on #4466
Ok, you say we should remove "private maps, private datasets and sync tables", so only soft limits should be added, isn't it? User quota has been there since organization signup.

[2015-07-28 15:26] saleiva commented on #4466
yep

[2015-07-28 15:27] juanignaciosl commented on #4466
Ok.

[2015-07-28 15:33] javisantana commented on #4014
@vishalya do you have that feedback?

[2015-07-28 15:33] fdansv opened #4747 "Uninvited tick at wizard dropdown sliders."
For some reason, the dropdown sliders that we use in the wizards have a static white tick on their top:

![screen shot 2015-07-28 at 17 32 09](https://cloud.githubusercontent.com/assets/3707222/8935800/e2638efc-354e-11e5-92ca-33b0c9dc9d72.png)

cc @javierarce

[2015-07-28 15:37] vishalya commented on #4014
This can be closed.

[2015-07-28 15:46] javierarce opened #4748 "A dataset containing multiline strings gets rendered with both points and lines"

[2015-07-28 15:53] #4014 closed

[2015-07-28 15:56] gfiorav commented on #3428
PG gem is not supporting renaming tables to anything starting with '_'

[code]
 fails with exception ```PG::Error: ERROR:  type "_bar" already exists```

I'm looking into the gem's source code to report the bug since standard postgres *does* allow renaming tables with '_' prefix.

[2015-07-28 15:59] #4093 closed

[2015-07-28 16:03] iriberri commented on #3428
Nice to know :)

[2015-07-28 16:14] javisantana commented on #4747
this is only with the cartodb.js with updated plugins, right?

[2015-07-28 16:29] saleiva opened #4749 "Revoking access to a 3rd party service modal loading state is wrong"
While the confirmation modal is fine, the loading one is wrong. It should only show the loading indicator and not the header.

[2015-07-28 16:45] andrewxhill commented on #4276
there is another stat we would like that probably don't belong in the same data object, well, i don't mind where they end up but we need to monitor these from our internal dash

1. number of pecan maps created (so number of times a map is selected from pecan)
2. number of pecan maps that are published directly (so no changes to the wizard)

[2015-07-28 16:55] andrewxhill commented on #4466
sure, all saleiva says i agree with. but regarding the rest, there is something missing. let's take one example,

* Extra tweets

the real setting should be

* Limit, Soft limit, No limit {{3 way option}}
* Tweet quota {{some number input available if limit or soft limit}}

[2015-07-28 16:56] andrewxhill commented on #4743
nope, i agree here, good closed

[2015-07-28 17:00] saleiva commented on #4592
In order to have this we will need the following notifications implemented (Feel free to open related issues @ethervoid)
- [x] Long import finishes.
- [ ] Long geocoding finishes.
- [ ] Liked received on maps and datasets
- [ ] Popular map
- [ ] Maps shared / stop shared with you.

Promotional module
- [ ] Newsletter (should send unsubscribe to hubspot)

[2015-07-28 17:11] ethervoid opened #4751 "Notify the user when a map becomes popular"
Add a new notification to the user when the user's map becomes popular.

What is the number of likes to promote a map to popular?

//  @saleiva

[2015-07-28 17:13] ethervoid commented on #4592
Could you give more info about the newsletter notification to put as an issue?

[2015-07-28 17:19] gfiorav commented on #3428
The first part of this ticket concerning table renames with '_' prefix has been solved in PR [#4752](https://github.com/CartoDB/cartodb/pull/4752)

The part about geocoding '_' prefixed tables can now be properly tested.

[2015-07-28 17:21] ethervoid opened #4753 "Create tests to verify Chardet is working correctly for rare encodings"
We need to update the `chardet` package to pin-point to the last commit to fix error messages like:

[code]

[2015-07-28 17:29] saleiva commented on #4751
I'd say that more than 1K mapviews per day

[2015-07-28 17:29] saleiva commented on #4592
Is a mail sent from hubspot. @matallo can help you there

[2015-07-28 17:46] saleiva opened #4754 "First row top margin on the maps screen is wrong"
![screen shot 2015-07-28 at 19 45 38](https://cloud.githubusercontent.com/assets/132149/8938842/47e3da54-3561-11e5-9986-b0fc48c66358.png)

Between the line and the cards.

[2015-07-28 21:35] fdansv commented on #4747
No, it's happening in production. It's just that I found out about it while testing the plugins.

[2015-07-28 23:44] stevage commented on #4735
Sorry, I was just playing around with an extension that changes default fonts on web pages. I disabled it for the rest of the screenshots. Sorry for the confusion.

I'm on OSX/Chrome. Workshop participants vary quite a lot.

[2015-07-28 23:58] stevage commented on #4735
![screenshot 2015-07-29 09 48 43](https://cloud.githubusercontent.com/assets/678344/8946787/0862a722-35d7-11e5-87c0-4ad9a1d30d22.png)

For completeness I'll also criticise this page that comes up between step 2 and 3 above.

1. First, the copywriting just isn't good enough. Some very non-idiomatic English here ("on the Data Library", "Thinking on"). Also, what's with the comma at the top ("Create

[2015-07-29 06:55] #4395 closed

[2015-07-29 07:15] javisantana commented on #4747
Ok, could you describe what you changed? If someone reads this ticket is going to be hard they know how to reproduce

[2015-07-29 07:18] Kartones opened #4755 "reduce fonts load at the dashboard?"
Loading the home performs 9 calls to retrieve woff2 fonts. While the cartoicon one I guess can't be, couldn't we at least combine the others? isn't a way to just ask for the whole family?

Is not in the screenshot but Chrome reports an average of 386ms waiting each woff2 request, so combining them we could probably squeeze something (as IIRC a browser can do a max of 6 concurrent requests to the s

[2015-07-29 07:29] #4734 closed

[2015-07-29 07:45] dhthong92 opened #4756 "Set user_private_table"
Dear sir, as my issue title, could I make it not create user private table every I signup new user. Because it ran very slow, take about  2 - 5 minutes for each user I create and I do not want to public it too. I've also ran cartodb:db:set_user_private_tables_enabled to false instead of true in your script but it seem to be not work. Any ideas?

[2015-07-29 07:46] fdansv commented on #4747
Haven't changed anything, don't you get the same when editing something like the marker fill opacity? @javierarce has seconded this problem.

[2015-07-29 08:04] zenitraM commented on #4755
A hacky workaround (as we do with tiles) could be fetching the fonts from a different domain

[2015-07-29 08:50] saleiva commented on #4751
Sorry, after doing a quick analysis, 500 mapviews would be better.

[2015-07-29 08:52] juanignaciosl opened #4757 "LDAP configuration design"
We're doing integration with external authentication mechanisms. We've already Google and we're adding LDAP (but expect more to come).

@saleiva : do you think it make sense allowing an organization to use several authentication mechanisms (Google + LDAP + SAML...), or should they pick one of them? From a technical point of view I think we can handle several.

You can check an [example of configur

[2015-07-29 08:55] juanignaciosl opened #4759 "LDAP authentication"
Store LDAP options and implement LDAP configuration design (#4757).

Closes #4665
Closes #4757

Branch: `4759-LDAP_configuration`

[2015-07-29 09:00] javierarce commented on #4740
A screen capture, please, I don't know what you mean.

[2015-07-29 09:01] javisantana opened #4761 "create a module with pecan logic"
Pecan logic, the means the decision tree and so on, should be an external module.

The reason is that we need to render the same maps we are rendering on cartodb on different places to create tests and analysis

cc @javierarce @ohasselblad @andrewxhill

[2015-07-29 09:02] javierarce commented on #4739
Something like that?

![screen shot 2015-07-29 at 11 02 09](https://cloud.githubusercontent.com/assets/4933/8953776/4bfdeee2-35e1-11e5-95a0-b5eb4f3fa251.png)

[2015-07-29 09:31] ethervoid commented on #4483
Deployed a change that fixes this

[2015-07-29 09:31] #4483 closed

[2015-07-29 09:32] #4587 closed

[2015-07-29 10:06] javierarce commented on #4493
Ok, I talked with @saleiva and we'll use the blue ramp for the time being. Closing this issue.

[2015-07-29 10:06] #4493 closed

[2015-07-29 10:22] iriberri opened #4763 "Duplicating annotations is not saving them"
**Steps:**

* Create a new empty map
* Add an annotation
* Open the viz.json file, see it's there
* Come back to the Editor tab and duplicate the old annotation -- it appears in the Editor
* Move this new annotation a bit if you want (not required, it was to try to force it to be saved)
* Update the viz.json, the new annotation is not there
* Refresh the Editor tab: the new annotation disappears

[2015-07-29 10:24] #4744 closed

[2015-07-29 10:25] javierarce commented on #4744
cc @ohasselblad

[2015-07-29 10:27] iriberri commented on #4763
6102958

[2015-07-29 10:32] javierarce commented on #4763
It seems it's a problem with the overlays in general regarding this fix: https://github.com/CartoDB/cartodb/commit/be5a0ebd7469b96b52823b8f99beaf4bdb6734b1

[2015-07-29 10:35] saleiva commented on #4739
Same style than the others. Lowercase, no underline.

[2015-07-29 10:51] ethervoid opened #4765 "Design email that arrives when a long geocoding finish"
I need the design for the geocoding email. (issue #4604)

<img width="496" alt="captura de pantalla 2015-07-29 12 30 34" src="https://cloud.githubusercontent.com/assets/741240/8955827/6b7b65c4-35f0-11e5-9177-ce829b413565.png">

<img width="499" alt="captura de pantalla 2015-07-29 12 30 59" src="https://cloud.githubusercontent.com/assets/741240/8955831/6f3010c0-35f0-11e5-8e35-e7a1ffe322f6.png">

[2015-07-29 11:11] jesusvazquez opened #4768 "Import.rake username,table.csv"
Hi guys,

I was trying to import a dataset in csv format using the import rake script in /lib/tasks

My local user is cdb and my csv is named table.csv. I execute this command:
```bundle exec rake cartodb:import['cdb','/tmp/table.csv']  --trace```

And I get this error

[code]

If I rename the table.csv to example.csv everything works fine so this is not a big issue. Just letting you know about th

[2015-07-29 11:16] Kartones commented on #4768
Yep, it is a known issue :( There is a list of diallowed names.

But it should try renaming, so thanks, will take a look

[2015-07-29 11:24] juanignaciosl opened #4770 "Fix local execution of test suite"
After upgrading to Rails 3.2.20 some tests are broken for local execution. Just run `make check` and individual `make check-X`.

cc @CartoDB/backend @jesusvazquez

[2015-07-29 11:36] #4616 closed

[2015-07-29 11:39] Kartones opened #4771 "secure cookies for non-dev/test environments"
Closes https://github.com/CartoDB/cartodb-management/issues/4033

[2015-07-29 11:42] saleiva commented on #4765
@josecruz talk to matallo if you have any doubts.

[2015-07-29 11:44] jesusvazquez commented on #4770
Hi,

[2015-07-29 11:48] jesusvazquez commented on #4770
Hi,

I ran all the tests and here is the report:

bundle exec make check-1 OK
bundle exec make check-2 OK
bundle exec make check-4 181 examples, 12 failures, 1 pending [Check4.log] (https://gist.github.com/jesusvazquez/4d1e130a433e9c8ab1e7#file-check4-log)
bundle exec make check-5 OK
bundle exec make check-7 OK
bundle exec make check-9 166 examples, 2 failures, 24 pending [Check9.log] (https://gis

[2015-07-29 12:39] #4739 closed

[2015-07-29 13:12] javierarce commented on #4763
This should be fixed now.

[2015-07-29 13:12] #4763 closed

[2015-07-29 13:24] #4748 closed

[2015-07-29 13:27] matallo opened #4773 "public dataset"

[2015-07-29 13:28] #2118 closed

[2015-07-29 14:06] andrewxhill commented on #4761
i <3 this ticket

[2015-07-29 14:13] gfiorav commented on #3428
Identified Resque error on for geo referencing tables starting with ('_'):

[code]

[2015-07-29 14:46] javierarce commented on #4740
Something like this? (the border color is #666)

![icons](https://cloud.githubusercontent.com/assets/4933/8960656/516ee856-3611-11e5-9edb-4be6add80d90.gif)

[2015-07-29 14:47] saleiva commented on #4740
annd the icon please!

[2015-07-29 14:51] saleiva commented on #4740
well, no, the icon no :) Leave it as it is.
sorry

[2015-07-29 14:52] javierarce commented on #4740
It's ok. I did a test and the screen looked a bit sad

![new_import_icons](https://cloud.githubusercontent.com/assets/4933/8960848/39de28d6-3612-11e5-854f-c03395884714.png)

[2015-07-29 14:55] saleiva commented on #4740
Yep, I like more your proposal

[2015-07-29 15:02] josecruz commented on #4740
Should we change the border color on hover as well?

[2015-07-29 15:03] saleiva opened #4775 "Importing from data library should create a sync table always"
No matter if the user has sync tables or not, this dataset should be synced every 15 days. This should be transparent on the connecting workflow, but the user should be able to stop syncing from the dataset view.

cc/ @andrewxhill @Kartones

[2015-07-29 15:04] javierarce commented on #4740
I'd say to leave them as they are now, to maintain the same behaviour we have with the regular links.

[2015-07-29 15:04] andrewxhill commented on #4775
my new favorite ticket of the day :)

cc @chriswhong because he has asked for it at least 3 times :)

[2015-07-29 15:05] saleiva commented on #4740
The color in grey, right?

[2015-07-29 15:06] javierarce commented on #4740
No, hover is light blue. The non-selected state is light grey.

[2015-07-29 15:07] saleiva commented on #4740
hover leave it, yeah, selected dark grey

[2015-07-29 15:10] josecruz commented on #4740
:+1:

[2015-07-29 15:23] Kartones commented on #4031
Branch is `4031-try-projecting-shps-without-prj`

[2015-07-29 15:27] chriswhong commented on #4775
I am going to -1 this and say there needs to be a user interaction to choose at the time of import, just like any other import.  Defaulting to sync may be annoying to people who are not expecting it.  What about free accounts who can't use sync tables?

[2015-07-29 15:30] saleiva commented on #4775
It says in the description. It should be activated even for accounts with no sync tables.
The user could always go to the dataset page and stop syncing.

S.

-----
@saleiva

[2015-07-29 15:34] javisantana commented on #4031
Hey @Kartones could you explain a little bit what logic will you use to guess the projection?

[2015-07-29 15:38] andrewxhill commented on #4775
yeahhhh maybe chris is right we might have run a bit too fast. we should consider adding a modal on import from dat lib that just says (*) Sync ( ) Do not sync.

[2015-07-29 15:40] chriswhong commented on #4775
+1 a simple toggle is all that we need.

On Wednesday, July 29, 2015, Andrew W. Hill <notifications@github.com>
wrote:

[2015-07-29 15:46] saleiva commented on #4775
That's the modal we have, but then we need to explain free users that they just can only sync data library datasets which is tricky... not sure guys...

[2015-07-29 15:54] chriswhong commented on #4775
I think there's no reason to enable it for free accounts, treat it the same
way as any other data.

It's also worth noting that sync frequency should be inherited from the
source data, not set to 15 days.  It should be inherited, and the user
would have an option to modify it or turn it off completely.

On Wednesday, July 29, 2015, Sergio Álvarez Leiva <notifications@github.com>
wrote:

[2015-07-29 16:01] saleiva commented on #4775
Nah, I think that when talking about the data library sync should be
enabled for everybody. That would empower the dynamism on CartoDB and is
much better for the users, why shouldnt we benefit them with this?

Also changing the frequency when you don't control the source or when you
don't have a clear idea of how its being updated is weird, right?

I don't see any issue on syncying by default and

[2015-07-29 16:04] andrewxhill commented on #4775
right, so i don't think we need to explain to them. it is just a feature
that we include with data library as a bonus :)

On Wed, Jul 29, 2015 at 12:01 PM, Sergio Álvarez Leiva <
notifications@github.com> wrote:

--

andrewxhill <http://twitter.com/andrewxhill>
http://cartodb.com

[2015-07-29 16:15] #4740 closed

[2015-07-29 16:18] josecruz commented on #4765
What do you think @saleiva?

<img width="1379" alt="screen shot 2015-07-29 at 18 16 34" src="https://cloud.githubusercontent.com/assets/596509/8963013/19010c26-361e-11e5-8339-902a047341cc.png">

[2015-07-29 16:22] ohasselblad commented on #4744
niiiiiice!

[2015-07-29 16:35] saleiva commented on #4765
In the yellow one, I'd put the first text withing the yellow area, and the
second one outside
On Jul 29, 2015 6:18 PM, "josecruz" <notifications@github.com> wrote:

[2015-07-29 16:35] saleiva commented on #4775
So why to show it then? ;D
On Jul 29, 2015 6:04 PM, "Andrew W. Hill" <notifications@github.com> wrote:

[2015-07-29 16:42] andrewxhill commented on #4775
so like chris says, they can remove the sync option if they don't want it.
my concern with the proposed flow, is that not many users would know to (1)
exit the visualization; (2) navigate to the Datasets; (3) find the newly
created dataset by the right name; (4) change the sync option

On Wed, Jul 29, 2015 at 12:35 PM, Sergio Álvarez Leiva <
notifications@github.com> wrote:

--

andrewxhill <http:

[2015-07-29 16:43] josecruz commented on #4765
Yep, you're right!

<img width="1405" alt="screen shot 2015-07-29 at 18 42 46" src="https://cloud.githubusercontent.com/assets/596509/8963675/a666ddf4-3621-11e5-937e-1450f3bbb286.png">

Also, just an idea: We could show here the credits left/credits used or opperation cost

[2015-07-29 16:54] saleiva commented on #4765
Dude, but respect the order of the texts. IN that order they doesn't make any sense. First the yellow area with the text summarizing the results. After it, the other text (without the bullet point, please)

[2015-07-29 16:55] saleiva commented on #4775
they can change it from the map view, plus, if we don’t want to expose tech stuff to non tech users, I think we shouldn’t add this step.

S.

-----
@saleiva

[2015-07-29 16:58] saleiva commented on #4031
Yeah, an summarize how this works. Too many comments on this :)

[2015-07-29 17:02] saleiva commented on #4761
me too!  Prioritize!

[2015-07-29 17:04] josecruz commented on #4765
Okay, you mean this right?
<img width="648" alt="screen shot 2015-07-29 at 19 02 53" src="https://cloud.githubusercontent.com/assets/596509/8964208/89e09870-3624-11e5-9892-e6c06e9791da.png">
Q: Why the border radius are not the same? Should I update that?

[2015-07-29 17:06] saleiva commented on #4765
ossom. Yep update those to the non rounded ones as @matallo prefered those

[2015-07-29 17:07] matallo commented on #4765
BOOM, I can have them very soon

[2015-07-29 21:32] chriswhong opened #4779 "Allow for permanent dismissal of Pecan modal"
The modal for Pecan appears each time the user enters map view, and I find myself wishing I could dismiss it permanently for a dataset or map.

![stormpath](https://cloud.githubusercontent.com/assets/1833820/8970423/a4d9115a-3617-11e5-8b59-511fd639434d.gif)

[2015-07-29 21:54] chriswhong commented on #4775
Dialing things back a bit, I think it's already fairly confusing that I can search my datasets and common data appears.  Keeping the common data library in its own separate search UI would emphasize the fact that it's a separate repository of data, and users could be a lot more deliberate with their searches.  (When I search for a US zipcode table I imported into my account, I always see Australia

[2015-07-29 22:12] andrewxhill commented on #4775
it actually has the added benefit of advertising the sync capabilities more, which are right now underutilized imo.

at the end of the day though, it is your choice saleiva!

[2015-07-29 22:37] mejackreed opened #4780 "Using the OneClick service, doesn't detect a logged in user"
When using the OneClick (https://cartodb.com/open-in-cartodb/) service for an external dataset, OneClick does not detect an already authenticated CartoDB user. This forces the user to log in to CartoDB a second time.

Discussion here:
https://github.com/geoblacklight/geoblacklight/pull/341#issuecomment-126110096

[2015-07-30 07:09] Kartones commented on #4031
I'm just fighting with SHP import to see if I can attack the first solution provided by @javisantana:
- "*when there is no prj is not that common that it is 4326 [...] so why not just try to see if it looks like 4326 (or other) and do it in any case*"

If I achieve that (current import seems very tied to having always all 4 files) I'll try to attack the UTM one

[2015-07-30 07:13] Kartones commented on #4775
Careful with this and enabling "selective syncs", that might have technical implications making this not a trivial change...

I won't dig into what needs to be changed and coded to allow the feature until next sprint, but please define clearly this kind of details because syncs are right now binary: either you have them, or you don't.

And IIRC for the Data Library there was already at least plann

[2015-07-30 07:41] xavijam opened #4781 "Public map issues"
- [x] Dropdown arrows are weird (Device: desktop).
![screen shot 2015-07-30 at 09 36 14](https://cloud.githubusercontent.com/assets/132146/8978027/b7490f70-369e-11e5-9de5-1c96859d022c.png)

---

- [x] Review user name arrow (too light?) and hover style (Device: desktop).

![screen shot 2015-07-30 at 09 51 52](https://cloud.githubusercontent.com/assets/132146/8978247/a0838a66-36a0-11e5-81ec-eeebb70

[2015-07-30 07:46] saleiva commented on #4775
Yeah I'll handle with Kartones. I think we are getting out of scope here :)
On Jul 30, 2015 9:13 AM, "Kartones" <notifications@github.com> wrote:

[2015-07-30 08:00] juanignaciosl commented on #4775
I'll hold my tongue about the feature discussion itself (I'd just like to add this might be an upselling opportunity for free users discovering sync potential ;-) ), but, from a technical point of view, there's a "improve data library update" issue, #3832, but it's not actually related, since it's just "updating data library listing". Making "a sync instead of an import" might not be trivial, as @

[2015-07-30 08:16] javierarce opened #4782 "Escaping issue with the export image dialog"
![screen shot 2015-07-30 at 10 16 15](https://cloud.githubusercontent.com/assets/4933/8978620/0a616e8c-36a4-11e5-803b-90f1f4613f34.png)

[2015-07-30 08:27] fdansv commented on #4684
It seems that the percentage slider is not updating the view's model on its own. All the other elements seem to update it fine, so as long as that slider isn't the last parameter to be touched (which is no good since **it is** the last parameter), it'll work fine, but otherwise the latest value will be sent -- usually the default one, 80%.

[2015-07-30 08:51] javierarce opened #4784 "Error dialog lacks of sanitized output"
![error](https://cloud.githubusercontent.com/assets/4933/8979285/e1c857e2-36a8-11e5-8557-8d63539e390e.png)

[2015-07-30 09:00] juanignaciosl opened #4785 "User groups feature scope and design"
During [LDAP integration](https://github.com/CartoDB/cartodb-platform/wiki/SAML,-LDAP-and-related-integrations) and [5k organizations](https://github.com/CartoDB/cartodb-management/wiki/5k-user-organizations) analysis and development the need for user groups arised, we need the product design on this before beginning implementation.

This is the list of concerns to date that should be taken into a

[2015-07-30 09:25] javierarce opened #4787 "Change the border-color of the selected button to #DDDDDD"

[2015-07-30 09:35] ethervoid commented on #4497
I've added a dataset with 13k rows with a portion of the same twits. I've used the editor, the import works fine. I've exported the dataset as csv and reimport again.

All worked fine so I assume the problem is with your import script.

[2015-07-30 09:35] #4497 closed

[2015-07-30 09:37] #4782 closed

[2015-07-30 09:46] saleiva commented on #4787
with an extra D!

[2015-07-30 09:47] saleiva commented on #4741
This only applies to the flow when you select a file, not when adding an URL (for clarification)

[2015-07-30 09:48] #4784 closed

[2015-07-30 09:52] saleiva commented on #4775
So yeah @kartones,

After doing some analysis we go with the following (which I think adds a bit of complexity but is amazing).

When selecting a data library dataset we just import it to your account as a sync table (updated every week). No extra step required. On the dataset list we show the datalibrary icon + the sync table indicator, so the user can still identify the dataset as part of the da

[2015-07-30 09:53] saleiva opened #4790 "Clicking on the sync icon from the datasets view should open the sync table options modal"
related with #4775

[2015-07-30 09:55] saleiva commented on #4780
@Kartones @juanignaciosl  can you take a look at this? This might have something to do with warden

[2015-07-30 10:02] javierarce commented on #4787
Haha, thanks & don't worry, it's fine in the code :)

[2015-07-30 10:08] matallo opened #4791 "create feature flag for data-library"
for this to work only with selected users (starting with common-data)

[2015-07-30 10:09] juanignaciosl commented on #4780
Ok, I've reproduced it importing [a data.gov dataset](http://catalog.data.gov/dataset/waofm-april-1-population-by-state-county-and-city-1990-to-present-22a1f): it works for organization users, but won't work for normal ones.

[2015-07-30 10:12] Kartones commented on #4780
I have no idea how OneClick works, nor how does it authenticate, I'd have to stop current tasks + assigned milestone stuff, so if you feel important @saleiva reassign to me, else I guess @juanignaciosl will have to take a look.

Warden stuff has initially nothing to do with external services, only affects login/logout/change password scenarios (and other internals like cookie expiration), but as I

[2015-07-30 10:16] ethervoid commented on #4791
Created `data_library` feature flag and activated in common-data user

[2015-07-30 10:16] #4791 closed

[2015-07-30 10:18] saleiva commented on #4780
Yeah, I think this is important… cc/ @javisantana

S.

-----
@saleiva

[2015-07-30 10:20] javierarce opened #4792 "Sanitize output of a warning message"
![screen_shot_2015-07-30_at_12 10 00_1024](https://cloud.githubusercontent.com/assets/4933/8981033/58aeec70-36b5-11e5-973e-e09964756883.png)

[2015-07-30 10:24] matallo opened #4794 "store dataset bounding-box at import time"
We should store the bounding-box of a dataset to use it for example to determine the country of the dataset.

[2015-07-30 10:26] matallo opened #4795 "data-library index page markup"

[2015-07-30 10:28] matallo opened #4796 "check-in countries table as part of source"
thinking in on-premises here, we should have the countries dataset as part of the source code, so we can use it in data-library header https://github.com/CartoDB/cartodb/issues/4795

[2015-07-30 10:30] juanignaciosl commented on #4780
Ok. Problem is broader: https://cartodb.com/login won't remember normal (non-org) user sessions. https://username.cartodb.com/login do, but https://cartodb.com/login don't.

[2015-07-30 10:34] matallo opened #4797 "cover data-library backend api for frontend support"
* [x] Filter datasets for `source` field
  * endpoint (api/v1/viz?params...&source=xxxx)
* [x] Filter datasets for `country` field
  * endpoint (api/v1/viz?params...&types=table&bbox=min_lon,min_lat,max_lon,max_lat)

[2015-07-30 10:39] matallo opened #4798 "use static previews for data-library index"
same implementation than this in public pages

/cc @javierarce

[2015-07-30 10:42] matallo opened #4799 "data-library detail page"
will probably need some help understanding models for the split table/map view in the header, as well as the export with the bounding box

<img width="686" alt="screen shot 2015-07-30 at 12 41 51" src="https://cloud.githubusercontent.com/assets/36676/8981410/61e7d772-36b8-11e5-9166-6db51a58b510.png">

/cc @CartoDB/frontend

[2015-07-30 10:43] matallo opened #4800 "data-library detail page (mobile)"
created a separate issue, as this is a nice to have rather than a mobile first approach

[2015-07-30 11:06] iriberri opened #4801 "Create dataset from query shows duplication modal"
When creating a dataset from query, the modal of dataset duplication appears:
![image](https://cloud.githubusercontent.com/assets/1730320/8981825/9cdb8d30-36bb-11e5-8328-9411bc8ec8d4.png)

I think that before we were using a more specific text in this case. Is this new behaviour expected?

@viddo @saleiva

[2015-07-30 11:15] saleiva commented on #4780
For me this should be top priority

S.

-----
@saleiva

[2015-07-30 11:28] ethervoid commented on #3944
After checking this issue for a while there is only one "conflictive" point where the cache invalidation of related tables is made and is done this way in purpose so I assume that the main problem was fixed by @Kartones

[2015-07-30 11:40] ethervoid commented on #4751
I'm going to need the email design for this issue too

[2015-07-30 12:20] #4719 closed

[2015-07-30 12:25] #4787 closed

[2015-07-30 12:50] iriberri opened #4803 "Recover source and license options in dataset metadata modal"
Previously, besides description and tags, the parameters source and license were available:

![image](https://cloud.githubusercontent.com/assets/1730320/8983387/4fb52c00-36ca-11e5-95a4-a79af52797e0.png)

cc @viddo @saleiva

edit after offline conversations:

Add three new fields:
- [x] source
  - free text input, markdown supported
- [x] attributions
  - free text input, markdown supported
- [x] l

[2015-07-30 12:50] #4684 closed

[2015-07-30 13:05] Kartones commented on #4031
I prefer to only fight one battle at once, so I've fixed the `no .prj present` issue. If you can provide me a sample of the UTM one and/or file me a ticket... @javisantana

[2015-07-30 13:35] Kartones opened #4805 "Visualization templates backend"
- [x] DB model for Template
[code]
- [x] ActiveRecord model
- [x] Specific logic to check that list of related tables have always format `schema.table_name`
- [x] Rails endpoint with `create`, `index`, `update`, `delete`, `show`
- [x] `Related templates` functionality, so when you try to delete a visualization informs if there are dependant templates
- [x] Delete templates if visualization gets de

[2015-07-30 13:37] javierarce commented on #4792
Fixed, @matallo @javisantana

[2015-07-30 13:37] #4792 closed

[2015-07-30 13:46] juanignaciosl opened #4806 "Error extracting display name with spaces"
https://rollbar.com/vizzuality/CartoDB/items/8398
DataImport display_name can't extract a good name when there're spaces.

[2015-07-30 14:23] josecruz commented on #4765
@ethervoid I'll share the sketch file via slack :+1:

[2015-07-30 14:31] ethervoid commented on #4765
Thank you @josecruz :)

[2015-07-30 14:42] josecruz commented on #4765
to you! :D

*Jose Cruz*
Junior Designer

*CartoDB—Map Your World's Data*
C/ Eloy Gonzalo, 27, 3, 28010, Madrid, Spain
W: www.cartodb.com

On Thu, Jul 30, 2015 at 4:31 PM, Mario de Frutos <notifications@github.com>
wrote:

[2015-07-30 14:50] #4031 closed

[2015-07-30 15:00] javierarce commented on #4666
I'm closing this, since this has already been fixed in this issue: https://github.com/CartoDB/cartodb/issues/4685

[2015-07-30 15:00] #4666 closed

[2015-07-30 15:00] gfiorav commented on #3428
PR #4752 now allows geocoding tables begging with an ```_```

Other ```sequel_qualified_table_name``` instances and queries have removed and rewritten as to not to depend of the gem's bad behavior.

When the PR gets merged I'll close this issue.

cc @iriberri

[2015-07-30 15:23] matallo commented on #4781
fixed these and https://github.com/CartoDB/cartodb/issues/4724 issues

- dropdowns, colors, disqus size are as in the mockup (already darkened arrow color, though), to be discussed with @CartoDB/design

I wasn't aware of iphone issues as I was using device emulator in devtools :(

[2015-07-30 15:25] #4724 closed

[2015-07-30 16:41] mnquintana opened #4810 "Can't edit dataset metadata when custom SQL query is applied"
Steps to reproduce:

1. Open a dataset on which you have admin rights
1. Link under table name should read `Edit metadata`
1. Clicking `Edit metadata` should work as expected
1. Apply a custom SQL query / view
1. Link under table name should read `View metadata`
1. Clicking that link will open a modal with greyed out fields and a message that says `You can't edit the dataset attributes.`

[2015-07-30 16:43] matallo opened #4811 "description markdown in public pages is not properly rendered"
expected behaviour:

- markdown should be formatted

actual behaviour:

- plain text

<img width="765" alt="screen shot 2015-07-30 at 17 38 28" src="https://cloud.githubusercontent.com/assets/36676/8989196/e8a5f168-36ea-11e5-99af-4694cae85298.png">

[2015-07-30 16:53] josecruz commented on #4632
Talked about this in slack and updated missing details, closing it

[2015-07-30 16:53] #4632 closed

[2015-07-30 18:11] #4765 closed

[2015-07-30 19:35] Hayleyr opened #4812 "Potential bug with refresh in IE 8/9 at zoom level 10 or higher"
User has CartoDB.JS map with 4 SQL sublayers

He writes "when zoom level is higher than 10 the map does not refresh after I set the sql using thelayer.getSubLayer(0).setSQL method."

He is not experiencing these issues in any other browsers, only IE.
He also has indicated that when he removes the 4th sublayer the map behaves perfectly.

Let me know if having his code would help and I can send it.

[2015-07-31 06:56] javisantana commented on #4039
can you reproduce the problem all the times?

[2015-07-31 06:57] javisantana commented on #4761
adding as a milestone objetive

[2015-07-31 07:49] matallo opened #4813 "add tests for frontend metrics"

[2015-07-31 08:00] iriberri opened #4815 "Import failed and error trace doesn't seem complete"
Error code: 99999
stats: "[{"type":".csv","size":183093,"file_rows":null,"imported_rows":null,"error_percent":null,"fallback_executed":null}]",

[code]

[2015-07-31 08:00] iriberri commented on #4815
cc @Kartones @javisantana

[2015-07-31 08:06] iriberri commented on #4039
Yep, I just tested my steps above and the infowindow column went out after clearing the query the 2nd time

[2015-07-31 08:11] javisantana commented on #4785
- only model stuff, no focus on REST API changes (the groups api needs to be public probably)
- groups should be in the first iteration as simple as possible:
   - no groups inside groups
   - no group quotas, no default stuff for users
   - no ldap mapping
   - no adm role inside the group

*Focus on*:

- what API from extension the editor needs taking into account the permissions for a group are

[2015-07-31 08:12] javisantana commented on #4815
what information are you missing?

[2015-07-31 08:13] Kartones commented on #4815
It failed after georeferencing (or maybe inside it, I'd have to check the code) but before registering. The log is not clear where.

[2015-07-31 08:19] iriberri commented on #4815
I would expect a clear error as the logs shows in perhaps +90% of the cases. If it's not possible because this is exploding somewhere in an ugly way no problem, but I wonder if this could be telling us that we're missing something somewhere.

[2015-07-31 08:22] Kartones commented on #4815
there's something I don't like inside the error trace:
[code]

Yes please, try to get the file and ask the user if possible to do a simple import to make sure he can import ok and doesn't has anything messed up with the DDL triggers

[2015-07-31 08:24] iriberri commented on #4815
The user can import other files according to the logs

[2015-07-31 08:28] matallo opened #4816 "when data_library feature flag show new datasets index"
they'll just replace the old public `/datasets`, discuss if necessary

/cc @javisantana @saleiva

[2015-07-31 08:32] javisantana commented on #4816
@saleiva @carlostallon not sure about your opinion here, at the beginning this was a single page for the whole domain but finally we will be doing for everybody (only enabled for common data for the moment) so we need to discuss if this page replaces the /datasets endpoint

[2015-07-31 08:50] #4806 closed

[2015-07-31 08:51] #4780 closed

[2015-07-31 08:58] ethervoid opened #4817 "When a user cancel a geocoding task what we should do"
Working in the issue #4604 I've found that we are not canceling properly the job when the user click on it. I've patched it up but it seems that there are some product discussion to take into account so I rather prefer to put it in a new issue.

The questions are:
- What to do when a user cancel a **non-high-res** geocoder task?
- What to do when a user cancel a **high-res** geocoder task?
- When

[2015-07-31 09:00] matallo opened #4818 "dropbox connector says you can connect GPX, it's not true"
## str

1. go to new map > connectors
1. click on dropbox

<img width="971" alt="screen shot 2015-07-31 at 10 56 18" src="https://cloud.githubusercontent.com/assets/36676/9004046/2e92934c-3773-11e5-88c2-8c5e2c41b95b.png">

1. connect dropbox where there's a .gpx file

**expected behaviour:**

gpx file to appear in the list

**actual behaviour**

gpx file won't appear in the list

<img width="971"

[2015-07-31 09:15] juanignaciosl commented on #4780
@mejackreed thank you for reporting, it's fixed now. You'll need to close your session first, but then, after your next login, it will work. Sorry for the inconvenience!

[2015-07-31 09:51] ethervoid opened #4820 "Change import finished mail time to notify to 3 minutes"

[2015-07-31 09:57] #4604 closed

[2015-07-31 10:00] ethervoid commented on #4640
Where are the resources to layout this? thx

[2015-07-31 10:00] carlostallon commented on #4640
Hi @ethervoid close this issue if you consider. Do you need help for the ui development?

[2015-07-31 10:00] carlostallon commented on #4640
I will send you by email, do you have sketch?

[2015-07-31 10:05] matallo commented on #4640
would be great to have one too for subscribed (currently redirected to cartodb.com)

[2015-07-31 10:06] carlostallon commented on #4640
Hi @matallo. I assign it to you because this is one of the "feedback pages" collection. So maybe we need to consider how to make an standard UI Development for all. I will send to you an email with the sketch with all the cases that we should implement at any point.

@mariodelvalle can help us with this

[2015-07-31 10:06] carlostallon commented on #4640
@matallo we also have it :)

[2015-07-31 10:06] matallo commented on #4640
+1000

On Fri, Jul 31, 2015 at 12:06 PM, Carlos Tallón <notifications@github.com>
wrote:

--
*Carlos Matallín*
UI developer

*CartoDB—Map Your World's Data*
C/ Eloy Gonzalo, 27, 3, 28010, Madrid, Spain
T: +34911165823
W: www.cartodb.com

Live sessions to learn CartoDB <http://cartodb.com/webinars/>

[2015-07-31 10:10] iriberri opened #4822 "Show a better user import error for: ERROR Parseing kml Style: No id"
It's being common these days the import error `ERROR Parseing kml Style: No id`. After taking a look at the KML Style specification (https://developers.google.com/kml/documentation/kmlreference?hl=en#style) it seems that style tags must have an ID, but we're receiving some files that haven't.

cc @ethervoid

[2015-07-31 10:12] carlostallon commented on #4640
![successfully suscribed](https://cloud.githubusercontent.com/assets/1712650/9005304/608ad3f0-377d-11e5-8bdf-dffe63599bd8.png)

[2015-07-31 10:34] mariodelvalle commented on #4640
Of course :+1:

[2015-07-31 10:41] mariodelvalle commented on #4640
In the unsubscription could be interesting to give the user the opportunity to give us feedback of why unsubscription to improve service in the future through a link that will send a mail to support. What do you think?

[2015-07-31 10:43] ethervoid commented on #4822
I've put this copy for the error:

[code]

Good @saleiva ?

[2015-07-31 10:47] iriberri commented on #4822
Please, ask help for this to any native speaker. @agnesATcartoDB or @ericbean12 could help you in Madrid.

[2015-07-31 10:52] #4820 closed

[2015-07-31 10:53] ethervoid commented on #4822
More than possible typos, is the copy of the exception to be more human and less developerish hehehe

[2015-07-31 11:00] rochoa commented on #3944
This is still happening :cry:.

It's happening due to a `PUT /api/v1/maps/:uuid/layers/:uuid`. That's **also updating the associated named map**, which is a bit problematic because named maps changes means associated resources must be invalidated.

[2015-07-31 11:04] ethervoid commented on #3944
As @javisantana said the PUT issue is related with this #4627

[2015-07-31 11:05] rochoa commented on #3944
Oh thanks, I wasn't aware of that issue. :smile:

[2015-07-31 11:05] #3944 closed

[2015-07-31 11:06] rochoa commented on #4627
This is really important because named maps are updated on layer changes and that triggers resource invalidation for named map associated resources.

[2015-07-31 11:07] ethervoid commented on #3944
My bad was in an email and I haven't updated here. Sorry

[2015-07-31 11:20] juanignaciosl opened #4824 "User groups backend analysis"
From CartoDB/cartodb#4785:

- what API from extension the editor needs taking into account the permissions for a group are the same - than for an user. So R/W for tables, R for visualizations.
- is the database layout compatible ?
- all the possible stuff that could happen having that, for example, if a group has R access for a visualization, could a single user within the group have no access at

[2015-07-31 11:32] #4811 closed

[2015-07-31 12:15] ethervoid commented on #4753
We have to make a bunch of regression tests to validate this change don't break anything

[2015-07-31 12:54] ethervoid opened #4826 "Add needed fields to `visualizations` such as attributions, license, etc"
For the new data-library feature we need to add more fields to improve the `Edit metadata` option in the dataset view.

* [X] Add new fields to the `visualizations` table:
    * License
    * Attributions
    * Source

[2015-07-31 13:32] rochoa commented on #4582
There are two different issues here:
 1. Invalid syntax in CartoCSS
 1. Double escaped backslashes

About the first one there is already an issue open about checking named map has valid layers. Check: https://github.com/CartoDB/Windshaft-cartodb/issues/134. In this specific case is because of `\\\n` is not valid, read it as `\\` + `\n`, where `\\` is the invalid part.

About the second one: Could

[2015-07-31 15:03] agnesATcartoDB commented on #4822
"The KML file you tried to import failed because a style element doesn't have an ID attribution. To fix this error, please open the file and add an ID to all the style tags."

[2015-07-31 15:11] ethervoid commented on #4822
Thank you very much @agnesATcartoDB you rock :)

[2015-07-31 15:12] agnesATcartoDB commented on #4822
You're welcome!  Thanks for including me!

[2015-07-31 16:45] saleiva commented on #4816
Uhm... Don't think so...
Can we add one that says /data?

By that we will have optionality in the future
On Jul 31, 2015 10:32 AM, "javi santana" <notifications@github.com> wrote:

[2015-07-31 16:45] saleiva commented on #4817
If posible we should let users to cancel, and if so, rollback all the
updates made in the dataset.

When not possible, we should remove the button from the frontend, for sure.

Thanks!
On Jul 31, 2015 10:58 AM, "Mario de Frutos" <notifications@github.com>
wrote:

[2015-07-31 16:46] iriberri commented on #4812
It seems this is due to browsers like 8-10 blocking long get requests

[2015-07-31 16:46] #4812 closed

[2015-07-31 19:41] mejackreed commented on #4780
Thanks for the quick fix :+1:

[2015-07-31 19:44] mejackreed opened #4828 "OneClick add parameter for data set name"
When sending data to CartoDB OneClick, it would be great if we could specify a file name for the imported data. When we are sending over data from a generated GeoJSON endpoint (WFS), the default naming isn't that great of a user experience.

[2015-07-31 20:38] danicarrion opened #4829 "WMS endpoint fails to load when trying to import basemap"
This is the URL: http://maps.six.nsw.gov.au/arcgis/services/public/NSW_Imagery/MapServer/WMSServer?request=GetCapabilities&service=WMS

The editor says: The URL is either invalid or contains unsupported projections

The request contains the following error too: not a valid capabilities document

I'm sorry my local installation of CartoDB is broken so I can't give you more details yet.

[2015-08-03 06:28] #4822 closed

[2015-08-03 06:54] #4771 closed

[2015-08-03 08:03] javisantana commented on #4816
technically is not a problem, but we will have /data and /datasets showing more or less the same

[2015-08-03 08:36] xavijam opened #4833 "Public map page fixes"
- [x] Use dropdown style in public pages like commercial

<img width="276" alt="screen shot 2015-08-05 at 17 36 01" src="https://cloud.githubusercontent.com/assets/36676/9090035/804dea8c-3b98-11e5-9e94-3aca63dce909.png">
<img width="278" alt="screen shot 2015-08-05 at 17 36 08" src="https://cloud.githubusercontent.com/assets/36676/9090036/805030d0-3b98-11e5-9d40-c78183e9b9f0.png">

---

- [x] User

[2015-08-03 09:05] xavijam opened #4834 "Check current problems when a geocoding is non authorized"
https://my.trackjs.com/messages/filtered?message=401+Unauthorized%3a+GET+https%3a%2f%2fquanzhou41.cartodb.com%2fapi%2fv1_1%2fgeocodings

[2015-08-03 10:07] xavijam commented on #4448
Moved to https://github.com/CartoDB/cartodb.js/issues/634 because that image and those components belong to cartodb.js.

[2015-08-03 10:07] #4448 closed

[2015-08-03 10:10] xavijam commented on #4400
Reassigning to @matallo because he has been changing the public header lately.

[2015-08-03 10:11] josecruz opened #4837 "Rethink Create Dataset tabs"
Right now the shared dataset tab appears only when you're `creating a new map`

[2015-08-03 10:12] #4401 closed

[2015-08-03 10:13] Kartones opened #4838 "Layer models not using same models but Table/UserTable"
Developing another feature I found this:
[code]

But the issue is that Layer models don't use the same return models:
`::Layer`
[code]
`Carto::Layer`
[code]

We must make both Layer models use the same signature, either Tables or UserTables.

[2015-08-03 10:30] #4591 closed

[2015-08-03 10:33] xavijam commented on #4754
Datasets and maps lists have the same space at the top, 10px, but if you want maps list with a bit more no problem.

![screen shot 2015-08-03 at 12 32 57](https://cloud.githubusercontent.com/assets/132146/9035818/c88a3b0c-39db-11e5-9ff6-49a8f0b37e3d.png)

[2015-08-03 10:36] saleiva commented on #4754
Give it 20px on maps!

[2015-08-03 10:58] jesusvazquez commented on #4770
Think tests are now running ok. Maybe @juanignaciosl wants to give it a try?

[2015-08-03 11:03] xavijam opened #4840 "Remove old modals code"
And also check what libraries are not used anymore, as in:

jquery.fileupload-fp.js
jquery.fileupload.js
jquery.fileupload-ui.js
...

[2015-08-03 11:45] xavijam opened #4841 "Problem with .substr error in editor JS"
https://my.trackjs.com/messages/filtered?message=Cannot+read+property+%27substr%27+of+undefined

[2015-08-03 12:15] #4770 closed

[2015-08-03 12:21] xavijam opened #4843 "JS error in new merge modal dialog"
this.model.selectedItemFor is not a function

https://my.trackjs.com/messages/filtered?message=this.model.selectedItemFor+is+not+a+function

[2015-08-03 12:48] #4834 closed

[2015-08-03 12:49] javisantana opened #4845 "be able to disable cartodb auth for an organization"
Some organizations don't want to enable cartodb auth, just the google one. This makes sense when you want to have 2FA.

cc @saleiva @juanignaciosl

[2015-08-03 12:53] javierarce commented on #3941
Hi, @ztephm and @auremoser: this should be fixed now, sorry for the delay taking care of this.

[2015-08-03 12:53] #3941 closed

[2015-08-03 12:56] saleiva commented on #4592
Designed in the new settings area. I guess we will add it there when we start with that.

[2015-08-03 13:17] gfiorav opened #4846 "Resque "undefined method '-'" when geocoding any table"
When geocoding any table, resque spits out this error:

[code]

Although the geocoding continues successfully, this should be fixed

[2015-08-03 13:19] gfiorav commented on #4846
This issue is caused by the lack of `to_i' at the end of `geocoding_quota` in file https://github.com/CartoDB/cartodb/blame/master/app/models/user.rb#L977.

I'm fixing this, creating a spec test for it and submitting a PR.

[2015-08-03 13:42] #4841 closed

[2015-08-03 13:44] saleiva commented on #4402
This will be redesigned so closing

[2015-08-03 13:44] #4402 closed

[2015-08-03 13:48] juanignaciosl commented on #4845
Assigned to saleiva before beginning coding since this involves product design ;-). This is part of what we spoke about authentication configuration indeed.

[2015-08-03 14:03] ethervoid opened #4847 "Manage newsletter notifications"
Manage the subscribe and unsubscribe part of the newsletter mails using the new notifications management (#4592). In case of subscribe or unsubscribe we should talk with Hubspot to subscribe or unsubscribe the user

[2015-08-03 14:15] ethervoid commented on #1410
I'm going to extract the notifications management part of this issue to just leave the notification and move all the subscribe/unsubscribe part to the issue #4592

[2015-08-03 14:19] auremoser commented on #3941
oh yay! this was my favorite issue before because of the long gif embed! thank you @javierarce !

[2015-08-03 14:28] #4754 closed

[2015-08-03 14:32] ethervoid commented on #1410
I thought about the idea of extract only the map liked notification but if we release this without notifications management its going to be a mailing nightmare for people with a lot of likes in their maps so we have to wait until the user management is donde.

[2015-08-03 14:33] Kartones commented on #4805
possible extra TODO:
- [ ] check that source_visualization_id is valid also (at least existing and belonging to same org)

[2015-08-03 14:36] juanignaciosl commented on #4824
- Extension new API: mostly a duplication of [organizations API](https://github.com/CartoDB/cartodb-postgresql/blob/master/scripts-available/CDB_Organizations.sql).
  - `CDB_Group_Member_Group_Role_Member_Name(group_id)`. Returns a role member name for the group, namespaced under the org. Something like `CDB_Organization_Member_Group_Role_Member_Name() || group_id`
  - `CDB_Group_Create_Member(gro

[2015-08-03 14:37] javisantana commented on #4824
cc @rochoa @Kartones @rafatower

[2015-08-03 15:00] saleiva commented on #4466
Closing since this is being applied on the redesign.

[2015-08-03 15:00] saleiva opened #4851 "Groups item on the sharing modal"
@viddo edit: some planning

An user can:
- [x] see groups (that the user is member of) in sharing lists for both dataset and maps
  - [x] group name,
  - [x] default avatar (since groups don't have avatars)
  - [x] show member count
    - [x] requires #5529 to return group users on grantables API too
- [x] search groups (by name) in sharing lists
- [x] grant access to whole organization, which sho

[2015-08-03 15:01] saleiva opened #4852 "Design invitation to org email"

[2015-08-03 15:06] #4288 closed

[2015-08-03 15:10] xavijam commented on #4396
What about:

· Sign up disabled
![screen shot 2015-08-03 at 17 09 37](https://cloud.githubusercontent.com/assets/132146/9040429/702c730e-3a02-11e5-9f6f-2ca2101c5604.png)

· Sign up enabled
![screen shot 2015-08-03 at 16 53 09](https://cloud.githubusercontent.com/assets/132146/9040430/702cd9ac-3a02-11e5-9632-b3043e55a9db.png)

What do you think?

[2015-08-03 15:27] andrewxhill opened #4854 "Allow admin to toggle of Signup form or Google Signin"
I would propose a checkbox

=====

- [ ] Allow users to signup with their own username & email submission
- [ ] Allow users to signin with Google Apps administered email address (asterisk)

(asterisk) Many university email addresses use Google Apps, in these cases you can use only Google Apps signin.

=====

Then I would also include the ability to change the "Sign in with Google" button's text.

[2015-08-03 15:44] saleiva commented on #1410
sadly, we don’t get too much likes, so I’d not worry about this

S.

-----
@saleiva

[2015-08-03 15:45] saleiva commented on #4845
It was already designed. Adding to the new design on the admin

[2015-08-03 15:45] javisantana commented on #3952
the GMT difference is when you do not use the "last 4 hours", right?

[2015-08-03 15:47] javierarce commented on #4293
How can I reproduce this?

[2015-08-03 15:54] #4845 closed

[2015-08-03 16:01] #3761 closed

[2015-08-03 16:07] saleiva commented on #4854
Done in the new designs :)

[2015-08-03 16:07] #4854 closed

[2015-08-03 16:08] saleiva commented on #4729
Yep, duplicated

[2015-08-03 16:08] #4729 closed

[2015-08-03 16:10] andrewxhill commented on #4854
love yuou

[2015-08-03 16:12] ethervoid commented on #1410
Ok so I can extract the map liked part and put in production :)

[2015-08-03 16:13] saleiva commented on #4293
do an ST_makeline in a points dataset for example

[2015-08-03 16:16] saleiva commented on #4640
Like what @mariodelvalle proposes!

[2015-08-03 16:16] saleiva commented on #4810
good catch! Thanks!

[2015-08-03 16:19] saleiva commented on #4801
Good catch. It should be "Creating dataset from your query"

[2015-08-03 16:25] #3189 closed

[2015-08-03 16:27] matallo opened #4856 "when signin up with google and going to remove account, the user is asked about the password and he hasn't one yet"
the delete account button works ok, though

<img width="967" alt="screen shot 2015-08-03 at 17 38 34" src="https://cloud.githubusercontent.com/assets/36676/9042132/00686400-3a0d-11e5-83dc-70cd0d338b21.png">

/cc @juanignaciosl @xavijam @viddo

[2015-08-03 16:29] javierarce commented on #4293
I applied `SELECT ST_MakeLine(the_geom_webmercator) AS the_geom_webmercator FROM my_point_table` and obtained a map with lines right away.

[2015-08-03 16:29] saleiva commented on #4293
:/

[2015-08-03 16:29] saleiva commented on #4856
Good catch!

[2015-08-03 16:31] juanignaciosl commented on #4856
This has changed with the redesign. I think previously we forced user to disconnect from Google before deleting, isn't it? Or should we not ask for password?

[2015-08-03 16:32] matallo commented on #4856
yep, this is a regression from new_modals

[2015-08-03 16:33] javierarce commented on #4293
https://open.spotify.com/track/4EnkwZd0UJAuHpNMMemQaA ?

[2015-08-03 16:36] juanignaciosl commented on #4856
Ok, won't ask for password then.

[2015-08-03 16:44] #4293 closed

[2015-08-03 17:56] javisantana opened #4857 "every time I go to the map tab pecan is shown"
- create a visualization and apply a query
- go from table to map

pecan is always shown no matter you close it several times

[2015-08-03 18:06] javierarce commented on #4857
By closing you mean pressing the skip button?

[2015-08-03 18:25] ztephm opened #4858 "Merge column list is cut off in scroll in Firefox"
Hi, ref: S/B 6084281

If user is on a laptop with small resolution and tries to merge a dataset that has >20 columns, they are not able to see all column names to add in Firefox. The scroll bar reaches the bottom of the page, but it has not reached the bottom of the column list.

I replicated this way:
1. From inside an existing dataset choose Edit > Merge with dataset
2. Column join
3. Choose thi

[2015-08-03 19:40] ethervoid opened #4859 "Design map liked email"
I've been extracting the map liked functionality and I need feedback or design for the email. I'm going to put here alternatives based on @matallo's layout:

<img width="508" alt="captura de pantalla 2015-08-03 18 25 47" src="https://cloud.githubusercontent.com/assets/741240/9046023/15075338-3a28-11e5-9977-eb5eebc9700e.png">
<img width="532" alt="captura de pantalla 2015-08-03 18 33 37" src="https

[2015-08-03 20:19] matallo commented on #4859
"your map has received a like" cheer up! maybe we can use some image, here? like the preview of the map and definitely the-one-giving-the-like should appear somewhere

[2015-08-03 22:22] ztephm commented on #3941
No prob, thanks for taking care of that @javierarce ! I will let the Support Bee users know.

[2015-08-04 07:41] danicarrion commented on #4674
Please let me know when you decide which ones to import so that I can update our powertrack script accordingly.

[2015-08-04 07:43] juanignaciosl opened #4860 "Destroy all sessions on logout"

[2015-08-04 07:55] javisantana commented on #4857
the close button in the progress dialog

[2015-08-04 08:14] danicarrion commented on #4282
I was reading GNIP's docs [1] again today and I found this sentence:

If I get it right, it seems they're acknowledging the fact that they will only serve the last minute of high-volume queries. They're actually creating a feature from a bug.

I think this makes it even more necessary to have a way to disable geo-enrichment (and therefore avoid high-volume queries) in the editor.

[1] http://suppo

[2015-08-04 09:19] #4860 closed

[2015-08-04 09:43] matallo opened #4863 "move vendor scripts to helper"
there are several places in the views where we are including vendor scripts, via:
- create a helper with the checks in the `app_config` to render or not the partial
- render the partial with the check in the view

all vendor partials should be rendered via helper, however there are still some in the views, also duplicate checks in the helper AND in the partial (analytics), so:
- [ ] remove checks

[2015-08-04 10:03] javierarce commented on #4859
Also, the title and description are basically the same. I'd use a catchy phrase in the title like "Your map got some love!" or something similar.

[2015-08-04 10:07] ethervoid commented on #4859
In the first versions I put "Some has fall in love with your map" or "<user name> has fall in love with you map <map name>"

[2015-08-04 10:07] javierarce commented on #4859
And another suggestion. I'd randomise the "congratulations" at the end of the sentence and put it in the beginning. We could use:

* Congrats
* Congratulations
* Cool
* Awesome
* Hooray
* Nice
* Rad
* etc.

```[greeting], your [name of the map] has received a like from [username]!```

[2015-08-04 10:09] #4542 closed

[2015-08-04 10:10] javierarce commented on #4859
@ethervoid: that's nice too, although maybe a bit long for my taste.

[2015-08-04 10:15] juanignaciosl opened #4865 "Google token is sent when you use normal Login button"
That can lead to wrong authentication, just like the reported at #4860. It also happen at organization signup.

[2015-08-04 10:20] matallo opened #4866 "sticky header for new map when empty account should be wide"
## str

1. create account
1. click on new map
1. scroll

![screen shot 2015-08-04 at 12 18 28](https://cloud.githubusercontent.com/assets/36676/9058655/1a5f9e50-3aa3-11e5-8063-13396a30d712.png)

[2015-08-04 10:33] #4396 closed

[2015-08-04 12:13] saleiva commented on #4859
Javier, come up with the text!
On Aug 4, 2015 12:10 PM, "Javier Arce" <notifications@github.com> wrote:

[2015-08-04 12:25] javierarce commented on #4859
*Title: `Your map got some love!`
*Text: `[greeting], your map [name of the map] was liked by [username]!`

`greetings`: congrats, congratulations, cool, awesome, hooray, nice, wow, rad, bravo, yay.

[2015-08-04 12:54] csobier opened #4868 "Rename "ASK FOR A DEMO" button when enabling Twitter"
When selecting Twitter as the external dataset to connect to, the following dialog appears:
![image](https://cloud.githubusercontent.com/assets/13319925/9060739/99b4a7f0-3a84-11e5-9f7b-3d1fe2d8c158.png)

Selecting Twitter as your external service indicates that you must enable the Twitter Connector before connecting your dataset. This requires that you contact CartoDB for assistance, as only a sal

[2015-08-04 13:23] saleiva commented on #4866
Duplicated!

[2015-08-04 13:23] #4866 closed

[2015-08-04 13:26] matallo opened #4869 "add map preview to mails when applicable"

[2015-08-04 14:43] javierarce commented on #4859
From a conversation with @ethervoid in slack, we thought that title of the email could be:

* `Your map [name of the map] got some love!``

This way we are consistent with the title inside of the email and the user can identify the map easily looking at the subjects.

[2015-08-04 14:55] ethervoid commented on #4859
The unsubscribe part is going to be added in the notifications management PR

[2015-08-04 14:56] ethervoid commented on #4859
Final version :)

![Uploading Captura de pantalla 2015-08-04 16.56.28.png…]()

[2015-08-04 14:58] saleiva commented on #4852
![email](https://cloud.githubusercontent.com/assets/132149/9063875/06e467f8-3aca-11e5-82eb-acac874fbef1.png)

[2015-08-04 14:59] saleiva commented on #4852
Designed in emails-template-1.1.
Talk to @matallo if help needed with the layout.

[2015-08-04 14:59] javierarce commented on #4868
I think "ask for a demo" is a good hint for the next step, which is filling the email that allows users to… ask for a demo :), but here's my proposal:

1. Keep the text as it is now
2. Prepopulate the email with a subject and a body:

* **Subject**: I'd like to test the Twitter connector
* **Body**: `I'm interested in testing the Twitter connector. Please, contact me to schedule a demo of this fea

[2015-08-04 15:28] xavijam commented on #3574
We are already doing it :), just verified in the last modified:

https://github.com/CartoDB/cartodb/blob/master/lib/assets/javascripts/cartodb/common/dialogs/create/create_loading.js

[2015-08-04 15:28] #3574 closed

[2015-08-04 15:33] ethervoid commented on #4826
We have to add all the licenses we want to show in the dropdown o autocomplete...

[2015-08-04 15:36] ethervoid opened #4870 "Remove dependency from table meta_dataset"
We want to remove the table `meta_dataset` and get the needed data from the `visualizations` table.

* [ ] Change `common-data` model to retrieve the dataset info from `visualizations` instead of `meta_datasets` table from user common-data

[2015-08-04 15:52] #3057 closed

[2015-08-04 16:03] ethervoid commented on #4796
This should not be necessary because frontend is going to send the bbox of the country to filter

[2015-08-04 16:05] matallo commented on #4859
tried with several basemaps, I'm keeping the same layout than public page

![artboard 1](https://cloud.githubusercontent.com/assets/36676/9065656/47886ed6-3ad3-11e5-8fbf-0842bca3fefc.png)
![artboard 2](https://cloud.githubusercontent.com/assets/36676/9065655/4786621c-3ad3-11e5-918a-30f5de696494.png)
![artboard 3](https://cloud.githubusercontent.com/assets/36676/9065657/478b8bac-3ad3-11e5-8a2e-c488

[2015-08-04 16:07] ethervoid commented on #4588
Related to #4753

[2015-08-04 16:07] matallo commented on #4796
in any case I need the table for the header, don't I?

[2015-08-04 16:08] #2552 closed

[2015-08-04 16:09] ethervoid commented on #4859
Oh then that is the final version XD

[2015-08-04 16:12] saleiva commented on #4859
but remove the user name and the avatar since it's always the same! :)

[2015-08-04 16:12] ethervoid commented on #4796
We should put that into a file with iso_code - bounding box. I could create that file and put where are going to need it to use it

[2015-08-04 16:16] ethervoid commented on #4796
Here are a CSV with the data https://data.hdx.rwlabs.org/dataset/bounding-boxes-for-countries

[2015-08-04 16:22] xavijam commented on #4028
Reminder: https://:domain/account/:username.json

[2015-08-04 16:22] matallo commented on #4859
ook

[2015-08-04 16:27] xavijam commented on #3952
We have a problem with the height of the date range component.

![screen shot 2015-08-04 at 18 26 55](https://cloud.githubusercontent.com/assets/132146/9066194/6ea44758-3ad6-11e5-9b44-c738bdc58fb3.png)

@saleiva

[2015-08-04 17:05] saleiva opened #4872 "Infowindow on hover should be always on top of overlays"
<img width="1792" alt="screen shot 2015-08-04 at 19 05 21" src="https://cloud.githubusercontent.com/assets/132149/9067101/cd964554-3adb-11e5-976b-eb5d93dc93b3.png">

[2015-08-04 17:43] ztephm opened #4873 "Feature request: notify users when viz.json urls change"
Please ref: s/b 6138113

User has a case where the urls from "Publish your map" page's CartoDB.js section have changed (they did not make changes themselves):

1st version: http://[clientname].cartodb.com/api/v2/viz/[number]/viz.json
2nd version: https://[clientname].cartodb.com/api/v2/viz/[number]/viz.json
3rd version: https://[clientname].cartodb.com/u/[organization_user_name]/api/v2/viz/[number

[2015-08-04 20:54] ztephm opened #4875 "Open-In-CartoDB formatting fail w/data.gov"
please ref s/b 6161984 and 6050199

data.gov dataset is importing improperly with "Open In CartoDB" and downloaded csv. Columns are concatenated upon import:
https://team.cartodb.com/u/stephaniemongon/tables/nndss_table_ii_babesiosis_to_coccidioidomycosis

Looks like a formatting issue we're not in control of, but reporting because user says file imports properly to other platforms. If it's not so

[2015-08-05 07:24] Kartones commented on #4824
I like it, and the limitation of not being to individually revoke an individual permission of the group has it is fine by me (not so common scenario, you can always decompose a group into smaller ones to fine-tune permissions if you want).

Also I like that we delegate on PG this, so ruby should mostly just wrap SQL calls. MU permissions stuff was done in a hurry and use both, so this is much clea

[2015-08-05 07:34] javisantana commented on #4824
My questions:

- how do I create/drop a new group?
- I don't understand what  ``CDB_Group_Add_Table_Organization_Read_Write_Permission`` exactly does.

Could you write an example usage for that API with all the workflow?

Other things we need to think about (for the following months):

- How do we sync database created groups with rails app?
- How do we sync permissions with rails app?

[2015-08-05 08:21] #3952 closed

[2015-08-05 08:34] juanignaciosl commented on #4824
- Group creation: organization creation is done when you request the name with `CDB_Organization_Member_Group_Role_Member_Name`, I followed the same schema. It's not a frequent operation, and name can be cached, so I'd keep the same convention.
- "CDB_Group_Add_Table_Organization_Read_Write_Permission": given a table, grants read and write permission to a group role, so every user at the group has

[2015-08-05 08:43] javisantana commented on #4824
- what is the difference between CDB_Group_Add_Table_Organization_Read_Write_Permission and CDB_Group_Add_Table_Group_Read_Write_Permission ?

In my opinion we should revisit the extension API. We didn't publish it yet so it will be less painfull to change it now.

I'd prefer something like

[code]

what do you think?

[2015-08-05 08:51] juanignaciosl commented on #4824
That function was wrong, I had already removed it from the listing but forgot to remove it from the the comment. That function (and others) came from organization api, which has some functions duplicated, some receiving organization explicit role and others that doesn't. I guess that's because organizations can be managed from a connection outside the org. Since groups are only managed by users in

[2015-08-05 08:54] javisantana commented on #4824
Sounds good for me. I'd also try to:

- rename the methods for org (there will be a two phase deploy for this)
- use groups methods in org methods (makes sense to use groups to manage orgs, at the end they are a role, right?)

@rochoa I miss your opinion here

[2015-08-05 09:12] ethervoid commented on #4796
I get the data from this file [http://wiki.openstreetmap.org/wiki/User:Ewmjc/Country_bounds](http://wiki.openstreetmap.org/wiki/User:Ewmjc/Country_bounds) . We should add license attribution and share it with the same license.

The last update is from 2009 but I think we could use it

I'm going to transform into a YAML file to be used by the frontend and add the license header.

// @rambo

[2015-08-05 09:17] saleiva commented on #4685
I'd try to keep the floating elements such as 'export mini overlay' and the description attached to the selected area. Also would be great to make the numbers editable so you can enter manually the size you want.

[2015-08-05 09:20] javierarce commented on #4685
Do you mind if we release the feature as it's now and add a ticket for the pending stuff?

[2015-08-05 09:21] juanignaciosl opened #4878 "User account redesign"
No new functionality, just a redesign ([source](https://projects.invisionapp.com/share/P43R5D79K#/screens/93103201)):

![screen shot 2015-08-05 at 11 13 49](https://cloud.githubusercontent.com/assets/932968/9082265/1fa5db2a-3b63-11e5-8a69-b26a8f8c6b7b.png)

![screen shot 2015-08-05 at 11 19 29](https://cloud.githubusercontent.com/assets/932968/9082376/e2f2b31e-3b63-11e5-8d47-e052a5af70b1.png)

![s

[2015-08-05 09:23] juanignaciosl commented on #4592
Design ([source](https://projects.invisionapp.com/share/P43R5D79K#/screens/93103195)):

![screen shot 2015-08-05 at 11 23 27](https://cloud.githubusercontent.com/assets/932968/9082454/6b65bcc8-3b64-11e5-92ae-ce5484e28ab6.png)

[2015-08-05 09:35] rochoa commented on #4824
Sorry this slipped through the cracks.

## About the organizations
I don't see any duplication. There are some methods to manage permissions at organization level and others to manage permissions at user level. That's why in some there is a role parameter and others don't have it. Probably the naming is not perfect, thus the confusion, sorry.

## About the new API
The latest methods proposed from

[2015-08-05 09:45] javierarce commented on #4868
bump

[2015-08-05 10:07] #4722 closed

[2015-08-05 10:07] #4549 closed

[2015-08-05 10:08] #4335 closed

[2015-08-05 10:08] #4013 closed

[2015-08-05 10:19] juanignaciosl commented on #4824
About *duplications*: oh, ok, I misread it. After reading more carefully ([example](https://github.com/CartoDB/cartodb-postgresql/blob/master/scripts-available/CDB_Organizations.sql#L33)) there's no organization-specific code inside functions receiving roles ("user level"), isn't it? Those functions doesn't need to have a "group replica".

About *api*:
- I don't have a strong opinion about the `CD

[2015-08-05 10:26] javisantana commented on #4824
A common complain from people using extension methods: having to pass the user role is a pain because there is not a easy way to get rolename from username.

It also exposes implementation details: I don't want to know if you are using a role and what is the role name, i just want to add permissions to an user in the organization

Using id's is simpler for you but is not useful for users

[2015-08-05 10:28] juanignaciosl opened #4880 "Organization auth settings"
Allow an organization to enable/disable authentication methods (see CartoDB/cartodb#4884, "Auth settings" section):
- Username/password.
- Google apps login.

Tasks:
- [X] Remove user/password or Google Login button from login page.
- [X] Server side rejection of user/password or Google Login button for login.
- [X] Remove user/password or Google Login button from signup page.
- [X] Server side re

[2015-08-05 10:33] matallo commented on #4796
self-reminder I'd probably to add it to the grunt:copy

[2015-08-05 10:44] juanignaciosl opened #4882 "Invite users to your organization"
This invitation mechanism is the main way ldap-powered organizations (although it could be used from other organizations as well) ([source](https://projects.invisionapp.com/share/P43R5D79K#/screens/93103186)):

![screen shot 2015-08-05 at 12 43 19](https://cloud.githubusercontent.com/assets/932968/9084020/938e1a78-3b6f-11e5-9e79-e32c5de440b9.png)

When you create an invitation, CartoDB user is cre

[2015-08-05 10:54] juanignaciosl opened #4883 "Groups management UI"
edit: (@viddo) split up this epic issue to smaller ones, to be able to implement this in incremental steps. Also ordered them in terms of necessarily (must-have and nice-to-have buckets) to prioritise and implement them in natural order of usage.

This issue will serve as a "parent" issue to keep track on overall progress (will create issues as starting to work/discuss details per use-case):

**"M

[2015-08-05 10:55] rochoa commented on #4824
_Create if it doesn't exist_ does not exist in Organizations. The organization user/role is created when the extension is installed https://github.com/CartoDB/cartodb-postgresql/blob/master/scripts-available/CDB_Organizations.sql#L7-L17 But the groups use case is different that's why I was proposing having two method to have a clear API.

I was proposing some of those methods because I think in te

[2015-08-05 10:58] javisantana commented on #4824
we can know the user from the rolename becase the username === schema name and the schema has an owner

[code]

Am i missing something?

[2015-08-05 11:00] juanignaciosl opened #4884 "Organization settings redesign"
[Source](https://projects.invisionapp.com/share/P43R5D79K#/screens/93103187):

![screen shot 2015-08-05 at 12 24 54](https://cloud.githubusercontent.com/assets/932968/9083726/03b70a2e-3b6d-11e5-9f23-23b4d473fa6d.png)

![screen shot 2015-08-05 at 12 40 24](https://cloud.githubusercontent.com/assets/932968/9083987/2bc137d6-3b6f-11e5-833c-56f44d141d3d.png)

![screen shot 2015-08-05 at 12 41 02](https

[2015-08-05 11:13] ethervoid commented on #4796
I thought that we only need the bbox. This situation leads us to two options:

* Add the_geom to the file (I don't like this option)
* Create a migration and add country world borders table in the metadata DB. This way all the users, once the migration is applied, could use that table.

My suggestion is to let this file this way to be used to send the bbox of a country and add the migration option

[2015-08-05 11:23] rochoa commented on #4824
You are missing my stupidity.

[2015-08-05 11:25] juanignaciosl commented on #4824
- @javisantana: Passing ids vs. passing usernames: `select schema_owner from information_schema.schemata where schema_name = 'username';` is valid for org users, not for normal users, I guess it was done with role_names because it was straightforward using existing non-org users code. But we can't do the same with groups, since they have no schema. More on this later.
- @rochoa : those new functio

[2015-08-05 11:27] #1410 closed

[2015-08-05 11:45] javisantana commented on #4824
if you call group roles like group names you don't need ids, it will just work

For me creating an API only editor can use is not useful, it should work using the api concepts (username in this case)

[2015-08-05 11:50] rochoa commented on #4824
Probably I'm missing something but:

[code]

[2015-08-05 11:53] #4187 closed

[2015-08-05 11:54] javisantana commented on #4824
oh, wtf, I forgot the lovely fact that the users are shared :D

ok, so db_name + group_name, easy to use with current_database() + group_name

[2015-08-05 11:56] rochoa commented on #4824
I'm not trying to impose / convince any of you about any of my ideas, I'm just trying to talk about the problems I see :smile:

About not implementing what's not needed right now: it depends if we see this as an API in the extension or an ad-hoc solution for the editor.

About the uniqueness of the group name I was to propose the same: "I think we could workaround it internally by prepending with

[2015-08-05 11:57] juanignaciosl commented on #4824
That group role is valid as long as we keep group name uniqueness. I guess that's something we can enforce, and if anytime appears the need of same group name inside an org we can create a "display name" for the UI.

What about username vs user role? Am I missing something or can't we move away from role?

[2015-08-05 12:02] javisantana commented on #4824
what do you mean?

[2015-08-05 12:05] gfiorav commented on #4708
Solved in PR #4879

[2015-08-05 12:05] juanignaciosl commented on #4824
You said:

Am i missing something?`

And I said:

You proposed an api based on usernames instead of useroles and gave the sql as a bridge. I think it can't be done, but it can be because of my *stupidity* as well :)

[2015-08-05 12:07] #4708 closed

[2015-08-05 12:14] javisantana commented on #4824
totally right, so we have 3 options:

- having an api is impossible to use but from the editor
- having a problem of collision if an user is owner of two schemas
- having a mapping in the extension

[2015-08-05 12:19] xavijam opened #4886 "Don't send 'Like email' when you like your own dataset/map"
cc @matallo @javierarce

[2015-08-05 12:21] juanignaciosl commented on #4824
IMHO the right way is the last one: all database-coupled stuff (such as naming roles) should be in the extension. Existing code at Ruby side is determinstic: given a user id and an environment it will always return the same role name, maybe it should've always been in the extension, just like organization role is.

Shall I plan a transition to extension-backed while doing groups api?

[2015-08-05 12:29] javisantana commented on #4824
for me the last one is adding too much complexity, the price you need to pay is too high and there are other collision problems not solved. For example. what happens if you change the search_path to your user? everything will fail so that's a limitation.

So my question, why don't add a limitation instead of complexity?

[2015-08-05 12:54] juanignaciosl commented on #4824
Your proposal is forcing users to be owners of two schemas?

[2015-08-05 13:00] javisantana commented on #4824
no no, I would just live with that problem and documenting it. In the extension there are some things you can't do, for example:

- changing the search path
- change permissions to the roles
- remove cdb_tablemedata

So we'd add another one

- a user can be only owner of one schema

creating an schema with a cartodb user as a owner is not that common (and we can drop permissions anyways)

[2015-08-05 13:07] gfiorav commented on #4846
Solving in PR #4848

[2015-08-05 13:22] josecruz commented on #4502
Thoughts? Missing something? Not sure if we should show a modal:

![create - file importing partial error](https://cloud.githubusercontent.com/assets/596509/9086622/5f8222ac-3b7d-11e5-901a-396984b2d1ce.png)

![create - file importing partial error copy](https://cloud.githubusercontent.com/assets/596509/9086625/61b937c2-3b7d-11e5-9c96-238eb9bd782e.png)

[2015-08-05 13:27] gfiorav commented on #4677
PR #4701 merged

[2015-08-05 13:27] #4677 closed

[2015-08-05 13:32] matallo commented on #4796
as you prefer, I'd like to access the_geoms from the api-sql, so...

ps: let's comment on the PR (https://github.com/CartoDB/cartodb/pull/4881) or the issue, but jumping from one to the other gets me crazy, ha

[2015-08-05 13:34] matallo commented on #4852
@juanignaciosl just leave the template tags in the view and reassign it to me :)

[2015-08-05 13:45] javisantana commented on #4796
This is a frontend resource file, we will include world borders as topojson, nothing to do in backend here

[2015-08-05 14:07] #4872 closed

[2015-08-05 14:23] juanignaciosl commented on #4824
Oh, sorry, I just miswrote it, I meant "owners of only one schema", of course :-\ I was thinking on the problem and my brain short circuited.

If you think that restriction is ok we can have this api:

*CDB_Group_RoleName(group_id) is no longer needed*

[code]

[2015-08-05 14:24] xavijam commented on #4028
@jose, does it make sense to have Free thing in that list?

[2015-08-05 14:31] javisantana commented on #4824
I think that constraint is a tradeoff we can take, what do you think @rochoa @Kartones @pramsey

[2015-08-05 14:41] rochoa commented on #4824
I'm OK with the suggested approach :+1:

[2015-08-05 15:01] xavijam commented on #4028
Several scenarios:

- Regular user: we have covered it :+1: .
- Organization admin: if this kind of user open this dialog, we should say something like: contact us if you to have more layers...
- Organization user: in this case, dialog should say: contact your administrator in order to get more capabilities.
- Open source user:  last case, we should say, hey, your user doesn't have more layers, ju

[2015-08-05 15:05] Kartones commented on #4824
+10 Indeed that restriction is a small price and instead those methods look nice and are easier to use with names instead of ids so... great!

[2015-08-05 15:05] saleiva commented on #4028
for organization users, as we are already in the maximum I’d remove the button.
S.

-----
@saleiva

[2015-08-05 15:08] Kartones commented on #4502
Uhm... You're the UX guys, but isn't too dangerous to leave errors in such a small area? if was me I'd go to showing a full modal (like when an import fully fails) and there show the errors.

Take into account we can import huge tables and thus have hundreds of failing rows due to encoding errors, or invalid geometries... things like that can span lots of verbose messages.

[2015-08-05 15:10] matallo opened #4888 "inconsistencies between .Logo markup"
https://github.com/CartoDB/cartodb/blob/master/app/views/admin/shared/_dashboard_header.erb#L8-L10

vs

https://github.com/CartoDB/cartodb/blob/master/app/views/signup/organization_signup_issue.html.erb#L8-L12

a convention must be decided and stick to it, this breaks css styleguide

(will assign following related issues under the same label)

[2015-08-05 15:11] ztephm commented on #4873
also ref s/b 6183427

[2015-08-05 15:11] #4886 closed

[2015-08-05 15:34] saleiva commented on #4868
+1 @javierarce

[2015-08-05 15:35] saleiva opened #4889 "wrong margin bottom in the torque timeline"
https://team.cartodb.com/u/matallo/viz/23df2326-a718-11e3-bf22-0e73339ffa50/public_map

[2015-08-05 15:40] matallo opened #4890 ""DB host or name not found in redis" when retrieving twitter card of dataset"
http://team.cartodb.com/api/v1/map/static/named/tpl_37281282_1ffb_11e5_9bc9_0e8dde98a187/600/300.png

[code]

**table**
https://team.cartodb.com/u/matallo/tables/most_expensive_paintings_in_the_world_last_research/public

[2015-08-05 15:41] matallo opened #4891 "when like a dataset email should say dataset instead of map"
as with share maps/datasets

/cc @ethervoid

[2015-08-05 15:44] rochoa commented on #4890
That URL is invalid.

It should be: http://matallo.cartodb.com/api/v1/map/static/named/tpl_37281282_1ffb_11e5_9bc9_0e8dde98a187/600/300.png

[2015-08-05 15:45] matallo commented on #4890
ooop, true dat, will reassign then

[2015-08-05 15:48] Kartones commented on #4890
uhmm, stack trace please? where did that incorrect url got generated?

because indeed it should be ORG.cartodb.com/u/USER/

[2015-08-05 15:51] Kartones commented on #4890
Ok, is coming from https://github.com/CartoDB/cartodb/blob/master/app/controllers/api/json/visualizations_controller.rb#L249 so researching the Helper to see what might have changed

[2015-08-05 15:54] xavijam commented on #4028
I'll do for both, open source and org users.

[2015-08-05 16:09] juanignaciosl commented on #4873
This is caused by the changes for CartoDB/cartodb#4360 (CartoDB/cartodb#4394). Those urls previously worked but were not correct. We keep backwards compatibility, and when we don`t (like when we removed some API support) we notify users and support team.

Since it was bugfixing it was not added to NEWS.md, but maybe it should've be for the sake of clarity, my bad.